﻿@using KMSIPartsPortal_System.Models
@{
    Layout = null;
    List<StockMailModel> dataList = (List<StockMailModel>)ViewData["DataList"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation Result GGI Stock</title>
</head>
<body>
    <table border="1" style="width: 100%;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Part Number</th>
                <th>Quantity Receipt</th>
                <th>Position</th>
                <th>Confirmed At</th>
                <th>Confirmed By</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                int i = 1;
                foreach (var item in dataList)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.PartNumber</td>
                        <td>@item.QtyReceipt</td>
                        <td>@item.Position</td>
                        <td>@item.ConfirmedAt</td>
                        <td>@item.ConfirmedBy</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
