﻿@model KMSIPartsPortal_System.Models.Email

@{
    Layout = null;
}

<p>
    Dear @Model.To
</p>
<p>
    Thank you for visiting our site.
    <br />
    Hope you enjoyed reading the content.
</p>

<p>
    Thank again!
</p>
Sincerely,
<br />