﻿@model KMSIPartsPortal_System.Models.EmailForecast
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FORECAST INFORMATION</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td width="360" valign="top" align="center" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
                            K-PINTAR PARTS PORTAL SYSTEM
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="180">
                            &nbsp;
                        </td>
                        <td width="260" valign="top" align="center" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
                            VENDOR STOCK SYSTEM
                        </td>
                    </tr>
                    <tr>
                        <td width="360" valign="top" align="center">
                            <img src="https://i.ibb.co/7YLpSFg/logo-kmsi.png" alt="" />
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="180">
                            &nbsp;
                        </td>
                        <td width="260" valign="top" align="center">
                            <img src="https://i.ibb.co/84zgzXs/logo-blue.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 12px;">&nbsp;</td>
        </tr>
        <tr>
            <td width="75%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
                KMSI FORECAST INFORMATION :
            </td>
        </tr>
        <tr>
            <td style="font-size: 16px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 16px;">
                    <tr>
                        <td>
                            Forecast No. : @Model.ForecastNo
                        </td>
                        <td align="right">
                            Date : @Model.Date
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 6px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table border="1" cellpadding="0" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 16px;">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Part Number</th>
                            <th>Description</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ 
                            int i = 1;
                            foreach (var f in Model.ForecastLists)
                            {
                                <tr>
                                    <td align="center">@i</td>
                                    <td align="center">@f.PartNumber</td>
                                    <td align="center">@f.Description</td>
                                    <td align="center">@f.Quantity</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 6px;">&nbsp;</td>
        </tr>
        <tr>
            <td width="75%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 16px;">
                Remarks : @Model.Remarks
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 16px;">
                    <tr>
                        <td width="75%">
                            &nbsp;
                        </td>
                        <td width="25%" align="center">
                            Requester,
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="75%">
                            &nbsp;
                        </td>
                        <td width="25%" align="center">
                            (@Model.Requester)
                        </td>
                    </tr>
                </table>
                </t>
        </tr>
        <tr>
            <td style="font-size: 28px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 16px;">
                Here we submit forecast information, please proceed immediately, thank you.
            </td>
        </tr>
        <tr>
            <td style="font-size: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 16px;">
                    <tr>
                        <td width="50%">
                            Link to parts portal system :
                        </td>
                        <td width="50%">
                            @*Link to download PDF :*@
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
