﻿@model KMSIPartsPortal_System.Models.EmailAccount
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New Request Access</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td width="280" valign="top">
                            <img src="https://i.ibb.co/84zgzXs/logo-blue.png" alt="" />
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="20">
                            &nbsp;
                        </td>
                        <td width="280" valign="top" align="right">
                            <img src="https://i.ibb.co/7YLpSFg/logo-kmsi.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" width="75%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 24px;">
                <b>User Request Access</b>
            </td>
        </tr>
        <tr>
            <td style="font-size: 8px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
                New request access has been submitted,
            </td>
        </tr>
        <tr>
            <td style="font-size: 8px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
                    <tr>
                        <td width="30%">
                            Name
                        </td>
                        <td width="70%">
                            : @Model.Name
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            Company Name
                        </td>
                        <td width="70%">
                            : @Model.Company
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            Position
                        </td>
                        <td width="70%">
                            : @Model.Position
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            Request Date
                        </td>
                        <td width="70%">
                            : @Model.RequestDt
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 8px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
                Please check the following link @Model.BaseUrl
            </td>
        </tr>
        <tr>
            <td style="font-size: 28px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
                    <tr>
                        <td width="65%">
                            &nbsp;
                        </td>
                        <td width="35%">
                            Thank you,
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 30px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
                    <tr>
                        <td width="65%">
                            &nbsp;
                        </td>
                        <td width="35%">
                            K-PINTAR Parts Portal
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>