﻿@model KMSIPartsPortal_System.Models.Email
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Request Edit Purchase Order</title>
</head>
<body>
    <table border="1" style="width: 100%;">
        <tr>
            <td colspan="2"><b>Data Before Edit</b></td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td>@ViewData["SupplierNameBefore"]</td>
        </tr>
        <tr>
            <td>PO Date</td>
            <td>@ViewData["PurchaseDateBefore"]</td>
        </tr>
        <tr>
            <td>PO Number</td>
            <td>@ViewData["PurchaseNumberBefore"]</td>
        </tr>
    </table>
    <br />
    <table border="1" style="width: 100%;">
        <tr>
            <td colspan="2"><b>Data Request Edit</b></td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td>@ViewData["SupplierNameAfter"]</td>
        </tr>
        <tr>
            <td>PO Date</td>
            <td>@ViewData["PurchaseDateAfter"]</td>
        </tr>
        <tr>
            <td>PO Number</td>
            <td>@ViewData["PurchaseNumberAfter"]</td>
        </tr>
    </table>
    <br />

    Click here to Approve this change. <a href="@ViewData["Approval"]"><b><u>Approve</u></b></a>
    @*Or click here to Reject this change. <a href="@ViewData["Rejection"]"><b><u>Reject</u></b></a>*@
</body>
</html>
