﻿@model KMSIPartsPortal_System.Models.Email
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Request Edit Purchase Order Detail</title>
</head>
<body>
    <table border="1" style="width: 100%;">
        <tr>
            <td colspan="2"><b>Data Before Edit</b></td>
        </tr>
        <tr>
            <td>Item Number</td>
            <td>@ViewData["ItemNumberBefore"]</td>
        </tr>
        <tr>
            <td>Part Number</td>
            <td>@ViewData["PartNumberBefore"]</td>
        </tr>
        <tr>
            <td>Part Name</td>
            <td>@ViewData["DescriptionBefore"]</td>
        </tr>
        <tr>
            <td>PO Quantity</td>
            <td>@ViewData["POQtyBefore"]</td>
        </tr>
        <tr>
            <td>Unit Price</td>
            <td>@ViewData["PriceBefore"]</td>
        </tr>
        <tr>
            <td>Stock Point</td>
            <td>@ViewData["StockPointBefore"]</td>
        </tr>
    </table>
    <br />
    <table border="1" style="width: 100%;">
        <tr>
            <td colspan="2"><b>Data Request Edit</b></td>
        </tr>
        <tr>
            <td>Item Number</td>
            <td>@ViewData["ItemNumberAfter"]</td>
        </tr>
        <tr>
            <td>Part Number</td>
            <td>@ViewData["PartNumberAfter"]</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@ViewData["DescriptionAfter"]</td>
        </tr>
        <tr>
            <td>PO Quantity</td>
            <td>@ViewData["POQtyAfter"]</td>
        </tr>
        <tr>
            <td>Unit Price</td>
            <td>@ViewData["PriceAfter"]</td>
        </tr>
        <tr>
            <td>Stock Point</td>
            <td>@ViewData["StockPointAfter"]</td>
        </tr>
    </table>
    <br />

    Click here to Approve this change. <a href="@ViewData["Approval"]"><b><u>Approve</u></b></a>
</body>
</html>
