﻿@model KMSIPartsPortal_System.Models.Email
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta meta="viewport" content="width=device-width" />
    <title>Submitted Work Order</title>
</head>
<body>
    <table border="0" style="width: 100%;">
        <tr>
            <td><img src="~/Content/img/header-1.png" alt=""></td>
            <td><img src="~/Content/img/header-2.png" alt="" style="float: right;"></td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom: 1pt solid black;"></td>
        </tr>
        <tr>
            <td></td>
            <td style="float: right;">@Model.Date.ToString("MMMM d, yyyy")</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">Hello, Mr./Mrs. @Model.To</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2"><u>Your Work Order Request on @Model.Date.ToString("MMMM d, yyyy") at @Model.Date.ToString("HH:mm") has been <b><i>submitted.</i></b></u></td>
        </tr>
        <tr>
            <td colspan="2">Permintaan Work Order pada @Model.Date.ToString("d MMMM yyyy") pukul @Model.Date.ToString("HH:mm") telah diajukan.</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2"><u>Please wait for the results of the review to be informed immediately.</u></td>
        </tr>
        <tr>
            <td colspan="2">Harap tunggu hasil pemeriksaan yang akan segera diinformasikan. <a href="@ViewBag.baseUrl"><u><i>(Work Order Page)</i></u></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">Below the work order document attached you requested,</td>
        </tr>
    </table>
    <br>
    <div>Please open link : <a href="@ViewData["LinkEmail"]" target="_blank">@ViewData["LinkEmail"]</a> for detail and action.</div>
</body>
</html>
