﻿@using KMSIPartsPortal_System.Models
@{
    Layout = null;
    List<EmailViewModel> dataList = (List<EmailViewModel>)ViewData["DataList"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Validation DO & Receipt Results KMSI</title>
</head>
<body>
    <table border="1" style="width: 100%;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Part Number</th>
                <th>Status</th>
            </tr>
        </thead>
        @{
            int i = 1;
            foreach (var item in dataList)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.PartNumber</td>
                    <td>@item.Status</td>
                </tr>
                i++;
            }
        }
    </table>
    <br>
    <div>Please open link : <a href="@ViewData["LinkEmail"]" target="_blank">@ViewData["LinkEmail"]</a> for detail and action.</div>
</body>
</html>
