﻿@model KMSIPartsPortal_System.Models.EmailIncomingList
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>INCOMING LIST INFORMATION</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td width="360" valign="top" align="center" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
                            K-PINTAR PARTS PORTAL SYSTEM
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="180">
                            &nbsp;
                        </td>
                        <td width="260" valign="top" align="center" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
                            VENDOR STOCK SYSTEM
                        </td>
                    </tr>
                    <tr>
                        <td width="360" valign="top" align="center">
                            <img src="https://i.ibb.co/7YLpSFg/logo-kmsi.png" alt="" />
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="180">
                            &nbsp;
                        </td>
                        <td width="260" valign="top" align="center">
                            <img src="https://i.ibb.co/84zgzXs/logo-blue.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 12px;">&nbsp;</td>
        </tr>
        <tr>
            <td width="75%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">
                INCOMING LIST INFORMATION :
            </td>
        </tr>
        <tr>
            <td style="font-size: 2px;">&nbsp;</td>
        </tr>
        <tr>
            <td align="right" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 18px;">
                UPLOAD DATE : @Model.UploadDate
            </td>
        </tr>
        <tr>
            <td style="font-size: 2px;">&nbsp;</td>
        </tr>
        <tr>
            <td align="center" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 18px;">
                NEW INCOMING LIST DOCUMENTS
            </td>
        </tr>
        @foreach (var doc in Model.Documents)
        {
            <tr>
                <td style="font-size: 2px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 16px;">
                    List Incoming No. <b>@doc.First().DONO</b>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="1" cellpadding="0" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 16px;">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>C/NO</th>
                                <th>Purchase No.</th>
                                <th>Part No.</th>
                                <th>Description</th>
                                <th>Qty</th>
                                <th>Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var d in doc)
                                {
                                    <tr>
                                        <td align="center">@i</td>
                                        <td align="center">@d.CNO</td>
                                        <td align="center">@d.PurchaseNumber</td>
                                        <td align="center">@d.PartNumber</td>
                                        <td align="center">@d.Description</td>
                                        <td align="right">@d.Quantity</td>
                                        <td align="center">@d.Unit</td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
        <tr>
            <td style="font-size: 28px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 16px;">
                    <tr>
                        <td width="30%">
                            &nbsp;
                        </td>
                        <td width="35%" align="center">
                            <b>Issued by</b>
                        </td>
                        <td width="35%" align="center">
                            <b>Received by</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 8px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="30%">
                            &nbsp;
                        </td>
                        <td width="35%" align="center">
                            PT. GOH GLOBALTRADE INDONESIA
                        </td>
                        <td width="35%" align="center">
                            Customer
                        </td>
                    </tr>
                </table>
                </t>
        </tr>
        <tr>
            <td style="font-size: 28px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 16px;">
                Here we submit the latest information, documents that have been uploaded, thank you.
            </td>
        </tr>
        <tr>
            <td style="font-size: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 16px;">
                    <tr>
                        <td width="50%">
                            Link to parts portal system : <a href="@Model.BaseUrl">Click here</a>
                        </td>
                        <td width="50%">
                            @*Link to download PDF : <a href="@Model.DownloadUrl">Click here</a>*@
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>