﻿@model KMSIPartsPortal_System.Models.User
@{
    ViewBag.Title = "Approve Request Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    aside.main-sidebar {
        display: none;
    }

    div.content-wrapper {
        margin-left: 0;
    }

    .thumbnail-slide {
        width: 300px;
        margin-bottom: 15px;
    }

    .blockSLide {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #dbd7d7;
    }
</style>

<h2>Approve Request Access</h2>
<div class="col-md-12">
    <table id="approval-dt" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th style="width: 100px;">#</th>
                <th style="width: 100px;">User Name</th>
                <th style="width: 100px;">First Name</th>
                <th style="width: 45px;">Last Name</th>
                <th style="width: 45px;">Email</th>
                <th style="width: 150px;"><span>Action</span></th>
            </tr>
        </thead>
    </table>
</div>

<!-- Modal -->
<div id="giveAccessModal" class="modal fade">
    <div class="modal-dialog">
        <form id="form_give_access" class="form-horizontal" action="@Url.Action("Approve", "ApprovalRequest")" method="post">
            <!-- Modal content -->
            <div class="modal-content" style="border-top: 5px solid #3c8dbc;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Give Access Form</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.UserId)
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="text-align:right;">Select Role</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.UserRole, new SelectList(ViewBag.role, "RoleId", "RoleName"), string.Empty, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="text-align:right;">Select Supplier</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.SupplierId, new SelectList(ViewBag.supplier, "SupplierId", "SupplierName"), string.Empty, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="text-align:right;">Select Type of Distributor</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.DistributorType, new SelectList(ViewBag.distributor, "Value", "Name"), string.Empty, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</div>
                    <input type="submit" class="btn btn-primary btn-flat" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">
        function popApprove(el) {
            var id = $(el).data("id");
            $("#UserId").val(id);

            var url = "@Url.Action("Approve", "ApprovalRequest")" + "/" + id;
            $("#form_give_access").attr('action', url);

            $('#giveAccessModal').modal({
                show: true,
                keyboard: false,
                backdrop: 'static'
            });
        }

        $(document).ready(function () {
            $('#approval-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/ApprovalRequest/List",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [5],
                        "sortable": false,
                        "searchable": false
                    },
                    {
                        "targets": [0, 1, 2, 3, 4, 5],
                        "className": "text-center"
                    }
                ],
                "order": [[0, "asc"]],
                "columns": [
                    { "data": "UserId", "name": "UserId" },
                    { "data": "Username", "name": "Username" },
                    { "data": "FirstName", "name": "FirstName" },
                    { "data": "LastName", "name": "LastName" },
                    { "data": "Email", "name": "Email" },
                    {
                        "data": "UserId", "name": "UserId",
                        "render": function (data, row) {
                            var result = '<button onclick="popApprove(this)" data-id="' + data + '"  class="btn btn-primary btn-flat">Give Access</button>';

                            return result;
                        }
                    }
                ]
            });
        });
    </script>

}

