﻿@model IEnumerable<KMSIPartsPortal_System.Models.vWorkOrderReport>

@{
    ViewBag.Title = "Work Order Report";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8 pull-left">
                        <a id="btn-download-wo-reports" href="javascript:void(0)" class="btn btn-sm btn-success btn-flat disabled">Download</a>
                    </div>
                    <div class="col-md-3 pull-right">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="filter_date" autocomplete="off">
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <br />
                <table id="wo-report-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.WorkOrderCode)</th>
                            <th>@Html.DisplayNameFor(model => model.WorkOrderDate)</th>
                            <th>@Html.DisplayNameFor(model => model.ContractCode)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitSerialNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitModel)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitCode)</th>
                            <th>@Html.DisplayNameFor(model => model.CustomerCode)</th>
                            <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
                            <th>@Html.DisplayNameFor(model => model.Site)</th>
                            <th>@Html.DisplayNameFor(model => model.RequestDeliveryDate)</th>
                            <th>@Html.DisplayNameFor(model => model.ApprovalStatus)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            function turn_on_iCheck() {
                $('input[type="checkbox"], input[type="radio"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue",
                    radioClass: "iradio_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedWOReportID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-wo-reports').removeClass('disabled');
                    } else {
                        $('#btn-download-wo-reports').addClass('disabled');
                    }

                    if (length == $('input[name="checkedWOReportID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedWOReportID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedWOReportID"]').iCheck('check');
                    }
                });
            }

            drawDatatable();

            function drawDatatable(startDate = '', endDate = '') {
                var datatable = $('#wo-report-dt').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "pageLength": 10,
                    "ajax": {
                        "url": "/WorkOrderReports/List",
                        "type": "POST",
                        "datatype": "json",
                        "data": { start_date: startDate, end_date: endDate }
                    },
                    "columnDefs": [
                        {
                            "targets": [0, 1],
                            "className": 'text-center',
                            "searchable": false,
                            "sortable": false
                        },
                        {
                            "targets": [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                            "className": 'text-center'
                        }
                    ],
                    "order": [[2, 'asc']],
                    "columns": [
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                return '<input type="checkbox" name="checkedWOReportID" value="' + full.WorkOrderID + '">';
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        { "data": "WorkOrderCode", "name": "WorkOrderCode" },
                        {
                            "data": "WorkOrderDate", "name": "WorkOrderDate",
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return moment(data).format('DD/MM/YY');
                                } else {
                                    return "";
                                }
                            }
                        },
                        { "data": "ContractCode", "name": "ContractCode" },
                        { "data": "UnitSerialNumber", "name": "UnitSerialNumber" },
                        { "data": "UnitModel", "name": "UnitModel" },
                        { "data": "UnitCode", "name": "UnitCode" },
                        { "data": "CustomerCode", "name": "CustomerCode" },
                        { "data": "CustomerName", "name": "CustomerName" },
                        { "data": "Site", "name": "Site" },
                        {
                            "data": "RequestDeliveryDate", "name": "RequestDeliveryDate",
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return moment(data).format('DD/MM/YY');
                                } else {
                                    return "";
                                }
                            }
                        },
                        { "data": "ApprovalStatus", "name": "ApprovalStatus" },
                    ]
                });
            }

            $('#filter_date').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });
            $('#filter_date').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YY') + ' - ' + picker.endDate.format('DD/MM/YY'));
                $('#wo-report-dt').DataTable().destroy();
                var date = $('#filter_date').val().split('-');
                drawDatatable(date[0], date[1]);
            });
            $('#filter_date').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
                $('#wo-report-dt').DataTable().destroy();
                drawDatatable();
            });

            $('#wo-report-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-download-wo-reports').click(function () {
                var ids = [];
                $.each($('input[name="checkedWOReportID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/WorkOrderReports/PostReportPartial",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        period: $('#filter_date').val()
                    },
                    success: function (resultData) {
                        if (resultData.success) {
                            window.location = '/WorkOrderReports/DownloadPdf?fileName=' + resultData.strPDFFileName;
                        }
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>
}