﻿@using System.Threading;
@using System.Globalization;
@model KMSIPartsPortal_System.Models.PurchasePlan

@{
    ViewBag.Title = "Edit Purchase Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var plan = ViewBag.planList;

    var i = 0;
}

<div class="box box-primary">
    <div class="box-body">
        @using (Html.BeginForm("Edit", "PurchasePlans", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-md-6">
                        <label class="control-label">Month Name</label>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Quantity Plan</label>
                    </div>
                    @foreach (var item in plan)
                    {
                        <div class="form-group-sm">
                            <div class="col-md-6">
                                @Html.HiddenFor(model => model.Month, new { htmlAttributes = new { @class = "form-control", @Value = item.month } })
                                <label class="control-label">@item.monthName</label>
                            </div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Plan, new { htmlAttributes = new { @class = "form-control", @Value = item.PlanQty } })
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="box-footer" align="left">
        <a href="@Url.Action("Index", "PurchasePlans")" class="btn btn-sm btn-flat btn-danger">Cancel</a>
        <button type="submit" class="btn btn-sm btn-flat bg-navy">Submit</button>
    </div>
</div>
