﻿@model KMSIPartsPortal_System.Models.PurchasePlan

@{
    ViewBag.Title = "Purchase Plan";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <a id="btn-download-plan" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled">Download Plan</a>
                    </div>
                    @if (Convert.ToInt32(HttpContext.Current.Session["SupplierId"]) == 0)
                    {
                        <div class="col-md-6" align="right">
                            <a id="btn-import-plan" href="javascript:void(0)" class="btn btn-sm bg-purple btn-flat"><i class="fa fa-upload"></i> UPLOAD</a>
                        </div>
                    }

                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label">Select Year: </label>
                        @Html.DropDownList("Year", new SelectList(ViewBag.year, "Value", "Text"), " Select Year ", new { @class = "form-control", @id = "yearPlan" })
                    </div>
                </div>
                <br />
                <div class="yearLabel" style="text-align:center;font-size:23px;"></div>
                <table id="po-plan-dt" class="table table-bordered table-striped BoldBorder" style="max-width: none !important">
                    <thead>
                        <tr>
                            <th rowspan="2">@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th rowspan="2">No.</th>
                            <th style="width: 150px;" rowspan="2">@Html.DisplayNameFor(model => model.PartNumber)</th>
                            <th colspan="3">Januari</th>
                            <th colspan="3">Februari</th>
                            <th colspan="3">Maret</th>
                            <th colspan="3">April</th>
                            <th colspan="3">Mei</th>
                            <th colspan="3">Juni</th>
                            <th colspan="3">Juli</th>
                            <th colspan="3">Agustus</th>
                            <th colspan="3">September</th>
                            <th colspan="3">Oktober</th>
                            <th colspan="3">November</th>
                            <th colspan="3">Desember</th>
                            <th rowspan="2">Action</th>
                        </tr>
                        <tr>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>%</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- Modal Import -->
@using (Html.BeginForm("UploadExcel", "PurchasePlans", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Import Purchase Plan</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    <label class="control-label">Select Year: </label>
                    @Html.DropDownList("Year", new SelectList(ViewBag.year, "Value", "Text"), " Select Year ", new { @class = "form-control" })
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/PurchasePlans/DownloadExcel/" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();
            var supplierId = "@Session["SupplierId"]";

            function turn_on_iCheck() {
                $('input[type="checkbox"], input[type="radio"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue",
                    radioClass: "iradio_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedPlanID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-plan').removeClass('disabled');
                    } else {
                        $('#btn-download-plan').addClass('disabled');
                    }

                    if (length == $('input[name="checkedPlanID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedPlanID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedPlanID"]').iCheck('check');
                    }
                });
            }

            $('#btn-import-plan').on('click', function () {
                $('#modal-import').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            drawDatatable();

            function drawDatatable(year = '') {
                var datatable = $('#po-plan-dt').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "scrollX": true,
                    "pageLength": 10,
                    "ajax": {
                        "url": "/PurchasePlans/List",
                        "data": { year: year },
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columnDefs": [
                        {
                            "targets": [0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
                            "className": 'text-center',
                            "searchable": false,
                            "sortable": false
                        },
                        {
                            "targets": [39],
                            "visible": (supplierId == 0) ? true : false,
                            "sortable": false,
                            "searchable": false
                        }
                    ],
                    "order": [[2, 'asc']],
                    "columns": [
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                return '<input type="checkbox" name="checkedPlanID" value="' + full.PartNumber + '">';
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        { "data": "PartNumber", "name": "PartNumber" },
                        { "data": "PlanJan", "name": "PlanJan" },
                        { "data": "ActJan", "name": "ActJan" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActJan != null) {
                                    var percent = (full.ActJan / full.PlanJan) * 100;
                                    return Math.round(percent)+'%';
                                } else {
                                    return 0+'%';
                                }
                            }
                        },
                        { "data": "PlanFeb", "name": "PlanFeb" },
                        { "data": "ActFeb", "name": "ActFeb" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActFeb != null) {
                                    var percent = (full.ActFeb / full.PlanFeb) * 100;
                                    return Math.round(percent) + '%';
                                } else {
                                    return 0 + '%';
                                }
                            }
                        },
                        { "data": "PlanMar", "name": "PlanMar" },
                        { "data": "ActMar", "name": "ActMar" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActMar != null) {
                                    var percent = (full.ActMar / full.PlanMar) * 100;
                                    return Math.round(percent) + '%';
                                } else {
                                    return 0 + '%';
                                }
                            }
                        },
                        { "data": "PlanApr", "name": "PlanApr" },
                        { "data": "ActApr", "name": "ActApr" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActApr != null) {
                                    var percent = (full.ActApr / full.PlanApr) * 100;
                                    return Math.round(percent) + '%';
                                } else {
                                    return 0 + '%';
                                }
                            }
                        },
                        { "data": "PlanMay", "name": "PlanMay" },
                        { "data": "ActMay", "name": "ActMay" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActMay != null) {
                                    var percent = (full.ActMay / full.PlanMay) * 100;
                                    return Math.round(percent) + '%';
                                } else {
                                    return 0 + '%';
                                }
                            }
                        },
                        { "data": "PlanJun", "name": "PlanJun" },
                        { "data": "ActJun", "name": "ActJun" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActJun != null) {
                                    var percent = (full.ActJun / full.PlanJun) * 100;
                                    return Math.round(percent) + '%';
                                } else {
                                    return 0 + '%';
                                }
                            }
                        },
                        { "data": "PlanJul", "name": "PlanJul" },
                        { "data": "ActJul", "name": "ActJul" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActJul != null) {
                                    var percent = (full.ActJul / full.PlanJul) * 100;
                                    return Math.round(percent) + '%';
                                } else {
                                    return 0 + '%';
                                }
                            }
                        },
                        { "data": "PlanAgt", "name": "PlanAgt" },
                        { "data": "ActAgt", "name": "ActAgt" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActAgt != null) {
                                    var percent = (full.ActAgt / full.PlanAgt) * 100;
                                    return Math.round(percent) + '%';
                                } else {
                                    return 0 + '%';
                                }
                            }
                        },
                        { "data": "PlanSpt", "name": "PlanSpt" },
                        { "data": "ActSpt", "name": "ActSpt" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActSpt != null) {
                                    var percent = (full.ActSpt / full.PlanSpt) * 100;
                                    return Math.round(percent) + '%';
                                } else {
                                    return 0 + '%';
                                }
                            }
                        },
                        { "data": "PlanOct", "name": "PlanOct" },
                        { "data": "ActOct", "name": "ActOct" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActOct != null) {
                                    var percent = (full.ActOct / full.PlanOct) * 100;
                                    return Math.round(percent) + '%';
                                } else {
                                    return 0 + '%';
                                }
                            }
                        },
                        { "data": "PlanNov", "name": "PlanNov" },
                        { "data": "ActNov", "name": "ActNov" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActNov != null) {
                                    var percent = (full.ActNov / full.PlanNov) * 100;
                                    return Math.round(percent) + '%';
                                } else {
                                    return 0 + '%';
                                }
                            }
                        },
                        { "data": "PlanDec", "name": "PlanDec" },
                        { "data": "ActDec", "name": "ActDec" },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ActDec != null) {
                                    var percent = (full.ActDec / full.PlanDec) * 100;
                                    return Math.round(percent) + '%';
                                } else {
                                    return 0 + '%';
                                }
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                var year = ($('#yearPlan').val() != "") ? $('#yearPlan').val() : "2019";
                                return '<a class="btn btn-xs btn-info btn-flat edit" href="/PurchasePlans/Edit?partnumber=' + full.PartNumber + '&year=' + year + '" style="width: 55px;"> E D I T</a><a class="btn btn-xs btn-danger btn-flat del" data-pn="' + full.PartNumber + '" href="javascript:void(0)" style="width: 55px;"> <i class="fa fa-trash cdtot"></i></a>';
                            }
                        }
                    ]
                });
            }

            $('#po-plan-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#yearPlan').on('change', function (e) {
                e.preventDefault();
                $('#po-plan-dt').DataTable().destroy();
                drawDatatable($(this).val());
                $('.yearLabel').html('PURCHASE PLAN '+$(this).val());
            });

            $('#btn-download-plan').click(function () {
                var ids = [];
                $.each($('input[name="checkedPlanID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/PurchasePlans/PostReportPartial",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        period: $('#yearPlan').val()
                    },
                    success: function (resultData) {
                        if (resultData.success) {
                            window.location = '/PurchasePlans/DownloadPdf?fileName=' + resultData.strPDFFileName;
                        }
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#po-plan-dt tbody').on('click', 'a.del', function (event) {
                event.preventDefault();

                var year = ($('#yearPlan').val() != "") ? $('#yearPlan').val() : "2019";
                var partnumber = $(this).data('pn');
                customConfirm("Are you sure want to delete plan of Part Number (" + partnumber + ") in Year " + year + "?", function () {
                    location.href = '/PurchasePlans/DeletePlan?partnumber=' + partnumber + '&year=' + year;
                });
            });
        });
    </script>
}