﻿@model KMSIPartsPortal_System.Models.OutgoingInvoice
@{
    ViewBag.Title = "Invoice Document";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Purchase", "Outgoing")" class="btn btn-sm btn-flat bg-navy">Back</a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12" align="right">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseNumber, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.PurchaseNumber, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.PurchaseNumber, @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="invoice-dt" class="table table-bordered table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>@Html.DisplayNameFor(model => model.InvoiceNumber)</th>
                                        <th>@Html.DisplayNameFor(model => model.InvoiceDate)</th>
                                        <th>Part Number</th>
                                        <th>@Html.DisplayNameFor(model => model.PartName)</th>
                                        <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                                        <th>@Html.DisplayNameFor(model => model.Unit)</th>
                                        <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
                                        <th>@Html.DisplayNameFor(model => model.Amount)</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" align="right">
                            <div class="form-group">
                                <label class="control-label col-md-8">Tax Base</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control disabled" value="@ViewBag.SubTotal" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" align="right">
                            <div class="form-group">
                                <label class="control-label col-md-8">VAT 10%</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control disabled" value="@ViewBag.PPn" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" align="right">
                            <div class="form-group">
                                <label class="control-label col-md-8">Amount Due</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control disabled" value="@ViewBag.Total" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#invoice-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "info": false,
                "ajax": {
                    "url": "/OutInvoice/DetailByPOList",
                    "data": { param: "@ViewBag.PurchaseNumber" },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    }
                ],
                "order": [[1, "asc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "InvoiceNumber", "name": "InvoiceNumber", "autoWidth": true },
                    { "data": "InvoiceDate", "name": "InvoiceDate", "autoWidth": true },
                    { "data": "PartNumber", "name": "PartNumber", "autoWidth": true },
                    { "data": "PartName", "name": "PartName", "autoWidth": true },
                    { "data": "Quantity", "name": "Quantity", "autoWidth": true },
                    { "data": "Unit", "name": "Unit", "autoWidth": true },
                    { "data": "UnitPrice", "name": "UnitPrice", "autoWidth": true },
                    { "data": "Amount", "name": "Amount", "autoWidth": true }
                ]
            });
        });
    </script>
}