﻿@model KMSIPartsPortal_System.Models.Kpintar_Part_Info

@{
    ViewBag.Title = "Detail Part Information";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<style>
    /*.corner-image {
        display: none;
    }*/
</style>
<h2 class="page-header"><b>@ViewBag.Title</b></h2>

<div class="row">
    <div class="col-md-4">
        <span class="caption-pintar" style="color: black;">Part Number : </span>
        <span class="caption-pintar" style="color: black;">@Model.PART_NUMBER.Trim()</span>
        @*<input type="text" value="@Model.PART_NUMBER.Trim()" readonly style="color: black;font-size: large;font-weight: bold;" />*@
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <p class="detail-box-title col-md-3" style="width: 10%;"><i class="fa fa-angle-right"></i>Parts Identity</p>
            </div>
            <div class="box-body detail-box">
                <div class="col-md-3">
                    Part Number: @Model.PART_NUMBER
                </div>
                <div class="col-md-3">
                    ITC Code: @Model.LATEST_INTERCHANGE_CODE
                </div>
                <div class="col-md-3">
                    New Comm: @Model.NEW_COMMODITY_CODE
                </div>
                <div class="col-md-3">
                    Rank: @Model.MATRIX_RANK
                </div>
                <div class="col-md-3">
                    Part Name: @Model.PART_NAME
                </div>
                <div class="col-md-3">
                    New PN: @Model.LATEST_INTERCHANGE_PART_NO
                </div>
                <div class="col-md-3">
                    Machine Qty: @Model.QTY_PER_MACHINE
                </div>
                <div class="col-md-3">
                    MT: @Model.DEPOT_MORTALITY
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <p class="detail-box-title col-md-3" style="width: 10%;"><i class="fa fa-angle-right"></i>Pricing</p>
            </div>
            <div class="box-body detail-box">
                <div class="col-md-3">
                    List Price IDR: @Model.LIST_PRICE_CURRENT_IDR
                </div>
                <div class="col-md-3">
                    List Price USD: @Model.LIST_PRICE_CURRENT_USD
                </div>
                <div class="col-md-3">
                    Currency:
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <p class="detail-box-title col-md-3" style="width: 10%;"><i class="fa fa-angle-right"></i>Dimension</p>
            </div>
            <div class="box-body detail-box">
                <div class="col-md-3">
                    Gross Weight:
                </div>
                <div class="col-md-3">
                    Net Weight: @Model.UNIT_WEIGHT
                </div>
                <div class="col-md-3">
                    Height:
                </div>
                <div class="col-md-3">
                    Length:
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <p class="detail-box-title col-md-3" style="width: 10%;"><i class="fa fa-angle-right"></i>Stock</p>
            </div>
            <div class="box-body detail-box">
                <div class="col-md-3">
                    FOH: @Model.FOH
                </div>
                <div class="col-md-3">
                    FOO: @Model.FOO
                </div>
                <div class="col-md-3">
                    Lead Time:
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary">Save As</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a id="btn-save-xls" href="javascript:void(0);">Save As Excel</a></li>
                <li><a id="btn-save-pdf" href="javascript:void(0);">Save As PDF</a></li>
            </ul>
        </div>
        <a class="btn btn-primary pull-right" style="margin-right: 10px; height: 20.74px;" href="@Url.Action("Index", "InquiryPart")"> Back </a>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn-save-xls').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/InquiryPart/GenerateXlsDetail",
                    dataType: "JSON",
                    data: {
                        id: @Model.ID
                    },
                    success: function (data) {
                        window.location = '/InquiryPart/DownloadXls?fileGuid=' + data.FileGuid
                            + '&fileName=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-save-pdf').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/InquiryPart/GeneratePdfDetail",
                    dataType: "JSON",
                    data: {
                        id: @Model.ID
                    },
                    success: function (data) {
                        window.location = '/InquiryPart/DownloadPdf?fileName=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            })
        });
    </script>
}