﻿
@{
    ViewBag.Title = "Part Information";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<style>
    table.dataTable.fixedHeader-floating {
        display: none !important; /* Hide the fixedHeader since we dont need it*/
    }

    .dataTables_scrollHeadInner {
        margin-left: 0px;
        width: 83% !important;
        position: fixed;
        display: block;
        overflow: hidden;
        margin-right: 30px;
        background: white;
        z-index: 1000;
        border-bottom: 1px solid #ccc;
    }

    .dataTables_scrollBody {
        padding-top: 40px;
    }

    .bootstrap-tagsinput {
        width: 100%;
        line-height: 30px;
        overflow-y: scroll;
        overflow-x: scroll;
        height: 60px;
        cursor: text;
    }

        .bootstrap-tagsinput input[type="text"] {
            width: -webkit-fill-available;
        }

    .label {
        /*font-size: 100% !important;*/
    }

    .bold-content {
        font-weight: bold;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        white-space: normal;
        width: 100%;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        white-space: normal;
    }

    :-ms-input-placeholder { /* IE 10+ */
        white-space: normal;
    }

    :-moz-placeholder { /* Firefox 18- */
        white-space: normal;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>@ViewBag.Title</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-2 filter-column" style="width: 13%;">
                        <h5 class="box-title"><b>Column Select :</b></h5>
                        <div class="pull-left margin-r-5">
                            <div class="col-xs-12" style="padding: 0;">
                                <div class="col-xs-12" style="padding: 0;">
                                    <input type="checkbox" id="toggleColumnPartNumber" name="columnSelect[]" data-column="0" class="toggleColumn" value="PART_NUMBER" checked /> Part Number
                                </div>
                                <div class="col-xs-12" style="padding: 0;">
                                    <input type="checkbox" id="toggleColumnPartName" name="columnSelect[]" data-column="1" class="toggleColumn" value="PART_NAME" checked /> Part Name
                                </div>
                                <div class="col-xs-12" style="padding: 0;">
                                    <input type="checkbox" id="toggleColumnItc" name="columnSelect[]" class="toggleColumn" data-column="2" value="LATEST_INTERCHANGE_CODE" checked /> ITC
                                </div>
                                <div class="col-xs-12" style="padding: 0;">
                                    <input type="checkbox" id="toggleColumnRank" name="columnSelect[]" class="toggleColumn" data-column="7" value="MATRIX_RANK" checked /> Rank
                                </div>
                                <div class="col-xs-12" style="padding: 0;">
                                    <input type="checkbox" id="toggleColumnNewPn" name="columnSelect[]" class="toggleColumn" data-column="3" value="LATEST_INTERCHANGE_PART_NO" checked /> New PN
                                </div>
                            </div>
                        </div>
                        <div class="spacer-20"></div>
                    </div>
                    <div class="col-xs-10" style="width: 87%;">
                        <div class="col-md-12" style="padding: 0;">
                            <input type="text" id="searchByPNumber" style="width: 100%; color: black;" data-role="tagsinput" placeholder="Input your part number here (.txt for copy-paste and .xlsx for upload)" size="100" />
                            <a id="btn-filter-pn" class="btn btn-sm btn-primary btn-flat pull-right"> Submit </a>
                            <a id="btn-upload-pn" class="btn btn-sm btn-primary btn-flat pull-right" style="margin-right: 10px;"> Upload </a>
                        </div>
                        <div class="spacer-20"></div>
                        <div class="col-md-12 pull-left" style="padding: 0;">
                            
                        </div>
                        <div class="spacer-20"></div>
                        <div class="col-md-12">
                            <div class="btn-group pull-right" style="margin-bottom: -25px; z-index: 1001;">
                                <button type="button" class="btn btn-primary">Save As</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a id="btn-save-xls">Save As Excel</a></li>
                                    <li><a id="btn-save-pdf">Save As PDF</a></li>
                                </ul>
                            </div>
                        </div>
                        <table id="inquiry-part-dt" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 150px;" title="Part number." data-toggle="tooltip" data-placement="top">PN</th>
                                    <th style="width: 160px;" title="Part name." data-toggle="tooltip" data-placement="top">Name</th>
                                    <th style="width: 160px;" title="Latest interchange code." data-toggle="tooltip" data-placement="top">ITC</th>
                                    <th style="width: 150px;" title="Latest interchange part number." data-toggle="tooltip" data-placement="top">New PN</th>
                                    <th style="width: 160px;" title="List price IDR." data-toggle="tooltip" data-placement="top">LP IDR</th>
                                    <th style="width: 160px;" title="List price USD." data-toggle="tooltip" data-placement="top">LP USD</th>
                                    <th style="width: 160px;" title="Depot mortality." data-toggle="tooltip" data-placement="top">MT</th>
                                    <th style="width: 160px;" title="Matrix rank." data-toggle="tooltip" data-placement="top">Rank</th>
                                    <th style="width: 160px;" title="New commodity." data-toggle="tooltip" data-placement="top">New Comm</th>
                                    <th style="width: 160px;" title="Unit weight." data-toggle="tooltip" data-placement="top">Net Weight</th>
                                    <th style="width: 160px;" title="Net weight." data-toggle="tooltip" data-placement="top">Net Height</th>
                                    <th style="width: 160px;" title="Qty per machine." data-toggle="tooltip" data-placement="top">Machine Qty</th>
                                    <th style="width: 160px;" title="Service news number." data-toggle="tooltip" data-placement="top">PSN</th>
                                    <th style="width: 100px;" title="Free on order." data-toggle="tooltip" data-placement="top">FOO</th>
                                    <th style="width: 100px;" title="Free on hand." data-toggle="tooltip" data-placement="top">FOH</th>
                                    <th style="width: 160px;" title="LT prod." data-toggle="tooltip" data-placement="top">L/T PROD</th>
                                    <th style="width: 160px;" title="LT delivery." data-toggle="tooltip" data-placement="top">L/T DELIVERY</th>
                                    <th style="width: 160px;">ACTION</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="baseUrl" value="@ViewBag.baseUrl" />

<!-- Modal Import -->
@using (Html.BeginForm("UploadPartNumber", "InquiryPart", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-upload-pn">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload PN</h4>
                </div>
                <div class="modal-body" id="frmUploadPN">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a id="btn-submit-pn" class="btn btn-primary btn-flat pull-right"> Upload </a>
                    <a href="/InquiryPart/DownloadExcel" class="btn btn-primary btn-flat pull-right" style="margin-right: 10px;">Download Excel Format</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            $('#searchByPNumber').on('change', function () {
                var len = $(this).tagsinput('items').length;
                if (len > 0) {
                    var $input = $($(this).prev().children('input').get(0));
                    $input.attr('placeholder', '');
                } else {
                    var $input = $($(this).prev().children('input').get(0));
                    $input.attr('placeholder', $(this).attr('placeholder'));
                }
            });

            $('[data-toggle="tooltip"]').tooltip({
                boundary: "window",
                container: "body"
            });

            var dataTable = $('#inquiry-part-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "searching": false,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/InquiryPart/List",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (data) {
                        var searchByPNumber = $('#searchByPNumber').val();

                        data.searchByPNumber = searchByPNumber;
                    }
                },
                "columnDefs": [
                    {
                        "targets": [17],
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
                        "className": 'text-center bold-content'
                    }
                ],
                "order": [[0, "asc"]],
                "columns": [
                    { "data": "PART_NUMBER", "name": "PART_NUMBER", "width": 150 },
                    { "data": "PART_NAME", "name": "PART_NAME", "width": 160 },
                    { "data": "LATEST_INTERCHANGE_CODE", "name": "LATEST_INTERCHANGE_CODE", "width": 160 },
                    { "data": "LATEST_INTERCHANGE_PART_NO", "name": "LATEST_INTERCHANGE_PART_NO", "width": 150 },
                    { "data": "LIST_PRICE_CURRENT_IDR", "name": "LIST_PRICE_CURRENT_IDR", "width": 160 },
                    { "data": "LIST_PRICE_CURRENT_USD", "name": "LIST_PRICE_CURRENT_USD", "width": 160 },
                    { "data": "DEPOT_MORTALITY", "name": "DEPOT_MORTALITY", "width": 160 },
                    { "data": "MATRIX_RANK", "name": "MATRIX_RANK", "width": 160 },
                    { "data": "NEW_COMMODITY_CODE", "name": "NEW_COMMODITY_CODE", "width": 160 },
                    { "data": "UNIT_WEIGHT", "name": "UNIT_WEIGHT", "width": 160 },
                    { "data": "NET_WEIGHT", "name": "NET_WEIGHT", "width": 160 },
                    { "data": "QTY_PER_MACHINE", "name": "QTY_PER_MACHINE", "width": 160 },
                    { "data": "SERVICE_NEWS_NUMBER", "name": "SERVICE_NEWS_NUMBER", "width": 160 },
                    { "data": "FOO", "name": "FOO", "width": 100 },
                    { "data": "FOH", "name": "FOH", "width": 100 },
                    { "data": "LT_PROD", "name": "LT_PROD", "width": 160 },
                    { "data": "LT_DELIVERY", "name": "LT_DELIVERY", "width": 160 },
                    {
                        "data": "ID",
                        "render": function (data, type, full, meta) {
                            var btnAction = '<a class="btn btn-xs btn-primary btn-flat" href="/InquiryPart/Detail/' + data + '"><i class="fa fa-file-text"></i></a>';

                            return btnAction;
                        },
                        "width": 160
                    }
                ],
                "initComplete": function (settings) {
                    $('.dataTables_scrollBody').on('scroll', function () {
                        $('.dataTables_scrollHeadInner').scrollLeft($(this).scrollLeft());
                    });

                    $(document).on('scroll', function () {

                        var scroll_pos = $(this).scrollTop();
                        var margin = $('.dataTables_scrollHead').offset().top; // Adjust it to your needs
                        var cur_pos = $('.dataTables_scrollHeadInner').position();
                        var header_pos = cur_pos.top;

                        if (scroll_pos < margin)
                            var header_pos = margin - scroll_pos;
                        else
                            header_pos = 0;

                        $('.dataTables_scrollHeadInner').css({ "top": header_pos });
                    });

                    $('#inquiry-part-dt thead th').each(function () {
                        var $td = $(this);
                        $td.attr('title', $td.attr('title'));
                    });

                    /* Apply the tooltips */
                    $('#inquiry-part-dt thead th[title]').tooltip({
                        "container": 'body'
                    });
                }
            });
            dataTable.$('thead tr th').tooltip({
                "delay": 0,
                "track": true,
                "fade": 250
            });

            $('#searchByPNumber').keyup(function () {
                dataTable.draw();
            });

            $('.toggleColumn:checkbox').change(function (e) {
                e.preventDefault();
                var value = $(this).val();
                switch (value) {
                    case "PART_NUMBER":
                        var column = dataTable.column($(this).attr('data-column'));
                        column.visible(!column.visible());
                        break;

                    case "PART_NAME":
                        var column = dataTable.column($(this).attr('data-column'));
                        column.visible(!column.visible());
                        break;

                    case "LATEST_INTERCHANGE_CODE":
                        var column = dataTable.column($(this).attr('data-column'));
                        column.visible(!column.visible());
                        break;

                    case "MATRIX_RANK":
                        var column = dataTable.column($(this).attr('data-column'));
                        column.visible(!column.visible());
                        break;

                    case "LATEST_INTERCHANGE_PART_NO":
                        var column = dataTable.column($(this).attr('data-column'));
                        column.visible(!column.visible());
                        break;
                }
            });

            $('#btn-upload-pn').on('click', function () {
                $('#modal-upload-pn #frmUploadPN input').attr('multiple', false);
                $('#modal-upload-pn #frmUploadPN input').attr('accept', ".xlsx,.xls");
                $('#modal-upload-pn').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#btn-submit-pn').on('click', function (e) {
                e.preventDefault();

                var form = $('#frmUploadPN').closest('form');
                var url = $('#baseUrl').val() + form.attr('action');
                var fileUpload = $('#uploadFiles').get(0);
                var files = fileUpload.files;

                var formData = new FormData();

                for (i = 0; i < files.length; i++) {
                    console.log('(files[i].name:' + files[i].name);
                    formData.append('file', files[i]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var response = JSON.parse(data);
                        if (response.status) {
                            $('#searchByPNumber').tagsinput('add', response.data);
                            $('#modal-upload-pn').modal('hide');
                        }
                    }
                });
            });

            $('#btn-filter-pn').on('click', function (e) {
                e.preventDefault();

                dataTable.draw();
            });

            $('#btn-save-xls').on('click', function (e) {
                e.preventDefault();
                var partnumber = $('#searchByPNumber').val();

                var columns = $('[name="columnSelect[]"]:checked').map(function () {
                    return this.value;
                }).get();

                if (partnumber == "") {
                    customAlert("Filter Part Number harus diisi!");
                    return;
                }

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/InquiryPart/GenerateXls",
                    dataType: "JSON",
                    data: {
                        columns: columns,
                        partnumber: partnumber
                    },
                    success: function (data) {
                        window.location = '/InquiryPart/DownloadXls?fileGuid=' + data.FileGuid
                            + '&fileName=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-save-pdf').on('click', function (e) {
                e.preventDefault();
                var partnumber = $('#searchByPNumber').val();

                var columns = $('[name="columnSelect[]"]:checked').map(function () {
                    return this.value;
                }).get();

                if (partnumber == "") {
                    customAlert("Filter Part Number harus diisi!");
                    return;
                }

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/InquiryPart/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        columns: columns,
                        partnumber: partnumber
                    },
                    success: function (data) {
                        window.location = '/InquiryPart/DownloadPdf?fileGuid=' + data.FileGuid
                            + '&fileName=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>
}