﻿@model KMSIPartsPortal_System.Models.Contract

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContractCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMRContract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMRContract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USDperHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USDperHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountContract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountContract)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContractId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
