﻿@model IEnumerable<KMSIPartsPortal_System.Models.Contract>

@{
    ViewBag.Title = "Work Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @if (TempData["ActionMessage"] != null) {
        <div class="alert alert-info alert-dismissible ActionAlert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-info"></i> Alert!</h4>
        @TempData["ActionMessage"]
        </div>
    }

    @if (Session["RoleId"] == null || (int)Session["RoleId"] == 4)
    {
        <div class="col-xs-12">
            <a id="btn-bulk-import" class="btn btn-sm bg-purple btn-flat"><i class="fa fa-upload"></i> IMPORT CONTRACT DOCUMENT</a>
        </div>
    }
</div>
<br />
<div class="row">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <a href="@Url.Action("Index", "Unit", new { code = item.ContractCode })">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box" style="background-color: #0e1271 !important; color: #fff !important;">
                        <span class="info-box-icon"><i class="fa fa-file-text-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">@Html.DisplayFor(modelItem => item.ContractCode)</span>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
</div>

<!-- Modal Import -->
@using (Html.BeginForm("UploadExcel", "Contracts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Import Document</h4>
                </div>
                <div class="modal-body" id="frmBulkImportContracts">
                    <div class="form-group">
                        <label for="file">Choose file</label>
                        <input id="file" name="file" type="file" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/Contracts/DownloadFormat/" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn-bulk-import').on('click', function () {
                $('#modal-import').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        });
    </script>
}