﻿
@{
    ViewBag.Title = "Stock Information";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<style>
    #inquiry-stock-dt thead tr:nth-child(1) th:nth-child(11) {
        border-left: 1px solid #ccc;
    }

    div.dataTables_wrapper div.dataTables_processing {
        top: 100%;
    }

    table.dataTable.fixedHeader-floating {
        display: none !important; /* Hide the fixedHeader since we dont need it*/
    }

    .dataTables_scrollHeadInner {
        margin-left: 0px;
        width: 83% !important;
        position: fixed;
        display: block;
        overflow: hidden;
        margin-right: 30px;
        background: white;
        z-index: 1000;
        border-bottom: 1px solid #ccc;
    }

 

    .left-bordered-cell {
        border-left: 1px solid #ccc !important;
    }

        .dataTables_scrollBody {
            padding-top: 40px;
        }

    .bootstrap-tagsinput {
        width: 100%;
        line-height: 30px;
        overflow-y: scroll;
        overflow-x: scroll;
        height: 60px;
        cursor: text;
    }
        .bootstrap-tagsinput input[type="text"] {
            width: -webkit-fill-available;
        }

    .label {
        /*font-size: 100% !important;*/
    }

    .bold-content {
        font-weight: bold;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        white-space: normal;
        width: 100%;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        white-space: normal;
    }

    :-ms-input-placeholder { /* IE 10+ */
        white-space: normal;
    }

    :-moz-placeholder { /* Firefox 18- */
        white-space: normal;
    }

 
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>@ViewBag.Title</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-2 filter-column" style="width: 13%;">
                        <h5 class="box-title"><b>Select Column</b></h5>
                        <div class="pull-left margin-r-5">
                            <div class="col-xs-12" style="padding: 0;">
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleColumnPartNumber" name="columnSelect[]" data-column="1" class="toggleColumn" value="PART_NUMBER" checked /> Part Number
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleColumnPartName" name="columnSelect[]" data-column="2" class="toggleColumn" value="PART_NAME" checked /> Part Name
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleColumnLatestPN" name="columnSelect[]" data-column="3" class="toggleColumn" value="LATEST" checked /> Latest PN
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleColumnItc" name="columnSelect[]" data-column="4" class="toggleColumn" value="ITC" checked /> ITC
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleColumnFoh" name="columnQtySelect[]" class="toggleColumn" data-column="5" value="FOH" checked /> FOH
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleColumnFoo" name="columnQtySelect[]" class="toggleColumn" data-column="6" value="FOO" /> FOO
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleColumnFS" name="columnQtySelect[]" class="toggleColumn" data-column="7" value="FS" /> FS
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleColumnFA" name="columnQtySelect[]" class="toggleColumn" data-column="8" value="FA" /> FA
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleColumnEO" name="columnQtySelect[]" class="toggleColumn" data-column="9" value="EORSVDP" /> EO Reserved Depo
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <h5 class="box-title"><b>Select Stock Point</b></h5>
                        <div class="pull-left margin-r-5">
                            <div class="col-xs-12" style="padding: 0;">
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleAll" class="toggleFilter" data-column="3" value="ALL" /> All
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleJkt" class="toggleFilter" name="filterStockPoint[]" value="JKT" /> Jakarta
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleBpn" class="toggleFilter" name="filterStockPoint[]" value="BPN" /> Balikpapan
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="toggleBjm" class="toggleFilter" name="filterStockPoint[]" value="BJM" /> Banjarmasin
                                </div>
                                <div class="col-xs-12">
                                    <input type="checkbox" id="togglePlb" class="toggleFilter" name="filterStockPoint[]" value="PLB" /> Palembang
                                </div>
                            </div>
                        </div>
                        <div class="spacer-20"></div>
                    </div>
                    <div class="col-xs-10" style="width: 87%;">
                        <div class="col-md-12" style="padding: 0;">
                            <input type="text" id="searchByPNumber" style="width: 100%; color: black;" data-role="tagsinput" placeholder="Input your part number here (.txt for copy-paste and .xlsx for upload)" />
                            <a id="btn-filter-pn" class="btn btn-primary btn-flat pull-right"> Submit </a>
                            <a id="btn-upload-pn" class="btn btn-primary btn-flat pull-right" style="margin-right: 10px;"> Upload </a>
                        </div>
                        <div class="spacer-20"></div>
                        <div class="col-md-12">
                            <div class="btn-group pull-right" style="margin-bottom: -25px; z-index: 1001;">
                                <button type="button" class="btn btn-primary">Save As</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a id="btn-save-xls">Save As Excel</a></li>
                                    <li><a id="btn-save-pdf">Save As PDF</a></li>
                                </ul>
                            </div>
                        </div>
                        <table id="inquiry-stock-dt" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th rowspan="2">ID</th>
                                    <th rowspan="2" style="width: 150px;" title="Part number." data-toggle="tooltip" data-placement="top">PN</th>
                                    <th rowspan="2" style="width: 160px;" title="Part name." data-toggle="tooltip" data-placement="top">Name</th>
                                    <th rowspan="2" style="width: 150px;" title="Latest interchange part number." data-toggle="tooltip" data-placement="top">Latest PN</th>
                                    <th rowspan="2" style="width: 100px;" title="Latest interchange code." data-toggle="tooltip" data-placement="top">ITC</th>
                                    <th rowspan="2" style="width: 100px;" title="Free on hand (all)" data-toggle="tooltip" data-placement="top">FOH</th>
                                    <th rowspan="2" style="width: 100px;" title="Free on order (all)" data-toggle="tooltip" data-placement="top">FOO</th>
                                    <th rowspan="2" style="width: 80px;" title="Free ship (all)" data-toggle="tooltip" data-placement="top">FS</th>
                                    <th rowspan="2" style="width: 80px;" title="Free arrived (all)" data-toggle="tooltip" data-placement="top">FA</th>
                                    <th rowspan="2" style="width: 150px;" title="EO reserved depo (all)" data-toggle="tooltip" data-placement="top">EO RSVRD</th>
                                    <th colspan="5" class="left-bordered-cell" title="Jakarta depo." data-toggle="tooltip" data-placement="top">JKT</th>
                                    <th colspan="5" class="left-bordered-cell" title="Balikpapan depo." data-toggle="tooltip" data-placement="top">BPN</th>
                                    <th colspan="5" class="left-bordered-cell" title="Banjarmasin depo." data-toggle="tooltip" data-placement="top">BJM</th>
                                    <th colspan="5" class="left-bordered-cell" title="Palembang depo." data-toggle="tooltip" data-placement="top">PLB</th>
                                </tr>
                                <tr>
                                    <th style="width: 100px;" class="left-bordered-cell" title="Free on hand Jakarta depo." data-toggle="tooltip" data-placement="top">FOH</th>
                                    <th style="width: 100px;" title="Free on order Jakarta depo." data-toggle="tooltip" data-placement="top">FOO</th>
                                    <th style="width: 80px;" title="Free ship Jakarta depo." data-toggle="tooltip" data-placement="top">FS</th>
                                    <th style="width: 80px;" title="Free arrived Jakarta depo." data-toggle="tooltip" data-placement="top">FA</th>
                                    <th style="width: 150px;" title="EO reserved Jakarta depo." data-toggle="tooltip" data-placement="top">EO RSVRD</th>
                                    <th style="width: 100px;" class="left-bordered-cell" title="Free on hand Balikpapan depo." data-toggle="tooltip" data-placement="top">FOH</th>
                                    <th style="width: 100px;" title="Free on order Balikpapan depo." data-toggle="tooltip" data-placement="top">FOO</th>
                                    <th style="width: 80px;" title="Free ship Balikpapan depo." data-toggle="tooltip" data-placement="top">FS</th>
                                    <th style="width: 80px;" title="Free arrived Balikpapan depo." data-toggle="tooltip" data-placement="top">FA</th>
                                    <th style="width: 150px;" title="EO reserved Balikpapan depo." data-toggle="tooltip" data-placement="top">EO RSVRD</th>
                                    <th style="width: 100px;" class="left-bordered-cell" title="Free on hand Banjarmasin depo." data-toggle="tooltip" data-placement="top">FOH</th>
                                    <th style="width: 100px;" title="Free on order Banjarmasin depo." data-toggle="tooltip" data-placement="top">FOO</th>
                                    <th style="width: 80px;" title="Free ship Banjarmasin depo." data-toggle="tooltip" data-placement="top">FS</th>
                                    <th style="width: 80px;" title="Free arrived Banjarmasin depo." data-toggle="tooltip" data-placement="top">FA</th>
                                    <th style="width: 150px;" title="EO reserved Banjarmasin depo." data-toggle="tooltip" data-placement="top">EO RSVRD</th>
                                    <th style="width: 100px;" class="left-bordered-cell" title="Free on hand Palembang depo." data-toggle="tooltip" data-placement="top">FOH</th>
                                    <th style="width: 100px;" title="Free on order Palembang depo." data-toggle="tooltip" data-placement="top">FOO</th>
                                    <th style="width: 80px;" title="Free ship Palembang depo." data-toggle="tooltip" data-placement="top">FS</th>
                                    <th style="width: 80px;" title="Free arrived Palembang depo." data-toggle="tooltip" data-placement="top">FA</th>
                                    <th style="width: 150px;" title="EO reserved Palembang depo." data-toggle="tooltip" data-placement="top">EO RSVRD</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="baseUrl" value="@ViewBag.baseUrl" />

<!-- Modal Import -->
@using (Html.BeginForm("UploadPartNumber", "InquiryStock", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-upload-pn">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload PN</h4>
                </div>
                <div class="modal-body" id="frmUploadPN">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a id="btn-submit-pn" class="btn btn-primary btn-flat pull-right"> Upload </a>
                    <a href="/InquiryStock/DownloadExcel" class="btn btn-primary btn-flat pull-right" style="margin-right: 10px;">Download Excel Format</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            $('#searchByPNumber').on('change', function () {
                var len = $(this).tagsinput('items').length;
                if (len > 0) {
                    var $input = $($(this).prev().children('input').get(0));
                    $input.attr('placeholder', '');
                } else {
                    var $input = $($(this).prev().children('input').get(0));
                    $input.attr('placeholder', $(this).attr('placeholder'));
                }
            });

            function paddingTop(value) {
                $('.dataTables_scrollBody').css({ "padding-top": value });
            }

            function visibleFoh(status) {
                var indexCol = 10;
                for (var i = 0; i < 4; i++) {
                    var column = dataTable.column(indexCol);
                    column.visible(status);
                    indexCol += 5;
                }
            }

            function visibleFoo(status) {
                var indexCol = 11;
                for (var i = 0; i < 4; i++) {
                    var column = dataTable.column(indexCol);
                    column.visible(status);
                    indexCol += 5;
                }
            }

            function visibleFs(status) {
                var indexCol = 12;
                for (var i = 0; i < 4; i++) {
                    var column = dataTable.column(indexCol);
                    column.visible(status);
                    indexCol += 5;
                }
            }

            function visibleFa(status) {
                var indexCol = 13;
                for (var i = 0; i < 4; i++) {
                    var column = dataTable.column(indexCol);
                    column.visible(status);
                    indexCol += 5;
                }
            }

            function visibleEo(status) {
                var indexCol = 14;
                for (var i = 0; i < 4; i++) {
                    var column = dataTable.column(indexCol);
                    column.visible(status);
                    indexCol += 5;
                }
            }

            function visibleTotalNotAll() {
                var count = $("input[name='filterStockPoint[]']:checked").length;

                var foh = $('#toggleColumnFoh').prop("checked");
                var foo = $('#toggleColumnFoo').prop("checked");
                var fs = $('#toggleColumnFS').prop("checked");
                var fa = $('#toggleColumnFA').prop("checked");
                var eo = $('#toggleColumnEO').prop("checked");

                var FohTotal = dataTable.column($('#toggleColumnFoh').attr('data-column'));
                var FooTotal = dataTable.column($('#toggleColumnFoo').attr('data-column'));
                var FsTotal = dataTable.column($('#toggleColumnFS').attr('data-column'));
                var FaTotal = dataTable.column($('#toggleColumnFA').attr('data-column'));
                var EoTotal = dataTable.column($('#toggleColumnEO').attr('data-column'));

                if (count == 0) {
                    if (foh == true) {
                        FohTotal.visible(true);
                    } else {
                        FohTotal.visible(false);
                    }
                    if (foo == true) {
                        FooTotal.visible(true);
                    } else {
                        FooTotal.visible(false);
                    }
                    if (fs == true) {
                        FsTotal.visible(true);
                    } else {
                        FsTotal.visible(false);
                    }
                    if (fa == true) {
                        FaTotal.visible(true);
                    } else {
                        FaTotal.visible(false);
                    }
                    if (eo == true) {
                        EoTotal.visible(true);
                    } else {
                        EoTotal.visible(false);
                    }
                }
            }

            function visibleTotal(status) {
                var FohTotal = dataTable.column($('#toggleColumnFoh').attr('data-column'));
                var FooTotal = dataTable.column($('#toggleColumnFoo').attr('data-column'));
                var FsTotal = dataTable.column($('#toggleColumnFS').attr('data-column'));
                var FaTotal = dataTable.column($('#toggleColumnFA').attr('data-column'));
                var EoTotal = dataTable.column($('#toggleColumnEO').attr('data-column'));

                FohTotal.visible(status);
                FooTotal.visible(status);
                FsTotal.visible(status);
                FaTotal.visible(status);
                EoTotal.visible(status);
            }

            $('[data-toggle="tooltip"]').tooltip({
                boundary: "window",
                container: "body"
            });

            var dataTable = $('#inquiry-stock-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "searching": false,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/InquiryStock/List",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (data) {
                        var searchByPNumber = $('#searchByPNumber').val();

                        data.searchByPNumber = searchByPNumber;
                    }
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
                        "visible": false
                    },
                    {
                        "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
                        "className": 'text-center bold-content'
                    }
                ],
                "order": [[0, "asc"]],
                "columns": [
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "PART_NUMBER", "name": "PART_NUMBER", "autoWidth": true },
                    { "data": "PART_NAME", "name": "PART_NAME", "autoWidth": true },
                    { "data": "ITC_PART_NUMBER", "name": "ITC_PART_NUMBER", "autoWidth": true },
                    { "data": "ITC_CODE", "name": "ITC_CODE", "autoWidth": true },
                    { "data": "FOH_TOTAL", "name": "FOH_TOTAL", "autoWidth": true },
                    { "data": "FOO_TOTAL", "name": "FOO_TOTAL", "autoWidth": true },
                    { "data": "FS_TOTAL", "name": "FS_TOTAL", "autoWidth": true },
                    { "data": "FA_TOTAL", "name": "FA_TOTAL", "autoWidth": true },
                    { "data": "EORSVDP_TOTAL", "name": "EORSVDP_TOTAL", "autoWidth": true },
                    { "data": "FOH_JKT", "name": "FOH_JKT", "autoWidth": true },
                    { "data": "FOO_JKT", "name": "FOO_JKT", "autoWidth": true },
                    { "data": "FS_JKT", "name": "FS_JKT", "autoWidth": true },
                    { "data": "FA_JKT", "name": "FA_JKT", "autoWidth": true },
                    { "data": "EORSVDP_JKT", "name": "EORSVDP_JKT", "autoWidth": true },
                    { "data": "FOH_BPN", "name": "FOH_BPN", "autoWidth": true },
                    { "data": "FOO_BPN", "name": "FOO_BPN", "autoWidth": true },
                    { "data": "FS_BPN", "name": "FS_BPN", "autoWidth": true },
                    { "data": "FA_BPN", "name": "FA_BPN", "autoWidth": true },
                    { "data": "EORSVDP_BPN", "name": "EORSVDP_BPN", "autoWidth": true },
                    { "data": "FOH_PLB", "name": "FOH_PLB", "autoWidth": true },
                    { "data": "FOO_PLB", "name": "FOO_PLB", "autoWidth": true },
                    { "data": "FS_PLB", "name": "FS_PLB", "autoWidth": true },
                    { "data": "FA_PLB", "name": "FA_PLB", "autoWidth": true },
                    { "data": "EORSVDP_PLB", "name": "EORSVDP_PLB", "autoWidth": true },
                    { "data": "FOH_BJM", "name": "FOH_BJM", "autoWidth": true },
                    { "data": "FOO_BJM", "name": "FOO_BJM", "autoWidth": true },
                    { "data": "FS_BJM", "name": "FS_BJM", "autoWidth": true },
                    { "data": "FA_BJM", "name": "FA_BJM", "autoWidth": true },
                    { "data": "EORSVDP_BJM", "name": "EORSVDP_BJM", "autoWidth": true },
                ],
                "initComplete": function (settings) {
                    $('.dataTables_scrollBody').on('scroll', function () {
                        $('.dataTables_scrollHeadInner').scrollLeft($(this).scrollLeft());
                    });

                    $(document).on('scroll', function () {

                        var scroll_pos = $(this).scrollTop();
                        var margin = $('.dataTables_scrollHead').offset().top; // Adjust it to your needs
                        var cur_pos = $('.dataTables_scrollHeadInner').position();
                        var header_pos = cur_pos.top;

                        if (scroll_pos < margin)
                            var header_pos = margin - scroll_pos;
                        else
                            header_pos = 0;

                        $('.dataTables_scrollHeadInner').css({ "top": header_pos });
                    });

                    $('#inquiry-stock-dt thead th').each(function () {
                        var $td = $(this);
                        $td.attr('title', $td.attr('title'));
                    });

                    /* Apply the tooltips */
                    $('#inquiry-stock-dt thead th[title]').tooltip({
                        "container": 'body'
                    });
                }
            });
            dataTable.$('thead tr th').tooltip({
                "delay": 0,
                "track": true,
                "fade": 250
            });

            $('#searchByPNumber').keyup(function () {
                dataTable.draw();
            });

            $('.toggleColumn:checkbox').change(function (e) {
                e.preventDefault();

                var allStat = $('#toggleAll').prop("checked");
                var jkt = $('#toggleJkt').prop("checked");
                var bpn = $('#toggleBpn').prop("checked");
                var bjm = $('#toggleBjm').prop("checked");
                var plb = $('#togglePlb').prop("checked");

                var column = dataTable.column($(this).attr('data-column'));
                var stat = $(this).prop("checked");
                var value = $(this).val();
                switch (value) {
                    case "PART_NUMBER":
                        if (stat == true) {
                            column.visible(true);
                        } else {
                            column.visible(false);
                        }
                        break;

                    case "PART_NAME":
                        if (stat == true) {
                            column.visible(true);
                        } else {
                            column.visible(false);
                        }
                        break;

                    case "LATEST":
                        if (stat == true) {
                            column.visible(true);
                        } else {
                            column.visible(false);
                        }
                        break;

                    case "ITC":
                        if (stat == true) {
                            column.visible(true);
                        } else {
                            column.visible(false);
                        }
                        break;

                    case "FOH":
                        var JktColumn = dataTable.column(10);
                        var BpnColumn = dataTable.column(15);
                        var BjmColumn = dataTable.column(20);
                        var PlbColumn = dataTable.column(25);

                        column.visible(false);
                        visibleTotalNotAll();
                        if (stat == true) {
                            if (jkt == true) {
                                JktColumn.visible(true);
                            } else {
                                JktColumn.visible(false);
                            }
                            if (bpn == true) {
                                BpnColumn.visible(true);
                            } else {
                                BpnColumn.visible(false);
                            }
                            if (bjm == true) {
                                BjmColumn.visible(true);
                            } else {
                                BjmColumn.visible(false);
                            }
                            if (plb == true) {
                                PlbColumn.visible(true);
                            } else {
                                PlbColumn.visible(false);
                            }
                        } else {
                            column.visible(false);
                            visibleFoh(false);
                        }
                        break;

                    case "FOO":
                        var JktColumn = dataTable.column(11);
                        var BpnColumn = dataTable.column(16);
                        var BjmColumn = dataTable.column(21);
                        var PlbColumn = dataTable.column(26);

                        column.visible(false);
                        visibleTotalNotAll();
                        if (stat == true) {
                            if (jkt == true) {
                                JktColumn.visible(true);
                            } else {
                                JktColumn.visible(false);
                            }
                            if (bpn == true) {
                                BpnColumn.visible(true);
                            } else {
                                BpnColumn.visible(false);
                            }
                            if (bjm == true) {
                                BjmColumn.visible(true);
                            } else {
                                BjmColumn.visible(false);
                            }
                            if (plb == true) {
                                PlbColumn.visible(true);
                            } else {
                                PlbColumn.visible(false);
                            }
                        } else {
                            column.visible(false);
                            visibleFoo(false);
                        }
                        break;

                    case "FS":
                        var JktColumn = dataTable.column(12);
                        var BpnColumn = dataTable.column(17);
                        var BjmColumn = dataTable.column(22);
                        var PlbColumn = dataTable.column(27);

                        column.visible(false);
                        visibleTotalNotAll();
                        if (stat == true) {
                            if (jkt == true) {
                                JktColumn.visible(true);
                            } else {
                                JktColumn.visible(false);
                            }
                            if (bpn == true) {
                                BpnColumn.visible(true);
                            } else {
                                BpnColumn.visible(false);
                            }
                            if (bjm == true) {
                                BjmColumn.visible(true);
                            } else {
                                BjmColumn.visible(false);
                            }
                            if (plb == true) {
                                PlbColumn.visible(true);
                            } else {
                                PlbColumn.visible(false);
                            }
                        } else {
                            column.visible(false);
                            visibleFs(false);
                        }
                        break;

                    case "FA":
                        var JktColumn = dataTable.column(13);
                        var BpnColumn = dataTable.column(18);
                        var BjmColumn = dataTable.column(23);
                        var PlbColumn = dataTable.column(28);

                        column.visible(false);
                        visibleTotalNotAll();
                        if (stat == true) {
                            if (jkt == true) {
                                JktColumn.visible(true);
                            } else {
                                JktColumn.visible(false);
                            }
                            if (bpn == true) {
                                BpnColumn.visible(true);
                            } else {
                                BpnColumn.visible(false);
                            }
                            if (bjm == true) {
                                BjmColumn.visible(true);
                            } else {
                                BjmColumn.visible(false);
                            }
                            if (plb == true) {
                                PlbColumn.visible(true);
                            } else {
                                PlbColumn.visible(false);
                            }
                        } else {
                            column.visible(false);
                            visibleFa(false);
                        }
                        break;

                    case "EORSVDP":
                        var JktColumn = dataTable.column(14);
                        var BpnColumn = dataTable.column(19);
                        var BjmColumn = dataTable.column(24);
                        var PlbColumn = dataTable.column(29);

                        column.visible(false);
                        visibleTotalNotAll();
                        if (stat == true) {
                            if (jkt == true) {
                                JktColumn.visible(true);
                            } else {
                                JktColumn.visible(false);
                            }
                            if (bpn == true) {
                                BpnColumn.visible(true);
                            } else {
                                BpnColumn.visible(false);
                            }
                            if (bjm == true) {
                                BjmColumn.visible(true);
                            } else {
                                BjmColumn.visible(false);
                            }
                            if (plb == true) {
                                PlbColumn.visible(true);
                            } else {
                                PlbColumn.visible(false);
                            }
                        } else {
                            column.visible(false);
                            visibleEo(false);
                        }
                        break;
                }
            });

            $('.toggleFilter:checkbox').change(function (e) {
                e.preventDefault();

                var foh = $('#toggleColumnFoh').prop("checked");
                var foo = $('#toggleColumnFoo').prop("checked");
                var fs = $('#toggleColumnFS').prop("checked");
                var fa = $('#toggleColumnFA').prop("checked");
                var eo = $('#toggleColumnEO').prop("checked");

                var allStat = $('#toggleAll').prop("checked");
                var stat = $(this).prop("checked");
                var value = $(this).val();
                switch (value) {
                    case "JKT":
                        visibleTotal(false);

                        var indexCol = 10;
                        var FohColumn = dataTable.column(10);
                        var FooColumn = dataTable.column(11);
                        var FsColumn = dataTable.column(12);
                        var FaColumn = dataTable.column(13);
                        var EoColumn = dataTable.column(14);

                        if (stat == true) {
                            $('th.stock-point').css({ "border-left": "1px solid #ccc;" });
                            paddingTop(75);
                            if (foh == true) {
                                FohColumn.visible(true);
                            } else {
                                FohColumn.visible(false);
                            }
                            if (foo == true) {
                                FooColumn.visible(true);
                            } else {
                                FooColumn.visible(false);
                            }
                            if (fs == true) {
                                FsColumn.visible(true);
                            } else {
                                FsColumn.visible(false);
                            }
                            if (fa == true) {
                                FaColumn.visible(true);
                            } else {
                                FaColumn.visible(false);
                            }
                            if (eo == true) {
                                EoColumn.visible(true);
                            } else {
                                EoColumn.visible(false);
                            }
                        } else {
                            paddingTop(40);
                            for (var i = 0; i < 5; i++) {
                                var column = dataTable.column(indexCol);
                                column.visible(false);
                                indexCol++;
                            }
                        }
                        visibleTotalNotAll();
                        break;

                    case "BPN":
                        visibleTotal(false);

                        var indexCol = 15;
                        var FohColumn = dataTable.column(15);
                        var FooColumn = dataTable.column(16);
                        var FsColumn = dataTable.column(17);
                        var FaColumn = dataTable.column(18);
                        var EoColumn = dataTable.column(19);

                        if (stat == true) {
                            $('#inquiry-stock-dt thead tr th.stock-point:nth-child(2)').css({ "border-left": "1px solid #ccc;" });
                            paddingTop(75);
                            if (foh == true) {
                                FohColumn.visible(true);
                            } else {
                                FohColumn.visible(false);
                            }
                            if (foo == true) {
                                FooColumn.visible(true);
                            } else {
                                FooColumn.visible(false);
                            }
                            if (fs == true) {
                                FsColumn.visible(true);
                            } else {
                                FsColumn.visible(false);
                            }
                            if (fa == true) {
                                FaColumn.visible(true);
                            } else {
                                FaColumn.visible(false);
                            }
                            if (eo == true) {
                                EoColumn.visible(true);
                            } else {
                                EoColumn.visible(false);
                            }
                        } else {
                            paddingTop(40);
                            for (var i = 0; i < 5; i++) {
                                var column = dataTable.column(indexCol);
                                column.visible(false);
                                indexCol++;
                            }
                        }
                        visibleTotalNotAll();
                        break;

                    case "BJM":
                        visibleTotal(false);

                        var indexCol = 20;
                        var FohColumn = dataTable.column(20);
                        var FooColumn = dataTable.column(21);
                        var FsColumn = dataTable.column(22);
                        var FaColumn = dataTable.column(23);
                        var EoColumn = dataTable.column(24);

                        if (stat == true) {
                            $('#inquiry-stock-dt thead tr th.stock-point:nth-child(3)').css({ "border-left": "1px solid #ccc;" });
                            paddingTop(75);
                            if (foh == true) {
                                FohColumn.visible(true);
                            } else {
                                FohColumn.visible(false);
                            }
                            if (foo == true) {
                                FooColumn.visible(true);
                            } else {
                                FooColumn.visible(false);
                            }
                            if (fs == true) {
                                FsColumn.visible(true);
                            } else {
                                FsColumn.visible(false);
                            }
                            if (fa == true) {
                                FaColumn.visible(true);
                            } else {
                                FaColumn.visible(false);
                            }
                            if (eo == true) {
                                EoColumn.visible(true);
                            } else {
                                EoColumn.visible(false);
                            }
                        } else {
                            paddingTop(40);
                            for (var i = 0; i < 5; i++) {
                                var column = dataTable.column(indexCol);
                                column.visible(false);
                                indexCol++;
                            }
                        }
                        visibleTotalNotAll();
                        break;

                    case "PLB":
                        visibleTotal(false);

                        var indexCol = 25;
                        var FohColumn = dataTable.column(25);
                        var FooColumn = dataTable.column(26);
                        var FsColumn = dataTable.column(27);
                        var FaColumn = dataTable.column(28);
                        var EoColumn = dataTable.column(29);

                        if (stat == true) {
                            $('#inquiry-stock-dt thead tr th.stock-point:nth-child(4)').css({ "border-left": "1px solid #ccc;" });
                            $('#inquiry-stock-dt thead tr th.stock-point:nth-child(4)').css({ "border-right": "1px solid #ccc;" });
                            paddingTop(75);
                            if (foh == true) {
                                FohColumn.visible(true);
                            } else {
                                FohColumn.visible(false);
                            }
                            if (foo == true) {
                                FooColumn.visible(true);
                            } else {
                                FooColumn.visible(false);
                            }
                            if (fs == true) {
                                FsColumn.visible(true);
                            } else {
                                FsColumn.visible(false);
                            }
                            if (fa == true) {
                                FaColumn.visible(true);
                            } else {
                                FaColumn.visible(false);
                            }
                            if (eo == true) {
                                EoColumn.visible(true);
                            } else {
                                EoColumn.visible(false);
                            }
                        } else {
                            paddingTop(40);
                            for (var i = 0; i < 5; i++) {
                                var column = dataTable.column(indexCol);
                                column.visible(false);
                                indexCol++;
                            }
                        }
                        visibleTotalNotAll();
                        break;
                }
            });

            $('#toggleAll').change(function (e) {
                e.preventDefault();
                var allStat = $(this).prop("checked");
                if (allStat == true) {
                    paddingTop(75);
                    $('#toggleJkt').attr("disabled", true);
                    $('#toggleJkt').prop("checked", true);
                    $('#toggleJkt').trigger("change");

                    $('#toggleBpn').attr("disabled", true);
                    $('#toggleBpn').prop("checked", true);
                    $('#toggleBpn').trigger("change");

                    $('#toggleBjm').attr("disabled", true);
                    $('#toggleBjm').prop("checked", true);
                    $('#toggleBjm').trigger("change");

                    $('#togglePlb').attr("disabled", true);
                    $('#togglePlb').prop("checked", true);
                    $('#togglePlb').trigger("change");
                } else {
                    paddingTop(40);
                    $('#toggleJkt').removeAttr("disabled");
                    $('#toggleBpn').removeAttr("disabled");
                    $('#toggleBjm').removeAttr("disabled");
                    $('#togglePlb').removeAttr("disabled");
                }
            });

            $('#btn-upload-pn').on('click', function () {
                $('#modal-upload-pn #frmUploadPN input').attr('multiple', false);
                $('#modal-upload-pn #frmUploadPN input').attr('accept', ".xlsx,.xls");
                $('#modal-upload-pn').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#btn-submit-pn').on('click', function (e) {
                e.preventDefault();

                var form = $('#frmUploadPN').closest('form');
                var url = $('#baseUrl').val() + form.attr('action');
                var fileUpload = $('#uploadFiles').get(0);
                var files = fileUpload.files;

                var formData = new FormData();

                for (i = 0; i < files.length; i++) {
                    console.log('(files[i].name:' + files[i].name);
                    formData.append('file', files[i]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var response = JSON.parse(data);
                        if (response.status) {
                            $('#searchByPNumber').tagsinput('add', response.data);
                            $('#modal-upload-pn').modal('hide');
                        }
                    }
                });
            });

            $('#btn-filter-pn').on('click', function (e) {
                e.preventDefault();

                dataTable.draw();
            });

            $('#btn-save-xls').on('click', function (e) {
                e.preventDefault();
                var partnumber = $('#searchByPNumber').val();

                var columns = $('[name="columnSelect[]"]:checked').map(function () {
                    return this.value;
                }).get();

                var columnQty = $('[name="columnQtySelect[]"]:checked').map(function () {
                    return this.value;
                }).get();

                var filter = $('[name="filterStockPoint[]"]:checked').map(function () {
                    return this.value;
                }).get();

                if (partnumber == "") {
                    customAlert("Filter Part Number harus diisi!");
                    return;
                }

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/InquiryStock/GenerateXls",
                    dataType: "JSON",
                    data: {
                        columns: columns,
                        columnQty: columnQty,
                        filter: filter,
                        partnumber: partnumber
                    },
                    success: function (data) {
                        window.location = '/InquiryStock/DownloadXls?fileGuid=' + data.FileGuid
                            + '&fileName=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-save-pdf').on('click', function (e) {
                e.preventDefault();
                var partnumber = $('#searchByPNumber').val();

                var columns = $('[name="columnSelect[]"]:checked').map(function () {
                    return this.value;
                }).get();

                var columnQty = $('[name="columnQtySelect[]"]:checked').map(function () {
                    return this.value;
                }).get();

                var filter = $('[name="filterStockPoint[]"]:checked').map(function () {
                    return this.value;
                }).get();

                if (partnumber == "") {
                    customAlert("Filter Part Number harus diisi!");
                    return;
                }

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/InquiryStock/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        columns: columns,
                        columnQty: columnQty,
                        filter: filter,
                        partnumber: partnumber
                    },
                    success: function (data) {
                        window.location = '/InquiryStock/DownloadPdf?fileGuid=' + data.FileGuid
                            + '&fileName=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
            

            //$("#toggleColumnEoRsvDp").click();
            //$("#toggleColumnEoRsv").click();

        });
    </script>
}