﻿@model KMSIPartsPortal_System.Models.OutgoingPurchas
@{
    ViewBag.Title = "Purchase Order Document";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Purchase", "Outgoing")" class="btn btn-sm btn-flat bg-navy">Back</a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table id="po-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseDate)</th>
                            <th>@Html.DisplayNameFor(model => model.SupplierNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.SupplierName)</th>
                            <th>@Html.DisplayNameFor(model => model.ItemNumber)</th>
                            <th>Part Number</th>
                            <th>@Html.DisplayNameFor(model => model.OrgPartNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.PartName)</th>
                            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
                            <th>@Html.DisplayNameFor(model => model.AmountIDR)</th>
                            <th>@Html.DisplayNameFor(model => model.AcknowledgeBy)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
            @if (ViewBag.status == 0)
            {
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <a id="btn-download-excel" href="javascript:void(0)" class="btn btn-md btn-flat btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#po-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/OutPurchase/DetailList",
                    "data": { param: "@ViewBag.poNumber" },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center',
                    },
                    {
                        "targets": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                        "className": 'text-center'
                    }
                ],
                "order": [[5, "asc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber", "autoWidth": true },
                    { "data": "PurchaseDate", "name": "PurchaseDate", "autoWidth": true },
                    { "data": "SupplierNumber", "name": "SupplierNumber", "autoWidth": true },
                    { "data": "SupplierName", "name": "SupplierName", "autoWidth": true },
                    { "data": "ItemNumber", "name": "ItemNumber", "autoWidth": true },
                    { "data": "PartNumber", "name": "PartNumber", "autoWidth": true },
                    { "data": "OrgPartNumber", "name": "OrgPartNumber", "autoWidth": true },
                    { "data": "PartName", "name": "PartName", "autoWidth": true },
                    { "data": "Quantity", "name": "Quantity", "autoWidth": true },
                    { "data": "UnitPrice", "name": "UnitPrice", "autoWidth": true },
                    { "data": "AmountIDR", "name": "AmountIDR", "autoWidth": true },
                    { "data": "AcknowledgeBy", "name": "AcknowledgeBy", "autoWidth": true }
                ]
            });

            $('#btn-download-excel').click(function () {
                var poNumber = "@ViewBag.poNumber";
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/OutPurchase/GenerateExcel",
                    dataType: "JSON",
                    data: {
                        poNumber: poNumber
                    },
                    success: function (data) {
                        window.location = '/OutPurchase/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>
}