﻿@model KMSIPartsPortal_System.Models.IncomingList
@{
    ViewBag.Title = "Incoming Raw Material List";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Purchase", "Incoming")" class="btn btn-sm btn-flat bg-navy">Back</a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table id="incoming-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.DONO)</th>
                            <th>Delivery Date</th>
                            <th>C/NO</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseNumber)</th>
                            <th>Part Number</th>
                            <th>Part Name</th>
                            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                            <th>@Html.DisplayNameFor(model => model.Unit)</th>
                            <th>Created By</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        function formatNumber(n) {
            console.log("sudah format")
            var result = "0";
            if (n != null) {
                n = n.toString();
                result = n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }
            return result;
        }

        $(document).ready(function () {
            $('#incoming-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Packing/DetailList",
                    "data": { param: "@ViewBag.poNumber", paramType: "@ViewBag.paramType" },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center',
                    },
                    {
                        "targets": [1, 2, 3, 4, 5, 6, 7, 8, 9],
                        "className": 'text-center'
                    }
                ],
                "order": [[1, "asc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "DONO", "name": "DONO", "autoWidth": true },
                    { "data": "DeliveryDate", "name": "DeliveryDate", "autoWidth": true },
                    { "data": "CNO", "name": "CNO", "autoWidth": true },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber", "autoWidth": true },
                    { "data": "PartNumber", "name": "PartNumber", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    {
                        "data": "Quantity", "name": "Quantity", "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            var result = "0";
                            if (data != null) {
                                result = formatNumber(data);
                            }
                            return result;
                        }
                    },
                    { "data": "Unit", "name": "Unit", "autoWidth": true },
                    { "data": "IssuedBy", "name": "IssuedBy", "autoWidth": true }
                ]
            });
        });
    </script>
}