﻿@model KMSIPartsPortal_System.Models.Supplier

@{
    ViewBag.Title = "Supplier Profile Page";
}
<div class="row">
    <div class="col-md-6" align="left">
        @if (Convert.ToInt32(Session["SupplierId"]) == 0)
        {
            <a href="@Url.Action("Edit", "Suppliers", new { id = Model.SupplierId })" class="btn btn-sm btn-flat btn-success">Edit Profile</a>
        }
        @if (Model.LastUpdTime == null || Model.LastUser == null || Convert.ToInt32(Session["SupplierId"]) == 0)
        {
            <a id="btn-import-supplier" href="javascript:void(0)" class="btn btn-sm bg-purple btn-flat"><i class="fa fa-upload"></i> UPLOAD</a>
        }
    </div>
    <div class="col-md-6" align="right">
        @if (Convert.ToInt32(Session["SupplierId"]) != 0)
        {
            <a href="@Url.Action("Supplier", "Dashboard")" class="btn btn-sm btn-flat bg-navy">Back To Home</a>
        }
        else
        {
            <a href="@Url.Action("Index", "Suppliers")" class="btn btn-sm btn-flat bg-navy">Back To Supplier List</a>
        }
    </div>
</div>
<br />
<div class="row">
    @using (Html.BeginForm("UploadImg", "Suppliers", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SupplierId)
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">General Informations</h3>
            </div>
            <div class="box-body">
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <img src="@(Model.SupplierLogo != null ? "/Content/img/supplier/" + Model.SupplierLogo : "/Content/img/icon.png")" width="256" />
                        @if (Model.SupplierLogo == null || Convert.ToInt32(Session["SupplierId"]) == 0)
                        {
                            @Html.TextBoxFor(model => model.logoUpload, new { @class = "form-control", type = "file", accept = "image/*" })
                        }
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label class="control-label col-md-3" style="text-align: left;">Company Name</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Addr, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Addr, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.MailAddr, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.MailAddr, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.eMail, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.eMail, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Established, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Established, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactPhone, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactEmail, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                @if (Model.SupplierLogo == null || Convert.ToInt32(Session["SupplierId"]) == 0)
                {
                    <button type="submit" class="btn btn-sm btn-flat bg-navy">UPDATE LOGO</button>
                }
            </div>
        </div>
    }
</div>
<div class="row">
    @using (Html.BeginForm())
    {
    <div class="form-horizontal">
        <div class="box box-solid box-warning">
            <div class="box-header">
                <h3 class="box-title">Transaction Informations</h3>
            </div>
            <div class="box-body">
                <div class="col-lg-12">
                    <h3 class="box-title">Bank Information</h3>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Currency, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BankAddr, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.BankAddr, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <h3 class="box-title">Type Of Transaction</h3>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TransactionType, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.TransactionType, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <h3 class="box-title">Term Of Payment</h3>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PayTerm, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PayTerm, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <h3 class="box-title">Legal Information</h3>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MemoOfAssoc, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.MemoOfAssoc, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MemoOfAssocLatest, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.MemoOfAssocLatest, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BusinessPermit, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.BusinessPermit, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LetterOfDomicile, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LetterOfDomicile, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompRegCert, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.CompRegCert, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AgreeWithKmsi, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.AgreeWithKmsi, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <h3 class="box-title">Taxation</h3>
                    <div class="form-group">
                        <label class="control-label col-md-3" style="text-align: left;">Company Name (SPPKP)</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TaxID, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.TaxID, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" style="text-align: left;">Company Address (SPPKP)</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Addr, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TaxObjNumber, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.TaxObjNumber, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SertKlasifikasiUsaha, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SertKlasifikasiUsaha, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SKBebasPotongan, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKBebasPotongan, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
<div class="row">
    @using (Html.BeginForm("UploadDocs", "Suppliers", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SupplierId)
        <div class="box box-solid box-success">
            <div class="box-header">
                <h3 class="box-title">Document Upload Informations</h3>
            </div>
            <div class="box-body">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(model => model.fileOfCompanyProfile, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                            @if (Model.fileOfCompanyProfile != null)
                            {
                                <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfCompanyProfile" target="_blank">View Document</a></label>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.fileUpload1, new { @class = "form-control", type = "file", accept = ".pdf" })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(model => model.fileOfCompanyOrganization, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                            @if (Model.fileOfCompanyOrganization != null)
                            {
                                <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfCompanyOrganization" target="_blank">View Document</a></label>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.fileUpload2, new { @class = "form-control", type = "file" })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(model => model.fileOfAktaPendirian, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                            @if (Model.fileOfAktaPendirian != null)
                            {
                                <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfAktaPendirian" target="_blank">View Document</a></label>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.fileUpload3, new { @class = "form-control", type = "file" })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(model => model.fileOfBankConfirmation, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                            @if (Model.fileOfBankConfirmation != null)
                            {
                                <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfBankConfirmation" target="_blank">View Document</a></label>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.fileUpload4, new { @class = "form-control", type = "file" })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(model => model.fileOfBusinessPermit, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                            @if (Model.fileOfBusinessPermit != null)
                            {
                                <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfBusinessPermit" target="_blank">View Document</a></label>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.fileUpload5, new { @class = "form-control", type = "file" })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(model => model.fileOfDomicile, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                            @if (Model.fileOfDomicile != null)
                            {
                                <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfDomicile" target="_blank">View Document</a></label>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.fileUpload6, new { @class = "form-control", type = "file" })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(model => model.fileOfTaxID, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                            @if (Model.fileOfTaxID != null)
                            {
                                <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfTaxID" target="_blank">View Document</a></label>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.fileUpload7, new { @class = "form-control", type = "file" })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(model => model.fileOfTaxableConfirmation, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                            @if (Model.fileOfTaxableConfirmation != null)
                            {
                                <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfTaxableConfirmation" target="_blank">View Document</a></label>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.fileUpload8, new { @class = "form-control", type = "file" })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(model => model.fileOfSKTerdaftar, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                            @if (Model.fileOfSKTerdaftar != null)
                            {
                                <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfSKTerdaftar" target="_blank">View Document</a></label>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.fileUpload9, new { @class = "form-control", type = "file" })
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.fileOfStatTaxableEnterprise, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                        @if (Model.fileOfStatTaxableEnterprise != null)
                        {
                            <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfStatTaxableEnterprise" target="_blank">View Document</a></label>
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.fileUpload10, new { @class = "form-control", type = "file" })
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.fileOfNonNPWP, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                        @if (Model.fileOfNonNPWP != null)
                        {
                            <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfNonNPWP" target="_blank">View Document</a></label>
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.fileUpload11, new { @class = "form-control", type = "file" })
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.fileOfNonTaxable, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                        @if (Model.fileOfNonTaxable != null)
                        {
                            <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfNonTaxable" target="_blank">View Document</a></label>
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.fileUpload12, new { @class = "form-control", type = "file" })
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.fileOfSKUKontsruksi, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                        @if (Model.fileOfBankConfirmation != null)
                        {
                            <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfSKUKontsruksi" target="_blank">View Document</a></label>
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.fileUpload13, new { @class = "form-control", type = "file" })
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.fileOfBebasPotonganPajak, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                        @if (Model.fileOfBusinessPermit != null)
                        {
                            <label class="control-label"><a href="~/Uploads/Supplier/@Model.fileOfBebasPotonganPajak" target="_blank">View Document</a></label>
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.fileUpload14, new { @class = "form-control", type = "file" })
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.scanOfDataForm, htmlAttributes: new { @class = "control-label", @style = "text-align: left;" })
                        @if (Model.scanOfDataForm != null)
                        {
                            <label class="control-label"><a href="~/Uploads/Supplier/@Model.scanOfDataForm" target="_blank">View Document</a></label>
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.fileUpload15, new { @class = "form-control", type = "file" })
                        }
                    </div>
                </div>
            </div>
            <div class="box-footer">
                @if (Convert.ToInt32(Session["SupplierId"]) != 0)
                {
                    <a href="@Url.Action("ProSupplier", "Dashboard")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Suppliers")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                }
                <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT DOCS</button>
            </div>
        </div>
    }
</div>

<!-- Modal Import -->
@using (Html.BeginForm("UploadExcel", "Suppliers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload Supplier Form</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.SupplierId, new { @Value = Model.SupplierId })
                    <div class="form-group">
                        @Html.LabelFor(model => model.fileUpload)
                        @Html.TextBoxFor(model => model.fileUpload, new { @type = "file", id = "uploadFiles" })
                        @Html.ValidationMessageFor(model => model.fileUpload)
                    </div>
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/Suppliers/DownloadExcel/" class="btn btn-flat btn-success">Download Template</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn-import-supplier').on('click', function () {
                $('#modal-import').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        });
    </script>
}