﻿@model KMSIPartsPortal_System.Models.Supplier

@{
    ViewBag.Title = "Company Profile";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <a id="btn-new-supplier" href="@Url.Action("Create", "Suppliers")" class="btn btn-sm btn-success btn-flat">Create New Supplier</a>
                    </div>
                </div>
                <br />
                <table id="supplier-dt" class="table table-bordered table-striped BoldBorder" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.SupplierCode)</th>
                            <th>@Html.DisplayNameFor(model => model.SupplierName)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#supplier-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/Suppliers/List",
                    "type": "POST",
                    "datatype": "json"
                },
                "order": [[1, 'asc']],
                "columns": [
                    { "data": "SupplierCode", "name": "SupplierCode" },
                    { "data": "SupplierName", "name": "SupplierName" },
                    {
                        "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            if (full != null) {
                                return '<a class="btn btn-xs btn-info btn-flat" href="/Suppliers/Details/' + full.SupplierId + '">Details</a>';
                            } else {
                                return '';
                            }
                        }
                    }
                ]
            });
        });
    </script>
}