﻿@using KMSIPartsPortal_System.Models
@model KMSIPartsPortal_System.Models.PurchaseInvoiceViewModel

@{
    ViewBag.Title = "Create Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<PurchaseInvoiceViewModel> purchaseDetails = (List<PurchaseInvoiceViewModel>)ViewBag.details;
    OutstandingPurchase purchaseOrder = (OutstandingPurchase)ViewBag.purchase;
    Supplier supplier = (Supplier)ViewBag.supplier;
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            @using (Html.BeginForm("Create", "Invoice", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="checkedItem" />
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseOrder.SUPPLIER_CODE, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseInvoice.SupplierCode, new { htmlAttributes = new { @class = "form-control disabled", @Value = (supplier != null) ? supplier.SupplierCode : "", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoice.SupplierName, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseInvoice.SupplierName, new { htmlAttributes = new { @class = "form-control disabled", @Value = (supplier != null) ? supplier.SupplierName : "", @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseOrder.PO_NUMBER, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseInvoice.PurchaseNumber, new { htmlAttributes = new { @class = "form-control disabled", @Value = purchaseOrder.PO_NUMBER.Trim(), @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoice.InvoiceDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseInvoice.InvoiceDate, new { htmlAttributes = new { @class = "form-control disabled", @Value = DateTime.Now.ToString("yyyy-MM-dd"), @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoice.InvoiceNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseInvoice.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoice.InvoiceDueDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <div class="input-group invoice-due-date date">
                                        @Html.EditorFor(model => model.PurchaseInvoice.InvoiceDueDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoice.Currency, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseInvoice.Currency, new { htmlAttributes = new { @class = "form-control", @Value = "IDR" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table id="invoice-form" class="table table-bordered table-striped" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.PartNumberKomatsu)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.ItemNumber)</th>
                                                <th>PO Quantity</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.ShipQty)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.UnitPrice)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.DeliveryOrder)</th>
                                                <th>Part Name</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.CountryOfOrigin)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{

                                                foreach (var item in purchaseDetails)
                                                {
                                                    int id = item.PurchaseDetailId;
                                            <tr>
                                                @{
                                                    var attr = (item.RequestQuantity == item.ShipQty) ? (object)new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } } : (object)new { htmlAttributes = new { @class = "form-control" } };
                                                }
                                                <td style="padding-top: 1%;"><input type="checkbox" name="checkedPurchaseDetailId" value="@item.PurchaseDetailId"></td>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.PartNumbersKomatsu[id], new { htmlAttributes = new { @class = "form-control disabled", @Value = item.PartNumber, @readonly = true } })</td>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.ItemNumbers[id], new { htmlAttributes = new { @class = "form-control disabled", @Value = item.ItemNumber, @readonly = true } })</td>
                                                <td>@Html.Editor("RequestQuantity["+id+"]", new { htmlAttributes = new { @class = "form-control disabled", @Value = item.RequestQuantity, @readonly = true } })</td>
                                                @{
                                                    var attributes = item.RequestQuantity == item.ShipQty ? (object)new { htmlAttributes = new { @class = "form-control disabled", @Value = item.RequestQuantity - item.ShipQty, @readonly = true } } : (object)new { htmlAttributes = new { @class = "form-control ship", @Value = (item.ShipQty != null) ? item.RequestQuantity - item.ShipQty : item.RequestQuantity, @dataMaxValue = (item.ShipQty != null) ? item.RequestQuantity - item.ShipQty : item.RequestQuantity } };
                                                }
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.ShipQties[id], attributes)</td>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.UnitPrices[id], new { htmlAttributes = new { @class = "form-control disabled", @Value = item.Price, @readonly = true } })</td>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.DeliveryOrders[id], attr)</td>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoice.Description, new { htmlAttributes = new { @class = "form-control disabled", @Value = item.Description, @readonly = true } })</td>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.CountryOfOrigins[id], attr)</td>
                                            </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoice.PrincipalAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.HiddenFor(model => model.PurchaseInvoice.PrincipalAmount, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                    <label id="principal-amount" class="control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoice.PrincipalTax, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.HiddenFor(model => model.PurchaseInvoice.PrincipalTax, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                    <label id="principal-tax" class="control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoice.TotalAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.HiddenFor(model => model.PurchaseInvoice.TotalAmount, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                    <label id="total-amount" class="control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.PurchaseInvoice.fileINV, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                <label class="control-label col-md-4">PDF Invoice and DO</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PurchaseInvoice.INVFile, new { @type = "file", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoice.fileFP, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PurchaseInvoice.FPFile, new { @type = "file", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer" align="right">
                    <a href="@Url.Action("Index", "PurchaseOrder")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                    <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.invoice-due-date').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd"
            });

            $('input[type="checkbox"], input[type="radio"]').iCheck({
                checkboxClass: "icheckbox_minimal-blue",
                radioClass: "iradio_minimal-blue"
            });

            $('#select-all').on('ifToggled', function () {
                if ($('#select-all').is(':checked')) {
                    $('input[name="checkedPurchaseDetailId"]').iCheck('check');
                } else {
                    $('input[name="checkedPurchaseDetailId"]').iCheck('uncheck');
                }
            });

            $('input[name="checkedPurchaseDetailId"]').on('ifChanged', function () {
                $('input[name="checkedItem"]').val('');
                var amount = 0;
                var ids = [];
                $.each($('input[name="checkedPurchaseDetailId"]:checked'), function () {
                    var unitPrice = $(this).closest('tr').find('td:eq(5)').children('input').val();
                    var shipQty = $(this).closest('tr').find('td:eq(4)').children('input').val();
                    amount += parseInt(unitPrice * shipQty);
                    ids.push($(this).val());
                });
                $('input[name="checkedItem"]').val(ids);
                var tax = 0.1 * amount;
                var total = amount + tax;

                $('#PurchaseInvoice_PrincipalAmount').val(amount);
                $('#principal-amount').text(moneyFormat(amount, "IDR "));
                $('#PurchaseInvoice_PrincipalTax').val(tax);
                $('#principal-tax').text(moneyFormat(tax, "IDR "));
                $('#PurchaseInvoice_TotalAmount').val(total);
                $('#total-amount').text(moneyFormat(total, "IDR "));
            });
        });
    </script>
}
