﻿@model KMSIPartsPortal_System.Models.PurchaseInvoiceViewModel

@{
    ViewBag.Title = "Edit Detail Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            @using (Html.BeginForm("DetailEdit", "Invoice", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoiceDetail.SupplierCode, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseInvoiceDetail.SupplierCode, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.details.SupplierCode, @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoiceDetail.SupplierName, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseInvoiceDetail.SupplierName, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.details.SupplierName, @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoiceDetail.PurchaseNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseInvoiceDetail.PurchaseNumber, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.details.PurchaseNumber, @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoiceDetail.InvoiceDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseInvoiceDetail.InvoiceDate, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.details.InvoiceDate.ToString("yyyy-MM-dd"), @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseInvoiceDetail.InvoiceNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseInvoiceDetail.InvoiceNumber, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.details.InvoiceNumber, @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table id="invoice-form" class="table table-bordered table-striped" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.PartNumberKomatsu)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.ItemNumber)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.ShipQty)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.UnitPrice)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.DeliveryOrder)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseInvoiceDetail.CountryOfOrigin)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.PartNumberKomatsu, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.details.PartNumberKomatsu } })</td>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.ItemNumber, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.details.ItemNumber } })</td>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.ShipQty, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.details.ShipQty } })</td>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.UnitPrice, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.details.UnitPrice } })</td>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.DeliveryOrder, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.details.DeliveryOrder } })</td>
                                                <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.CountryOfOrigin, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.details.CountryOfOrigin } })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer" align="right">
                    <a href="@Url.Action("Index", "Invoice")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                    <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT</button>
                </div>
            }
        </div>
    </div>
</div>