﻿@using KMSIPartsPortal_System.Models;
@model KMSIPartsPortal_System.Models.PurchaseViewModel

@{
    ViewBag.Title = "Upload Original Invoice & Tax";
    ViewBag.Description = "";
    Supplier supplier = ViewData["Supplier"] as Supplier;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @if (Convert.ToInt32(HttpContext.Current.Session["SupplierId"]) != 0)
                {
                    <div class="tr">
                        <div class="td">Supplier : <b>@supplier.SupplierName (@supplier.SupplierCode)</b></div>
                    </div>
                    <br />
                }
                    <div class="row">
                        <div class="col-md-6">
                            <a id="btn-download-invoice" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled">Download</a>
                        </div>
                        <div class="col-md-6" align="right">
                            @if (Convert.ToInt32(HttpContext.Current.Session["SupplierId"]) != 0)
                            {
                                <a id="btn-bulk-invoice" class="btn btn-sm bg-purple btn-flat hide"><i class="fa fa-upload"></i> UPLOAD</a>
                            }
                            else
                            {
                                <a id="btn-fix-invoice" class="btn btn-sm btn-success btn-flat"><i class="fa fa-check"></i> Completed</a>
                            }
                        </div>
                    </div>
                <br />
                <table id="invoice-detail-dt" class="table table-bordered table-striped BoldBorder" style="max-width: none !important">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>Supplier Code</th>
                            <th>Supplier Name</th>
                            <th>Invoice Date</th>
                            <th>Invoice Number</th>
                            <th>Due Date</th>
                            <th>Description</th>
                            <th>Currency</th>
                            <th>Principal Amount</th>
                            <th>Principal Tax</th>
                            <th>Total Amount</th>
                            <th>Request</th>
                            <th>Comment</th>
                            <th>Invoice and DO</th>
                            <th>Tax</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- Modal Import -->
@using (Html.BeginForm("Import", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data", id = "import" }))
{
    <div class="modal fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload Original Invoice & Tax</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                    @if (supplier != null)
                    {
                        if (supplier.SupplierCode != null)
                        {
                            @Html.Hidden("SupplierCode", supplier.SupplierCode);
                        }
                    }

                    <span class="text-danger">*) document format must be PDF</span>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->
<!-- Modal Request -->
@using (Html.BeginForm("RequestEdit", "Invoice", FormMethod.Post, new { id = "editForm" }))
{
    <div class="modal fade" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalReqTitle">Request Edit</h4>
                </div>
                <div class="modal-body">
                    <span>Comment :</span>
                    <textarea id="comment" name="comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->
<!-- Modal Import -->
@using (Html.BeginForm("UploadINV", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data", id = "importFile" }))
{
    <div class="modal fade" id="modal-upload">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be PDF</span>
                    @Html.Hidden("InvoiceID")
                   
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{
    @if (Convert.ToInt32(HttpContext.Current.Session["SupplierId"]) == 0)
    {
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            var supplierId = "@Session["SupplierId"]";

            function turn_on_iCheck() {
                $('input[type="checkbox"], input[type="radio"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue",
                    radioClass: "iradio_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedInvoiceID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-fix-invoice').removeClass('disabled');
                        $('#btn-download-invoice').removeClass('disabled');
                    } else {
                        $('#btn-fix-invoice').addClass('disabled');
                        $('#btn-download-invoice').addClass('disabled');
                    }

                    if (length == $('input[name="checkedInvoiceID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });
            }

            $('#select-all').on('ifClicked', function () {
                if ($('#select-all').is(':checked')) {
                    $('input[name="checkedInvoiceID"]').iCheck('uncheck');
                } else {
                    $('input[name="checkedInvoiceID"]').iCheck('check');
                }
            });

            var table = $('#invoice-detail-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "scrollX": true,
                "orderMulti": false,
                "pageLength": 10,
                "ajax": {
                    "url": "/Invoice/DetailList",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 13, 14],
                        "searchable": false,
                        "sortable": false
                    }
                ],
                "order": [[3, 'desc']],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedInvoiceID" value="' + full.InvoiceID + '">';
                        }
                    },
                    { "data": "SupplierCode", "name": "SupplierCode", "autoWidth": true },
                    { "data": "SupplierName", "name": "SupplierName", "autoWidth": true },
                    {
                        "data": "InvoiceDate", "name": "InvoiceDate", "autoWidth": true,
                        "render": function (data) {
                            if (data != null) {
                                data = data.split("(")[1];
                                data = data.split(")")[0];
                                var date = new Date(parseInt(data));

                                month = date.getMonth() + 1;
                                if (month < 10)
                                    month = "0" + month;
                                day = date.getDate();
                                if (day < 10)
                                    day = "0" + day;

                                return [date.getFullYear(), month, day].join('-');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "InvoiceNumber", "name": "InvoiceNumber", "autoWidth": true, },
                    {
                        "data": "InvoiceDueDate", "name": "InvoiceDueDate", "autoWidth": true,
                        "render": function (data) {
                            if (data != null) {
                                data = data.split("(")[1];
                                data = data.split(")")[0];
                                var date = new Date(parseInt(data));

                                month = date.getMonth() + 1;
                                if (month < 10)
                                    month = "0" + month;
                                day = date.getDate();
                                if (day < 10)
                                    day = "0" + day;

                                return [date.getFullYear(), month, day].join('-');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "Currency", "name": "Currency", "autoWidth": true },
                    {
                        "data": "PrincipalAmount", "name": "PrincipalAmount", "autoWidth": true,
                        "render": $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                    {
                        "data": "PrincipalTax", "name": "PrincipalTax", "autoWidth": true,
                        "render": $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                    {
                        "data": "TotalAmount", "name": "TotalAmount", "autoWidth": true,
                        "render": $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                    { "data": "Request", "name": "Request", "autoWidth": true },
                    { "data": "ReqComment", "name": "ReqComment", "autoWidth": true },
                    {
                        "data": "fileINV", "name": "fileINV", "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return '<a class="btn btn-xs btn-info btn-flat edit" target="_blank" href="/Uploads/' + data + '">View</a>';
                            } else {
                                if (supplierId == 0) {
                                    return '';
                                } else {
                                    return '<a class="btn btn-xs bg-navy btn-flat upload-invoice" data-value="' + full.InvoiceID + '">Upload Invoice and DO</a>';
                                }
                            }
                        }
                    },
                    {
                        "data": "fileFP", "name": "fileFP", "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return '<a class="btn btn-xs btn-info btn-flat edit" target="_blank" href="/Uploads/' + data + '">View</a>';
                            } else {
                                if (supplierId == 0) {
                                    return '';
                                } else {
                                    return '<a class="btn btn-xs bg-navy btn-flat upload-fp" data-value="' + full.InvoiceID + '">Upload Tax</a>';
                                }
                            }
                        }
                    }
                ]
            });

            $('#invoice-detail-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-bulk-invoice').on('click', function () {
                $('#import').attr("action", "/Invoice/UploadFiles");
                $('#uploadFiles').attr("multiple", "multiple");
                $('#uploadFiles').attr("accept", "application/pdf");
                $('#modal-import').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#invoice-detail-dt tbody').on('click', 'a.reqedit', function () {
                $('#editForm').attr("action", "/Invoice/RequestEdit/" + $(this).prop("id"));
                $('#modalReqTitle').text("Request Edit");
                $('#modal-edit').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#invoice-detail-dt tbody').on('click', 'a.reqdel', function () {
                $('#editForm').attr("action", "/Invoice/RequestDelete/" + $(this).prop("id"));
                $('#modalReqTitle').text("Request Delete");
                $('#modal-edit').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#btn-fix-invoice').click(function () {
                var ids = [];
                $.each($('input[name="checkedInvoiceID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    type: "POST",
                    url: "/Invoice/Fixed",
                    data: {
                        ids: ids,
                    },
                    success: function (response) {
                        if (response.success) {
                            table.ajax.reload();
                        }
                    }
                })
            });

            $('#invoice-detail-dt tbody').on('click', 'a.upload-invoice', function () {
                $(".modal-title").text('Upload Original Invoice & Tax');
                $('#InvoiceID').val($(this).attr('data-value'));
                $('#importFile').attr("action", "/Invoice/UploadINV");
                $('#uploadFiles').attr("accept", "application/pdf");
                $('#modal-upload').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#invoice-detail-dt tbody').on('click', 'a.upload-fp', function () {
                $(".modal-title").text('Upload Tax');
                $('#InvoiceID').val($(this).attr('data-value'));
                $('#importFile').attr("action", "/Invoice/UploadFP");
                $('#uploadFiles').attr("accept", "application/pdf");
                $('#modal-upload').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#btn-download-invoice').click(function () {
                var ids = [];
                $.each($('input[name="checkedInvoiceID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Invoice/StateOfAccount",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Invoice/Download?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        })
    </script>

}