﻿@using KMSIPartsPortal_System.Models;
@model KMSIPartsPortal_System.Models.PurchaseViewModel

@{
    ViewBag.Title = "Closed Invoices";
    ViewBag.Description = "Detail";
    Supplier supplier = ViewData["Supplier"] as Supplier;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <a id="btn-download-invoice" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled">Download</a>
                    </div>
                    @*<div class="col-md-12" align="right">
                        <a id="btn-unfix-invoice" class="btn btn-sm btn-danger btn-flat"><i class="fa fa-times"></i> Unfixed</a>
                    </div>*@
                </div>
                <br />
                <table id="fixed-invoice-dt" class="table table-bordered table-striped BoldBorder" style="max-width: none !important;">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>Supplier Code</th>
                            <th>Supplier Name</th>
                            <th>Invoice Date</th>
                            <th>Invoice Number</th>
                            <th>Due Date</th>
                            <th>Description</th>
                            <th>Currency</th>
                            <th>Principal Amount</th>
                            <th>Principal Tax</th>
                            <th>Total Amount</th>
                            <th>Request</th>
                            <th>Comment</th>
                            <th>Invoice</th>
                            <th>Tax</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    @if (Convert.ToInt32(HttpContext.Current.Session["SupplierId"]) == 0)
    {
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();
            var supplierId = "@Session["SupplierId"]";

            function turn_on_iCheck() {
                $('input[type="checkbox"], input[type="radio"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue",
                    radioClass: "iradio_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedInvoiceID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-unfix-invoice').removeClass('disabled');
                        $('#btn-download-invoice').removeClass('disabled');
                    } else {
                        $('#btn-unfix-invoice').addClass('disabled');
                        $('#btn-download-invoice').addClass('disabled');
                    }

                    if (length == $('input[name="checkedInvoiceID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });
            }


            $('#select-all').on('ifClicked', function () {
                if ($('#select-all').is(':checked')) {
                    $('input[name="checkedInvoiceID"]').iCheck('uncheck');
                } else {
                    $('input[name="checkedInvoiceID"]').iCheck('check');
                }
            });

            var table = $('#fixed-invoice-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "scrollX": true,
                "orderMulti": false,
                "pageLength": 10,
                "ajax": {
                    "url": "/Invoice/DetailFixed",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 13, 14, 15],
                        "searchable": false,
                        "sortable": false
                    }
                ],
                "order": [[3, 'desc']],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedInvoiceID" value="' + full.InvoiceID + '">';
                        }
                    },
                    { "data": "SupplierCode", "name": "SupplierCode","width":"4%"},
                    { "data": "SupplierName", "name": "SupplierName"},
                    {
                        "data": "InvoiceDate", "name": "InvoiceDate",
                        "render": function (data) {
                            if (data != null) {
                                data = data.split("(")[1];
                                data = data.split(")")[0];
                                var date = new Date(parseInt(data));

                                month = date.getMonth() + 1;
                                if (month < 10)
                                    month = "0" + month;
                                day = date.getDate();
                                if (day < 10)
                                    day = "0" + day;

                                return [date.getFullYear(), month, day].join('-');
                            } else {
                                return "";
                            }

                        }
                    },
                    { "data": "InvoiceNumber", "name": "InvoiceNumber" },
                    {
                        "data": "InvoiceDueDate", "name": "InvoiceDueDate",
                        "render": function (data) {
                            if (data != null) {
                                data = data.split("(")[1];
                                data = data.split(")")[0];
                                var date = new Date(parseInt(data));

                                month = date.getMonth() + 1;
                                if (month < 10)
                                    month = "0" + month;
                                day = date.getDate();
                                if (day < 10)
                                    day = "0" + day;

                                return [date.getFullYear(), month, day].join('-');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "Description", "name": "Description"},
                    { "data": "Currency", "name": "Currency" },
                    {
                        "data": "PrincipalAmount", "name": "PrincipalAmount",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                    {
                        "data": "PrincipalTax", "name": "PrincipalTax",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                    {
                        "data": "TotalAmount", "name": "TotalAmount",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                    { "data": "Request", "name": "Request" },
                    { "data": "ReqComment", "name": "ReqComment"},
                    {
                        "data": "fileINV", "name": "fileINV",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return '<a class="btn btn-xs btn-info btn-flat edit" target="_blank" href="/Uploads/' + data + '">View</a>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        "data": "fileFP", "name": "fileFP",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return '<a class="btn btn-xs btn-info btn-flat edit" target="_blank" href="/Uploads/' + data + '">View</a>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-xs btn-danger btn-flat delete" data-value="' + full.InvoiceNumber + '"><i class="fa fa-trash cdtot"></i></a>'
                        }
                    }
                ]
            });

            $('#fixed-invoice-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-unfix-invoice').click(function () {
                var ids = [];
                $.each($('input[name="checkedInvoiceID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    type: "POST",
                    url: "/Invoice/Unfixed",
                    data: {
                        ids: ids,
                    },
                    success: function (response) {
                        if (response.success) {
                            table.ajax.reload();
                        }
                    }
                })
            });

            $('#btn-download-invoice').click(function () {
                var ids = [];
                $.each($('input[name="checkedInvoiceID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Invoice/StateOfAccount",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Invoice/Download?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#fixed-invoice-dt tbody').on('click', 'a.delete', function (e) {
                e.preventDefault();

                var param = $(this).data('value');
                customConfirm("Are you sure to delete this Fixed Invoice?", function () {
                    $('#overlay').show();
                    location.href = "/Invoice/DeleteFixed?invNumber=" + param;
                });
            });
        });
    </script>

}