﻿@using KMSIPartsPortal_System.Models;
@model KMSIPartsPortal_System.Models.PurchaseViewModel

@{
    ViewBag.Title = "Upload TDB";
    ViewBag.Description = "List";
    Supplier supplier = ViewData["Supplier"] as Supplier;
}

<div class="row">
    @if (TempData["ActionMessage"] != null)
    {
        <div class="alert alert-info alert-dismissible ActionAlert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Alert!</h4>
            @TempData["ActionMessage"]
        </div>
    }
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @if (Convert.ToInt32(HttpContext.Current.Session["SupplierId"]) != 0)
                {
                    <div class="tr">
                        <div class="td">Supplier : <b>@supplier.SupplierName (@supplier.SupplierCode)</b></div>
                    </div>
                    <br />
                }
                <div class="row">
                    <div class="col-md-6">
                        <a id="btn-download-invoice" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled">Download</a>
                    </div>
                    <div class="col-md-6" align="right">
                        @*<a href="@Url.Action("Create", "PurchaseOrder")" class="btn btn-sm btn-success btn-flat"><i class="fa fa-plus"></i> CREATE</a>*@
                        @if (Convert.ToInt32(HttpContext.Current.Session["SupplierId"]) != 0)
                        {
                            <a id="btn-bulk-import" class="btn btn-sm bg-purple btn-flat"><i class="fa fa-upload"></i> UPLOAD</a>
                        }
                    </div>
                </div>
                <br />
                <table id="invoice-list-dt" class="table table-bordered table-striped BoldBorder">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>ID</th>
                            <th style="width: 50px;">Supplier Code</th>
                            <th style="width: 45px;">Invoice Date</th>
                            <th style="width: 150px;">Invoice Number</th>
                            <th>Delivery Order / Packing List</th>
                            <th style="width: 150px;">Purchase Order Number</th>
                            <th style="width: 30px;">Item No.</th>
                            <th style="width: 150px;">Part Number</th>
                            <th style="width: 30px;">Ship Qty</th>
                            <th>Unit Price</th>
                            <th>COO (Country Of Origin)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- Modal Import -->
@using (Html.BeginForm("UploadExcel", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload TDB</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/Invoice/DownloadExcel/" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->
<!-- Modal Request -->
@using (Html.BeginForm("RequestEdit", "Invoice", FormMethod.Post, new { id = "editForm" }))
{
    <div class="modal fade" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalReqTitle">Request Edit</h4>
                </div>
                <div class="modal-body">
                    <span>Comment :</span>
                    <textarea id="comment" name="comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{
    @if (Convert.ToInt32(HttpContext.Current.Session["SupplierId"]) == 0)
    {
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    }
    <script type="text/javascript">
        var supplierId = "@Session["SupplierId"]";

        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            function turn_on_iCheck() {
                $('input[type="checkbox"], input[type="radio"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue",
                    radioClass: "iradio_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedInvoiceId"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-invoice').removeClass('disabled');
                    } else {
                        $('#btn-download-invoice').addClass('disabled');
                    }

                    if (length == $('input[name="checkedInvoiceId"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedInvoiceId"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedInvoiceId"]').iCheck('check');
                    }
                });
            }

            $('#invoice-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "ajax": {
                    "url": "/Invoice/List",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": true,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [12],
                        "visible": (supplierId != 0),
                        "searchable": false,
                        "sortable": false
                    }
                ],
                "order": [[1, 'desc']],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedInvoiceId" value="' + full.PurchaseInvoiceDetailId + '">';
                        }
                    },
                    { "data": "PurchaseInvoiceDetailId", "name": "PurchaseInvoiceDetailId" },
                    { "data": "SupplierCode", "name": "SupplierCode", "autoWidth": true },
                    {
                        "data": "InvoiceDate", "name": "InvoiceDate", "autoWidth": true,
                        "render": function (data) {
                            if (data != null) {
                                data = data.split("(")[1];
                                data = data.split(")")[0];
                                var date = new Date(parseInt(data));

                                month = date.getMonth() + 1;
                                if (month < 10)
                                    month = "0" + month;
                                day = date.getDate();
                                if (day < 10)
                                    day = "0" + day;

                                return [date.getFullYear(), month, day].join('-');
                            } else {
                                return "";
                            }
                        } },
                    { "data": "InvoiceNumber", "name": "InvoiceNumber", "autoWidth": true },
                    { "data": "DeliveryOrder", "name": "DeliveryOrder", "autoWidth": true },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber", "autoWidth": true },
                    { "data": "ItemNumber", "name": "ItemNumber", "autoWidth": true, },
                    { "data": "PartNumberKomatsu", "name": "PartNumberKomatsu", "autoWidth": true },
                    { "data": "ShipQty", "name": "ShipQty", "autoWidth": true },
                    {
                        "data": "UnitPrice", "name": "UnitPrice", "autoWidth": true,
                        "render": $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                    { "data": "CountryOfOrigin", "name": "CountryOfOrigin", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            if (supplierId != 0) {
                                if (full.FixedStatus != 1) {
                                    return '<a class="btn btn-xs btn-danger btn-flat del" id="' + full.InvoiceNumber + '" data-pn="' + full.PartNumberKomatsu + '" data-detailid="' + full.PurchaseInvoiceDetailId + '"><i class="fa fa-trash cdtot"></i></a>';
                                } else {
                                    return '';
                                }
                            } else {
                                return '';
                            }
                            //console.log(supplierId, full);
                            //if (supplierId != 0) {
                            //    if (full.FixedStatus != 1) {
                            //        return /*'<a class="btn btn-xs btn-info btn-flat" href="/Invoice/DetailEdit/' + full.PurchaseInvoiceDetailId + '">Edit</a>' +*/
                            //        '<a class="btn btn-xs btn-danger btn-flat /*del*/" id="' + full.InvoiceNumber + '" /*href="/Invoice/Delete/' + full.PurchaseInvoiceDetailId + '"*/><i class="fa fa-trash cdtot"></i></a>';
                            //    } else {
                            //        return '<a class="btn btn-xs btn-danger btn-flat /*reqdel*/" id="' + full.PurchaseInvoiceDetailId + '"><i class="fa fa-trash cdtot"></i></a>';
                            //    }
                            //} else {
                            //    return '';
                            //}
                        }
                    }
                ]
            });

            $('#invoice-list-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-bulk-import').on('click', function () {
                $('#modal-import').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#invoice-list-dt tbody').on('click', 'a.del', function (event) {
                event.preventDefault();

                console.log('a');
                var id = $(this).prop('id');
                var detailid = $(this).data('detailid');
                var partnumber = $(this).data('pn');
                customConfirm("Are you sure want to delete InvoiceNumber (" + id + ") with Part Number (" + partnumber + ")?", function () {
                    location.href = '/Invoice/Delete/' + detailid;
                });
            });

            $('#invoice-list-dt tbody').on('click', 'a.reqedit', function () {
                $('#editForm').attr("action", "/Invoice/RequestEdit/" + $(this).prop("id"));
                $('#modalReqTitle').text("Request Edit");
                $('#modal-edit').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#invoice-list-dt tbody').on('click', 'a.reqdel', function () {
                $('#editForm').attr("action", "/Invoice/RequestDelete/" + $(this).prop("id"));
                $('#modalReqTitle').text("Request Delete");
                $('#modal-edit').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#btn-download-invoice').click(function () {
                var ids = [];
                $.each($('input[name="checkedInvoiceId"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Invoice/PostReportPartial",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Invoice/Download?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>

}