﻿@model KMSIPartsPortal_System.Models.Forecast

@{
    ViewBag.Title = "Forecast PO";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <a id="btn-download-forecast" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                        <a id="btn-download-pdf-forecast" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                    </div>
                    <div class="col-md-6" align="right">
                        <a id="btn-bulk-import" class="btn btn-sm bg-purple btn-flat"><i class="fa fa-upload"></i> UPLOAD FORECAST</a>
                    </div>
                </div>
                <br />
                <table id="forecast-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>@Html.DisplayNameFor(model => model.SupplierCode)</th>
                            <th>@Html.DisplayNameFor(model => model.TypePO)</th>
                            <th>Part Number</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseQty)</th>
                            <th>@Html.DisplayNameFor(model => model.StockPoint)</th>
                            <th>@Html.DisplayNameFor(model => model.Remark)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- Modal Import -->
@using (Html.BeginForm("UploadExcel", "Stock", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Import Forecast Data</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/Stock/DownloadExcel?type=forecast" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            function turn_on_iCheck() {
                $('input[type="checkbox"], input[type="radio"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue",
                    radioClass: "iradio_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedForecastID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-forecast').removeClass('disabled');
                        $('#btn-download-pdf-forecast').removeClass('disabled');
                    } else {
                        $('#btn-download-forecast').addClass('disabled');
                        $('#btn-download-pdf-forecast').addClass('disabled');
                    }

                    if (length == $('input[name="checkedForecastID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedForecastID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedForecastID"]').iCheck('check');
                    }
                });
            }

            $('#forecast-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Stock/List",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1],
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    }
                ],
                "order": [[2, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedForecastID" value="' + full.ID + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "SupplierCode", "name": "SupplierCode", "autoWidth": true },
                    { "data": "TypePO", "name": "TypePO", "autoWidth": true },
                    { "data": "PartNumber", "name": "PartNumber", "autoWidth": true },
                    { "data": "PurchaseQty", "name": "PurchaseQty", "autoWidth": true },
                    { "data": "StockPoint", "name": "StockPoint", "autoWidth": true },
                    { "data": "Remark", "name": "Remark", "autoWidth": true },
                ]
            });

            $('#forecast-list-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-bulk-import').on('click', function () {
                $('#modal-import').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#btn-download-forecast').click(function () {
                var ids = [];
                $.each($('input[name="checkedForecastID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Stock/GenerateXls",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Stock/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-forecast').click(function () {
                var ids = [];
                $.each($('input[name="checkedForecastID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Stock/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Stock/DownloadPdf?fileName=' + data.strPDFFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

        });
    </script>

}