﻿@using KMSIPartsPortal_System.Models;
@model KMSIPartsPortal_System.Models.User
@{
    ViewBag.Title = "Edit Account";
    Layout = "~/Views/Shared/_Layout.cshtml";

    User UserModel = (User)ViewBag.User;
}

<style type="text/css">
    aside.main-sidebar {
        display: none;
    }

    div.content-wrapper {
        margin-left: 0;
    }
</style>

<div class="col-md-8">
    <input type="hidden" id="SupplierIdValue" value="@UserModel.SupplierId" />
    <input type="hidden" id="UserRoleValue" value="@UserModel.UserRole" />
    <input type="hidden" id="DistributorValue" value="@UserModel.DistributorType" />
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Edit Account</h3>

            <div class="box-tools pull-right">

            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form action="/Account/EditAction" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="@UserModel.UserId" />
                @if (TempData["ActionMessage"] != null)
                {
                    <div class="alert alert-info alert-dismissible ActionAlert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-info"></i> Alert!</h4>
                        @TempData["ActionMessage"]
                    </div>
                }
                <div class="col-md-6">
                    <div class="form-group has-feedback">
                        <label>First Name</label>
                        <input class="form-control text-box single-line" id="FirstName" name="FirstName" placeholder="First Name" type="text" value="@UserModel.FirstName">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label>Last Name</label>
                        <input class="form-control text-box single-line" id="LastName" name="LastName" placeholder="Last Name" type="text" value="@UserModel.LastName">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label>Username</label>
                        <input class="form-control text-box single-line" data-val="true" data-val-required="Username required." id="Username" name="Username" placeholder="Username" type="text" value="@UserModel.Username">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label>Password</label>
                        <input class="form-control" data-val="true" data-val-required="Password required." id="Password" name="Password" placeholder="Password" type="password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label>Confirm Password</label>
                        <input class="form-control" data-val="true" data-val-required="Confirm Password required." id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" type="password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-feedback">
                        <label>Email</label>
                        <input class="form-control text-box single-line" id="Email" name="Email" placeholder="Email" type="email" value="@UserModel.Email">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <div class="radio">
                            <label>
                                @if (@UserModel.IsActive == true)
                                {
                                    <input type="radio" name="IsActive" id="optionsRadios1" value="ACTIVE" checked="">
                                }
                                else
                                {
                                    <input type="radio" name="IsActive" id="optionsRadios1" value="ACTIVE">
                                }
                                Active
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @if (@UserModel.IsActive == false)
                                {
                                    <input type="radio" name="IsActive" id="optionsRadios2" value="NOT ACTIVE" checked="">
                                }
                                else
                                {
                                    <input type="radio" name="IsActive" id="optionsRadios2" value="NOT ACTIVE">
                                }

                                Inactive
                            </label>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label>Select Supplier</label>
                        @Html.DropDownListFor(model => model.SupplierId, new SelectList(ViewBag.data, "SupplierId", "SupplierName"), String.Empty, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group has-feedback">
                        <label>Select Role</label>
                        @Html.DropDownListFor(model => model.UserRole, new SelectList(ViewBag.role, "RoleId", "RoleName"), String.Empty, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group has-feedback">
                        <label>Select Type of Distributor</label>
                        @Html.DropDownListFor(model => model.DistributorType, new SelectList(ViewBag.distributor, "Value", "Name"), String.Empty, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row" style="text-align:right;">
                    <div class="col-xs-2" style="float: right;">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                    </div>
                    <div class="col-xs-2" style="float: right;">
                        <a class="btn btn-default btn-block btn-flat" href="/Account/Index">Cancel</a>
                    </div>

                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
</div>

@section Scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        var supplierId = $("#SupplierIdValue").val();
        var roleId = $("#UserRoleValue").val();
        var distributor = $("#DistributorValue").val();
        setTimeout(function () {
            $("#SupplierId").val(supplierId);
            $("#UserRole").val(roleId);
            $("#DistributorType").val(distributor);
        }, 500);
    });
</script>
}
