﻿@{
    ViewBag.Title = "Forgot Password";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/app-style.css">
</head>
<body>
    <div id="overlay"></div>
    <div class="intro">
        <div class="intro_bg">

        </div>
    </div>
    <div class="login-form text-center">
        <h1>K-PINTAR PARTS</h1>
        <h5>PORTAL SYSTEM</h5>
        <div class="spacer-20"></div>
        <div class="fg-pass-alert callout callout-danger error-alert hide"></div>
        <form id="form_change_password">
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <input type="hidden" value="@ViewBag.Code" name="Code" />
            <div class="form-group has-feedback">
                <input class="form-control text-box single-line password text-pintar" type="password" value="" name="Password" id="Password" placeholder="P A S S W O R D" />
            </div>
            <div class="form-group has-feedback">
                <input class="form-control text-box single-line password text-pintar" type="password" value="" name="ConfirmPassword" id="ConfirmPassword" placeholder="RE-TYPE P A S S W O R D" />
            </div>
            <div class="spacer-20"></div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn-block button-pintar">RESET PASSWORD</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>

    <input type="hidden" value="/Account/ChangePassword" id="url_forgot_password" />

    <!-- jQuery 3 -->
    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- jQuery Validator -->
    <script src="~/Content/js/plugins/validator/validator.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/js/plugins/icheck/icheck.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var wW = $(window).width();
            var wH = $(window).height();
            $('.carousel .item').width(wW);
            $('.carousel .item').height(wH);
        });

        // Variable to hold request
        var request;
        $("#form_change_password").submit(function (event) {
            $("#overlay").show();
            $('.fg-pass-alert').addClass('hide');
            $('.lds-css').removeClass('hide');
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            var pass = $('#Password').val();
            var confirmPass = $('#ConfirmPassword').val();
            if (pass == "") {
                $("#overlay").hide();
                $('.fg-pass-alert').removeClass('hide');
                $('.fg-pass-alert').html("Password is required");
                $('.lds-css').addClass('hide');
                return;
            }

            if (pass != confirmPass) {
                $("#overlay").hide();
                $('.fg-pass-alert').removeClass('hide');
                $('.fg-pass-alert').html("Password not same with confirm password");
                $('.lds-css').addClass('hide');
                return;
            }

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_forgot_password').val(),
                type: "post",
                data: serializedData
            });

            request.done(function (response, textStatus, jqXHR) {
                $("#overlay").hide();
                var data = JSON.parse(response);
                $('.fg-pass-alert').removeClass('hide');
                $('.fg-pass-alert').html(data.message);

                $('.lds-css').addClass('hide');

                setTimeout(function () {
                    window.location.href = data.url;
                }, 3000);
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                $("#overlay").hide();
                $('.fg-pass-alert').removeClass('hide');
                $('.fg-pass-alert').html("Error check your connection");

                $('.lds-css').addClass('hide');
            });
        });
    </script>
</body>
</html>
