﻿@model KMSIPartsPortal_System.Models.User
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    aside.main-sidebar {
        display: none;
    }

    div.content-wrapper {
        margin-left: 0;
    }
</style>

<h2>User List</h2>
@if (TempData["ActionMessage"] != null)
{
    <div class="alert alert-info alert-dismissible ActionAlert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-info"></i> Alert!</h4>
        @TempData["ActionMessage"]
    </div>
}

<div class="col-md-12">
    <table id="user-dt" class="table table-bordered table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 35px;">#</th>
                <th style="width: 100px;">@Html.DisplayNameFor(model => model.Username)</th>
                <th style="width: 100px;">Name</th>
                <th style="width: 80px;">@Html.DisplayNameFor(model => model.Email)</th>
                <th><span>Supplier</span></th>
                <th>@Html.DisplayNameFor(model => model.Role.RoleName)</th>
                <th><span>Type of Distributor</span></th>
                <th><span>Status</span></th>
                <th><span>Action</span></th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="delete-account">
    <form action="/Account/Delete" method="post">
        <input type="hidden" id="DeleteId" value="" name="id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete Account</h4>
                </div>
                <div class="modal-body" id="deleteAccount">
                    Are you sure want to delete this account?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </form>
    <!-- /.modal-dialog -->
</div>


@section Scripts
{
    <script type="text/javascript">
        function popDelete(el) {
            var id = $(el).attr("data-id");
            $("#DeleteId").val(id);
            $("#delete-account").modal("show");
        }

        $(document).ready(function () {
            $('#user-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Account/List",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [8],
                        "sortable": false,
                        "searchable": false
                    },
                    {
                        "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8],
                        "className": "text-center"
                    }
                ],
                "order": [[0, "asc"]],
                "columns": [
                    { "data": "UserId", "name": "UserId" },
                    { "data": "Username", "name": "Username" },
                    { "data": "Name", "name": "Name" },
                    { "data": "Email", "name": "Email" },
                    { "data": "SupplierName", "name": "SupplierName" },
                    { "data": "RoleName", "name": "RoleName" },
                    { "data": "DistributorType", "name": "DistributorType" },
                    { "data": "Status", "name": "Status" },
                    {
                        "data": "UserId", "name": "UserId",
                        "render": function (data, row) {
                            return '<a class="btn btn-xs btn-warning btn-flat" href="/Account/Edit/' + data + '">Edit</a>' +
                                ' <a class="btn btn-xs btn-danger btn-flat delete" href="/Account/Delete/' + data + '" data-value="' + data + '"><i class="fa fa-trash cdtot"></i></a>';
                        }
                    }
                ]
            });

            $('#user-dt tbody').on('click', 'a.delete', function (e) {
                e.preventDefault();

                var id = $(this).data('value');
                customConfirm("Are you sure to delete this User?", function () {
                    location.href = '/Account/Delete/' + id;
                })
            })
        });
    </script>
}