﻿@model KMSIPartsPortal_System.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/css/app-style.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <style>
        .modal-dialog {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) !important;
        }
    </style>
</head>
<body>
    <div class="intro">
        <div class="intro_bg">

        </div>
    </div>
    <div class="login-form text-center">
        <h1>K-PINTAR PARTS</h1>
        <h5>PORTAL SYSTEM</h5>
        <div class="spacer-20"></div>
        <div class="callout callout-danger error-alert hide"></div>
        <form id="form_login">
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="form-group has-feedback">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control text-box single-line text-pintar", @placeholder = "U S E R N A M E" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                @*<span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>*@
            </div>
            <div class="form-group has-feedback">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control text-box single-line password text-pintar", @placeholder = "P A S S W O R D" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                @*<span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>*@
            </div>
            <div class="spacer-20"></div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn-block button-pintar">SIGN IN</button>

                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <div class="footer-widget" style="display: none">
        <span class="circle-text pull-left"></span>
        <div class="pull-left">
            <div onclick="popForgot(this)" class="btn-block button-pintar-white width-200">FORGOT PASSWORD</div>
        </div>
        <div class="pull-left separation">|</div>
        <div class="pull-left">
            <div onclick="popRequestAccess(this)" class="btn-block button-pintar-white width-200">REQUEST ACCESS</div>
        </div>
    </div>

    <!-- Modal -->
    <div id="forgotModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form id="form_fg_password">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Forgot Password Form</h4>
                    </div>
                    <div class="modal-body">
                        <div class="fg-pass-alert callout callout-danger hide"></div>
                        <label>Email</label>
                        <input type="email" class="form-control" name="Email" />
                    </div>
                    <div class="modal-footer">
                        <div type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</div>
                        <input type="submit" class="btn btn-primary btn-flat" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div id="requestAccessModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form id="form_request_access" class="form-horizontal">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Request Access Form</h4>
                    </div>
                    <div class="modal-body">
                        <div class="fg-pass-alert callout callout-danger hide"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: left;">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="FirstName" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: left;">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="LastName" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: left;">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="Username" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: left;">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="Email" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: left;">Company Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="CompanyName" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: left;">Position</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="Position" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: left;">Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="Phone" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</div>
                        <input type="submit" class="btn btn-primary btn-flat" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <input type="hidden" id="url_login" value="@Url.Action("/Login")" />
    <input type="hidden" id="url_fg_pass" value="@Url.Action("/SendEmailForgotPassword")" />
    <input type="hidden" id="url_request_access" value="@Url.Action("/RequestAccess")" />

    <!-- jQuery 3 -->
    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- jQuery Validator -->
    <script src="~/Content/js/plugins/validator/validator.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
        setTimeout(function () {
            $('.intro_bg').addClass('zout');
        }, 1000);
        setTimeout(function () {
            $(".footer-widget").fadeIn();
            $(".footer-widget").fadeIn("slow");
            $(".footer-widget").fadeIn(4000);
        }, 2000);

        function popForgot(el) {
            $('#forgotModal').modal('show');
        }

        function popRequestAccess(el) {
            $('#requestAccessModal').modal('show');
        }

        // Variable to hold request
        var request;
        $("#form_login").submit(function (event) {
            $('.lds-css').removeClass('hide');
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_login').val(),
                type: "post",
                data: serializedData
            });

            request.done(function (response, textStatus, jqXHR) {
                $('#modal_create').modal('hide');
                var data = JSON.parse(response);
                if (data.status == true) {
                    window.location.href = data.url;
                } else {
                    $('.error-alert').removeClass('hide');
                    $('.error-alert').html(data.message);
                }

                $('.lds-css').addClass('hide');
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                $('.error-alert').removeClass('hide');
                $('.error-alert').html("Error check your connection");

                $('.lds-css').addClass('hide');
            });
        });


        // Variable to hold request
        var request;
        $("#form_fg_password").submit(function (event) {
            $('.fg-pass-alert').addClass('hide');
            $('.lds-css').removeClass('hide');
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_fg_pass').val(),
                type: "post",
                data: serializedData
            });

            request.done(function (response, textStatus, jqXHR) {
                var data = JSON.parse(response);
                $('.fg-pass-alert').removeClass('hide');
                $('.fg-pass-alert').html(data.message);

                $('.lds-css').addClass('hide');

                if (data.status) {
                    setTimeout(function () {
                        $("#forgotModal").modal('hide');
                    }, 5000);
                }
                
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                $('.fg-pass-alert').removeClass('hide');
                $('.fg-pass-alert').html("Error check your connection");

                $('.lds-css').addClass('hide');
            });
        });

        // Variable to hold request
        var request;
        $("#form_request_access").submit(function (event) {
            $('.fg-pass-alert').addClass('hide');
            $('.lds-css').removeClass('hide');
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_request_access').val(),
                type: "post",
                data: serializedData
            });

            request.done(function (response, textStatus, jqXHR) {
                var data = JSON.parse(response);
                $('.fg-pass-alert').removeClass('hide');
                $('.fg-pass-alert').html(data.message);

                $('.lds-css').addClass('hide');
                $('#requestAccessModal').modal('hide');
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                $('.fg-pass-alert').removeClass('hide');
                $('.fg-pass-alert').html("Error check your connection");

                $('.lds-css').addClass('hide');
            });
        });
    </script>
</body>
</html>
