﻿@model KMSIPartsPortal_System.Models.MenuList

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12" align="right">
        <a href="@Url.Action("Index", "MenuLists")" class="btn btn-sm btn-flat bg-navy"> Back To Menu List</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            @using (Html.BeginForm("Create", "MenuLists", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="box-title"> Create Menu </h3>
                        </div>
                    </div>
                </div>

                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Menu_Name, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Menu_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Menu_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Controller, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Controller, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Controller, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Action, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MainMenuID, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.MainMenuID, new SelectList(ViewBag.feature, "MenuID", "MainMenu1"), string.Empty, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MainMenuID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer" align="right">
                    <a href="@Url.Action("Index", "MenuLists")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                    <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT</button>
                </div>
            }
        </div>
    </div>
</div>
