﻿@model KMSIPartsPortal_System.Models.SidebarMenu

@{
    ViewBag.Title = "Add User Privilege";
}

<style type="text/css">
    aside.main-sidebar {
        display: none;
    }

    div.content-wrapper {
        margin-left: 0;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            @using (Html.BeginForm())
            {
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="box-title">@ViewBag.Title</h3>
                        </div>
                    </div>
                </div>

                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                @Html.HiddenFor(model => model.RoleID, new { Value = ViewBag.id })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SubMenu.SubMenuName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("MenuID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MenuID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsView, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.CheckBoxFor(model => model.BoolView)
                                        @Html.ValidationMessageFor(model => model.IsView, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsInput, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.CheckBoxFor(model => model.BoolInput)
                                        @Html.ValidationMessageFor(model => model.IsView, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsUpdate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.CheckBoxFor(model => model.BoolUpdate)
                                        @Html.ValidationMessageFor(model => model.IsView, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsDelete, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.CheckBoxFor(model => model.BoolDelete)
                                        @Html.ValidationMessageFor(model => model.IsView, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsUpload, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.CheckBoxFor(model => model.BoolUpload)
                                        @Html.ValidationMessageFor(model => model.IsView, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsDownload, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.CheckBoxFor(model => model.BoolDownload)
                                        @Html.ValidationMessageFor(model => model.IsView, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer" align="right">
                    <a href="@Url.Action("Index", "SidebarMenus", new { id = ViewBag.id })" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                    <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            function turn_on_iCheck() {
                $('input[type="checkbox"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue",
                    radioClass: "iradio_minimal-blue"
                });
            }

            turn_on_iCheck();
        });
    </script>
}