﻿@model KMSIPartsPortal_System.Models.SidebarMenu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SidebarMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsInput)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsInput)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUpload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUpload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDownload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDownload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubMenu.SubMenuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubMenu.SubMenuName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
