﻿@model IEnumerable<KMSIPartsPortal_System.Models.SidebarMenu>

@{
    ViewBag.Title = "Menu Privilege";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    aside.main-sidebar {
        display: none;
    }

    div.content-wrapper {
        margin-left: 0;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <a id="btn-create" href="@Url.Action("Create", "SidebarMenus", new { id = ViewBag.id })" class="btn btn-sm btn-success btn-flat">Add Privilege</a>
                    </div>
                    <div class="col-md-6" align="right">
                        <a id="btn-back" href="@Url.Action("Index", "Roles")" class="btn btn-sm bg-navy btn-flat">Back To User Level List</a>
                    </div>
                </div>
                <br />
                <table id="privilege-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.SubMenu.MainMenu.Module.ModuleName)</th>
                            <th>@Html.DisplayNameFor(model => model.SubMenu.MainMenu.MenuName)</th>
                            <th>@Html.DisplayNameFor(model => model.SubMenu.SubMenuName)</th>
                            <th>@Html.DisplayNameFor(model => model.IsView)</th>
                            <th>@Html.DisplayNameFor(model => model.IsInput)</th>
                            <th>@Html.DisplayNameFor(model => model.IsUpdate)</th>
                            <th>@Html.DisplayNameFor(model => model.IsDelete)</th>
                            <th>@Html.DisplayNameFor(model => model.IsUpload)</th>
                            <th>@Html.DisplayNameFor(model => model.IsDownload)</th>
                            <th style="width: 80px;">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            $('#privilege-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/SidebarMenus/List",
                    "data": { id: @ViewBag.id },
                    "type": "POST",
                    "dataType": "json"
                },
                "columnDefs": [
                    {
                        "targets": [9],
                        "className": "text-center",
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [3, 4, 5, 6, 7, 8],
                        "className": "text-center"
                    }
                ],
                "columns": [
                    { "data": "ModuleName", "name": "ModuleName", "autoWidth": true },
                    { "data": "MenuName", "name": "MenuName", "autoWidth": true },
                    { "data": "SubMenuName", "": "SubMenuName", "autoWidth": true },
                    {
                        "data": "IsView",
                        "name": "IsView",
                        "render": function (data) {
                            if (data != null) {
                                if (data == 1) {
                                    return "Yes";
                                } else {
                                    return "No";
                                }
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "IsInput",
                        "name": "IsInput",
                        "render": function (data) {
                            if (data != null) {
                                if (data == 1) {
                                    return "Yes";
                                } else {
                                    return "No";
                                }
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "IsUpdate",
                        "name": "IsUpdate",
                        "render": function (data) {
                            if (data != null) {
                                if (data == 1) {
                                    return "Yes";
                                } else {
                                    return "No";
                                }
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "IsDelete",
                        "name": "IsDelete",
                        "render": function (data) {
                            if (data != null) {
                                if (data == 1) {
                                    return "Yes";
                                } else {
                                    return "No";
                                }
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "IsUpload",
                        "name": "IsUpload",
                        "render": function (data) {
                            if (data != null) {
                                if (data == 1) {
                                    return "Yes";
                                } else {
                                    return "No";
                                }
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "IsDownload",
                        "name": "IsDownload",
                        "render": function (data) {
                            if (data != null) {
                                if (data == 1) {
                                    return "Yes";
                                } else {
                                    return "No";
                                }
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-xs btn-warning btn-flat" href="/SidebarMenus/Edit/' + full.ID + '">Edit</a>' +
                                ' <a class="btn btn-xs btn-danger btn-flat delete" href="/SidebarMenus/Delete/' + full.ID + '" data-value="' + full.ID + '"><i class="fa fa-trash cdtot"></i></a>';
                        }
                    }
                ]
            });

            $('#privilege-dt tbody').on('click', 'a.delete', function (e) {
                e.preventDefault();

                var id = $(this).data('value');
                customConfirm("Are you sure to delete this Menu Privilege?", function () {
                    location.href = '/SidebarMenus/Delete/' + id;
                })
            })
        });
    </script>
}