﻿<header class="main-header">
    @* BEGIN Logo *@
    @{ 
        string action = String.Empty;
        string link = String.Empty;
    }
    @if (Session["RoleId"] != null)
    {
        Int32 userRoleId = Convert.ToInt32(Session["RoleId"]);

        if (userRoleId == 1)
        {
            action = "ProKmsi";
            link = "Dashboard";
        }
        else if (userRoleId == 2)
        {
            action = "ProSupplier";
            link = "Dashboard";
        }
        else if (userRoleId == 3 || userRoleId == 4)
        {
            action = "Index";
            link = "Contracts";
        }
        else if (userRoleId == 5)
        {
            action = "Index";
            link = "TicketDocuments";
        }
        else if (userRoleId == 6)
        {
            action = "GStockKmsi";
            link = "Dashboard";
        }
        else if (userRoleId == 7)
        {
            action = "GStockGgi";
            link = "Dashboard";
        }
        else
        {
            action = "Index";
            link = "Contracts";
        }
    }
    <a class="logo" style="width: 300px;background-color:white;">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>A</b>LT</span>
        @* Logo for regular state and mobile devices *@
        @*<img style="height: 100%;" src="~/Content/img/logo_new.png">*@
        <div class="head-top-logo"><img src="~/Content/img/header-2.png" width="190px" class="pull-left" style="margin-top:5px;"/></div>
    </a>
    @* END Logo *@

    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation" style="margin-left: 285px;">
        <ul style="display: none;">
            <li id="notif_list_item_template">
                <!-- start message -->
                <a class="notif_url notifCallList">
                    <h4>
                        <span class="notif_title"></span>
                        <small><i class="fa fa-clock-o"></i> <span class="notif_time"></span></small>
                    </h4>
                    <p><span class="notif_message"></span></p>
                </a>
            </li>
            <!-- end message -->
        </ul>

        <div class="navbar-custom-menu pull-left">

        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu" onclick="setReadNotif()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i id="notification" data-toggle="tooltip" class="fa fa-envelope" title="Notification" style="color:#000000"></i>
                        <span class="label label-danger notifUnread hide" style="padding-top: 3px;">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <ul id="notif_list_container" class="menu">
                                
                            </ul>
                        </li>
                    </ul>
                </li>

                @if (Session["RoleType"] == null || Session["RoleType"].ToString() == "Internal" || Session["RoleType"].ToString() == "Distributor")
                {
                    string UrlAction = String.Empty;
                    if (Session["RoleType"] != null)
                    {
                        if (Session["RoleType"].ToString() == "Internal")
                        {
                            UrlAction = Url.Action("Internal", "Dashboard");
                        }
                        else if (Session["RoleType"].ToString() == "Distributor")
                        {
                            UrlAction = Url.Action("Distributor", "Dashboard");
                        }
                    }
                    else
                    {
                        UrlAction = Url.Action("Internal", "Dashboard");
                    }
                    <li class="dropdown user user-menu">
                        <a href="@UrlAction">
                            <span class="hidden-xs">
                                <i data-toggle="tooltip" class="fa fa-home" title="Home" style="color:#000000"></i>
                            </span>
                        </a>
                    </li>
                }

                <li class="dropdown messages-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" onclick="popContact()">
                        <i data-toggle="tooltip" class="fa fa-user" title="Contact Admin" style="color:#000000"></i>
                    </a>
                    <div class="box box-contact" style="display:none;">
                        <div class="box-header">
                            <h3 class="box-title">Contact Admin</h3>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="tbl-contact">
                                <tr>
                                    <td>Phone</td>
                                    <td>:</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>:</td>
                                    <td>-</td>
                                </tr>
                            </table>
                            <br>
                            <br>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </li>

                @if (Session["RoleId"] == null)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs" style="color:#000000"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("User", "Index", "Account")</li>
                            <li>@Html.ActionLink("User Level", "Index", "Roles")</li>
                            <li>@Html.ActionLink("Module", "Index", "Modules")</li>
                            <li>@Html.ActionLink("Main Menu", "Index", "MainMenus")</li>
                            <li>@Html.ActionLink("Sub Menu", "Index", "SubMenus")</li>
                        </ul>
                    </li>
                }
                @if (Convert.ToInt32(Session["SupplierId"]) != 0)
                {
                    <li class="dropdown user user-menu">
                        <a href="@Url.Action("Details", "Suppliers" , new { id=Convert.ToInt32(Session["SupplierId"]) })">
                            <span class="hidden-xs">Company Profile</span>
                        </a>
                    </li>
                }
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="@Url.Action("Logout", "Account")">
                        <i data-toggle="tooltip" class="fa fa-power-off" title="Logout" style="color:#000000"></i>
                    </a>
                </li>
                @* END User Account Menu *@

                <li class="dropdown user user-menu">
                    <a href="#">
                        <i data-toggle="tooltip" class="fa fa-bars" title="Menu" onclick="toggleRightNav()" style="color:#000000"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>