﻿<header class="main-header">
    @* BEGIN Logo *@
    @{ 
        string action = String.Empty;
        string link = String.Empty;
    }
    @if (Session["RoleId"] != null)
    {
        Int32 userRoleId = Convert.ToInt32(Session["RoleId"]);

        if (userRoleId == 1)
        {
            action = "ProKmsi";
            link = "Dashboard";
        }
        else if (userRoleId == 2)
        {
            action = "ProSupplier";
            link = "Dashboard";
        }
        else if (userRoleId == 3 || userRoleId == 4)
        {
            action = "Index";
            link = "Contracts";
        }
        else if (userRoleId == 5)
        {
            action = "Index";
            link = "TicketDocuments";
        }
        else if (userRoleId == 6)
        {
            action = "GStockKmsi";
            link = "Dashboard";
        }
        else if (userRoleId == 7)
        {
            action = "GStockGgi";
            link = "Dashboard";
        }
        else
        {
            action = "Index";
            link = "Contracts";
        }
    }
    <a class="logo" style="width: 300px;">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>A</b>LT</span>
        @* Logo for regular state and mobile devices *@
        @*<img style="height: 100%;" src="~/Content/img/logo_new.png">*@
        <div class="head-top-logo">K-PINTAR PARTS PORTAL SYSTEM</div>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation" style="margin-left: 285px;">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i data-toggle="tooltip" class="fa fa-envelope" title="Notification"></i>
                        <span class="label label-danger notifUnread hide">0</span>
                    </a>
                    <ul class="dropdown-menu" id="notif_list_container">
                        @*<li class="header">You have <span class="notifUnread">0</span> unread notification(s)</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <!-- start message -->
                                    <a href="#">
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <!-- end message -->
                            </ul>
                        </li>*@
                    </ul>
                </li>
                <li class="dropdown messages-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" onclick="popContact()">
                        <i data-toggle="tooltip" class="fa fa-user" title="Contact Admin"></i>
                    </a>
                    <div class="box box-contact" style="display:none;">
                        <div class="box-header">
                            <h3 class="box-title">Contact Admin</h3>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="tbl-contact">
                                <tr>
                                    <td>Phone</td>
                                    <td>:</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>:</td>
                                    <td>-</td>
                                </tr>
                            </table>
                            <br>
                            <br>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </li>

                @if (Session["RoleType"] == null || Session["RoleType"].ToString() == "Internal" || Session["RoleType"].ToString() == "Distributor")
                {
                    string UrlAction = String.Empty;
                    if (Session["RoleType"] != null)
                    {
                        if (Session["RoleType"].ToString() == "Internal")
                        {
                            UrlAction = Url.Action("Internal", "Dashboard");
                        }
                        else if (Session["RoleType"].ToString() == "Distributor")
                        {
                            UrlAction = Url.Action("Distributor", "Dashboard");
                        }
                    }
                    else
                    {
                        UrlAction = Url.Action("Internal", "Dashboard");
                    }
                    <li class="dropdown user user-menu">
                        <a href="@UrlAction">
                            <span class="hidden-xs">
                                <i data-toggle="tooltip" class="fa fa-home" title="Home"></i>
                            </span>
                        </a>
                    </li>
                }

                @if (Session["RoleId"] == null)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("User", "Index", "Account")</li>
                            <li>@Html.ActionLink("User Level", "Index", "Roles")</li>
                            <li>@Html.ActionLink("Module", "Index", "Modules")</li>
                            <li>@Html.ActionLink("Main Menu", "Index", "MainMenus")</li>
                            <li>@Html.ActionLink("Sub Menu", "Index", "SubMenus")</li>
                            <li>@Html.ActionLink("Master Parts", "Index", "Parts")</li>
                            <li>@Html.ActionLink("Slider", "Index", "Slider")</li>
                            <li>@Html.ActionLink("Request Access", "Index", "ApprovalRequest")</li>
                        </ul>
                    </li>
                }
                @if (Convert.ToInt32(Session["SupplierId"]) != 0)
                {
                    <li class="dropdown user user-menu">
                        <a href="@Url.Action("Details", "Suppliers", new { id = Convert.ToInt32(Session["SupplierId"]) })">
                            <span class="hidden-xs">Company Profile</span>
                        </a>
                    </li>
                }
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="@Url.Action("Logout", "Account")">
                        <i data-toggle="tooltip" class="fa fa-power-off" title="Home"></i>
                    </a>
                </li>
                @* END User Account Menu *@
            </ul>
        </div>
    </nav>
</header>