﻿@model KMSIPartsPortal_System.Models.ImportExcel

@Html.AntiForgeryToken()
@if (ViewBag.Message != null)
{
    <span class="text-success">@ViewBag.Message</span>
}
<div class="form-group">
    @Html.LabelFor(model => model.file)
    @Html.TextBoxFor(model => model.file, new { @type = "file", id = "uploadFiles" })
    @Html.ValidationMessageFor(model => model.file)
</div>
