﻿@using System.Web.Optimization
@using System.IO
@using System.Reflection
@using System.Text
@using System.Diagnostics
@using WebHelpers.Mvc5.Enum
@{ 
    Int32 UserId = Convert.ToInt32(Session["UserId"]);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title
        }
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- jQuery UI -->
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/components/Ionicons/css/ionicons.min.css" />
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/components/datatables.net-bs/css/dataTables.bootstrap.css" />
    <!-- DataTables Button -->
    <link rel="stylesheet" href="~/Content/components/datatables.net/css/button.dataTables.min.css" />
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Content/components/bootstrap-daterangepicker/daterangepicker.css" />
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker3.min.css" />
    <!-- bootstrap tagsinput -->
    <link rel="stylesheet" href="~/Content/components/bootstrap-tagsinput/bootstrap-tagsinput.css" />
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/css/icheck/blue.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/css/skins/_all-skins.css" />
    <!-- Owned style -->
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/app-style.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .global-title, .box, .odd, div.dataTables_wrapper div.dataTables_length select {
            color: black;
        }
        .odd {
            background: #FAFAFA !important;
        }
    </style>

    @RenderSection("styles", required: false)


    
</head>
<body class="skin-default sidebar-mini" style="overflow:scroll;">
    <div id="overlay"></div>
    <div class="wrapper">
        @Html.Partial("_Header")

        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            @*<section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Description</small>
                </h1>
            </section>*@

            <section class="content" style="color:black">
                @RenderBody()
            </section>
        </div>

    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    <!-- jQuery 3 -->
    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Content/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- jQuery Validator -->
    <script src="~/Content/js/plugins/validator/validator.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content/js/plugins/moment/moment.min.js"></script>
    <script src="~/Content/components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Content/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap tagsinput -->
    <script src="~/Content/components/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/js/plugins/icheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/js/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/js/adminlte.js"></script>
    <!-- Page script -->
    <script src="~/Content/js/init.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // load notif
            function loadNotif() {
                console.log("loadNotif");
                var notifUrl = "@Url.Action("GetNotif", "Home")";
                request = $.ajax({
                    url: notifUrl,
                    type: "get",
                    data: { userId: "@UserId", receiver: "@UserId" }
                });

                request.done(function (response, textStatus, jqXHR) {
                    if (response) {
                        var data = JSON.parse(response);
                        if (data.hasOwnProperty("Notifications")) {
                            if (data.Notifications.length > 0) {
                                var countUnread = 0;
                                for (var i = 0; i < data.Notifications.length; i++) {
                                    var notif = data.Notifications[i];
                                    if (notif.IsRead == false) {
                                        countUnread++;
                                    }
                                }

                                $(".notifUnread").html(countUnread);
                                if (countUnread > 0) {
                                    $(".notifUnread").removeClass("hide");
                                } else {
                                    $(".notifUnread").addClass("hide");
                                }
                            }
                        }
                    }
                });
            }

            setInterval(loadNotif, 180000);
            loadNotif();

            //Zoom
            var currentZoom = screen.width/1366;
            $('body').css({
                zoom: currentZoom,
                '-moz-transform': 'scale(' + currentZoom + ')'
            });



        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
