﻿@using System.Web.Optimization
@using System.IO
@using System.Reflection
@using System.Text
@using System.Diagnostics
@using WebHelpers.Mvc5.Enum
@{
    Int32 UserId = Convert.ToInt32(Session["UserId"]);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title
        }
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/components/datatables.net-bs/css/dataTables.bootstrap.css">
    <!-- DataTables Button -->
    <link rel="stylesheet" href="~/Content/components/datatables.net/css/button.dataTables.min.css">
    <!-- DataTables Fixed Header -->
    <link rel="stylesheet" href="~/Content/components/datatables.net-fixedHeader/css/fixedHeader.bootstrap.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Content/components/bootstrap-daterangepicker/daterangepicker.css" />
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker3.min.css">
    <!-- bootstrap tagsinput -->
    <link rel="stylesheet" href="~/Content/components/bootstrap-tagsinput/bootstrap-tagsinput.css" />
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/css/icheck/customer.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/css/skins/_all-skins.css">
    <!-- Owned style -->
    <link rel="stylesheet" href="~/Content/components/Badge/jquery.badge.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/app-style.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            font-size: 15px;
        }

        .content-wrapper {
            background-color: #fff;
        }

        .skin-default .wrapper, .skin-default .main-sidebar, .skin-default .left-side {
            background: #0e1271 !important;
        }

        .skin-default .main-header .navbar {
            background: none;
        }

        table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
            padding-right: 4px;
            text-align: center;
        }

        .odd {
            background-color: white !important;
            color: black !important;
        }

        .dataTables_scroll {
            background-color: white;
            color: black;
            border-radius: 10px;
            padding: 10px;
        }

        .dataTables_scrollHead {
            /*background-color: #0E1271;*/
            background-color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: black;
            /*padding-top:20px;*/
            border-bottom: 2px solid #CBCBCB !important;
            font-size: 17px;
        }

        .box-title {
            /*color: #0E1271;*/
            color: black;
            border-bottom: none;
        }

        .box {
            /*color: #0E1271;*/
            color: black;
            margin-bottom: 15px;
        }

        .bootstrap-tagsinput {
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        div.dataTables_wrapper div.dataTables_length select {
            color: #7F7F7F;
            border: 1px solid #7F7F7F;
            background-color: white;
        }

        .filter-column {
            color: #7F7F7F !important;
        }

            .filter-column > .box-title {
                color: #7F7F7F !important;
            }

            .filter-column > .box {
                color: #7F7F7F !important;
            }

        .btn-primary {
            background-color: white;
            border: none;
            font-weight: bold;
            color: black;
        }

            /*.btn.btn-flat {
            border: 1px solid #777;
        }*/

            .btn-primary:hover {
                background-color: #ccc;
                color: black;
                /*border: 1px solid #777;*/
            }

        .skin-default .main-header .navbar .nav > li > a:hover {
            background-color: #ccc;
        }

        .content {
            background: #F3F3F3;
            margin-top: 15px;
        }

        #main {
            padding: 0px;
        }



        .page-header {
            color: black;
        }

        .box-header .text-center .col-md-12 .box-title > b {
            font-size: 30px;
            position: absolute;
            top: -60px
        }

        .box box-solid box-primary {
        }

        .box.box-solid.box-primary > .box-header {
            height: 0px;
            padding: 0px;
        }

        label {
            font-weight: bold !important;
        }

        .btn, .btn.btn-flat {
            border-radius: 5px;
            border: 1px solid #7F7F7F;
            color: #7F7F7F;
            padding: 0px 15px;
        }

        div.dataTables_wrapper div.dataTables_length select {
            border-radius: 5px;
            color: #7F7F7F padding: 0px 15px;
        }

        .pagination > li > a {
            color: #7F7F7F !important;
        }

        .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
            color: black !important;
            background: none;
            border: 1px solid #7F7F7F;
        }

        .pagination > li > a, .pagination > li > span {
            border: 1px solid #7F7F7F;
            padding: 0px 12px;
        }

        .pagination > li:first-child > a, .pagination > li:first-child > span {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .pagination > li:last-child > a, .pagination > li:last-child > span {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
            border-color: #7F7F7F;
        }

        .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th {
            border: 0px;
            border-left: 1px solid #CBCBCB !important;
        }

            .table-bordered > tbody > tr > td:first-child, .table-bordered > tbody > tr > th:first-child, .table-bordered > tfoot > tr > td:first-child, .table-bordered > tfoot > tr > th:first-child {
                border: 0px !important;
            }

        /*.corner-image {
            position: fixed;
            z-index: 9999;
            bottom: 20px;
            left: 20px;
        }*/

        #notification .notification-badge-top {
            position: absolute;
            top: 30px;
        }

        #badge .notification-badge-top {
            position: absolute;
            top: 95px;
            right: 190px;
        }

        #badge-airway .notification-badge-top {
            position: absolute;
            top: 95px;
            right: 0px;
        }

        #badge-sidebar .notification-badge-top {
            position: relative;
            display: inline-block;
            top: -20px;
        }

        #badge-sidebar .notification-badge {
            font-size: 15px;
            line-height: 20px;
        }

        #badge-sidebar-airway .notification-badge-top {
            position: relative;
            display: inline-block;
            top: -20px;
        }

        #badge-sidebar-airway .notification-badge {
            font-size: 15px;
            line-height: 20px;
        }

        #customertree {
            margin: 5px;
            padding: 5px;
        }

            #customertree li {
                list-style: none;
                padding: 20px 10px;
                border-bottom: 1px solid #86AAD4;
            }

                #customertree li:last-child {
                    border: 0;
                }

            #customertree a {
                display: block;
                width: 100%;
                text-decoration: none;
                color: #333;
                font-size: 20px;
            }

            #customertree label {
                position: relative;
                display: block;
                width: 100%;
                cursor: pointer;
            }

            #customertree input[type=checkbox] {
                display: none; /* Hide ugly checkbox */
            }

            /* Hide/collapse by default */
            #customertree li.treecollapse ul {
                visibility: hidden;
                opacity: 0;
                max-height: 0; /* CSS bug. Cannot animate height... */
                transition: all 0.5s;
            }

            #customertree label::after {
                content: "\203A";
                position: absolute;
                top: 0;
                right: 0;
                transition: all 0.5s;
                font-size: 30px;
            }

            /* Show when checked */
            #customertree li.treecollapse input:checked ~ ul {
                visibility: visible;
                opacity: 1;
                max-height: 999px; /* Just give a big enough height for animation */
            }

            #customertree li.treecollapse input:checked ~ label::after {
                transform: rotate(90deg);
            }

        .sidenav a:first-child {
            padding: 10px;
        }

        .sidenav a b, .sidenav a i, #notif_list_container a b, #notif_list_container a i {
            height: auto;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body class="skin-default sidebar-mini customer-content-wrapper" style="overflow:scroll; background-color: #F3F3F3 !important;">
    @*<img class="corner-image" src="~/Content/img/corner-image.png" />*@
    @Html.Partial("_SidebarCustomerNew")

    <div class="intro_content padding-50 text-white" id="main" style="padding:0px">
        <div id="overlay"></div>

        <div id="main" style="background-color:white">
            @Html.Partial("_HeaderCustomer")
            <div class="header_user" style="margin-top:-40px;">
                <div class="nav_user text-center">

                    <a href="#" class="caption-pintar text-center">
                        S-BOM
                    </a>
                    <a href="#" class="caption-pintar text-center">
                        PRODUCT
                    </a>
                    <a href="#" class="caption-pintar text-center">
                        PROMOTION
                    </a>

                </div>
            </div>
            @Html.Partial("_TopMenuCustomer")
            @*<section class="content-header">
                    <h1>
                        @ViewBag.Title
                        <small>@ViewBag.Description</small>
                    </h1>
                </section>*@

            <section class="content">
                @RenderBody()
            </section>
        </div>
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    <!-- jQuery 3 -->
    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Content/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/components/datatables.net-fixedHeader/js/dataTables.fixedHeader.min.js"></script>
    <!-- jQuery Validator -->
    <script src="~/Content/js/plugins/validator/validator.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content/js/plugins/moment/moment.min.js"></script>
    <script src="~/Content/components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Content/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap tagsinput -->
    <script src="~/Content/components/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/js/plugins/icheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/js/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/js/adminlte.js"></script>
    <!-- Page script -->
    <script src="~/Content/components/Badge/jquery.badge.js"></script>
    <script src="~/Content/js/init.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            closeRightNav();
            // load notif
            function loadNotif() {
                console.log("loadNotif");
                var notifUrl = "@Url.Action("GetNotif", "Home")";
                request = $.ajax({
                    url: notifUrl,
                    type: "get",
                    data: { userId: "@UserId", receiver: "@UserId" }
                });

                request.done(function (response, textStatus, jqXHR) {
                    if (response) {
                        var data = JSON.parse(response);
                        if (data.hasOwnProperty("Notifications")) {
                            if (data.Notifications.length > 0) {
                                var countUnread = 0;
                                for (var i = 0; i < data.Notifications.length; i++) {
                                    var notif = data.Notifications[i];
                                    if (notif.IsRead == false) {
                                        countUnread++;
                                    }
                                }

                                $(".notifUnread").html(countUnread);
                                if (countUnread > 0) {
                                    $(".notifUnread").removeClass("hide");
                                } else {
                                    $(".notifUnread").addClass("hide");
                                }
                            }
                        }
                    }
                });
            }

            var currentZoom = screen.width / screen.width * 0.8;
            $('body').css({
                zoom: currentZoom,
                '-moz-transform': 'scale(' + currentZoom + ')'
            });

            setInterval(loadNotif, 180000);
            loadNotif();

            $("#notification").badge('soon', 'top');

            $("#badge").badge('soon', 'top');
            $("#badge-sidebar").badge('soon', 'top');

            $("#badge-airway").badge('soon', 'top');
            $("#badge-sidebar-airway").badge('soon', 'top');

            $("#customertree li.treecollapse").find("input[type=checkbox]").trigger("click");
            $("#customertree li.treecollapse label").click(function () {
                $("#customertree li.treecollapse").find("input[type=checkbox]").trigger("click");
            });

        });

        function toggleRightNav() {
            if (document.getElementById("rightSideNav").style.width == "0px") {
                openRightNav();
            } else {
                closeRightNav();
            }
        }
        function openRightNav() {
            $("#rightSideNav a").hide();
            document.getElementById("rightSideNav").style.width = "400px";
            //document.getElementById("main").style.marginLeft = "-312px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            setTimeout(function () {
                $("#rightSideNav a").show();
            }, 500);
        }
        function closeRightNav() {
            $("#rightSideNav a").hide();
            document.getElementById("rightSideNav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0px";
            document.body.style.backgroundColor = "white";
        }


    </script>
    @RenderSection("scripts", required: false)
</body>
</html>