﻿<div id="rightSideNav" class="sidenav rightSideNav" style="right: 0;">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleRightNav()" style="padding:0px">&times;</a>
    <a href="#">
        <img src="~/Content/img/ic_user.png" class="pull-left" width=32px /><h4>@Session["FirstName"]</h4><h5>@Session["UserName"]</h5>
    </a>
    <ul id="customertree">
        @{
            foreach (var item in ViewBag.ModuleInternalLeft)
            {
                string color = "text-success";

                if (item.ModuleName == "Helpdesk")
                {
                    color = "text-success";
                }
                else if (item.ModuleName == "Information")
                {
                    color = "text-primary";
                }

                if (Session["MenuMaster"] != null)
                {
                    var MenuMaster = (List<KMSIPartsPortal_System.Models.MenuModels>)Session["MenuMaster"];
                    var groupByMenu = MenuMaster.Where(x => x.ModuleName == item.ModuleName).GroupBy(x => x.MainMenuName).ToList();
                    var count = 0;

                    if (item.ModuleName == "Information")
                    {
                        foreach (var Main in groupByMenu)
                        {
                            foreach (var SubMenu in Main)
                            {
                                count++;
                            }
                        }
                    }
                    <li class="treecollapse">
                        @if (count > 0)
                        {
                            <input type="checkbox" id="@item.ModuleName" /><label for="@item.ModuleName"><a href="#">@item.ModuleName.ToUpper()</a></label>
                        }
                        else
                        {
                            <a href="/Dashboard/ToDashboard/@item.ID">@item.ModuleName.ToUpper()</a>
                        }

                        @if (item.ModuleName == "Information")
                        {
                            foreach (var Main in groupByMenu)
                            {
                                <ul>
                                    @foreach (var SubMenu in Main)
                                    {
                                        <li>
                                            <a href="@Url.Action(SubMenu.ActionName, SubMenu.ControllerName)">
                                                <i class="fa fa-circle @color"></i>
                                                <b>@SubMenu.SubMenuName</b>
                                            </a>
                                        </li>
                                    }

                                    <li>
                                        <a id="badge-sidebar" href="javascript:void(0);">
                                            <i class="fa fa-circle text-primary"></i>
                                            <b>ETA Information</b>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="badge-sidebar-airway" href="javascript:void(0);">
                                            <i class="fa fa-circle text-primary"></i>
                                            <b>Airway Bill Information</b>
                                        </a>
                                    </li>
                                </ul>
                            }
                        }
                    </li>
                }
            }
        }
    </ul>
</div>