﻿@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">

            @if (Session["RoleId"] == null)
            {
                if (Session["ModuleId"] == null)
                {

                }
                else if (Session["ModuleId"].ToString() == "2")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "Purchasing", "Dashboard")</li>
                }
                else if (Session["ModuleId"].ToString() == "3")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "KmsiHelpdesk", "Dashboard")</li>
                }
                else if (Session["ModuleId"].ToString() == "1")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "Fmc", "Dashboard")</li>
                }
                else if (Session["ModuleId"].ToString() == "4")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "KmsiGstock", "Dashboard")</li>
                }
            }
            else
            {
                if (Session["RoleId"].ToString() == "1")
                {
                    <li class="checkDs">@Html.ActionLink("Dashboard", "Purchasing", "Dashboard")</li>
                }
                else if (Session["RoleId"].ToString() == "2")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "Supplier", "Dashboard")</li>
                }
                else if (Session["RoleId"].ToString() == "3")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "Helpdesk", "Dashboard")</li>
                }
                else if (Session["RoleId"].ToString() == "4")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "Fmc", "Dashboard")</li>
                }
                else if (Session["RoleId"].ToString() == "5")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "KmsiHelpdesk", "Dashboard")</li>
                }
                else if (Session["RoleId"].ToString() == "6")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "KmsiGstock", "Dashboard")</li>
                }
                else if (Session["RoleId"].ToString() == "7")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "Ggi", "Dashboard")</li>
                }
                else if (Session["RoleId"].ToString() == "8")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "UtFmc", "Dashboard")</li>
                }
                else if (Session["RoleId"].ToString() == "10")
                {

                    <li class="checkDs">@Html.ActionLink("Dashboard", "Ggi", "Dashboard")</li>
                }
            }




            @if (Session["MenuMaster"] != null)
            {
                var MenuMaster = (List<KMSIPartsPortal_System.Models.MenuModels>)Session["MenuMaster"];
                var groupByModule = MenuMaster.GroupBy(x => x.ModuleName).ToList();

                foreach (var MenuList in groupByModule)
                {
                    <li class="header">@MenuList.Key.ToUpper()</li>
                    var groupByMenu = MenuMaster.Where(x => x.ModuleName == MenuList.Key).GroupBy(x => x.MainMenuName).ToList();
                    foreach (var Main in groupByMenu)
                    {
                        <li class="treeview menu-open">
                            <a href="javascript:void(0)">@Main.Key <span class="caret"></span></a>
                            <ul class="treeview-menu" style="display: block;">
                                @foreach (var SubMenu in Main)
                                {
                                    <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == SubMenu.ControllerName && ViewContext.RouteData.Values["Action"].ToString() == SubMenu.ActionName) ? "active" : "")">@Html.ActionLink(SubMenu.SubMenuName, SubMenu.ActionName, SubMenu.ControllerName)</li>
                                }
                            </ul>
                        </li>
                    }
                }
            }
        </ul>
        @* END Menu *@
</section>
</aside>