﻿@using WebHelpers.Mvc5
<div class="spacer-20"></div>
<div class="header_user">
    <div>
        @* BEGIN Menu *@
        @if (Session["MenuMaster"] != null)
        {
            var MenuMaster = (List<KMSIPartsPortal_System.Models.MenuModels>)Session["MenuMaster"];
            var groupByMenu = MenuMaster.Where(x => x.ModuleName == "Helpdesk").GroupBy(x => x.MainMenuName).ToList();
            foreach (var Main in groupByMenu)
            {
                foreach (var SubMenu in Main)
                {
                    <b>
                        @Html.ActionLink(SubMenu.SubMenuName, SubMenu.ActionName, SubMenu.ControllerName, null, new { @class = string.Concat("top-menu-pintar text-center ", (ViewContext.RouteData.Values["Controller"].ToString() == SubMenu.ControllerName && ViewContext.RouteData.Values["Action"].ToString() == SubMenu.ActionName) ? "active-top-menu-pintar" : "") })
                    </b>
                }
            }

            if (!String.IsNullOrEmpty(ViewBag.ModuleName))
            {
                if (ViewBag.ModuleName == "Information")
                {
                    <b>
                        <a id="badge" class="top-menu-pintar text-center " href="javascript:void(0);">ETA Information</a>
                    </b>

                    <b>
                        <a id="badge-airway" class="top-menu-pintar text-center " href="javascript:void(0);">Airway Bill Information</a>
                    </b>
                }
            }
        }
        @* END Menu *@
    </div>
</div>

    