﻿@model KMSIPartsPortal_System.Models.Unit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitSerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitSerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UnitId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
