﻿@model IEnumerable<KMSIPartsPortal_System.Models.Contract>

@{
    ViewBag.Title = "Unit List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12" align="right">
        <a href="@Url.Action("Index", "Contracts")" class="btn btn-sm btn-flat bg-navy"> Back To Contracts List</a>
    </div>
</div>
<br />
<div class="row">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <a href="@Url.Action("Index", "WorkOrder", new { code = item.ContractCode, unit = item.UnitSerialNumber })">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box" style="background-color: #0e1271 !important; color: #fff !important;">
                        <span class="info-box-icon"><i class="fa fa-truck"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number"><label for="UnitSerialNumber">@item.UnitModel - @item.UnitCode - @item.UnitSerialNumber</label></span>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
</div>
