﻿@model KMSIPartsPortal_System.Models.DeliveryOrder
@{
    ViewBag.Title = "Confirmation Page Result";
    var delivery = ViewBag.summary;
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Delivery", "Outgoing")" class="btn btn-sm btn-flat bg-navy">Back</a>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DONO, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.DONO, new { htmlAttributes = new { @class = "form-control disabled", @Value = delivery.DONO, @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DODate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.DODate, new { htmlAttributes = new { @class = "form-control disabled", @Value = (delivery.DODate != null) ? delivery.DODate.ToString("yyyy-MM-dd") : "", @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table id="confirm-table" class="table table-bordered table-striped" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Part Number</th>
                                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                                                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                                                <th>@Html.DisplayNameFor(model => model.ActualQty)</th>
                                                <th>@Html.DisplayNameFor(model => model.Unit)</th>
                                                <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                                                <th>@Html.DisplayNameFor(model => model.CNO)</th>
                                                <th>@Html.DisplayNameFor(model => model.StockPoint)</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 1;
                                                foreach (var row in ViewBag.lists)
                                                {
                                                    int ID = row.ID;
                                                    <tr>
                                                        @Html.HiddenFor(model => model.ID, new { @value = row.ID })
                                                        <td class="text-center">@i</td>
                                                        <td>@Html.EditorFor(model => model.PartNumber, new { htmlAttributes = new { @class = "form-control disabled", @Value = row.PartNumber, @readonly = true } })</td>
                                                        <td>@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control disabled", @Value = row.Description, @readonly = true } })</td>
                                                        <td>@Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control disabled", @Value = row.Quantity, @readonly = true } })</td>
                                                        <td>@Html.EditorFor(model => model.ActualQty, new { htmlAttributes = new { @class = "form-control disabled", @Value = row.ActualQty, @readonly = true } })</td>
                                                        <td>@Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control disabled", @Value = row.Unit, @readonly = true } })</td>
                                                        <td>@Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control disabled", @Value = row.Remarks, @readonly = true } })</td>
                                                        <td>@Html.EditorFor(model => model.CNO, new { htmlAttributes = new { @class = "form-control disabled", @Value = row.CNO, @readonly = true } })</td>
                                                        <td>@Html.EditorFor(model => model.StockPoint, new { htmlAttributes = new { @class = "form-control disabled", @Value = row.StockPoint, @readonly = true } })</td>
                                                        <td>
                                                            @{
                                                                string disabled = "disabled";
                                                                if (row.ActualQty != null && row.IsValid != 1)
                                                                {
                                                                    disabled = "";
                                                                }
                                                                <a class="btn btn-md btn-warning btn-flat confirm @disabled" data-value="@row.ID">Confirm</a>
                                                            }
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            $('#confirm-table tbody').on('click', 'a.confirm', function (e) {
                e.preventDefault();

                var param = $(this).data('value');
                customConfirm("Are you sure to confirm this Receipt?", function () {
                    $('#overlay').show();
                    location.href = "/Delivery/doConfirm/" + param;
                });
            });
        });
    </script>
}