﻿@model KMSIPartsPortal_System.Models.DeliveryOrder
@{
    ViewBag.Title = "Delivery Order Document";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Purchase", "Outgoing")" class="btn btn-sm btn-flat bg-navy">Back</a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="row">
                        @*<div class="col-md-12 hide" align="right">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DONO, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.DONO, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["DONO"], @readonly = true } })
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-12" align="right">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseNumber, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.PurchaseNumber, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["PurchaseNumber"], @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" align="right">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control disabled", autocomplete = "off", @Value = ViewData["OrderDate"], @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" align="right">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DODate, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.DODate, new { htmlAttributes = new { @class = "form-control disabled", autocomplete = "off", @Value = ViewData["DODate"], @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" align="right">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SalesName, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.SalesName, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["SalesName"], @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-md-6">
                            <h3 class="box-title">Ordered By</h3>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AttnOrderBy, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AttnOrderBy, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["AttnOrderBy"], @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyNameOrderBy, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.CompanyNameOrderBy, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["CompanyNameOrderBy"], @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AddressOrderBy, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AddressOrderBy, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["AddressOrderBy"], @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhoneOrderBy, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.PhoneOrderBy, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["PhoneOrderBy"], @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmailOrderBy, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.EmailOrderBy, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["EmailOrderBy"], @readonly = true } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="box-title">Deliver To</h3>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AttnDeliverTo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AttnDeliverTo, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["AttnDeliverTo"], @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyNameDeliverTo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.CompanyNameDeliverTo, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["CompanyNameDeliverTo"], @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AddressDeliverTo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AddressDeliverTo, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["AddressDeliverTo"], @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhoneDeliverTo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.PhoneDeliverTo, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["PhoneDeliverTo"], @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmailDeliverTo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.EmailDeliverTo, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewData["EmailDeliverTo"], @readonly = true } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-md-12">
                            <table id="do-list-dt" class="table table-bordered table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>@Html.DisplayNameFor(model => model.DONO)</th>
                                        <th>Part Number</th>
                                        <th>@Html.DisplayNameFor(model => model.DODate)</th>
                                        <th>Part Name</th>
                                        <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                                        <th>@Html.DisplayNameFor(model => model.Unit)</th>
                                        <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                                        <th>@Html.DisplayNameFor(model => model.CNO)</th>
                                        <th>@Html.DisplayNameFor(model => model.StockPoint)</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function formatNumber(n) {
            console.log("sudah format")
            var result = "0";
            if (n != null) {
                n = n.toString();
                result = n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }
            return result;
        }

        $(document).ready(function () {
            $('#do-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "info": false,
                "ajax": {
                    "url": "/Delivery/DetailListByPo",
                    "data": { param: "@ViewBag.poNumber" },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    }
                ],
                "order": [[2, "asc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "DONO", "name": "DONO", "autoWidth": true },
                    { "data": "PartNumber", "name": "PartNumber", "autoWidth": true },
                    { "data": "DODate", "name": "DODate", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    {
                        "data": "Quantity", "name": "Quantity", "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            var result = "0";
                            if (data != null) {
                                result = formatNumber(data);
                            }
                            return result;
                        }
                    },
                    { "data": "Unit", "name": "Unit", "autoWidth": true },
                    { "data": "Remarks", "name": "Remarks", "autoWidth": true },
                    { "data": "CNO", "name": "CNO", "autoWidth": true },
                    { "data": "StockPoint", "name": "StockPoint", "autoWidth": true }
                ]
            });
        });
    </script>
}