﻿@model KMSIPartsPortal_System.Models.DeliveryOrder
@{
    ViewBag.Title = "Input Receipt Results";
    var order = ViewBag.summary;
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Delivery", "Outgoing")" class="btn btn-sm btn-flat bg-navy">Back</a>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DONO, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.DONO, new { htmlAttributes = new { @class = "form-control disabled", @Value = order.DONO, @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DODate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.DODate, new { htmlAttributes = new { @class = "form-control disabled", @Value = (order.DODate != null) ? order.DODate.ToString("yyyy-MM-dd") : "", @readonly = true } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table class="table table-bordered" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Part Number</th>
                                                    <th>Part Name</th>
                                                    <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                                                    <th>@Html.DisplayNameFor(model => model.ActualQty)</th>
                                                    <th>@Html.DisplayNameFor(model => model.Unit)</th>
                                                    <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                                                    <th>@Html.DisplayNameFor(model => model.CNO)</th>
                                                    <th>@Html.DisplayNameFor(model => model.StockPoint)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int i = 1;
                                                    foreach (var row in ViewBag.lists)
                                                    {
                                                        int ID = row.ID;
                                                        <tr>
                                                            @Html.HiddenFor(model => model.IDs[ID], new { @value = row.ID })
                                                            <td class="text-center" style="vertical-align: middle">@i</td>
                                                            <td class="text-center" style="vertical-align: middle">@row.PartNumber</td>
                                                            <td class="text-center" style="vertical-align: middle">@row.Description</td>
                                                            <td class="text-right" style="vertical-align: middle">@row.Quantity</td>
                                                            <td>
                                                                @{
                                                                    if (row.IsValid != 1)
                                                                    {
                                                                        @Html.EditorFor(model => model.Actuals[ID], new { htmlAttributes = new { @class = "form-control", @Value = row.Quantity } })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.EditorFor(model => model.Actuals[ID], new { htmlAttributes = new { @class = "form-control disabled", @Value = row.ActualQty, @readonly = true } })
                                                                    }
                                                                }
                                                            </td>
                                                            <td class="text-center" style="vertical-align: middle">@row.row.Unit</td>
                                                            <td style="vertical-align: middle">@row.Remarks</td>
                                                            <td class="text-center" style="vertical-align: middle">@row.CNO</td>
                                                            <td class="text-center" style="vertical-align: middle">@row.StockPoint</td>
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer" align="right">
                        <a href="@Url.Action("Delivery", "Outgoing")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                        <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
