﻿@model KMSIPartsPortal_System.Models.Invoice

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartsNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitSerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitSerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualSMR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualSMR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kurs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kurs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxInvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxInvoiceNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
