﻿@model KMSIPartsPortal_System.Models.Invoice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6" align="left">
        <a href="@Url.Action("DownloadPdf", "WorkOrderInvoice", new { code = Model.InvoiceCode })" class="btn btn-sm btn-primary btn-flat"> Download Invoice</a>
    </div>

    <div class="col-md-6" align="right">
        <a href="@Url.Action("Index", "WorkOrderInvoice")" class="btn btn-sm btn-flat bg-navy"> Back To Invoice List</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="box-title"> @Html.DisplayFor(model => model.InvoiceCode)</h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="box-title" style="float: right"> @Html.DisplayFor(model => model.InvoiceDate)</h3>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitSerialNumber, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.UnitSerialNumber, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerCode, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitCode, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.UnitCode, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitModel, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.UnitModel, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxInvoiceNumber, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.TaxInvoiceNumber, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ActualSMR, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ActualSMR, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.InvoiceDueDate, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.InvoiceDueDate, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Kurs, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Kurs, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AmountTotal, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.AmountTotal, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>