﻿@model IEnumerable<KMSIPartsPortal_System.Models.Invoice>

@{
    ViewBag.Title = "FMC Invoice";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <a id="btn-open-invoice" href="javascript:void(0)" class="btn btn-sm bg-purple btn-flat disabled">Open</a>
                        @if (Session["RoleId"] == null || (int)Session["RoleId"] == 4)
                        {
                            <a id="btn-create-invoice" href="@Url.Action("Create", "WorkOrderInvoice")" class="btn btn-sm btn-success btn-flat">Create New Invoice</a>
                        }
                        <a id="btn-download-invoice" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled">Download Invoice</a>
                    </div>
                </div>
                <br />
                <table id="wo-invoice-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.InvoiceDate)</th>
                            <th>@Html.DisplayNameFor(model => model.InvoiceCode)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitSerialNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitModel)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitCode)</th>
                            <th>@Html.DisplayNameFor(model => model.CustomerCode)</th>
                            <th>@Html.DisplayNameFor(model => model.ActualSMR)</th>
                            <th>@Html.DisplayNameFor(model => model.AmountTotal)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            function turn_on_iCheck() {
                $('input[type="checkbox"], input[type="radio"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue",
                    radioClass: "iradio_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedWOInvoiceID"]:checked').length;

                    if (length == 1) {
                        $('#btn-open-invoice').removeClass('disabled');
                    } else {
                        $('#btn-open-invoice').addClass('disabled');
                    }

                    if (length >= 1) {
                        $('#btn-download-invoice').removeClass('disabled');
                    } else {
                        $('#btn-download-invoice').addClass('disabled');
                    }

                    if (length == $('input[name="checkedWOInvoiceID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedWOInvoiceID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedWOInvoiceID"]').iCheck('check');
                    }
                });
            }

            $('#wo-invoice-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/WorkOrderInvoice/List",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1],
                        "className": 'text-center',
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [2, 3, 4, 5, 6, 7],
                        "className": 'text-center'
                    },
                    {
                        "targets": [8, 9],
                        "className": 'text-right'
                    }
                ],
                "order": [[2, 'asc']],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedWOInvoiceID" value="' + full.InvoiceID + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "data": "InvoiceDate", "name": "InvoiceDate",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "InvoiceCode", "name": "InvoiceCode" },
                    { "data": "UnitSerialNumber", "name": "UnitSerialNumber" },
                    { "data": "UnitModel", "name": "UnitModel" },
                    { "data": "UnitCode", "name": "UnitCode" },
                    { "data": "CustomerCode", "name": "CustomerCode" },
                    {
                        "data": "ActualSMR", "name": "ActualSMR",
                        "render": $.fn.dataTable.render.number(',', '.', 0, '')
                    },
                    {
                        "data": "AmountTotal", "name": "AmountTotal",
                        "render": $.fn.dataTable.render.number('.', ',', 0, 'IDR ')
                    }
                ]
            });

            $('#wo-invoice-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-open-invoice').click(function () {
                var id = $('input[name="checkedWOInvoiceID"]:checked').val();
                window.location.href = '/WorkOrderInvoice/Details/' + id;
            });

            $('#btn-download-invoice').click(function () {
                var ids = [];
                $.each($('input[name="checkedWOInvoiceID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/WorkOrderInvoice/Download",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                    },
                    success: function (resultData) {
                        if (resultData.success) {
                            window.location = '/WorkOrderInvoice/DownloadCsv?fileGuid=' + resultData.FileGuid + '&fileName=' + resultData.FileName;
                        }
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>
}