﻿@model KMSIPartsPortal_System.Models.Role

@{
    ViewBag.Title = "Create New User Level";
}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            @using (Html.BeginForm())
            {
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="box-title">@ViewBag.Title</h3>
                        </div>
                    </div>
                </div>

                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoleType.TypeName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("TypeID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer" align="right">
                    <a href="@Url.Action("Index", "Roles")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                    <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT</button>
                </div>
            }
        </div>
    </div>
</div>