﻿@model IEnumerable<KMSIPartsPortal_System.Models.Role>

@{
    ViewBag.Title = "User Level";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    aside.main-sidebar {
        display: none;
    }

    div.content-wrapper {
        margin-left: 0;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8 pull-left">
                        <a id="btn-create" href="@Url.Action("Create", "Roles")" class="btn btn-sm btn-success btn-flat">Create New</a>
                    </div>
                </div>
                <br />
                <table id="roles-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                            <th>@Html.DisplayNameFor(model => model.RoleType.TypeName)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            $('#roles-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Roles/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "columnDefs": [{
                    "targets": [1],
                    "searchable": false,
                    "sortable": false
                }],
                "columns": [
                    { "data": "RoleName", "name": "RoleName", "autoWidth": true },
                    { "data": "TypeName", "name": "TypeName", "autoWidth": true },
                    {
                        "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-xs btn-warning btn-flat" href="/Roles/Edit/' + full.RoleId + '">Edit</a>' +
                                ' <a class="btn btn-xs btn-danger btn-flat delete" href="/Roles/Delete/' + full.RoleId + '" data-value="' + full.RoleId + '"><i class="fa fa-trash cdtot"></i></a>' +
                                ' <a class="btn btn-xs btn-info btn-flat" href="/SidebarMenus/Index/' + full.RoleId + '">Menu Privilege</a>';
                        }
                    }
                ]
            });

            $('#roles-dt tbody').on('click', 'a.delete', function (e) {
                e.preventDefault();

                var id = $(this).data('value');
                customConfirm("Are you sure to delete this User Level?", function () {
                    location.href = '/Roles/Delete/' + id;
                })
            })
        });
    </script>
}