﻿@model KMSIPartsPortal_System.Models.MenuViewModel

@{
    ViewBag.Title = "Menu Privilege";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8 pull-left">
                        <a id="btn-create" href="@Url.Action("AddPrivilege", "Roles")" class="btn btn-sm btn-success btn-flat">Create New</a>
                    </div>
                </div>
                <br />
                <table id="menus-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.MenuList.Menu_Name)</th>
                            <th>@Html.DisplayNameFor(model => model.MenuList.Controller)</th>
                            <th>@Html.DisplayNameFor(model => model.MenuList.Action)</th>
                            <th>@Html.DisplayNameFor(model => model.MainMenu.MainMenu1)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#menus-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/MenuLists/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "columnDefs": [{
                    "targets": [4],
                    "searchable": false,
                    "sortable": false
                }],
                "columns": [
                    { "data": "Menu_Name", "name": "Menu_Name", "autoWidth": true },
                    { "data": "Controller", "name": "Controller", "autoWidth": true },
                    { "data": "Action", "name": "Action", "autoWidth": true },
                    { "data": "MainMenu", "name": "MainMenu", "autoWidth": true },
                    {
                        "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            return "";
                        }
                    }
                ]
            });
        });
    </script>
}