﻿@model KMSIPartsPortal_System.Models.ForecastList
@{
    ViewBag.Title = "Forecast";
}

@if (Session["RoleType"].ToString() == "Internal")
{

<div class="row">
    @if (TempData["ActionMessage"] != null)
    {
        <div class="alert alert-info alert-dismissible ActionAlert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Alert!</h4>
            @TempData["ActionMessage"]
        </div>
    }
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>UNPROCESSED FORECAST</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-forecast" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-forecast" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                    <div class="col-md-6" align="right">
                        @if (ViewBag.IsUpload == 1)
                        {
                            <a id="btn-bulk-import" class="btn btn-sm bg-purple btn-flat"><i class="fa fa-upload"></i> UPLOAD FORECAST</a>
                        }
                    </div>
                </div>
                <br />
                <table id="forecast-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>@Html.DisplayNameFor(model => model.ForecastNumber)</th>
                            @*<th>@Html.DisplayNameFor(model => model.ForecastDate)</th>*@
                            <th>Date</th>
                            <th>Requester</th>
                            <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
    <!-- /.row -->
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        @{ 
                            string title = "PROCESSED FORECAST";
                            if (Session["RoleType"].ToString() == "Internal")
                            {
                                title = "PROCESSED FORECAST";
                            }
                            else
                            {
                                title = "KMSI FORECAST";
                            }
                        }
                        <h3 class="box-title"><b>@title</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-processed" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-processed" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                </div>
                <br />
                <table id="processed-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAllProcessed", false, htmlAttributes: new { @class = "form-control", @id = "select-all-processed" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>@Html.DisplayNameFor(model => model.ForecastNumber)</th>
                            @*<th>@Html.DisplayNameFor(model => model.ForecastDate)</th>*@
                            <th>Date</th>
                            <th>Requester</th>
                            <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- Modal Import -->
@using (Html.BeginForm("UploadForecast", "Incoming", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload Forecast Document</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/Incoming/DownloadExcel?type=forecast" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            function turn_on_iCheck() {
                $('input[name="selectAll"], input[name="checkedID"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-forecast').removeClass('disabled');
                        $('#btn-download-pdf-forecast').removeClass('disabled');
                    } else {
                        $('#btn-download-forecast').addClass('disabled');
                        $('#btn-download-pdf-forecast').addClass('disabled');
                    }

                    if (length == $('input[name="checkedID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedID"]').iCheck('check');
                    }
                });
            }

            function turn_on_iCheckProcessed() {
                $('input[name="selectAllProcessed"], input[name="checkedIDProcessed"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedIDProcessed"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-processed').removeClass('disabled');
                        $('#btn-download-pdf-processed').removeClass('disabled');
                    } else {
                        $('#btn-download-processed').addClass('disabled');
                        $('#btn-download-pdf-processed').addClass('disabled');
                    }

                    if (length == $('input[name="checkedIDProcessed"]').length) {
                        $('#select-all-processed').iCheck('check');
                    } else {
                        $('#select-all-processed').iCheck('uncheck');
                    }
                });

                $('#select-all-processed').on('ifClicked', function () {
                    if ($('#select-all-processed').is(':checked')) {
                        $('input[name="checkedIDProcessed"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedIDProcessed"]').iCheck('check');
                    }
                });
            }

            $('#forecast-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Incoming/ForecastList",
                    "data": { status: 0 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 7],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    },
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [3, 4, 5, 6],
                        "className": 'text-center'
                    }
                ],
                "order": [[4, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedID" value="' + full.ForecastNumber + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "ForecastNumber", "name": "ForecastNumber", "autoWidth": true },
                    { "data": "ForecastDate", "name": "ForecastDate", "autoWidth": true },
                    { "data": "Requester", "name": "Requester", "autoWidth": true },
                    { "data": "Remarks", "name": "Remarks", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var btnAction = '';
                            var btnOpen = ' <a class="btn btn-xs btn-info btn-flat" href="/Forecast/Details?fNumber=' + full.ForecastNumber + '">Open</a>';
                            var btnEdit = ' <a class="btn btn-xs btn-warning btn-flat" href="/Forecast/Edit?fNumber=' + full.ForecastNumber + '">Edit</a>';
                            var btnDel = ' <a class="btn btn-xs btn-danger btn-flat delete" data-value="' + full.ForecastNumber + '"><i class="fa fa-trash cdtot"></i></a>';
                            var btnProcess = ' <a class="btn btn-xs bg-purple btn-flat process" data-value="' + full.ForecastNumber + '">Process</a>';

                            btnAction += btnOpen;
                            if (full.IsValid != 1 && @ViewBag.IsUpdate == 1) {
                                btnAction += btnEdit;
                            }

                            if (@ViewBag.IsDelete == 1) {
                                btnAction += btnDel;
                            }

                            if (full.IsValid != 1 && @ViewBag.IsUpdate == 1) {
                                btnAction += btnProcess;
                            }

                            return btnAction;
                        }
                    }
                ]
            });

            $('#processed-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Incoming/ForecastList",
                    "data": { status: 1 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 7],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    },
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [3, 4, 5, 6],
                        "className": 'text-center'
                    }
                ],
                "order": [[4, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedIDProcessed" value="' + full.ForecastNumber + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "ForecastNumber", "name": "ForecastNumber", "autoWidth": true },
                    { "data": "ForecastDate", "name": "ForecastDate", "autoWidth": true },
                    { "data": "Requester", "name": "Requester", "autoWidth": true },
                    { "data": "Remarks", "name": "Remarks", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var btnAction = '';
                            var btnOpen = ' <a class="btn btn-xs btn-info btn-flat" href="/Forecast/Details?fNumber=' + full.ForecastNumber + '">Open</a>';
                            var btnEdit = ' <a class="btn btn-xs btn-warning btn-flat" href="/Forecast/Edit?fNumber=' + full.ForecastNumber + '">Edit</a>';
                            var btnDel = ' <a class="btn btn-xs btn-danger btn-flat delete" data-value="' + full.ForecastNumber + '"><i class="fa fa-trash cdtot"></i></a>';
                            var btnProcess = ' <a class="btn btn-xs bg-purple btn-flat process" data-value="' + full.ForecastNumber + '">Process</a>';

                            btnAction += btnOpen;
                            if (full.IsValid != 1 && @ViewBag.IsUpdate == 1) {
                                btnAction += btnEdit;
                            }

                            if (@ViewBag.IsDelete == 1) {
                                btnAction += btnDel;
                            }

                            if (full.IsValid != 1 && @ViewBag.IsUpdate == 1) {
                                btnAction += btnProcess;
                            }

                            return btnAction;
                        }
                    }
                ]
            });

            $('#forecast-list-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#processed-list-dt').on('draw.dt', function () {
                turn_on_iCheckProcessed();
            });

            $('#btn-bulk-import').on('click', function () {
                $('#modal-import').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#btn-download-forecast').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Forecast/GenerateXls",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 0
                    },
                    success: function (data) {
                        window.location = '/Forecast/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-processed').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDProcessed"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Forecast/GenerateXls",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 1
                    },
                    success: function (data) {
                        window.location = '/Forecast/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-forecast').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Forecast/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 0
                    },
                    success: function (data) {
                        window.location = '/Forecast/DownloadPdf?fileName=' + data.strPdfFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-processed').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDProcessed"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Forecast/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 1
                    },
                    success: function (data) {
                        window.location = '/Forecast/DownloadPdf?fileName=' + data.strPdfFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#forecast-list-dt tbody, #processed-list-dt tbody').on('click', 'a.delete', function (e) {
                e.preventDefault();

                var param = $(this).data('value');
                customConfirm("Are you sure to delete this Forecast?", function () {
                    location.href = "/Forecast/Delete?fNumber=" + param;
                });
            });

            $('#forecast-list-dt tbody').on('click', 'a.process', function (e) {
                e.preventDefault();

                var param = $(this).data('value');
                customConfirm("Are you sure to process this Forecast?", function () {
                    location.href = "/Forecast/Process?fNumber=" + param;
                });
            });

        });
    </script>

}