﻿@model KMSIPartsPortal_System.Models.IncomingList

@{
    ViewBag.Title = "Incoming List";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>INCOMING LIST</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <a id="btn-download-incoming" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                        <a id="btn-download-pdf-incoming" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                    </div>
                </div>
                <br />
                <table id="incoming-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>@Html.DisplayNameFor(model => model.DONO)</th>
                            <th>@Html.DisplayNameFor(model => model.IncomingDate)</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            function turn_on_iCheck() {
                $('input[name="selectAll"], input[name="checkedID"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-incoming').removeClass('disabled');
                        $('#btn-download-pdf-incoming').removeClass('disabled');
                    } else {
                        $('#btn-download-incoming').addClass('disabled');
                        $('#btn-download-pdf-incoming').addClass('disabled');
                    }

                    if (length == $('input[name="checkedID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedID"]').iCheck('check');
                    }
                });
            }

            $('#incoming-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Incoming/ReceiveList",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 4],
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [2, 3],
                        "className": "text-center"
                    }
                ],
                "order": [[3, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "DONO", "name": "DONO", "autoWidth": true },
                    { "data": "DeliveryDate", "name": "DeliveryDate", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var btnAction = '';
                            var btnViewPO = ' <a class="btn btn-xs btn-info btn-flat" href="/Purchase/Details?poNumber=' + full.PurchaseNumber + '">View PO</a>';
                            var btnViewPL = ' <a class="btn btn-xs btn-info btn-flat" href="/Receive/Details?dono=' + full.DONO + '">View IL</a>';
                            var btnDel = ' <a class="btn btn-xs btn-danger btn-flat delete" data-value="' + full.DONO + '"><i class="fa fa-trash cdtot"></i></a>';

                            btnAction += btnViewPO + btnViewPL;
                            if (@ViewBag.IsDelete == 1) {
                                btnAction += btnDel;
                            }

                            return btnAction;
                        }
                    },
                ]
            });

            $('#incoming-list-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-download-incoming').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Incoming/GenerateXlsPacking",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Incoming/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-incoming').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Incoming/GeneratePdfPacking",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Incoming/DownloadPdf?fileName=' + data.strPDFFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>
}