﻿@model KMSIPartsPortal_System.Models.PurchaseList
@{
    ViewBag.Title = "Supply Raw Material Information";
}

<div class="row">
    @if (TempData["ActionMessage"] != null)
    {
        <div class="alert alert-info alert-dismissible ActionAlert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Alert!</h4>
            @TempData["ActionMessage"]
        </div>
    }
    <div class="col-xs-12">

        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>OUTSTANDING SALES ORDER</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-purchase" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-purchase" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                    <div class="col-md-6" align="right">
                        @if (ViewBag.IsUpload == 1)
                        {
                            <a id="btn-import-po" class="btn btn-sm bg-purple btn-flat"><i class="fa fa-upload"></i> UPLOAD SO DOCUMENT</a>
                            <a id="btn-import-pl" class="btn btn-sm bg-purple btn-flat"><i class="fa fa-upload"></i> UPLOAD INCOMING DOCUMENT</a>
                        }
                    </div>
                </div>
                <br />
                <table id="purchase-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseNumber)</th>
                            <th>Part Number</th>
                            <th>Qty</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseDate)</th>
                            <th>@Html.DisplayNameFor(model => model.ForecastNumber)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>COMPLETED SALES ORDER</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-completed" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-completed" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                </div>
                <br />
                <table id="completed-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAllCompleted", false, htmlAttributes: new { @class = "form-control", @id = "select-all-completed" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseNumber)</th>
                            <th>Part Number</th>
                            <th>Qty</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseDate)</th>
                            <th>@Html.DisplayNameFor(model => model.ForecastNumber)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@using (Html.BeginForm("UploadPurchase", "Incoming", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-import-po">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload Sales Order Document</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/Incoming/DownloadExcel?type=purchase" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->
@using (Html.BeginForm("UploadPacking", "Incoming", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-import-pl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload Incoming Document</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/Incoming/DownloadExcel?type=packing" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{
    <script type="text/javascript">
        function formatNumber(n) {
            console.log("sudah format")
            var result = "0";
            if (n != null) {
                n = n.toString();
                result = n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }
            return result;
        }

        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            function turn_on_iCheck() {
                $('input[name="selectAll"], input[name="checkedID"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-purchase').removeClass('disabled');
                        $('#btn-download-pdf-purchase').removeClass('disabled');
                    } else {
                        $('#btn-download-purchase').addClass('disabled');
                        $('#btn-download-pdf-purchase').addClass('disabled');
                    }

                    if (length == $('input[name="checkedID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedID"]').iCheck('check');
                    }
                });
            }

            function turn_on_iCheckCompleted() {
                $('input[name="selectAllCompleted"], input[name="checkedIDCompleted"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedIDCompleted"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-completed').removeClass('disabled');
                        $('#btn-download-pdf-completed').removeClass('disabled');
                    } else {
                        $('#btn-download-completed').addClass('disabled');
                        $('#btn-download-pdf-completed').addClass('disabled');
                    }

                    if (length == $('input[name="checkedIDCompleted"]').length) {
                        $('#select-all-completed').iCheck('check');
                    } else {
                        $('#select-all-completed').iCheck('uncheck');
                    }
                });

                $('#select-all-completed').on('ifClicked', function () {
                    if ($('#select-all-completed').is(':checked')) {
                        $('input[name="checkedIDCompleted"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedIDCompleted"]').iCheck('check');
                    }
                });
            }

            $('#purchase-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Incoming/PurchaseList",
                    "data": { status: 0 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 7],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    },
                    {
                        "targets": [2, 3, 4, 5, 6],
                        "className": 'text-center'
                    }
                ],
                "order": [[5, "asc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedID" value="' + full.PurchaseNumber + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber", "autoWidth": true },
                    { "data": "PartNumber", "name": "PartNumber", "autoWidth": true },
                    {
                        "data": "OrderQty", "name": "OrderQty", "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            var result = "0";
                            if (data != null) {
                                result = formatNumber(data);
                            }
                            return result;
                        }
                    },
                    { "data": "PurchaseDate", "name": "PurchaseDate", "autoWidth": true },
                    { "data": "ForecastNumber", "name": "ForecastNumber", "autoWidth": true },                    
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var btnAction = '';
                            var btnViewPO = ' <a class="btn btn-xs btn-info btn-flat" href="/Purchase/Details?poNumber=' + full.PurchaseNumber + '">View SO</a>';
                            var btnViewPL = ' <a class="btn btn-xs btn-info btn-flat" href="/Packing/Details?poNumber=' + full.PurchaseNumber + '&paramType=PONUMBER">View IL</a>';
                            var btnEdit = ' <a class="btn btn-xs btn-warning btn-flat" href="/Purchase/Edit?poNumber=' + full.PurchaseNumber + '">Edit</a>';
                            var btnDel = ' <a class="btn btn-xs btn-danger btn-flat delete" data-value="' + full.PurchaseNumber + '"><i class="fa fa-trash cdtot"></i></a>';

                            btnAction += btnViewPO + btnViewPL;
                            if (@ViewBag.IsUpdate == 1) {
                                btnAction += btnEdit;
                            }

                            if (@ViewBag.IsDelete == 1) {
                                btnAction += btnDel;
                            }

                            return btnAction;
                        }
                    }
                ]
            });

            $('#completed-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Incoming/PurchaseList",
                    "data": { status: 1 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 7],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    },
                    {
                        "targets": [2, 3, 4, 5, 6],
                        "className": 'text-center'
                    }
                ],
                "order": [[5, "asc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedIDCompleted" value="' + full.PurchaseNumber + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber", "autoWidth": true },
                    { "data": "PartNumber", "name": "PartNumber", "autoWidth": true },
                    {
                        "data": "OrderQty", "name": "OrderQty", "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            var result = "0";
                            if (data != null) {
                                result = formatNumber(data);
                            }
                            return result;
                        }
                    },
                    { "data": "PurchaseDate", "name": "PurchaseDate", "autoWidth": true },
                    { "data": "ForecastNumber", "name": "ForecastNumber", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var btnAction = '';
                            var btnViewPO = ' <a class="btn btn-xs btn-info btn-flat" href="/Purchase/Details?poNumber=' + full.PurchaseNumber + '">View SO</a>';
                            var btnViewPL = ' <a class="btn btn-xs btn-info btn-flat" href="/Packing/Details?poNumber=' + full.PurchaseNumber + '&paramType=PONUMBER">View IL</a>';
                            var btnEdit = ' <a class="btn btn-xs btn-warning btn-flat" href="/Purchase/Edit?poNumber=' + full.PurchaseNumber + '">Edit</a>';
                            var btnDel = ' <a class="btn btn-xs btn-danger btn-flat delete" data-value="' + full.PurchaseNumber + '"><i class="fa fa-trash cdtot"></i></a>';

                            btnAction += btnViewPO + btnViewPL;
                            if (@ViewBag.IsUpdate == 1) {
                                btnAction += btnEdit;
                            }

                            if (@ViewBag.IsDelete == 1 && full.PackingQty < full.OrderQty) {
                                btnAction += btnDel;
                            }

                            return btnAction;
                        }
                    }
                ]
            });

            $('#purchase-list-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#completed-list-dt').on('draw.dt', function () {
                turn_on_iCheckCompleted();
            });

            $('#btn-import-po').on('click', function () {
                $('#modal-import-po #frmBulkImportPO input').attr('multiple', true);
                $('#modal-import-po #frmBulkImportPO input').attr('accept', ".xlsx,.xls");
                $('#modal-import-po').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#btn-import-pl').on('click', function () {
                $('#modal-import-pl #frmBulkImportPO input').attr('multiple', true);
                $('#modal-import-pl #frmBulkImportPO input').attr('accept', ".xlsx,.xls");
                $('#modal-import-pl').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#btn-download-purchase').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Incoming/GenerateXlsPurchase",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        type: "OUTSTANDING"
                    },
                    success: function (data) {
                        window.location = '/Incoming/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-completed').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDCompleted"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Incoming/GenerateXlsPurchase",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        type: "COMPLETED"
                    },
                    success: function (data) {
                        window.location = '/Incoming/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-purchase').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Incoming/GeneratePdfPurchase",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        type: "OUTSTANDING "
                    },
                    success: function (data) {
                        window.location = '/Incoming/DownloadPdf?fileName=' + data.strPDFFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-completed').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDCompleted"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Incoming/GeneratePdfPurchase",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        type: "COMPLETED "
                    },
                    success: function (data) {
                        window.location = '/Incoming/DownloadPdf?fileName=' + data.strPDFFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#purchase-list-dt tbody, #completed-list-dt tbody').on('click', 'a.delete', function (e) {
                e.preventDefault();

                var param = $(this).data('value');
                customConfirm("Are you sure to delete this SO?", function () {
                    location.href = "/Purchase/Delete?poNumber=" + param;
                });
            });

        });
    </script>
}