﻿@model KMSIPartsPortal_System.Models.IncomingList

@{
    ViewBag.Title = "Incoming Raw Material Information";
    int RoleID = Convert.ToInt32(Session["RoleId"]);
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>OUTSTANDING INCOMING LIST</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-incoming" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-incoming" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                </div>
                <br />
                <table id="incoming-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>Incoming List No.</th>
                            <th>@Html.DisplayNameFor(model => model.IncomingDate)</th>
                            <th>Status</th>
                            <th>Receive Date</th>
                            <th>Forward Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@if (RoleID == 7)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h3 class="box-title"><b>WAITING CONFIRMATION LIST</b></h3>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.IsDownload == 1)
                            {
                                <a id="btn-download-confirm" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                                <a id="btn-download-pdf-confirm" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                            }
                        </div>
                    </div>
                    <br />
                    <table id="confirm-list-dt" class="table table-bordered table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>@Html.CheckBox("selectAllConfirm", false, htmlAttributes: new { @class = "form-control", @id = "select-all-confirm" })</th>
                                <th>No.</th>
                                <th>@Html.DisplayNameFor(model => model.ID)</th>
                                <th>Incoming List No.</th>
                                <th>@Html.DisplayNameFor(model => model.IncomingDate)</th>
                                <th>Status</th>
                                <th>Receive Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        @{
                            string title = "COMPLETE RECEIVE AND FORWARD LIST";
                            if (RoleID == 7)
                            {
                                title = "COMPLETE RECEIVE LIST";
                            }
                        }
                        <h3 class="box-title"><b>@title</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-shipping" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-shipping" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                </div>
                <br />
                <table id="shipping-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAllShipping", false, htmlAttributes: new { @class = "form-control", @id = "select-all-shipping" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>Incoming List No.</th>
                            <th>@Html.DisplayNameFor(model => model.IncomingDate)</th>
                            <th>Status</th>
                            <th>Receive Date</th>
                            <th>Forward Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<input type="hidden"id="userRole" value="@Session["RoleId"]"/>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var visibleForWhOrHub = false;
            var roleUser = $('#userRole').val();
            if (roleUser == 10 || roleUser == 11 || roleUser == 12) {
                visibleForWhOrHub = true;
            }

            console.log("visibleForWhOrHub", visibleForWhOrHub);

            initCustomAlert();
            centeredModalDialog();

            function turn_on_iCheck() {
                $('input[name="selectAll"], input[name="checkedID"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-incoming').removeClass('disabled');
                        $('#btn-download-pdf-incoming').removeClass('disabled');
                    } else {
                        $('#btn-download-incoming').addClass('disabled');
                        $('#btn-download-pdf-incoming').addClass('disabled');
                    }

                    if (length == $('input[name="checkedID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedID"]').iCheck('check');
                    }
                });
            }

            function turn_on_iCheckConfirm() {
                $('input[name="selectAllConfirm"], input[name="checkedIDConfirm"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedIDConfirm"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-confirm').removeClass('disabled');
                        $('#btn-download-pdf-confirm').removeClass('disabled');
                    } else {
                        $('#btn-download-confirm').addClass('disabled');
                        $('#btn-download-pdf-confirm').addClass('disabled');
                    }

                    if (length == $('input[name="checkedIDConfirm"]').length) {
                        $('#select-all-confirm').iCheck('check');
                    } else {
                        $('#select-all-confirm').iCheck('uncheck');
                    }
                });

                $('#select-all-confirm').on('ifClicked', function () {
                    if ($('#select-all-confirm').is(':checked')) {
                        $('input[name="checkedIDConfirm"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedIDConfirm"]').iCheck('check');
                    }
                });
            }

            function turn_on_iCheckShipping() {
                $('input[name="selectAllShipping"], input[name="checkedIDShipping"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedIDShipping"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-shipping').removeClass('disabled');
                        $('#btn-download-pdf-shipping').removeClass('disabled');
                    } else {
                        $('#btn-download-shipping').addClass('disabled');
                        $('#btn-download-pdf-shipping').addClass('disabled');
                    }

                    if (length == $('input[name="checkedIDShipping"]').length) {
                        $('#select-all-shipping').iCheck('check');
                    } else {
                        $('#select-all-shipping').iCheck('uncheck');
                    }
                });

                $('#select-all-shipping').on('ifClicked', function () {
                    if ($('#select-all-shipping').is(':checked')) {
                        $('input[name="checkedIDShipping"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedIDShipping"]').iCheck('check');
                    }
                });
            }

            var RoleID = @Convert.ToInt32(Session["RoleId"]);
            $('#incoming-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Receive/List",
                    "data": { status: 0, role: RoleID, valid: 0 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 8],
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [6, 7],
                        "visible": visibleForWhOrHub,
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [3, 4, 5],
                        "className": "text-center"
                    }
                ],
                "order": [[4, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedID" value="' + full.DONO + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "DONO", "name": "DONO", "autoWidth": true },
                    { "data": "DeliveryDate", "name": "DeliveryDate", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true },
                    { "data": "ReceiveDate", "name": "ReceiveDate", "autoWidth": true },
                    { "data": "ForwardDate", "name": "ForwardDate", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            /*
                             * List Button:
                             * 1. Open
                             * 2. Receive
                             * 3. Forward
                            */
                            console.log(full.StatusName);
                            var disabledReceive = (full.IsShipment == 0 || full.StatusName == "RBJM" || full.StatusName == "FQCW") ? "disabled" : "";
                            var disabledForward = (full.IsShipment == null) ? "disabled" : "";
                            var disabledInput = (full.StatusName != "RBJM" && full.StatusName != "FQCW") ? "disabled" : "";
                            var RoleType = "@Session["RoleType"].ToString()";
                            var btnAction = '';
                            var btnView = ' <a class="btn btn-xs btn-info btn-flat" href="/Receive/Details?dono=' + full.DONO + '">Open</a>';
                            var btnReceive = ' <a class="' + disabledReceive + ' btn btn-xs btn-warning btn-flat receive" data-value="' + full.DONO + '">Receive</a>';
                            var btnForward = ' <a class="' + disabledForward + ' btn btn-xs btn-warning btn-flat forward" data-value="' + full.DONO + '">Forward</a>';
                            var btnInput = ' <a class="' + disabledInput + ' btn btn-xs btn-info btn-flat" href="/Receive/Edit?dono=' + full.DONO + '">Input Result</a>';
                            //var btnConfirm = ' <a class="btn btn-xs btn-warning btn-flat" href="/Receive/Confirm?dono=' + full.DONO + '">Confirm</a>';

                            if (@ViewBag.IsView == 1) {
                                btnAction += btnView;
                            }

                            if (@ViewBag.IsUpdate == 1) {
                                btnAction += btnReceive;
                            }

                            if (@ViewBag.IsUpdate == 1 && full.IsShipment != 1 && full.StatusName != "RBJM") {
                                btnAction += btnForward;
                            }

                            if (@ViewBag.IsInput == 1) {
                                btnAction += btnInput;
                            }

                            return btnAction;
                        }
                    },
                ]
            });

            $('#incoming-list-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#incoming-list-dt tbody').on('click', 'a.receive', function (e) {
                e.preventDefault();

                var param = $(this).data('value');
                customConfirm("Are you sure to receive this Incoming List?", function () {
                    location.href = "/Receive/doReceive?dono=" + param;
                });
            });

            $('#incoming-list-dt tbody').on('click', 'a.forward', function (e) {
                e.preventDefault();

                var param = $(this).data('value');
                customConfirm("Are you sure to confirm forward this Incoming List?", function () {
                    location.href = "/Receive/doForward?dono=" + param;
                });
            });

            $('#btn-download-incoming').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Receive/GenerateXls",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 0,
                        valid: 0
                    },
                    success: function (data) {
                        window.location = '/Receive/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-incoming').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Receive/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 0,
                        valid: 0
                    },
                    success: function (data) {
                        window.location = '/Receive/DownloadPdf?fileName=' + data.strPdfFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#confirm-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Receive/List",
                    "data": { status: 1, role: RoleID, valid: 0 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 7],
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [3, 4, 5, 6],
                        "className": "text-center"
                    }
                ],
                "order": [[4, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedIDConfirm" value="' + full.DONO + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "DONO", "name": "DONO", "autoWidth": true },
                    { "data": "DeliveryDate", "name": "DeliveryDate", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true },
                    { "data": "ReceiveDate", "name": "ReceiveDate", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var btnAction = '';
                            var btnView = ' <a class="btn btn-xs btn-info btn-flat" href="/Receive/Confirm?dono=' + full.DONO + '">Confirm</a>';

                            if (@ViewBag.IsView == 1) {
                                btnAction += btnView;
                            }

                            return btnAction;
                        }
                    },
                ]
            });

            $('#confirm-list-dt').on('draw.dt', function () {
                turn_on_iCheckConfirm();
            });

            $('#btn-download-confirm').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDConfirm"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Receive/GenerateXls",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 1,
                        valid: 0
                    },
                    success: function (data) {
                        window.location = '/Receive/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-confirm').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDConfirm"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Receive/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 1,
                        valid: 0
                    },
                    success: function (data) {
                        window.location = '/Receive/DownloadPdf?fileName=' + data.strPdfFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#shipping-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Receive/List",
                    "data": { status: 1, role: RoleID, valid: 1 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 8],
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [6, 7],
                        "visible": visibleForWhOrHub,
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [3, 4, 5],
                        "className": "text-center"
                    }
                ],
                "order": [[4, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedIDShipping" value="' + full.DONO + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "DONO", "name": "DONO", "autoWidth": true },
                    { "data": "DeliveryDate", "name": "DeliveryDate", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true },
                    { "data": "ReceiveDate", "name": "ReceiveDate", "autoWidth": true },
                    { "data": "ForwardDate", "name": "ForwardDate", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var btnAction = '';
                            var btnView = ' <a class="btn btn-xs btn-info btn-flat" href="/Receive/Details?dono=' + full.DONO + '">Open</a>';

                            if (@ViewBag.IsView == 1) {
                                btnAction += btnView;
                            }

                            return btnAction;
                        }
                    },
                ]
            });

            $('#shipping-list-dt').on('draw.dt', function () {
                turn_on_iCheckShipping();
            });

            $('#btn-download-shipping').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDShipping"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Receive/GenerateXls",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 1,
                        valid: 1
                    },
                    success: function (data) {
                        window.location = '/Receive/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-shipping').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDShipping"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Receive/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 1,
                        valid: 1
                    },
                    success: function (data) {
                        window.location = '/Receive/DownloadPdf?fileName=' + data.strPdfFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

        });
    </script>
}