﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input-file{
        margin-bottom:10px;
    }
    .block-input {
        border: 1px solid #c8c1c1;
        padding: 15px;
        margin:10px;
    }
    .btn-sl {
        margin-left: 10px;
        margin-top: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }
</style>
<h2>Slider</h2>
<div class="col-md-12">
    <form action="/Slider/Create" method="POST" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 block-input">
                        <label>Gambar 1</label>
                        <input type="file" name="Image" id="sl-file-1" class="form-control input-file" />
                        <label>Caption Gambar 1</label>
                        <textarea id="sl-caption-1" name="Caption[]" class="form-control"></textarea>
                    </div>
                    <div class="col-md-5 block-input">
                        <label>Gambar 2</label>
                        <input type="file" name="Image" id="sl-file-2" class="form-control input-file" />
                        <label>Caption Gambar 2</label>
                        <textarea id="sl-caption-2" name="Caption[]" class="form-control"></textarea>
                    </div>
                    <div class="col-md-5 block-input">
                        <label>Gambar 3</label>
                        <input type="file" name="Image" id="sl-file-3" class="form-control input-file" />
                        <label>Caption Gambar 3</label>
                        <textarea id="sl-caption-3" name="Caption[]" class="form-control"></textarea>
                    </div>
                    <div class="col-md-5 block-input">
                        <label>Gambar 4</label>
                        <input type="file" name="Image" id="sl-file-4" class="form-control input-file" />
                        <label>Caption Gambar 4</label>
                        <textarea id="sl-caption-4" name="Caption[]" class="form-control"></textarea>
                    </div>
                    <div class="col-md-5 block-input">
                        <label>Gambar 5</label>
                        <input type="file" name="Image" id="sl-file-5" class="form-control input-file" />
                        <label>Caption Gambar 5</label>
                        <textarea id="sl-caption-5" name="Caption[]" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="SUBMIT" class="btn btn-primary btn-flat btn-sl" />
                </div>
            </div>
        </div>
    </form>
        
    
</div>

