﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .thumbnail-slide {
        width: 300px;
        margin-bottom: 15px;
    }
    .blockSLide {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #dbd7d7;
    }
</style>

<h2>Slider</h2>
<div class="col-md-12">
    @foreach (var g in ViewBag.Slider)
    {
        <div class="col-md-12 blockSLide">
            <img class="thumbnail-slide col-md-6 pull-left" src="/Uploads/Slider/@g.Image" />
            <h3 class="col-md-5 pull-left">@g.Caption</h3>
        </div>
    }


    <div>
        <a href="/Slider/Create" class="btn btn-primary btn-flat pull-right">Create Sliders</a>
    </div>
</div>

