﻿@using KMSIPartsPortal_System.Models;
@model KMSIPartsPortal_System.Models.PurchaseViewModel

@{
    ViewBag.Title = "Closed Purchase Order";
    Supplier supplier = ViewData["Supplier"] as Supplier;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <table id="purchase-list-dt" class="table table-bordered table-striped BoldBorder" style="width: 100%">
                    <thead>
                        <tr>
                            <th>SUPPLIER CODE</th>
                            <th style="width: 200px;">SUPPLIER NAME</th>
                            <th style="width: 60px;">PO DATE</th>
                            <th style="width: 100px;">PO NUMBER</th>
                            <th>AMOUNT</th>
                            <th>CURRENCY</th>
                            <th style="width: 80px;">AGING STATUS</th>
                            <th>REMARKS</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{

    <script type="text/javascript">
        var supplierId = "@Session["SupplierId"]";
        $(document).ready(function () {
            $('#purchase-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/PurchaseOrder/CloseList",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1],
                        "visible": (supplierId == 0),
                        "searchable": false,
                        "sortable": false
                    }
                ],
                "order": [[2, "desc"]],
                "columns": [
                    { "data": "SupplierCode", "name": "SupplierCode" },
                    { "data": "SupplierName", "name": "SupplierName" },
                    { "data": "PurchaseDate", "name": "PurchaseDate" },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber" },
                    {
                        "data": "Amount", "name": "Amount",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                    { "data": "Currency", "name": "Currency" },
                    {
                        "data": "Aging", "name": "Aging",
                        "render": function (data) {
                            if (data < 60)
                                return "< 60 Days";
                            else if (data >= 60 && data <= 90)
                                return "60 - 90 Days";
                            else
                                return "> 90 Days";
                        }
                    },
                    { "data": "Remarks", "name": "Remarks", "autoWidth": true }
                ]
            });

            Date.daysBetween = function (date1, date2) {
                //Get 1 day in milliseconds
                var one_day = 1000 * 60 * 60 * 24;

                // Convert both dates to milliseconds
                var date1_ms = date1.getTime();
                var date2_ms = date2.getTime();

                // Calculate the difference in milliseconds
                var difference_ms = date2_ms - date1_ms;

                // Convert back to days and return
                return Math.floor(difference_ms / one_day);
            }

            $('#btn-bulk-import').on('click', function () {
                $('#modal-import').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

        });
    </script>

}