﻿@using KMSIPartsPortal_System.Models;
@model KMSIPartsPortal_System.Models.PurchaseDetailViewModel

@{
    ViewBag.Title = "ETD Information";
    Supplier supplier = ViewData["Supplier"] as Supplier;
}

@section Styles
{
    <style type="text/css">
        td.details-control {
            background: url('../../Content/img/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../../Content/img/details_close.png') no-repeat center center;
        }
    </style>
}

    <div class="row">
        @if (TempData["ActionMessage"] != null)
        {
            <div class="alert alert-info alert-dismissible ActionAlert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-info"></i> Alert!</h4>
                @TempData["ActionMessage"]
            </div>
        }
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    @if (Convert.ToInt32(HttpContext.Current.Session["SupplierId"]) != 0)
                    {
                        <div class="tr">
                            <div class="td">Supplier : <b>@supplier.SupplierName (@supplier.SupplierCode)</b></div>
                        </div>
                        <br />
                    }
                    <table id="purchase-list-dt" class="table table-bordered table-striped BoldBorder">
                        <thead>
                            <tr>
                                <th style="width: 120px;">Supplier Code</th>
                                <th style="width: 100px;">Supplier Name</th>
                                <th style="width: 75px;">PO Date</th>
                                <th style="width: 150px;">PO Number</th>
                                <th style="width: 60px;">Item No.</th>
                                <th style="width: 150px;">Part Number</th>
                                <th style="width: 100px;">@Html.DisplayNameFor(model => model.PurchaseDetail.Description)</th>
                                <th style="width: 50px;">PO Qty</th>
                                <th style="width: 100px;">Unit Price</th>
                                @*<th style="width: 150px;">Destination</th>*@
                                <th style="width: 70px;">OSPO Qty</th>
                                <th style="width: 45px;">ETD</th>
                                <th style="width: 5px;"></th>
                                <th style="width: 60px;">Ship Qty</th>
                                <th style="width: 60px;">Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
<!-- /.row -->
<!-- Modal Import -->
@using (Html.BeginForm("UploadExcel", "PurchaseOrder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">UPLOAD PURCHASE ORDER</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/PurchaseOrder/DownloadExcel/" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary btn-flat">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->
<!-- Modal Import -->
@using (Html.BeginForm("EditBySupplier", "PurchaseOrder", FormMethod.Post, new { id = "editData" }))
{
    <div class="modal fade" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit Data</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label id="PurchaseNumber">PO Number: </label>
                        </div>
                        <div class="col-md-6">
                            <label id="PartNumber" class="pull-right">Part Number: </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label id="RequestQuantityLabel">PO Quantity: </label>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="PurchaseDetailId" class="form-control" readonly />
                    <input type="hidden" name="PurchaseNumber" class="form-control" readonly />
                    <input type="hidden" name="RequestQuantity" class="form-control" readonly />
                    <table id="myTable" style="width: 100%;">
                        <thead>
                            <tr>
                                <td>Ship Qty</td>
                                <td>Etd Delivery</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-6">
                                    <input type="number" name="ShipQty[0]" class="form-control" />
                                </td>
                                <td class="col-sm-6">
                                    <input onkeydown="return false" type="text" name="EtdDelivery[0]" class="form-control etd-delivery-dt" />
                                </td>
                            </tr>
                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <td colspan="5" style="text-align: left;">
                                        <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                                    </td>
                                </tr>
                                <tr></tr>
                            </tfoot>*@
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{

    <script type="text/javascript">
        var supplierId = "@Session["SupplierId"]";

        function format(d) {
            var suppID = @Session["SupplierId"];
            var width = "1375px;";
            if (suppID == 0) {
                width = "1375px;";
            } else {
                width = "1075px;";
            }
            ProvidedQuantity = (d.ProvidedQuantity != null) ? d.ProvidedQuantity : '';
            EstDelivered = (d.EstDelivered != null) ? moment(d.EstDelivered).format('YYYY-MM-DD') : '';
            ProvidedQuantity_2 = (d.ProvidedQuantity_2 != null) ? d.ProvidedQuantity_2 : '';
            EstDelivered_2 = (d.EstDelivered_2 != null) ? moment(d.EstDelivered_2).format('YYYY-MM-DD') : '';
            ProvidedQuantity_3 = (d.ProvidedQuantity_3 != null) ? d.ProvidedQuantity_3 : '';
            EstDelivered_3 = (d.EstDelivered_3 != null) ? moment(d.EstDelivered_3).format('YYYY-MM-DD') : '';
            ProvidedQuantity_4 = (d.ProvidedQuantity_4 != null) ? d.ProvidedQuantity_4 : '';
            EstDelivered_4 = (d.EstDelivered_4 != null) ? moment(d.EstDelivered_4).format('YYYY-MM-DD') : '';
            ProvidedQuantity_5 = (d.ProvidedQuantity_5 != null) ? d.ProvidedQuantity_5 : '';
            EstDelivered_5 = (d.EstDelivered_5 != null) ? moment(d.EstDelivered_5).format('YYYY-MM-DD') : '';

            // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left: 150px; width: -webkit-fill-available;">' +
                '<thead>' +
                    '<tr>' +
                        '<th style="width:' + width + '"></th>' +
                        '<th style="width: 83px;"></th>' +
                        '<th style="width: 50px;"></th>' +
                        '<th style="width: 69px;"></th>' +
                        '<th></th>' +
                    '</tr>' +
                '</thead>' +
                '<tbody>' +
                    '<tr>' +
                        '<td align="center"></td>' +
                        '<td align="center" style="background-color: yellow;">' + EstDelivered + '</td>' +
                        '<td align="center" style="background-color: yellow;"></td>' +
                        '<td align="center" style="background-color: yellow;">' + ProvidedQuantity + '</td>' +
                        '<td align="center"></td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td align="center"></td>' +
                        '<td align="center" style="background-color: yellow;">' + EstDelivered_2 + '</td>' +
                        '<td align="center" style="background-color: yellow;"></td>' +
                        '<td align="center" style="background-color: yellow;">' + ProvidedQuantity_2 + '</td>' +
                        '<td align="center"></td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td align="center"></td>' +
                        '<td align="center" style="background-color: yellow;">' + EstDelivered_3 + '</td>' +
                        '<td align="center" style="background-color: yellow;"></td>' +
                        '<td align="center" style="background-color: yellow;">' + ProvidedQuantity_3 + '</td>' +
                        '<td align="center"></td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td align="center"></td>' +
                        '<td align="center" style="background-color: yellow;">' + EstDelivered_4 + '</td>' +
                        '<td align="center" style="background-color: yellow;"></td>' +
                        '<td align="center" style="background-color: yellow;">' + ProvidedQuantity_4 + '</td>' +
                        '<td align="center"></td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td align="center"></td>' +
                        '<td align="center" style="background-color: yellow;">' + EstDelivered_5 + '</td>' +
                        '<td align="center" style="background-color: yellow;"></td>' +
                        '<td align="center" style="background-color: yellow;">' + ProvidedQuantity_5 + '</td>' +
                        '<td align="center"></td>' +
                    '</tr>' +
                    '</tbody>' +
                '</table>';
        }

        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();
            var counter = 0;

            var myTable = $('#purchase-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "scrollX": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/PurchaseOrder/DetailList",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1],
                        "visible": (supplierId == 0),
                        "searchable": false
                    },
                    {
                        "targets": [11, 13, 14],
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [2, 10],
                        "searchable": false,
                        "sortable": true
                    },
                    {
                        "targets": [4, 7, 9, 10],
                        "className": 'text-center',
                        "sortable": true
                    }
                ],
                "order": [[2, "desc"]],
                "columns": [
                    { "data": "SupplierCode", "name": "SupplierCode" },
                    { "data": "SupplierName", "name": "SupplierName" },
                    {
                        "data": "PurchaseDate", "name": "PurchaseDate",
                        "render": function (data) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber" },
                    { "data": "ItemNumber", "name": "ItemNumber" },
                    { "data": "PartNumber", "name": "PartNumber" },
                    { "data": "Description", "name": "Description" },
                    { "data": "RequestQuantity", "name": "RequestQuantity" },
                    {
                        "data": "Price", "name": "Price",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                    { "data": "Ospo", "name":"Ospo", },
                    {
                        "data": "EstDelivered", "name": "EstDelivered",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                var today = moment(Date.now()).format('YYYY-MM-DD');
                                var etd1 = (full.EstDelivered != null) ? moment(full.EstDelivered).format('YYYY-MM-DD') : "";
                                var etd2 = (full.EstDelivered_2 != null) ? moment(full.EstDelivered_2).format('YYYY-MM-DD') : "";
                                var etd3 = (full.EstDelivered_3 != null) ? moment(full.EstDelivered_3).format('YYYY-MM-DD') : "";
                                var etd4 = (full.EstDelivered_4 != null) ? moment(full.EstDelivered_4).format('YYYY-MM-DD') : "";
                                var etd5 = (full.EstDelivered_5 != null) ? moment(full.EstDelivered_5).format('YYYY-MM-DD') : "";

                                var dates = [etd1, etd2, etd3, etd4, etd5];

                                for (var i = 0; i < dates.length; i++) {
                                    if (new Date(today) <= new Date(dates[i])) {
                                        return dates[i];
                                        break;
                                    }
                                }
                            }
                            return "";
                        }
                    },
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {
                        "data": "TotalProvidedQuantity", "name": "TotalProvidedQuantity", "className": "text-center ship-qty",
                        "render": function (data, type, full, meta) {
                            return full.TotalProvidedQuantity;
                        }
                    },
                    {
                        "data": null, "name": null,
                        "render": function (data, type, full, meta) {
                            var today = moment(Date.now()).format('YYYY-MM-DD');
                            var etd1 = (full.EstDelivered != null) ? moment(full.EstDelivered).format('YYYY-MM-DD') : "";
                            var etd2 = (full.EstDelivered_2 != null) ? moment(full.EstDelivered_2).format('YYYY-MM-DD') : "";
                            var etd3 = (full.EstDelivered_3 != null) ? moment(full.EstDelivered_3).format('YYYY-MM-DD') : "";
                            var etd4 = (full.EstDelivered_4 != null) ? moment(full.EstDelivered_4).format('YYYY-MM-DD') : "";
                            var etd5 = (full.EstDelivered_5 != null) ? moment(full.EstDelivered_5).format('YYYY-MM-DD') : "";

                            var dates = [etd1, etd2, etd3, etd4, etd5];
                            var max = dates[0],
                                min = dates[0];

                            dates.forEach(function (v) {
                                max = new Date(v) > new Date(max) ? v : max;
                                min = new Date(v) < new Date(min) ? v : min;
                            });

                            var ShipQty = (full.ShipQty != null) ? full.ShipQty : 0;

                            if (ShipQty < full.RequestQuantity) {
                                if (new Date(today) <= new Date(max)) {
                                    return "BACK ORDER";
                                } else if (new Date(today) > new Date(min)) {
                                    return "OVERDUE";
                                } else {
                                    return "";
                                }
                            } else if (ShipQty == full.RequestQuantity) {
                                return "INVOICE";
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            if (supplierId != 0) {
                                return '<a class="btn btn-xs btn-info btn-flat edit" id="' + full.PurchaseDetailId + '">ETD</a>';
                            } else {
                                return '<a class="btn btn-xs btn-info btn-flat" href="/PurchaseOrder/EditDetail/' + full.PurchaseDetailId + '">Edit</a>';
                            }
                        }
                    }
                ]
            });

            $('.etd-delivery-dt').datepicker({
                autoclose: true,
                clearBtn: true,
                format: "yyyy-mm-dd"
            });

            $('#btn-bulk-import').on('click', function () {
                $('#modal-import').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#purchase-list-dt tbody').on('click', 'a.edit', function () {
                $('#modal-edit').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });

                $('#editData').attr("action", "/PurchaseOrder/EditBySupplier");

                counter = 0;
                var rowCount = $('#myTable tbody tr').length;
                while (rowCount > 1) {
                    rowCount = rowCount - 1;
                    var tr = $('#myTable tbody tr');
                    tr[rowCount].remove();
                }

                $.ajax({
                    type: "GET",
                    url: '/PurchaseOrder/GetData/' + $(this).attr("id"),
                    success: function (response) {
                        var obj = JSON.parse(response);
                        console.log(obj[0].EstDelivered);
                        var index = 0;

                        $('input[name="PurchaseDetailId').val(obj[0].PurchaseDetailId);
                        $('input[name="PurchaseNumber').val(obj[0].PurchaseDetailId);
                        $('input[name="PurchaseDate').val(obj[0].PurchaseDate);
                        $('input[name="RequestQuantity').val(obj[0].RequestQuantity);
                        $('#PurchaseNumber').html("PO Number: " + obj[0].PurchaseNumber);
                        $('#PartNumber').html("Part Number: " + obj[0].PartNumber);
                        $('#RequestQuantityLabel').html("PO Quantity: " + obj[0].RequestQuantity);

                        var estDate = "";
                        if (obj[0].EstDelivered != null) {
                            estDate = obj[0].EstDelivered;
                            estDate = estDate.split("(")[1];
                            estDate = estDate.split(")")[0];
                            var date = new Date(parseInt(estDate));

                            month = date.getMonth() + 1;
                            if (month < 10)
                                month = "0" + month;
                            day = date.getDate();
                            if (day < 10)
                                day = "0" + day;

                            estDate = [date.getFullYear(), month, day].join('-');
                        }

                        $('input[name="ShipQty[' + index + ']').val(obj[0].ProvidedQuantity);
                        $('input[name="EtdDelivery[' + index + ']').val(estDate);

                        for (var i = 1; i < 5; i++) {
                            var estDate = "";
                            console.log(obj[0]["EstDelivered_" + (i + 1)]);
                            if (obj[0]["EstDelivered_" + (i + 1)] != null) {
                                estDate = obj[0]["EstDelivered_" + (i + 1)];
                                estDate = estDate.split("(")[1];
                                estDate = estDate.split(")")[0];
                                var date = new Date(parseInt(estDate));

                                month = date.getMonth() + 1;
                                if (month < 10)
                                    month = "0" + month;
                                day = date.getDate();
                                if (day < 10)
                                    day = "0" + day;

                                estDate = [date.getFullYear(), month, day].join('-');
                            }

                            var newRow = $("<tr id ='" + i + "'>");
                            var cols = "";
                            cols += '<td class="col-sm-6"><input type="number" class="form-control" name="ShipQty[' + i + ']" value="' + obj[0]["ProvidedQuantity_" + (i + 1)] + '"/></td>';
                            cols += '<td class="col-sm-6"><input onkeydown="return false" type="text" class="form-control etd-delivery-dt" name="EtdDelivery[' + i + ']" value="' + estDate + '"/></td>';

                            newRow.append(cols);
                            $("#myTable").append(newRow);
                        }

                        $('.etd-delivery-dt').datepicker({
                            autoclose: true,
                            format: "yyyy-mm-dd"
                        });
                    }
                });
            });

            $('form#editData').submit(function (e) {
                e.preventDefault();
                var qty = 0;
                var isValid = true;

                for (var i = 0; i < 5; i++) {
                    qty += ($('input[name="ShipQty[' + i + ']"]').val() != '') ? parseInt($('input[name="ShipQty[' + i + ']"]').val()) : 0;
                    var qtyF = $('input[name="ShipQty[' + i + ']"]').val();
                    var dateF = $('input[name="EtdDelivery[' + i + ']"]').val();
                    if ((qtyF != "" && dateF == "") || (qtyF == "" && dateF != "")) {
                        isValid = false;
                    }
                }

                if (isValid == false) {
                    customAlert('Ship Qty dan Etd Delivery harus di isi');
                    return;
                }

                var po = parseInt($('input[name="RequestQuantity"]').val());
                
                if (qty > po) {
                    customAlert('Jumlah total ship quantity tidak boleh melebihi po quantity');
                } else {
                    $.ajax({
                        type: "POST",
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        dataType: 'json',
                        success: function (response) {
                            if (response.success) {
                                $('#modal-edit').modal('hide');
                                myTable.ajax.reload();
                            }
                        }
                    })
                }
            });

            $('#purchase-list-dt tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = myTable.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });

            $("#addrow").on("click", function () {
                if (counter < 4) {
                    counter++;
                    var newRow = $("<tr id ='" + counter + "'>");
                    var cols = "";
                    cols += '<td class="col-sm-3"><input type="number" class="form-control" name="ShipQty[' + counter + ']"/></td>';
                    cols += '<td class="col-sm-3"><input type="date" class="form-control" name="EtdDelivery[' + counter + ']"/></td>';

                    cols += '<td class="col-sm-2"><input type="button" class="ibtnDel btn btn-md btn-danger" value="Delete"></td>';
                    newRow.append(cols);
                    $("#myTable").append(newRow);
                }
            });

            $("#myTable").on("click", ".ibtnDel", function (event) {
                $(this).closest("tr").remove();
                counter -= 1
            });
        });
    </script>

}