﻿@model KMSIPartsPortal_System.Models.OutstandingPurchase

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .gg div{
        margin-bottom:15px;
    }
</style>

<div class="box box-primary blockDetailPO">
    <div class="box-header with-border">
        <h3 class="box-title">Details Purchase Order</h3>

        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="">
            <div class="dl-horizontal">
                <div class="col-md-6 pull-left gg">
                    <label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.SUPPLIER_CODE)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.SUPPLIER_CODE)">

                    </div>

                    <label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.PO_DATE)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.PO_DATE)">
                    </div>

                    <label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.PO_NUMBER)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.PO_NUMBER)">
                    </div>

                    <label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.PO_AMOUNT)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.PO_AMOUNT)">
                    </div>

                    <label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.AGING)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.AGING)">
                    </div>

                    <label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.STATUS)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.STATUS)">
                    </div>
                </div>

                <div class="col-md-6 pull-left gg">
                    

                    @*<label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.CreatedDate)">
                    </div>*@

                    @*<label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.CreatedBy)">
                    </div>*@

                    @*<label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.Request)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.Request)">
                    </div>*@

                    @*<label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.ReqComment)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.ReqComment)">
                    </div>*@

                    @*<label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.SupplierCode)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.SupplierCode)">
                    </div>*@

                    <label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.REMARK)
                    </label>

                    <div class="col-md-8">
                        <input style="width:300px;" class="form-control col-md-4 disabled text-box single-line" readonly type="text" value="@Html.DisplayFor(model => model.REMARK)">
                    </div>
                </div>



            </div>
        </div>
        <div class="btn btn-sm btn-flat btn-danger pull-right">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <!-- /.box-body -->
</div>


