﻿@model KMSIPartsPortal_System.Models.PurchaseViewModel
@{
    ViewBag.Title = "Edit";
    SelectList suppliers = ViewData["Suppliers"] as SelectList;
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            @using (Html.BeginForm("Edit", "PurchaseOrder", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Suppliers.SupplierName, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.PurchaseOrders.SupplierId, suppliers, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseOrders.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <div class="input-group purchase-date date">
                                        @Html.EditorFor(model => model.PurchaseOrders.PurchaseDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @Value = (ViewBag.purchase != null) ? ViewBag.purchase.PurchaseDate.ToString("yyyy-MM-dd") : "" } })
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseOrders.PurchaseNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseOrders.PurchaseNumber, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.purchase != null) ? ViewBag.purchase.PurchaseNumber : "" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseOrders.AgingStatus, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @{
                                        int daysDiff = ((TimeSpan)(DateTime.Today - ViewBag.purchase.PurchaseDate)).Days;
                                        string status = "";
                                        if (daysDiff < 60)
                                        {
                                            status = "< 60 Days";
                                        }
                                        else if (daysDiff >= 60 && daysDiff <= 90)
                                        {
                                            status = "60 - 90 Days";
                                        }
                                        else
                                        {
                                            status = "> 90 Days";
                                        }
                                    }
                                    @Html.EditorFor(model => model.PurchaseOrders.AgingStatus, new { htmlAttributes = new { @class = "form-control disabled", @Value = (ViewBag.purchase != null) ? status : "", @disabled = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table id="invoice-form" class="table table-bordered table-striped" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseDetail.PartNumber)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseDetail.ItemNumber)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseDetail.RequestQuantity)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseDetail.ProvidedQuantity)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseDetail.Price)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseDetail.Description)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 0;

                                                foreach (var item in ViewBag.details)
                                                {
                                                    Int32 ShipQty = Convert.ToInt32(item.ProvidedQuantity) + Convert.ToInt32(item.ProvidedQuantity_2) + Convert.ToInt32(item.ProvidedQuantity_3) + Convert.ToInt32(item.ProvidedQuantity_4) + Convert.ToInt32(item.ProvidedQuantity_5);
                                                    <tr>
                                                        <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.PartNumbersKomatsu[i], new { htmlAttributes = new { @class = "form-control disabled", @Value = item.PartNumber, @readonly = true } })</td>
                                                        <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.ItemNumbers[i], new { htmlAttributes = new { @class = "form-control disabled", @Value = item.ItemNumber, @readonly = true } })</td>
                                                        <td>@Html.Editor("RequestQuantity[]", new { htmlAttributes = new { @class = "form-control disabled", @Value = item.RequestQuantity, @readonly = true } })</td>
                                                        <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.ShipQties[i], new { htmlAttributes = new { @class = "form-control", @Value = ShipQty, @readonly = true } })</td>
                                                        <td>@Html.EditorFor(model => model.PurchaseInvoiceDetail.UnitPrices[i], new { htmlAttributes = new { @class = "form-control disabled", @Value = item.Price, @readonly = true } })</td>
                                                        <td>@Html.EditorFor(model => model.PurchaseInvoice.Description, new { htmlAttributes = new { @class = "form-control disabled", @Value = item.Description, @readonly = true } })</td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer" align="right">
                    <a href="@Url.Action("Index", "PurchaseOrder")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                    <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.purchase-date.date').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd"
            });
        });
    </script>
}