﻿@using KMSIPartsPortal_System.Models
@model KMSIPartsPortal_System.Models.OutstandingPurchase
@{
    ViewBag.Title = "Purchase Order Detail Edit";
    Supplier supplier = (Supplier)ViewBag.masterSupplier;
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CURRENCY_CODE)
                    @Html.HiddenFor(model => model.PROVIDED_QTY_1)
                    @Html.HiddenFor(model => model.PROVIDED_QTY_2)
                    @Html.HiddenFor(model => model.PROVIDED_QTY_3)
                    @Html.HiddenFor(model => model.PROVIDED_QTY_4)
                    @Html.HiddenFor(model => model.PROVIDED_QTY_5)
                    @Html.HiddenFor(model => model.ETD_1)
                    @Html.HiddenFor(model => model.ETD_2)
                    @Html.HiddenFor(model => model.ETD_3)
                    @Html.HiddenFor(model => model.ETD_4)
                    @Html.HiddenFor(model => model.ETD_5)
                    @Html.HiddenFor(model => model.REMARK)
                    <div class="box-body">
                        <h3 class="box-title" style="margin-top: 0px !important;">PO Information</h3>
                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SUPPLIER_CODE, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.SUPPLIER_CODE, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        SUPPLIER NAME
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control disabled" readonly value="@supplier.SupplierName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PO_DATE, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.PO_DATE, new { htmlAttributes = new { @Value = Model.PO_DATE.Value.ToString("yyyy-MM-dd"), @class = "form-control disabled", @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PO_NUMBER, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.PO_NUMBER, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="box-title" style="margin-top: 0px !important;">Detail Information</h3>
                        <div class="row col-md-offset-2">
                            <div class="col-md-3" style="margin-right: 10px;">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PO_ITEM_NUMBER, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PO_ITEM_NUMBER, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-right: 10px;">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PART_NUMBER, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PART_NUMBER, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-right: 10px;">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PART_NAME, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PART_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-offset-2">
                            <div class="col-md-3" style="margin-right: 10px;">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PO_QTY, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PO_QTY, new { htmlAttributes = new { @Value = Model.PO_QTY, @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-right: 10px;">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PO_UNIT_PRICE, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PO_UNIT_PRICE, new { htmlAttributes = new { @Value = Model.PO_UNIT_PRICE.Value.ToString("F0"), @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-right: 10px;">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.STOCK_POINT, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.STOCK_POINT, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer" align="right">
                        <a href="@Url.Action("Detail", "PurchaseOrder")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                        <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>