﻿@using KMSIPartsPortal_System.Models;
@model KMSIPartsPortal_System.Models.PurchaseDetailViewModel

@{
    ViewBag.Title = "History ETD Shipment";
    Supplier supplier = ViewData["Supplier"] as Supplier;
}

@section Styles
{
    <style type="text/css">
        td.details-control {
            background: url('../../Content/img/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../../Content/img/details_close.png') no-repeat center center;
        }
    </style>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                @if (Convert.ToInt32(Session["SupplierId"]) != 0)
                {
                    <div class="tr">
                        <div class="td">Supplier : <b>@supplier.SupplierName (@supplier.SupplierCode)</b></div>
                    </div>
                    <br />
                }
                <table id="purchase-list-dt" class="table table-bordered table-striped BoldBorder">
                    <thead>
                        <tr>
                            <th style="width: 120px;">Supplier Code</th>
                            <th style="width: 100px;">Supplier Name</th>
                            <th style="width: 75px;">PO Date</th>
                            <th style="width: 150px;">PO Number</th>
                            <th style="width: 60px;">Item No.</th>
                            <th style="width: 150px;">Part Number</th>
                            <th style="width: 100px;">Description</th>
                            <th style="width: 50px;">PO Qty</th>
                            <th style="width: 70px;">OSPO Qty</th>
                            <th style="width: 45px;">ETD</th>
                            <th style="width: 5px;"></th>
                            <th style="width: 60px;">Ship Qty</th>
                            <th style="width: 60px;">Status</th>
                            <th style="width: 60px;">Last Update At</th>
                            <th style="width: 60px;">Last Update By</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        var supplierId = "@Session["SupplierId"]";

        function format(d) {
            var suppID = @Session["SupplierId"];
            var width = "1235px;";
            if (suppID == 0) {
                width = "1235px;";
            } else {
                width = "935px;";
            }
            ProvidedQuantity = (d.ProvidedQuantity != null) ? d.ProvidedQuantity : '';
            EstDelivered = (d.EstDelivered != null) ? moment(d.EstDelivered).format('YYYY-MM-DD') : '';
            ProvidedQuantity_2 = (d.ProvidedQuantity_2 != null) ? d.ProvidedQuantity_2 : '';
            EstDelivered_2 = (d.EstDelivered_2 != null) ? moment(d.EstDelivered_2).format('YYYY-MM-DD') : '';
            ProvidedQuantity_3 = (d.ProvidedQuantity_3 != null) ? d.ProvidedQuantity_3 : '';
            EstDelivered_3 = (d.EstDelivered_3 != null) ? moment(d.EstDelivered_3).format('YYYY-MM-DD') : '';
            ProvidedQuantity_4 = (d.ProvidedQuantity_4 != null) ? d.ProvidedQuantity_4 : '';
            EstDelivered_4 = (d.EstDelivered_4 != null) ? moment(d.EstDelivered_4).format('YYYY-MM-DD') : '';
            ProvidedQuantity_5 = (d.ProvidedQuantity_5 != null) ? d.ProvidedQuantity_5 : '';
            EstDelivered_5 = (d.EstDelivered_5 != null) ? moment(d.EstDelivered_5).format('YYYY-MM-DD') : '';

            // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left: 150px; width: -webkit-fill-available;">' +
                '<thead>' +
                    '<tr>' +
                        '<th style="width:' + width + '"></th>' +
                        '<th style="width: 83px;"></th>' +
                        '<th style="width: 50px;"></th>' +
                        '<th style="width: 69px;"></th>' +
                        '<th></th>' +
                    '</tr>' +
                '</thead>' +
                '<tbody>' +
                    '<tr>' +
                        '<td align="center"></td>' +
                        '<td align="center" style="background-color: yellow;">' + EstDelivered + '</td>' +
                        '<td align="center" style="background-color: yellow;"></td>' +
                        '<td align="center" style="background-color: yellow;">' + ProvidedQuantity + '</td>' +
                        '<td align="center"></td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td align="center"></td>' +
                        '<td align="center" style="background-color: yellow;">' + EstDelivered_2 + '</td>' +
                        '<td align="center" style="background-color: yellow;"></td>' +
                        '<td align="center" style="background-color: yellow;">' + ProvidedQuantity_2 + '</td>' +
                        '<td align="center"></td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td align="center"></td>' +
                        '<td align="center" style="background-color: yellow;">' + EstDelivered_3 + '</td>' +
                        '<td align="center" style="background-color: yellow;"></td>' +
                        '<td align="center" style="background-color: yellow;">' + ProvidedQuantity_3 + '</td>' +
                        '<td align="center"></td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td align="center"></td>' +
                        '<td align="center" style="background-color: yellow;">' + EstDelivered_4 + '</td>' +
                        '<td align="center" style="background-color: yellow;"></td>' +
                        '<td align="center" style="background-color: yellow;">' + ProvidedQuantity_4 + '</td>' +
                        '<td align="center"></td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td align="center"></td>' +
                        '<td align="center" style="background-color: yellow;">' + EstDelivered_5 + '</td>' +
                        '<td align="center" style="background-color: yellow;"></td>' +
                        '<td align="center" style="background-color: yellow;">' + ProvidedQuantity_5 + '</td>' +
                        '<td align="center"></td>' +
                    '</tr>' +
                    '</tbody>' +
                '</table>';
        }

        $(document).ready(function () {
            var counter = 0;

            var myTable = $('#purchase-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "scrollX": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/PurchaseOrder/HistoryList",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1],
                        "visible": (supplierId == 0),
                        "searchable": false
                    },
                    {
                        "targets": [13],
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [12],
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [9],
                        "className": 'text-center',
                        "sortable": true
                    }
                ],
                "order": [[2, "desc"]],
                "columns": [
                    { "data": "SupplierCode", "name": "SupplierCode" },
                    { "data": "SupplierName", "name": "SupplierName" },
                    {
                        "data": "PurchaseDate", "name": "PurchaseDate",
                        "render": function (data) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber" },
                    { "data": "ItemNumber", "name": "ItemNumber" },
                    { "data": "PartNumber", "name": "PartNumber" },
                    { "data": "Description", "name": "Description" },
                    { "data": "RequestQuantity", "name": "RequestQuantity" },
                    { "data": "Ospo", "name": "Ospo", },
                    {
                        "data": "EstDelivered", "name": "EstDelivered",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                var today = moment(Date.now()).format('YYYY-MM-DD');
                                var etd1 = (full.EstDelivered != null) ? moment(full.EstDelivered).format('YYYY-MM-DD') : "";
                                var etd2 = (full.EstDelivered_2 != null) ? moment(full.EstDelivered_2).format('YYYY-MM-DD') : "";
                                var etd3 = (full.EstDelivered_3 != null) ? moment(full.EstDelivered_3).format('YYYY-MM-DD') : "";
                                var etd4 = (full.EstDelivered_4 != null) ? moment(full.EstDelivered_4).format('YYYY-MM-DD') : "";
                                var etd5 = (full.EstDelivered_5 != null) ? moment(full.EstDelivered_5).format('YYYY-MM-DD') : "";

                                var dates = [etd1, etd2, etd3, etd4, etd5];

                                for (var i = 0; i < dates.length; i++) {
                                    if (new Date(today) <= new Date(dates[i])) {
                                        return dates[i];
                                        break;
                                    }
                                }
                            }
                            return "";
                        }
                    },
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {
                        "data": "TotalProvidedQuantity", "name": "TotalProvidedQuantity", "className": "text-center ship-qty",
                        "render": function (data, type, full, meta) {
                            return full.TotalProvidedQuantity;
                        }
                    },
                    {
                        "data": null, "name": null,
                        "render": function (data, type, full, meta) {
                            var today = moment(Date.now()).format('YYYY-MM-DD');
                            var etd1 = (full.EstDelivered != null) ? moment(full.EstDelivered).format('YYYY-MM-DD') : "";
                            var etd2 = (full.EstDelivered_2 != null) ? moment(full.EstDelivered_2).format('YYYY-MM-DD') : "";
                            var etd3 = (full.EstDelivered_3 != null) ? moment(full.EstDelivered_3).format('YYYY-MM-DD') : "";
                            var etd4 = (full.EstDelivered_4 != null) ? moment(full.EstDelivered_4).format('YYYY-MM-DD') : "";
                            var etd5 = (full.EstDelivered_5 != null) ? moment(full.EstDelivered_5).format('YYYY-MM-DD') : "";

                            var dates = [etd1, etd2, etd3, etd4, etd5];
                            var max = dates[0],
                                min = dates[0];

                            dates.forEach(function (v) {
                                max = new Date(v) > new Date(max) ? v : max;
                                min = new Date(v) < new Date(min) ? v : min;
                            });

                            var ShipQty = (full.ShipQty != null) ? full.ShipQty : 0;

                            if (ShipQty < full.RequestQuantity) {
                                if (new Date(today) <= new Date(max)) {
                                    return "BACK ORDER";
                                } else if (new Date(today) > new Date(min)) {
                                    return "OVERDUE";
                                } else {
                                    return "";
                                }
                            } else if (ShipQty == full.RequestQuantity) {
                                return "INVOICE";
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "UpdateAt", "name": "UpdateAt" },
                    { "data": "UpdateBy", "name": "UpdateBy" }
                ]
            });

            $('#purchase-list-dt tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = myTable.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });
    </script>

}