﻿@using KMSIPartsPortal_System.Models;
@model KMSIPartsPortal_System.Models.OutstandingPurchase

@{
    ViewBag.Title = "Outstanding Purchase Order";
    Supplier supplier = ViewData["Supplier"] as Supplier;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                @if (Convert.ToInt32(HttpContext.Current.Session["SupplierId"]) != 0)
                {
                    <div class="tr">
                        <div class="td">Supplier : <b>@supplier.SupplierName (@supplier.SupplierCode)</b></div>
                    </div>
                    <br />
                }
                <table id="purchase-list-dt" class="table table-bordered table-striped BoldBorder" style="width: 100%">
                    <thead>
                        <tr>
                            <th>SUPPLIER CODE</th>
                            <th style="width: 200px;">SUPPLIER NAME</th>
                            <th style="width: 60px;">PO DATE</th>
                            <th style="width: 100px;">PO NUMBER</th>
                            <th>AMOUNT</th>
                            <th>CURRENCY</th>
                            <th style="width: 80px;">AGING STATUS</th>
                            <th style="width: 75px;">PO STATUS</th>
                            <th>REMARKS</th>
                            @if (Convert.ToInt32(HttpContext.Current.Session["SupplierId"]) == 0)
                            {
                                <th style="width: 150px;"><span>Action</span></th>
                            }
                            else
                            {
                                <th style="width: 200px;"><span>Action</span></th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- Modal Import -->
@using (Html.BeginForm("Import", "PurchaseOrder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Import Bulk Data</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->
<!-- Modal Request -->
@using (Html.BeginForm("RequestEdit", "PurchaseOrder", FormMethod.Post, new { id = "editForm" }))
{
    <div class="modal fade" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalReqTitle">Request Edit</h4>
                </div>
                <div class="modal-body">
                    <span>Comment :</span>
                    <textarea id="comment" name="comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->


@using (Html.BeginForm("RequestEdit", "PurchaseOrder", FormMethod.Post, new { id = "deleteForm" }))
{
    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalReqTitleDelete">Request Delete</h4>
                </div>
                <div class="modal-body">
                    <span>Comment :</span>
                    <textarea id="comment" name="comment" style="width:100%"></textarea>
                </div>
                <div class="modal-footer">
                    <div style="height: 40px;">
                        <div class="btn btn-danger btn-cancel pull-right" data-dismiss="modal" style="width: 49%;">Cancel</div>
                        <button type="submit" class="btn bg-navy btn-ok pull-left" style="width: 49%;margin :0 0 0 0">Submit</button>
                    </div>
                    
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

    <div class="modal fade" id="modal-delete-GG">
        <form method="GET" action="#" id="form-delete-GG">
            <div class="modal-dialog" style="margin-top: 15%;">
                <div class="modal-content" style="width:70%;margin: 0 auto;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" style="font-size: 14px;text-align: center;" id="modalReqTitleDelete-GG">Request Delete</h4>
                    </div>
                    <div class="modal-footer">
                        <div style="height: 40px;">
                            <div class="btn btn-danger btn-cancel pull-right" data-dismiss="modal" style="width: 49%;">Cancel</div>
                            <button type="submit" class="btn bg-navy btn-ok pull-left" style="width: 49%;margin :0 0 0 0">Delete</button>
                        </div>

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </form>

        <!-- /.modal-dialog -->
    </div>


@section Scripts
{

    <script type="text/javascript">
        var supplierId = "@Session["SupplierId"]";
        $(document).ready(function () {
            $('#purchase-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/PurchaseOrder/List",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1],
                        "visible": (supplierId == 0),
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [9],
                        "searchable": false,
                        "sortable": false
                    }
                ],
                "order": [[2, "desc"]],
                "columns": [
                    { "data": "SupplierCode", "name": "SupplierCode" },
                    { "data": "SupplierName", "name": "SupplierName" },
                    { "data": "PurchaseDate", "name": "PurchaseDate" },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber" },
                    {
                        "data": "Amount", "name": "Amount",
                        "render": $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                    { "data": "Currency", "name": "Currency" },
                    {
                        "data": "Aging", "name": "Aging",
                        "render": function (data) {
                            if (data < 60)
                                return "< 60 Days";
                            else if (data >= 60 && data <= 90)
                                return "60 - 90 Days";
                            else
                                return "> 90 Days";
                        }
                    },
                    {
                        "data": "ShipQty", "name": "ShipQty",
                        "render": function (data, type, full, meta) {
                            if (parseInt(full.ShipQty) == 0) {
                                return "OPEN";
                            } else if (parseInt(full.ShipQty) != 0 && parseInt(full.ShipQty) < parseInt(full.ReqQty)) {
                                return "PARTIAL";
                            } else if (parseInt(full.ShipQty) >= parseInt(full.ReqQty)) {
                                return "CLOSE";
                            }
                        }
                    },
                    { "data": "Remarks", "name": "Remarks" },
                    {
                        "render": function (data, type, full, meta) {
                            var session = "@Session["SupplierId"]";

                            if (parseInt(session) == 0) {
                                return '<a class="btn btn-xs bg-navy btn-flat" href="/PurchaseOrder/Details?poNumber=' + full.PurchaseNumber + '">View PO</a>';
                            } else {
                                return '<a class="btn btn-xs btn-primary btn-flat create" id="' + full.PurchaseNumber + '" href = "/Invoice/Create?poNumber=' + full.PurchaseNumber + '" > Create Invoice</a> <a class="btn btn-xs bg-navy btn-flat" href="/PurchaseOrder/Details?poNumber=' + full.PurchaseNumber + '">View PO</a>';
                            }
                        }
                    }
                ]
            });

            Date.daysBetween = function (date1, date2) {
                //Get 1 day in milliseconds
                var one_day = 1000 * 60 * 60 * 24;

                // Convert both dates to milliseconds
                var date1_ms = date1.getTime();
                var date2_ms = date2.getTime();

                // Calculate the difference in milliseconds
                var difference_ms = date2_ms - date1_ms;

                // Convert back to days and return
                return Math.floor(difference_ms / one_day);
            }

            $('#btn-bulk-import').on('click', function () {
                $('#modal-import').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#purchase-list-dt tbody').on('click', 'a.reqedit', function () {
                $('#editForm').attr("action", "/PurchaseOrder/RequestEdit/" + $(this).prop("id"));
                $('#modalReqTitle').text("Request Edit");
                $('#modal-edit').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#purchase-list-dt tbody').on('click', 'a.reqdel', function () {
                $('#deleteForm').attr("action", "/PurchaseOrder/RequestDelete/" + $(this).prop("id"));
                $('#modalReqTitle').text("Request Delete");
                $('#modal-delete').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#purchase-list-dt tbody').on('click', 'a.del', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');
                $("#form-delete-GG").attr("action", href);
                $("#modalReqTitleDelete-GG").html("Are you sure want to delete Purchase Number (" + $(this).prop("id") + ")?");
                $('#modal-delete-GG').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });

                //var con = confirm("Are you sure want to delete Purchase Number (" + $(this).prop("id") + ")?");
                //if (con) {
                //    location.href = $(this).attr('href');
                //}
            });

        });
    </script>

}