﻿@model KMSIPartsPortal_System.Models.ForecastList
@{
    ViewBag.Title = "Forecast Document";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Forecast", "Incoming")" class="btn btn-sm btn-flat bg-navy">Back</a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table id="forecast-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>@Html.DisplayNameFor(model => model.ForecastNumber)</th>
                            @*<th>@Html.DisplayNameFor(model => model.ForecastDate)</th>*@
                            <th>Date</th>
                            <th>Part Number</th>
                            @*<th>@Html.DisplayNameFor(model => model.Quantity)</th>*@
                            <th>Qty</th>
                            <th>Requester</th>
                            <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-6">
                        <a href="@Url.Action("GenerateDoc", "Forecast", new { fNumber = ViewBag.fNumber })" class="btn btn-md btn-flat btn-primary"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        <a id="btn-download-excel" href="javascript:void(0)" class="btn btn-md btn-flat btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
<script type="text/javascript">
    function formatNumber(n) {
        console.log("sudah format")
        var result = "0";
        if (n != null) {
            n = n.toString();
            result = n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }
        return result;
    }
        $(document).ready(function () {
            $('#forecast-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Forecast/DetailList",
                    "data": { param: "@ViewBag.fNumber" },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center',
                    },
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [2, 3, 4, 5, 6, 7],
                        "className": 'text-center'
                    }
                ],
                "order": [[3, "asc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "ForecastNumber", "name": "ForecastNumber", "autoWidth": true },
                    { "data": "ForecastDate", "name": "ForecastDate", "autoWidth": true },
                    { "data": "PartNumber", "name": "PartNumber", "autoWidth": true },
                    { "data": "Quantity", "name": "Quantity", "autoWidth": true, 
                        "render": function (data, type, full, meta) {
                            var result = "0";
                            if (data != null) {
                                result = formatNumber(data);
                            }
                            return result;
                        }
                    },
                    { "data": "Requester", "name": "Requester", "autoWidth": true },
                    { "data": "Remarks", "name": "Remarks", "autoWidth": true }
                ]
            });

            $('#btn-download-excel').click(function () {
                var fNumber = "@ViewBag.fNumber";
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Forecast/GenerateExcel",
                    dataType: "JSON",
                    data: {
                        fNumber: fNumber
                    },
                    success: function (data) {
                        window.location = '/Forecast/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
</script>
}