﻿@model KMSIPartsPortal_System.Models.ForecastList
@{
    ViewBag.Title = "Processed Forecast Report";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>PROCESSED FORECAST</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-processed" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-processed" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                </div>
                <br />
                <table id="processed-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAllProcessed", false, htmlAttributes: new { @class = "form-control", @id = "select-all-processed" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>@Html.DisplayNameFor(model => model.ForecastNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.ForecastDate)</th>
                            <th>Requester</th>
                            <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            function turn_on_iCheckProcessed() {
                $('input[name="selectAllProcessed"], input[name="checkedIDProcessed"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedIDProcessed"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-processed').removeClass('disabled');
                        $('#btn-download-pdf-processed').removeClass('disabled');
                    } else {
                        $('#btn-download-processed').addClass('disabled');
                        $('#btn-download-pdf-processed').addClass('disabled');
                    }

                    if (length == $('input[name="checkedIDProcessed"]').length) {
                        $('#select-all-processed').iCheck('check');
                    } else {
                        $('#select-all-processed').iCheck('uncheck');
                    }
                });

                $('#select-all-processed').on('ifClicked', function () {
                    if ($('#select-all-processed').is(':checked')) {
                        $('input[name="checkedIDProcessed"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedIDProcessed"]').iCheck('check');
                    }
                });
            }

            $('#processed-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Incoming/ForecastList",
                    "data": { status: 1 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    },
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [3, 4, 5, 6],
                        "className": 'text-center'
                    }
                ],
                "order": [[4, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedIDProcessed" value="' + full.ForecastNumber + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "ForecastNumber", "name": "ForecastNumber", "autoWidth": true },
                    { "data": "ForecastDate", "name": "ForecastDate", "autoWidth": true },
                    { "data": "Requester", "name": "Requester", "autoWidth": true },
                    { "data": "Remarks", "name": "Remarks", "autoWidth": true }
                ]
            });

            $('#processed-list-dt').on('draw.dt', function () {
                turn_on_iCheckProcessed();
            });

            $('#btn-download-processed').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDProcessed"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Forecast/GenerateXls",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 1
                    },
                    success: function (data) {
                        window.location = '/Forecast/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-processed').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDProcessed"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Forecast/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: 1
                    },
                    success: function (data) {
                        window.location = '/Forecast/DownloadPdf?fileName=' + data.strPdfFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

        });
    </script>

}