﻿@model KMSIPartsPortal_System.Models.TicketDocument

@{
    ViewBag.Title = "New Ticket Form";
    Layout = "~/Views/Shared/_LayoutHelpdesk.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            @using (Html.BeginForm("Create", "TicketDocuments", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                @if (Session["RoleType"].ToString().Equals("Distributor"))
                                {
                                    <h3 class="box-title" style="text-align: left;"> @Html.LabelFor(model => model.TicketNumber) : @ViewBag.ticketNumber </h3>
                                }
                                else
                                {
                                    <h3 class="box-title" style="text-align: left;"> @Html.LabelFor(model => model.TicketNumber) : <span id="ticket-number"></span> </h3>
                                }
                            </div>
                            <div class="col-md-6">
                                <h3 class="box-title" style="text-align: right;"> @ViewBag.today </h3>
                            </div>
                        </div>
                    </div>
                </div>

                @Html.AntiForgeryToken()
                <div class="box-body">
                    @if (Session["RoleType"].ToString().Equals("Distributor"))
                    {
                        @Html.HiddenFor(model => model.TicketNumber, new { Value = ViewBag.ticketNumber })
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Requester, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Requester, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.Name, @readonly = true } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.TicketNumber)
                        @Html.HiddenFor(model => model.Requester, new { Value = ViewBag.Name })
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4" style="text-align: left;">Type of Distributor</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("DistributorType", ViewBag.DistributorTypeList as SelectList, "Select Type of Distributor", htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Requester, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                    <div class="col-md-8">
                                        <select id="distributor-pic" name="DistributorPIC" class="form-control disabled" disabled>
                                            <option value="">Select PIC</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.InformationBy, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    <div class="radio">
                                        <label class="col-md-2">
                                            @Html.RadioButtonFor(model => model.InformationBy, "Phone") <i class="fa fa-phone"></i>
                                        </label>
                                        <label class="col-md-2">
                                            @Html.RadioButtonFor(model => model.InformationBy, "Email", htmlAttributes: new { @checked = true }) <i class="fa fa-envelope"></i>
                                        </label>
                                        <label class="col-md-2">
                                            @Html.RadioButtonFor(model => model.InformationBy, "Chat") <i class="fa fa-comment"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProblemCategory, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    <div class="radio">
                                        <label class="col-md-4">
                                            @Html.RadioButtonFor(model => model.ProblemCategory, "Operational", htmlAttributes: new { @checked = true }) Operational
                                        </label>
                                        <label class="col-md-4">
                                            @Html.RadioButtonFor(model => model.ProblemCategory, "Information") Information
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProblemType, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.DropDownList("OperationType", ViewBag.OperationList as SelectList, "Select Type", htmlAttributes: new { @id = "operationType", @class = "form-control" })
                                    @Html.DropDownList("InformationType", ViewBag.InformationList as SelectList, "Select Type", htmlAttributes: new { @id = "informationType", @class = "form-control", @style = "display: none" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @rows = "4", @style = "resize: none;" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DocAttachment, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.TicketDocUpload, new { @class = "form-control", type = "file", multiple = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ImageAttachment, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.TicketImgUpload, new { @class = "form-control", type = "file", multiple = true, accept = "image/*" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        <div class="box-footer" align="right">
                            <div class="col-md-6">
                                <a href="@Url.Action("Index", "TicketDocuments")" class="btn btn-lg btn-flat bg-gray">Cancel</a>
                                <button type="submit" class="btn btn-lg btn-flat btn-success">Submit</button>
                            </div>
                        </div>
                    }
                </div>
    </div>
</div>

@using (Html.BeginForm("Create", "SupplierClaim", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="supplier-claim">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Binning Discrepancy Report</h4>
                </div>
                <div class="modal-body" id="frmSupplierClaim">
                    
                </div>
                <div class="modal-footer">
                    @*<button type="submit" class="btn btn-primary">Submit</button>*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            $('input[type="radio"]').iCheck({
                radioClass: "iradio_minimal-blue"
            });

            $('input[name="ProblemCategory"]').on('ifChecked', function (e) {
                var type = $(this).val();
                if (type.toLowerCase() == "operational") {
                    $('#operationType').get(0).selectedIndex = 0;
                    $('#operationType').show();
                    $('#informationType').get(0).selectedIndex = 0;
                    $('#informationType').hide();
                } else if (type.toLowerCase() == 'information') {
                    $('#operationType').get(0).selectedIndex = 0;
                    $('#operationType').hide();
                    $('#informationType').get(0).selectedIndex = 0;
                    $('#informationType').show();
                }
            });

            $('#DistributorType').on('change', function (e) {
                $('#overlay').show();
                e.preventDefault();

                var value = $(this).val();
                console.log(value);
                var url = '@Url.Action("getUserDistributor", "TicketDocuments")';
                var users = $('#distributor-pic');
                var request = $.ajax({
                    url: url,
                    type: "post",
                    data: { type: value }
                });
                request.done(function (response, textStatus, jqXHR) {
                    console.log(response.length);
                    $('#overlay').hide();
                    if (value != "") {
                        users.removeClass('disabled');
                        users.prop("disabled", false);
                        users.empty();
                        users.append($('<option></option>').text("Select PIC").val(-1))
                        $.each(response.picData, function (index, item) {
                            users.append($('<option></option>').text(item.Text).val(item.ID));
                        });

                        $('#TicketNumber').val(response.number);
                        $('#ticket-number').html("");
                        $('#ticket-number').html(response.number);
                    } else {
                        users.addClass('disabled');
                        users.prop("disabled", true);

                        $('#TicketNumber').val("");
                        $('#ticket-number').html("");
                    }
                });
                request.fail(function (jqXHR, textStatus, errorThrown) {
                    $('#overlay').hide();
                    customAlert("Error check your connection");
                });
            });

            /* $('#operationType').on('change', function (e) {
                var val = $(this).val();
                if (val.toLowerCase() == "related claim") {
                    $('#supplier-claim').modal({
                        show: true,
                        keyboard: false,
                        backdrop: 'static'
                    });
                }
            }); */

            $('#TicketImgUpload').bind('change', function () {
                const sizeLimit = 1 * 1024 * 1024;
                var totalSize = 0;
                if (this.files.length > 0) {
                    for (var i = 0; i <= this.files.length - 1; i++) {
                        totalSize += this.files[i].size;
                    }

                    if (totalSize > sizeLimit) {
                        $(this).val('');
                        customAlert("max uploaded file size is 1MB");
                    }
                }
            });

            $('#TicketDocUpload').bind('change', function () {
                const sizeLimit = 1 * 1024 * 1024;
                var totalSize = 0;
                if (this.files.length > 0) {
                    for (var i = 0; i <= this.files.length - 1; i++) {
                        totalSize += this.files[i].size;
                    }

                    if (totalSize > sizeLimit) {
                        $(this).val('');
                        customAlert("max uploaded file size is 1MB");
                    }
                }
            });
        });
    </script>
}