﻿@model KMSIPartsPortal_System.Models.TicketDocument

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TicketDocument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformationBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformationBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attachment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignDate1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignDate1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignTo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignTo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignDate2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignDate2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignTo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignTo2)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
