﻿@using KMSIPartsPortal_System.Models
@model KMSIPartsPortal_System.Models.TicketDocument

@{
    ViewBag.Title = "Edit Ticket Form";
    Layout = "~/Views/Shared/_LayoutHelpdesk.cshtml";

    List<string> UploadedImages = Model.TicketAttachments.Where(x => x.TicketID == Model.TicketID && x.FileType == "IMAGE" && x.FileMode == "TICKET").Select(x => x.FileName).ToList();
    List<string> UploadedDocs = Model.TicketAttachments.Where(x => x.TicketID == Model.TicketID && x.FileType == "DOCUMENT" && x.FileMode == "TICKET").Select(x => x.FileName).ToList();
}
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="@Url.Action("Index", "TicketDocuments")" class="btn btn-lg btn-flat bg-gray"> Back </a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            @using (Html.BeginForm("Edit", "TicketDocuments", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.TicketID)

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <h3 class="box-title" style="text-align: left;"> @Html.LabelFor(model => model.TicketNumber) : @Model.TicketNumber</h3>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Requester, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Requester, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SubmitDate, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.SubmitDate, new { htmlAttributes = new { @class = "form-control disabled", @Value = Model.SubmitDate.Value.ToString("ddd, d MMMM yyyy; HH:mm:ss"), @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.InformationBy, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    <div class="radio">
                                        <label class="col-md-2">
                                            @if (Model.InformationBy.ToLower() == "phone")
                                            {
                                                @Html.RadioButtonFor(model => model.InformationBy, "Phone", new { @checked = true }) <i class="fa fa-phone"></i>
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(model => model.InformationBy, "Phone") <i class="fa fa-phone"></i>
                                            }
                                        </label>
                                        <label class="col-md-2">
                                            @if (Model.InformationBy.ToLower() == "email")
                                            {
                                                @Html.RadioButtonFor(model => model.InformationBy, "Email", new { @checked = true }) <i class="fa fa-envelope"></i>
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(model => model.InformationBy, "Email") <i class="fa fa-envelope"></i>
                                            }
                                        </label>
                                        <label class="col-md-2">
                                            @if (Model.InformationBy.ToLower() == "chat")
                                            {
                                                @Html.RadioButtonFor(model => model.InformationBy, "Chat", new { @checked = true }) <i class="fa fa-comment"></i>
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(model => model.InformationBy, "Chat") <i class="fa fa-comment"></i>
                                            }
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProblemCategory, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    <div class="radio">
                                        <label class="col-md-4">
                                            @if (Model.ProblemCategory.ToLower() == "operational")
                                            {
                                                @Html.RadioButtonFor(model => model.ProblemCategory, "Operational", new { @checked = true }) <span>Operational</span>
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(model => model.ProblemCategory, "Operational") <span>Operational</span>
                                            }
                                        </label>
                                        <label class="col-md-4">
                                            @if (Model.ProblemCategory.ToLower() == "information")
                                            {
                                                @Html.RadioButtonFor(model => model.ProblemCategory, "Information", new { @checked = true }) <span>Information</span>
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(model => model.ProblemCategory, "Information") <span>Information</span>
                                            }
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProblemType, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.DropDownList("ProblemType", ViewBag.SelectList as SelectList, "Select Type", htmlAttributes: new { @class = "form-control" })

                                    @Html.DropDownList("OperationType", ViewBag.OperationList as SelectList, "Select Type", htmlAttributes: new { @id = "operationType", @class = "form-control", @style = "display: none" })
                                    @Html.DropDownList("InformationType", ViewBag.InformationList as SelectList, "Select Type", htmlAttributes: new { @id = "informationType", @class = "form-control", @style = "display: none" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @rows = "4", @style = "resize: none;" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DocAttachment, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.TicketDocUpload, new { @class = "form-control", type = "file", multiple = true })
                                    @if ((UploadedDocs != null))
                                    {
                                        foreach (var doc in UploadedDocs)
                                        {
                                            <label class="control-label">
                                                <a class="attachment-text" href="~/Uploads/Ticket/Docs/@doc" target="_blank">@doc</a>
                                            </label>
                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ImageAttachment, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.TicketImgUpload, new { @class = "form-control", type = "file", multiple = true, accept = "image/*" })
                                    @if ((UploadedImages != null))
                                    {
                                        foreach (var img in UploadedImages)
                                        {
                                            <label class="control-label">
                                                <a class="attachment-text" href="~/Uploads/Ticket/Images/@img" target="_blank">@img</a>
                                            </label>
                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="box-footer" align="right">
                    <div class="col-md-6">
                        <a href="@Url.Action("Index", "TicketDocuments")" class="btn btn-lg btn-flat bg-gray">Cancel</a>
                        <button type="submit" class="btn btn-lg btn-flat btn-success">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            $('input[type="radio"]').iCheck({
                radioClass: "iradio_minimal-blue"
            });

            $('input[name="ProblemCategory"]').on('ifChecked', function (e) {
                $('#ProblemType').hide();
                var type = $(this).val();
                if (type.toLowerCase() == "operational") {
                    $('#operationType').get(0).selectedIndex = 0;
                    $('#operationType').show();
                    $('#informationType').get(0).selectedIndex = 0;
                    $('#informationType').hide();
                } else if (type.toLowerCase() == 'information') {
                    $('#operationType').get(0).selectedIndex = 0;
                    $('#operationType').hide();
                    $('#informationType').get(0).selectedIndex = 0;
                    $('#informationType').show();
                }
            });

            $('#TicketImgUpload').bind('change', function () {
                const sizeLimit = 1 * 1024 * 1024;
                var totalSize = 0;
                if (this.files.length > 0) {
                    for (var i = 0; i <= this.files.length - 1; i++) {
                        totalSize += this.files[i].size;
                    }

                    if (totalSize > sizeLimit) {
                        $(this).val('');
                        customAlert("max uploaded file size is 1MB");
                    }
                }
            });

            $('#TicketDocUpload').bind('change', function () {
                const sizeLimit = 1 * 1024 * 1024;
                var totalSize = 0;
                if (this.files.length > 0) {
                    for (var i = 0; i <= this.files.length - 1; i++) {
                        totalSize += this.files[i].size;
                    }

                    if (totalSize > sizeLimit) {
                        $(this).val('');
                        customAlert("max uploaded file size is 1MB");
                    }
                }
            });
        });
    </script>
}