﻿@using KMSIPartsPortal_System.Models
@model KMSIPartsPortal_System.Models.TicketDocument

@{
    ViewBag.Title = "Ticket Document";
    Layout = "~/Views/Shared/_LayoutHelpdesk.cshtml";
    kmsi_portalEntities db = new kmsi_portalEntities();
    User user = db.Users.Find(Model.SubmitBy);
    var SubmitBy = user != null ? user.FirstName + " " + user.LastName : "";
    User userPickup = db.Users.Find(Model.PickupBy);
    var PickupBy = userPickup != null ? userPickup.FirstName + " " + userPickup.LastName : "";

    var Status = "";
    if (Model.Status == 1)
    {
        Status = "Submitted";
    }
    else if (Model.Status == 2)
    {
        Status = "Solving";
    }
    else if (Model.Status == 3)
    {
        Status = "Solved";
    }
    else if (Model.Status == 4)
    {
        Status = "Closed";
    }

    Int32 Duration = Model.Duration != null ? Convert.ToInt32(Model.Duration) : 0;
    var timeSpan = TimeSpan.FromSeconds(Duration);
    int hr = timeSpan.Hours;
    int mn = timeSpan.Minutes;
    int sc = timeSpan.Seconds;
    var DurationDisplay = hr.ToString().PadLeft(2, '0') + ":" + mn.ToString().PadLeft(2, '0') + ":" + sc.ToString().PadLeft(2, '0');

    List<string> UploadedImages = Model.TicketAttachments.Where(x => x.TicketID == Model.TicketID && x.FileType == "IMAGE" && x.FileMode == "TICKET").Select(x => x.FileName).ToList();
    List<string> UploadedDocs = Model.TicketAttachments.Where(x => x.TicketID == Model.TicketID && x.FileType == "DOCUMENT" && x.FileMode == "TICKET").Select(x => x.FileName).ToList();
    List<string> FeedbackImages = Model.TicketAttachments.Where(x => x.TicketID == Model.TicketID && x.FileType == "IMAGE" && x.FileMode == "FEEDBACK").Select(x => x.FileName).ToList();
    List<string> FeedbackDocs = Model.TicketAttachments.Where(x => x.TicketID == Model.TicketID && x.FileType == "DOCUMENT" && x.FileMode == "FEEDBACK").Select(x => x.FileName).ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="@Url.Action("History", "TicketDocuments")" class="btn btn-lg btn-flat bg-gray"> Back </a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form class="form-horizontal">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="box-title" style="text-align: left;"> @Html.LabelFor(model => model.TicketNumber) : @Html.DisplayFor(model => model.TicketNumber) </h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="box-title" style="text-align: right;"> @Html.DisplayFor(model => model.TicketDate) </h3>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Requester, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Requester, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SubmitDate, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.SubmitDate, new { htmlAttributes = new { @class = "form-control disabled", @Value = Model.SubmitDate.Value.ToString("ddd, d MMMM yyyy; HH:mm:ss"), @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.InformationBy, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @if (Model.InformationBy.ToLower() == "system")
                                    {
                                        <label class="control-label">
                                            <i class="fa fa-desktop"></i>
                                        </label>
                                    }
                                    else if (Model.InformationBy.ToLower() == "phone")
                                    {
                                        <label class="control-label">
                                            <i class="fa fa-phone"></i>
                                        </label>
                                    }
                                    else if (Model.InformationBy.ToLower() == "email")
                                    {
                                        <label class="control-label">
                                            <i class="fa fa-envelope"></i>
                                        </label>
                                    }
                                    else if (Model.InformationBy.ToLower() == "chat")
                                    {
                                        <label class="control-label">
                                            <i class="fa fa-comment"></i>
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SubmitBy, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.SubmitBy, new { htmlAttributes = new { type = "text", @class = "form-control disabled", @Value = SubmitBy, @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProblemCategory, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ProblemCategory, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { type = "text", @class = "form-control disabled", @Value = DurationDisplay, @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProblemType, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ProblemType, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PickupDate, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PickupDate, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PickupBy, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PickupBy, new { htmlAttributes = new { type = "text", @class = "form-control disabled", @Value = PickupBy, @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { type = "text", @class = "form-control disabled", @Value = Status, @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Feedback, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    <textarea class="form-control" rows="4" style="resize: none;" readonly>@Model.Feedback</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    <textarea class="form-control" rows="4" style="resize: none;" readonly>@Model.Notes</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DocAttachment, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @foreach (var doc in UploadedDocs)
                                    {
                                        <label class="control-label">
                                            <a class="attachment-text" href="~/Uploads/Ticket/Docs/@doc" target="_blank">@doc</a>
                                        </label>
                                        <br />
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ImageAttachment, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @foreach (var img in UploadedImages)
                                    {
                                        <label class="control-label">
                                            <a class="attachment-text" href="~/Uploads/Ticket/Images/@img" target="_blank">@img</a>
                                        </label>
                                        <br />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            $('#FeedbackImgUpload').bind('change', function () {
                const sizeLimit = 1 * 1024 * 1024;
                var totalSize = 0;
                if (this.files.length > 0) {
                    for (var i = 0; i <= this.files.length - 1; i++) {
                        totalSize += this.files[i].size;
                    }

                    if (totalSize > sizeLimit) {
                        $(this).val('');
                        customAlert("max uploaded file size is 1MB");
                    }
                }
            });

            $('#FeedbackDocUpload').bind('change', function () {
                const sizeLimit = 1 * 1024 * 1024;
                var totalSize = 0;
                if (this.files.length > 0) {
                    for (var i = 0; i <= this.files.length - 1; i++) {
                        totalSize += this.files[i].size;
                    }

                    if (totalSize > sizeLimit) {
                        $(this).val('');
                        customAlert("max uploaded file size is 1MB");
                    }
                }
            });
        });
    </script>
}