﻿@model KMSIPartsPortal_System.Models.TicketDocument

@{
    ViewBag.Title = "Helpdesk Ticket History";
    Layout = "~/Views/Shared/_LayoutHelpdesk.cshtml";
}
<style>
    table.dataTable.fixedHeader-floating {
        display: none !important; /* Hide the fixedHeader since we dont need it*/
    }

    #closed-ticket-dt > .dataTables_scrollHeadInner {
        margin-left: 0px;
        width: 93% !important;
        position: fixed;
        display: block;
        overflow: hidden;
        margin-right: 30px;
        background: white;
        z-index: 1000;
    }

    .dataTables_scrollBody {
        padding-top: 0px;
    }

    #ticket-dt td, th {
        vertical-align: middle;
    }

    .btn, .btn.btn-flat {
        padding: 7px 15px;
    }
</style>

@Html.Hidden("RoleType", Session["RoleType"].ToString())
<input type="hidden" id="filter-param" />
<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>Outstanding Ticket History</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="btn-download-ticket" class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary btn-flat">Download Ticket</button>
                            <button type="button" class="btn btn-sm btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="btn-save-xls-outstanding">Download as Excel</a></li>
                                <li><a id="btn-save-pdf-outstanding">Download as PDF</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br />
                <table id="outstanding-ticket-dt" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">@Html.DisplayNameFor(model => model.TicketNumber)</th>
                            <th style="width: 150px;">@Html.DisplayNameFor(model => model.SubmitDate)</th>
                            <th style="width: 200px;">@Html.DisplayNameFor(model => model.ProblemCategory)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.ProblemType)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.Description)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.Notes)</th>
                            <th style="width: 120px;">@Html.DisplayNameFor(model => model.Status)</th>
                            <th style="width: 200px;">Latest PIC</th>
                            <th style="width: 120px;">@Html.DisplayNameFor(model => model.Duration)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>Closed Ticket History</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="btn-download-ticket" class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary btn-flat">Download Ticket</button>
                            <button type="button" class="btn btn-sm btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="btn-save-xls-closed">Download as Excel</a></li>
                                <li><a id="btn-save-pdf-closed">Download as PDF</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br />
                <table id="closed-ticket-dt" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">@Html.DisplayNameFor(model => model.TicketNumber)</th>
                            <th style="width: 150px;">@Html.DisplayNameFor(model => model.SubmitDate)</th>
                            <th style="width: 200px;">@Html.DisplayNameFor(model => model.ProblemCategory)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.ProblemType)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.Description)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.Notes)</th>
                            <th style="width: 140px;">@Html.DisplayNameFor(model => model.PickupDate)</th>
                            <th style="width: 140px;">@Html.DisplayNameFor(model => model.SolvedDate)</th>
                            <th style="width: 140px;">@Html.DisplayNameFor(model => model.ClosedDate)</th>
                            <th style="width: 200px;">Latest PIC</th>
                            <th style="width: 120px;">@Html.DisplayNameFor(model => model.Duration)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-12" align="right">
        <a href="@Url.Action("Index", "TicketDocuments")" class="btn btn-flat bg-gray"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to home</a>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#outstanding-ticket-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "scrollX": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/TicketDocuments/List",
                    "data": function (data) {
                        data.RoleType = $('#RoleType').val().trim();
                        data.Status = "";
                        data.Filter = $('#filter-param').val();
                    },
                    "type": "POST",
                    "dataType": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8],
                        "className": "text-center"
                    },
                    {
                        "targets": 8,
                        "createdCell": function (td, cellData, rowData, row, col) {
                            if (cellData > 172800) {
                                $(td).css('background-color', '#ff695d');
                            } else if (cellData > 86400) {
                                $(td).css('background-color', '#ffd966');
                            } else if (cellData >= 0) {
                                $(td).css('background-color', '#a9d08e');
                            }
                        }
                    }
                ],
                "order": [[1, 'desc']],
                "columns": [
                    {
                        "data": "TicketNumber", "name": "TicketNumber",
                        "render": function (data, type, full, meta) {
                            return '<a href="/TicketDocuments/HistoryDetail/' + full.TicketID + '">' + data + '</a>';
                        }
                    },
                    {
                        "data": "SubmitDate", "name": "SubmitDate",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "ProblemCategory", "name": "ProblemCategory" },
                    { "data": "ProblemType", "name": "ProblemType" },
                    { "data": "Description", "name": "Description" },
                    { "data": "Notes", "name": "Notes" },
                    { "data": "StatusName", "name": "StatusName" },
                    { "data": "LatestPIC", "name": "LatestPIC" },
                    {
                        "data": "Duration", "name": "Duration",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return secondsTodHms(data);
                            } else {
                                return "";
                            }
                        }
                    }
                ],
                "initComplete": function (settings, json) {
                    $('.dataTables_scrollBody').on('scroll', function () {
                        $('.dataTables_scrollHeadInner').scrollLeft($(this).scrollLeft());
                    });

                    $(document).on('scroll', function () {

                        var scroll_pos = $(this).scrollTop();
                        var margin = $('.dataTables_scrollHead').offset().top; // Adjust it to your needs
                        var cur_pos = $('.dataTables_scrollHeadInner').position();
                        var header_pos = cur_pos.top;

                        if (scroll_pos < margin)
                            var header_pos = margin - scroll_pos;
                        else
                            header_pos = 0;

                        $('.dataTables_scrollHeadInner').css({ "top": header_pos });
                    });
                }
            });

            $('#btn-save-xls-outstanding').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/TicketDocuments/GenerateXls",
                    dataType: "JSON",
                    data: {
                        RoleId: $('#RoleId').val(),
                        Status: ""
                    },
                    success: function (data) {
                        window.location = '/TicketDocuments/DownloadXls?fileGuid=' + data.FileGuid
                            + '&fileName=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-save-pdf-outstanding').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/TicketDocuments/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        RoleId: $('#RoleId').val(),
                        Status: ""
                    },
                    success: function (data) {
                        window.location = '/TicketDocuments/DownloadPdf?fileGuid=' + data.FileGuid
                            + '&fileName=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#closed-ticket-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "scrollX": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/TicketDocuments/List",
                    "data": function (data) {
                        data.RoleType = $('#RoleType').val().trim();
                        data.Status = 0;
                        data.Filter = $('#filter-param').val();
                    },
                    "type": "POST",
                    "dataType": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                        "className": "text-center"
                    },
                    {
                        "targets": 10,
                        "createdCell": function (td, cellData, rowData, row, col) {
                            if (cellData > 172800) {
                                $(td).css('background-color', '#ff695d');
                            } else if (cellData > 86400) {
                                $(td).css('background-color', '#ffd966');
                            } else if (cellData >= 0) {
                                $(td).css('background-color', '#a9d08e');
                            }
                        }
                    }
                ],
                "order": [[1, 'desc']],
                "columns": [
                    {
                        "data": "TicketNumber", "name": "TicketNumber",
                        "render": function (data, type, full, meta) {
                            return '<a href="/TicketDocuments/HistoryDetail/' + full.TicketID + '">' + data + '</a>';
                        }
                    },
                    {
                        "data": "SubmitDate", "name": "SubmitDate",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "ProblemCategory", "name": "ProblemCategory" },
                    { "data": "ProblemType", "name": "ProblemType" },
                    { "data": "Description", "name": "Description" },
                    { "data": "Notes", "name": "Notes" },
                    {
                        "data": "PickupDate", "name": "PickupDate",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "SolvedDate", "name": "SolvedDate",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "ClosedDate", "name": "ClosedDate",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "LatestPIC", "name": "LatestPIC" },
                    {
                        "data": "Duration", "name": "Duration",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return secondsTodHms(data);
                            } else {
                                return "";
                            }
                        }
                    }
                ],
                "initComplete": function (settings, json) {
                    $('.dataTables_scrollBody').on('scroll', function () {
                        $('.dataTables_scrollHeadInner').scrollLeft($(this).scrollLeft());
                    });

                    $(document).on('scroll', function () {

                        var scroll_pos = $(this).scrollTop();
                        var margin = $('.dataTables_scrollHead').offset().top; // Adjust it to your needs
                        var cur_pos = $('.dataTables_scrollHeadInner').position();
                        var header_pos = cur_pos.top;

                        if (scroll_pos < margin)
                            var header_pos = margin - scroll_pos;
                        else
                            header_pos = 0;

                        $('.dataTables_scrollHeadInner').css({ "top": header_pos });
                    });
                }
            });

            $('#btn-save-xls-closed').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/TicketDocuments/GenerateXls",
                    dataType: "JSON",
                    data: {
                        RoleId: $('#RoleId').val(),
                        Status: 0
                    },
                    success: function (data) {
                        window.location = '/TicketDocuments/DownloadXls?fileGuid=' + data.FileGuid
                            + '&fileName=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-save-pdf-closed').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/TicketDocuments/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        RoleId: $('#RoleId').val(),
                        Status: 0
                    },
                    success: function (data) {
                        window.location = '/TicketDocuments/DownloadPdf?fileGuid=' + data.FileGuid
                            + '&fileName=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>
}