﻿@model KMSIPartsPortal_System.Models.TicketDocument

@{
    ViewBag.Title = "Helpdesk Ticketing System";
    Layout = "~/Views/Shared/_LayoutHelpdesk.cshtml";

    string RoleType = Session["RoleType"].ToString();
}
<style>
    .info-box {
        border-radius: 1px;
        border: 1px solid black;
    }

    .info-box-icon {
        border-radius: 2px;
        position: absolute;
        border-right: 1px solid black;
    }

    .info-box-icon.new {
        background: url("../../Content/img/ticket-new.png") no-repeat center center;
        background-size: 80px;
    }

    .info-box-icon.process {
        background: url("../../Content/img/ticket-process.png") no-repeat center center;
        background-size: 80px;
    }

    .info-box-icon.solve {
        background: url("../../Content/img/ticket-solve.png") no-repeat center center;
        background-size: 80px;
    }

    .info-box-icon.closed {
        background: url("../../Content/img/ticket-close.png") no-repeat center center;
        background-size: 80px;
    }

    .info-box-icon.total {
        background: url("../../Content/img/ticket-all.png") no-repeat center center;
        background-size: 80px;
    }

    .info-box-content {
        text-align: center;
        background-color: white !important;
        padding-bottom: 19px;
    }

    .info-box-number {
        font-size: 28px;
    }

    .info-box-text {
        font-size: 17px;
        font-weight: bold;
    }

    .box.box-solid.box-primary > .box-header {
        color: #000000;
    }

    .box.box-solid.box-primary > .header-ticket {
        height: 170px;
        padding-left: 8px;
        background-color: #337ab7 !important;
        border-radius:10px;
    }

    #ticket-dt td, th {
        vertical-align: middle;
    }

    table.dataTable.fixedHeader-floating {
        display: none !important; /* Hide the fixedHeader since we dont need it*/
    }

    .dataTables_scrollHeadInner {
        margin-left: 0px;
        width: 96% !important;
        position: fixed;
        display: block;
        overflow: hidden;
        margin-right: 30px;
        background: white;
        z-index: 1000;
        border-bottom: 1px solid #ccc;
    }

    .dataTables_scrollBody {
        padding-top: 40px;
    }

    .slider {
        width: 100%;
        margin: 10px auto;
    }

    .slick-slide {
        margin: 0px 0px;
    }

        .slick-slide img {
            width: 90%;
            margin: auto;
        }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }


    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: 1;
    }

    .slick-active {
        opacity: 1;
    }

    .slick-current {
        opacity: 1;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header header-ticket">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title" style="text-align: left;padding-left:50px;"><b>Ticket Information</b></h3>
                    </div>
                </div>

                <div class="row">
                    <input type="hidden" id="filter-param" />
                    <section class="center slider">

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-gray" onclick="filterTicket(1)" style="cursor: pointer;">
                                <span class="info-box-icon new"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number">@ViewBag.New</span>
                                    <span class="info-box-text">New Tickets</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-gray" onclick="filterTicket(2)" style="cursor: pointer;">
                                <span class="info-box-icon process"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number">@ViewBag.Processed</span>
                                    <span class="info-box-text">Solving Tickets</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-gray" onclick="filterTicket(3)" style="cursor: pointer;">
                                <span class="info-box-icon solve"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number">@ViewBag.Solved</span>
                                    <span class="info-box-text">Solved Tickets</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-gray" onclick="goToHistory()" style="cursor: pointer;">
                                <span class="info-box-icon closed"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number">@ViewBag.Closed</span>
                                    <span class="info-box-text">Closed Tickets</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-gray" onclick="goToHistory()" style="cursor: pointer;">
                                <span class="info-box-icon total"></span>
                                <div class="info-box-content">
                                    <span class="info-box-number">@ViewBag.All</span>
                                    <span class="info-box-text">Total Tickets</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->

                    </section>
                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title" style="text-align: left;"><b>Ticket List</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        @if (RoleType.ToLower().Equals("distributor"))
                        {
                            <div id="btn-close-ticket" href="javascript:void(0)" class="btn btn-lg btn-primary btn-flat disabled">Close Ticket</div>
                        }
                        <div id="btn-delete-ticket" href="javascript:void(0)" class="btn btn-lg btn-primary btn-flat disabled">Delete Ticket</div>
                        <div id="btn-download-ticket" class="btn-group">
                            <button type="button" class="btn btn-lg btn-primary btn-flat disabled">Download Ticket</button>
                            <button type="button" class="btn btn-lg btn-primary btn-flat dropdown-toggle disabled" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="btn-save-xls">Download as Excel</a></li>
                                <li><a id="btn-save-pdf">Download as PDF</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br />
                @Html.Hidden("RoleType", Session["RoleType"].ToString())
                <table id="ticket-dt" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th style="width: 150px;">@Html.DisplayNameFor(model => model.TicketNumber)</th>
                            <th style="width: 150px;">@Html.DisplayNameFor(model => model.SubmitDate)</th>
                            <th style="width: 200px;">@Html.DisplayNameFor(model => model.DistributorPIC)</th>
                            <th style="width: 185px;">@Html.DisplayNameFor(model => model.ProblemCategory)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.ProblemType)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.Description)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.Notes)</th>
                            <th style="width: 120px;">@Html.DisplayNameFor(model => model.Status)</th>
                            <th style="width: 200px;">Latest PIC</th>
                            <th style="width: 120px;">@Html.DisplayNameFor(model => model.Duration)</th>
                            <th style="width: 180px;">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- Modal Request -->
@using (Html.BeginForm("Assign", "TicketDocuments", FormMethod.Post, new { id = "assignForm", @class = "form-horizontal" }))
{
    <div class="modal fade" id="modal-assign">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Assign To</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.AssignTo1, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("UserList", ViewBag.UserList as SelectList, "Select User", htmlAttributes: new { @id = "userList", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{
    <script type="text/javascript">
        initCustomAlert();
        centeredModalDialog();

        $("section.center").slick({
            infinite: true,
            centerMode: true,
            slidesToShow: 5,
            slidesToScroll: 0
        });

        function turn_on_iCheck() {
            $('input[type="checkbox"][name="selectAll"], input[type="checkbox"][name="checkedTicket"]').iCheck({
                checkboxClass: "icheckbox_minimal-blue"
            }).on('ifChanged', function (e) {
                var length = $('input[name="checkedTicket"]:checked').length;

                if (length >= 1) {
                    $('#btn-close-ticket').removeClass('disabled');
                    $('#btn-delete-ticket').removeClass('disabled');
                    $('#btn-download-ticket button').removeClass('disabled');
                } else {
                    $('#btn-close-ticket').addClass('disabled');
                    $('#btn-delete-ticket').addClass('disabled');
                    $('#btn-download-ticket button').addClass('disabled');
                }
            }).on('ifToggled', function () {
                if ($('#select-all').is(':checked')) {
                    $('input[name="checkedTicket"]').iCheck('check');
                } else {
                    $('input[name="checkedTicket"]').iCheck('uncheck');
                }
            });
        }

        function filterTicket(param) {
            $('#filter-param').val(param);
            setTimeout(function () {
                table.ajax.reload();
            }, 300);
        }

        function goToHistory() {
            window.location = "@Url.Action("History", "TicketDocuments")";
        }

        var table = $('#ticket-dt').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "scrollX": true,
            "fixedHeader": true,
            "pageLength": 10,
            "ajax": {
                "url": "/TicketDocuments/List",
                "data": function (data) {
                    data.RoleType = $('#RoleType').val().trim();
                    data.Status = "";
                    data.Filter = $('#filter-param').val();
                },
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [
                {
                    "targets": [0, 11],
                    "searchable": false,
                    "sortable": false
                },
                {
                    "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                    "className": "text-center"
                },
                {
                    "targets": 10,
                    "createdCell": function (td, cellData, rowData, row, col) {
                        if (cellData > 172800) {
                            $(td).css('background-color', '#ff695d');
                        } else if (cellData > 86400) {
                            $(td).css('background-color', '#ffd966');
                        } else if (cellData >= 0) {
                            $(td).css('background-color', '#a9d08e');
                        }
                    }
                }
            ],
            "order": [[2, 'desc']],
            "columns": [
                {
                    "data": "TicketID",
                    "render": function (data, type, full, meta) {
                        return '<input type="checkbox" name="checkedTicket" value="' + data + '" />'
                    }
                },
                {
                    "data": "TicketNumber", "name": "TicketNumber",
                    "render": function (data, type, full, meta) {
                        return '<a href="/TicketDocuments/Details/' + full.TicketID + '">' + data + '</a>';
                    }
                },
                {
                    "data": "SubmitDate", "name": "SubmitDate",
                    "render": function (data, type, full, meta) {
                        if (data) {
                            return moment(data).format('YYYY-MM-DD');
                        } else {
                            return "";
                        }
                    }
                },
                { "data": "DistriPIC", "name": "DistriPIC" },
                { "data": "ProblemCategory", "name": "ProblemCategory" },
                { "data": "ProblemType", "name": "ProblemType" },
                { "data": "Description", "name": "Description" },
                { "data": "Notes", "name": "Notes" },
                { "data": "StatusName", "name": "StatusName" },
                { "data": "LatestPIC", "name": "LatestPIC" },
                {
                    "data": "Duration", "name": "Duration",
                    "render": function (data, type, full, meta) {
                        if (data) {
                            return secondsTodHms(data);
                        } else {
                            return "";
                        }
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, full, meta) {
                        var RoleId = "@Session["RoleId"]";
                        var UserId = "@Session["UserId"]";
                        var enablePickup = (full.PickupBy != null && full.PickupBy == parseInt(UserId)) ? "disabled" : full.PickupBy == null ? "" : "disabled";
                        var enableAssign = (full.PickupBy == parseInt(UserId) || (full.AssignTo1 == parseInt(UserId) || full.AssignTo2 == parseInt(UserId))) ? (full.PickupBy == parseInt(UserId) && (full.AssignTo1 != null || full.AssignTo2 != null)) ? "disabled" : (full.AssignTo1 != null && full.AssignTo2 != null) ? "disabled" : "" : "disabled";
                        var btnPickup = ' <a href="/TicketDocuments/Pickup/' + full.TicketID + '" class="' + enablePickup + ' btn btn-success btn-flat" style="margin-bottom: 10px;">Pick Up</a>';
                        var btnAssign = ' <a id="' + full.TicketID + '" class="' + enableAssign + ' btn btn-flat assign bg-gray" style="margin-bottom: 10px;">Assign To</a>';

                        var btnOpen = ' <a href="/TicketDocuments/Details/' + full.TicketID + '"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>';
                        var btnEdit = ' <a href="/TicketDocuments/Edit/' + full.TicketID + '"><i class="fa fa-pencil-square fa-2x text-primary" aria-hidden="true"></i></a>';
                        var btnDelete = ' <a href="javascript:void(0)" class="delete" data-value="' + full.TicketID + '"><i class="fa fa-trash fa-2x text-success" aria-hidden="true"></i></a>';
                        var btnClose = ' <a href="javascript:void(0)" class="close-ticket" data-value="' + full.TicketID + '"><i class="fa fa-times-circle fa-2x text-danger" aria-hidden="true"></i></a>';

                        if (RoleId == "" || RoleId == 1 || RoleId == 4 || RoleId == 5 || RoleId == 6 || RoleId == 13 || RoleId == 14) {
                            switch (full.Status) {
                                case 1:
                                    if (full.SubmitBy == parseInt(UserId)) {
                                        return btnPickup + btnAssign + '<br />' + btnOpen + btnEdit + btnDelete;
                                    } else {
                                        return btnPickup + btnAssign + '<br />' + btnOpen;
                                    }
                                    break;
                                case 2:
                                    return btnPickup + btnAssign + '<br />' + btnOpen;
                                    break;
                                case 3:
                                    return btnOpen;
                                    break;
                                case 4:
                                    return btnOpen;
                                    break;
                                default:
                                    if (full.SubmitBy == parseInt(UserId)) {
                                        return btnPickup + btnAssign + '<br />' + btnOpen + btnEdit + btnDelete;
                                    } else {
                                        return btnPickup + btnAssign + '<br />' + btnOpen;
                                    }
                            }
                        } else {
                            switch (full.Status) {
                                case 1:
                                    if (full.SubmitBy == parseInt(UserId) || full.DistributorPIC == parseInt(UserId)) {
                                        return btnOpen + btnEdit + btnDelete;
                                    } else {
                                        return btnOpen;
                                    }
                                    break;
                                case 2:
                                    return btnOpen;
                                    break;
                                case 3:
                                    return btnOpen + btnClose;
                                    break;
                                case 4:
                                    return btnOpen;
                                    break;
                                default:
                                    if (full.SubmitBy == parseInt(UserId) || full.DistributorPIC == parseInt(UserId)) {
                                        return btnOpen + btnEdit + btnDelete;
                                    } else {
                                        return btnOpen;
                                    }
                            }
                        }
                    }
                },
            ],
            "initComplete": function (settings, json) {
                $('.dataTables_scrollBody').on('scroll', function () {
                    $('.dataTables_scrollHeadInner').scrollLeft($(this).scrollLeft());
                });

                $(document).on('scroll', function () {

                    var scroll_pos = $(this).scrollTop();
                    var margin = $('.dataTables_scrollHead').offset().top; // Adjust it to your needs
                    var cur_pos = $('.dataTables_scrollHeadInner').position();
                    var header_pos = cur_pos.top;

                    if (scroll_pos < margin)
                        var header_pos = margin - scroll_pos;
                    else
                        header_pos = 0;

                    $('.dataTables_scrollHeadInner').css({ "top": header_pos });
                });
            }
        });

        $('#ticket-dt').on('draw.dt', function () {
            turn_on_iCheck();
        });

        $('#btn-delete-ticket').click(function (e) {
            e.preventDefault();

            customConfirm("Are you sure to delete this Ticket?", function () {
                var ids = [];
                $.each($('input[name="checkedTicket"]:checked'), function () {
                    ids.push($(this).val());
                });

                $('#overlay').show();
                $.ajax({
                    type: "POST",
                    url: "/TicketDocuments/Delete",
                    data: {
                        ids: ids
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#overlay').hide();
                            table.ajax.reload();
                        }
                    }
                });
            });
        });

        $('#btn-close-ticket').click(function (e) {
            e.preventDefault();

            customConfirm("Are you sure to close this Ticket?", function () {
                var ids = [];
                $.each($('input[name="checkedTicket"]:checked'), function () {
                    ids.push($(this).val());
                });

                $('#overlay').show();
                $.ajax({
                    type: "POST",
                    url: "/TicketDocuments/Close",
                    data: {
                        ids: ids
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#overlay').hide();
                            table.ajax.reload();
                        }
                    }
                });
            });
        });

        $('#ticket-dt tbody').on('click', 'a.delete', function (e) {
            e.preventDefault();

            var param = $(this).data('value');
            customConfirm("Are you sure to delete this Ticket?", function () {
                var ids = [];
                ids.push(param);

                $('#overlay').show();
                $.ajax({
                    type: "POST",
                    url: "/TicketDocuments/Delete",
                    data: {
                        ids: ids
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#overlay').hide();
                            table.ajax.reload();
                        }
                    }
                });
            });
        });

        $('#ticket-dt tbody').on('click', 'a.close-ticket', function (e) {
            e.preventDefault();

            var param = $(this).data('value');
            customConfirm("Are you sure to close this Ticket?", function () {
                var ids = [];
                ids.push(param);

                $('#overlay').show();
                $.ajax({
                    type: "POST",
                    url: "/TicketDocuments/Close",
                    data: {
                        ids: ids
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#overlay').hide();
                            table.ajax.reload();
                        }
                    }
                });
            });
        });

        $('#ticket-dt tbody').on('click', 'a.assign', function () {
            $('#assignForm').attr("action", "/TicketDocuments/Assign/" + $(this).prop("id"));
            $('#modal-assign').modal({
                show: true,
                keyboard: false,
                backdrop: 'static'
            });
        });

        $('#btn-save-xls').on('click', function (e) {
            e.preventDefault();

            $.ajax({
                cache: false,
                type: "POST",
                url: "/TicketDocuments/GenerateXls",
                dataType: "JSON",
                data: {
                    RoleId: $('#RoleId').val(),
                    Status: ""
                },
                success: function (data) {
                    window.location = '/TicketDocuments/DownloadXls?fileGuid=' + data.FileGuid
                        + '&fileName=' + data.FileName;
                },
                error: function (xhr, status, error) {

                }
            });
        });

        $('#btn-save-pdf').on('click', function (e) {
            e.preventDefault();
                
            $.ajax({
                cache: false,
                type: "POST",
                url: "/TicketDocuments/GeneratePdf",
                dataType: "JSON",
                data: {
                    RoleId: $('#RoleId').val(),
                    Status: ""
                },
                success: function (data) {
                    window.location = '/TicketDocuments/DownloadPdf?fileGuid=' + data.FileGuid
                        + '&fileName=' + data.FileName;
                },
                error: function (xhr, status, error) {

                }
            });
        });
    </script>
}