﻿@model KMSIPartsPortal_System.Models.TicketDocument

@{
    ViewBag.Title = "Open Ticket History";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>@ViewBag.Title</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <a id="btn-download-history" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled">Download History</a>
                    </div>
                </div>
                <br />
                @Html.Hidden("RoleId", Convert.ToInt32(Session["RoleId"]))
                <table id="ticket-dt" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th style="width: 150px;">@Html.DisplayNameFor(model => model.TicketNumber)</th>
                            <th style="width: 200px;">@Html.DisplayNameFor(model => model.ProblemCategory)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.ProblemType)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.Description)</th>
                            <th style="width: 250px;">@Html.DisplayNameFor(model => model.Notes)</th>
                            <th style="width: 120px;">@Html.DisplayNameFor(model => model.Status)</th>
                            <th style="width: 150px;">@Html.DisplayNameFor(model => model.SubmitDate)</th>
                            <th style="width: 200px;">@Html.DisplayNameFor(model => model.SubmitBy)</th>
                            <th style="width: 200px;">@Html.DisplayNameFor(model => model.PickupBy)</th>
                            <th style="width: 200px;">@Html.DisplayNameFor(model => model.AssignTo2)</th>
                            <th style="width: 120px;">@Html.DisplayNameFor(model => model.Duration)</th>
                            <th style="width: 200px;">@Html.DisplayNameFor(model => model.Feedback)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            function turn_on_iCheck() {
                $('input[type="checkbox"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedTicket"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-history').removeClass('disabled');
                    } else {
                        $('#btn-download-history').addClass('disabled');
                    }
                });
            }

            $('#select-all').on('ifToggled', function () {
                if ($('#select-all').is(':checked')) {
                    $('input[name="checkedTicket"]').iCheck('check');
                } else {
                    $('input[name="checkedTicket"]').iCheck('uncheck');
                }
            });

            var table = $('#ticket-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "scrollX": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/TicketDocuments/List",
                    "data": { RoleId: $('#RoleId').val(), Status: 1 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "searchable": false,
                    "sortable": false
                }],
                "order": [[1, 'asc']],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedTicket" value="' + full.TicketID + '" />'
                        }
                    },
                    { "data": "TicketNumber", "name": "TicketNumber" },
                    { "data": "ProblemCategory", "name": "ProblemCategory" },
                    { "data": "ProblemType", "name": "ProblemType" },
                    { "data": "Description", "name": "Description" },
                    { "data": "Notes", "name": "Notes" },
                    {
                        "data": "Status", "name": "Status",
                        "render": function (data, type, full, meta) {
                            if (data == 1) {
                                return "Submitted";
                            } else if (data == 2) {
                                return "Solving";
                            } else if (data == 3) {
                                return "Solved";
                            } else if (data == 4) {
                                return "Closed";
                            }
                        }
                    },
                    {
                        "data": "SubmitDate", "name": "SubmitDate",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "SubmittedBy", "name": "SubmittedBy" },
                    { "data": "PickupBy", "name": "PickupBy" },
                    { "data": "AssignTo", "name": "AssignTo" },
                    {
                        "data": "Duration", "name": "Duration",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                var pad = function (num, size) { return ('000' + num).slice(size * -1); },
                                    time = parseFloat(data).toFixed(3),
                                    hours = Math.floor(time / 60 / 60),
                                    minutes = Math.floor(time / 60) % 60,
                                    seconds = Math.floor(time - minutes * 60),
                                    milliseconds = time.slice(-3);

                                return pad(hours, 2) + ':' + pad(minutes, 2) + ':' + pad(seconds, 2);
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "Feedback", "name": "Feedback" }
                ]
            });

            $('#ticket-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-download-history').click(function () {
                var ids = [];
                $.each($('input[name="checkedTicket"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/TicketDocuments/Download",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        status: "Open"
                    },
                    success: function (resultData) {
                        if (resultData.success) {
                            window.location = '/TicketDocuments/DownloadCsv?fileGuid=' + resultData.FileGuid + '&fileName=' + resultData.FileName;
                        }
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>
}