﻿@model KMSIPartsPortal_System.Models.PdfDetailPart
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td width="280" valign="top">
                            <img src="~/Content/img/logo-blue.png" alt="" />
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="20">
                            &nbsp;
                        </td>
                        <td width="280" valign="top" align="right">
                            <img src="~/Content/img/logo_kmsi.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" width="75%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 24px;">
                <b>DETAIL PART INFORMATION</b>
            </td>
        </tr>
        <tr>
            <td style="font-size: 8px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="3" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    <thead style="font-size: 18px;">
                        <tr>
                            <th align="left" colspan="8">Part Identity</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 12px;">
                        <tr>
                            <td align="left">Part Number : </td>
                            <td align="left">@Model.Detail.PART_NUMBER</td>
                            <td align="left">ITC Code : </td>
                            <td align="left">@Model.Detail.LATEST_INTERCHANGE_CODE</td>
                            <td align="left">New Comm : </td>
                            <td align="left">@Model.Detail.NEW_COMMODITY_CODE</td>
                            <td align="left">Rank : </td>
                            <td align="left">@Model.Detail.MATRIX_RANK</td>
                        </tr>
                        <tr>
                            <td align="left">Part Name : </td>
                            <td align="left">@Model.Detail.PART_NAME</td>
                            <td align="left">New PN : </td>
                            <td align="left">@Model.Detail.LATEST_INTERCHANGE_PART_NO</td>
                            <td align="left">Machine Qty : </td>
                            <td align="left">@Model.Detail.QTY_PER_MACHINE</td>
                            <td align="left">MT : </td>
                            <td align="left">@Model.Detail.DEPOT_MORTALITY</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="3" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    <thead style="font-size: 18px;">
                        <tr>
                            <th align="left" colspan="6">Pricing</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 12px;">
                        <tr>
                            <td align="left">List Price IDR : </td>
                            <td align="left">@Model.Detail.LIST_PRICE_CURRENT_IDR</td>
                            <td align="left">List Price USD : </td>
                            <td align="left">@Model.Detail.LIST_PRICE_CURRENT_USD</td>
                            <td align="left">Currency : </td>
                            <td align="left"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="3" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    <thead style="font-size: 18px;">
                        <tr>
                            <th align="left" colspan="8">Dimension</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 12px;">
                        <tr>
                            <td align="left">Gross Weight : </td>
                            <td align="left"></td>
                            <td align="left">Net Weight : </td>
                            <td align="left">@Model.Detail.UNIT_WEIGHT</td>
                            <td align="left">Height : </td>
                            <td align="left"></td>
                            <td align="left">Length : </td>
                            <td align="left"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="3" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    <thead style="font-size: 18px;">
                        <tr>
                            <th align="left" colspan="6">Stock</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 12px;">
                        <tr>
                            <td align="left">FOH : </td>
                            <td align="left">@Model.Detail.FOH</td>
                            <td align="left">FOO : </td>
                            <td align="left">@Model.Detail.FOO</td>
                            <td align="left">Lead Time : </td>
                            <td align="left"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
