﻿@model KMSIPartsPortal_System.Models.PdfPartInfo
@{
    Layout = null;
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
    string imgUrl = baseUrl + "Content/img/logo-blue.png";

    List<string> headerRow = new List<string>(new string[]
{
        "PART_NUMBER", "PART_NAME", "LATEST_INTERCHANGE_CODE", "LATEST_INTERCHANGE_PART_NO", "LP IDR",
        "LP USD", "MT", "MATRIX_RANK", "New Comm", "Net Weight",
        "Net Height", "Machine Qty", "PSN", "FOO", "FOH",
        "L/T PROD", "L/T DELIVERY"
});

    List<string> columns = new List<string>();
    foreach (var col in Model.Columns)
    {
        columns.Add(col);
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td width="280" valign="top">
                            <img src="@imgUrl" alt="" />
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="20">
                            &nbsp;
                        </td>
                        <td width="280" valign="top" align="right">
                            <img src="~/Content/img/logo_kmsi.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" width="75%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 24px;">
                <b>PART INFORMATION</b>
            </td>
        </tr>
        <tr>
            <td style="font-size: 8px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table border="1" cellpadding="3" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 18px;">
                    <thead style="font-size: 18px;">
                        <tr>
                            @{
                                if (columns.Contains("PART_NUMBER"))
                                {
                                    <td align="center">PN</td>
                                }
                                if (columns.Contains("PART_NAME"))
                                {
                                    <td align="center">Name</td>
                                }
                                if (columns.Contains("LATEST_INTERCHANGE_CODE"))
                                {
                                    <td align="center">ITC</td>
                                }
                                if (columns.Contains("LATEST_INTERCHANGE_PART_NO"))
                                {
                                    <td align="center">New PN</td>
                                }
                                <td align="center">LP IDR</td>
                                <td align="center">LP USD</td>
                                <td align="center">MT</td>
                                if (columns.Contains("MATRIX_RANK"))
                                {
                                    <td align="center">Rank</td>
                                }
                                <td align="center">New Comm</td>
                                <td align="center">Net Weight</td>
                                <td align="center">Net Height</td>
                                <td align="center">Machine Qty</td>
                                <td align="center">PSN</td>
                                <td align="center">FOO</td>
                                <td align="center">FOH</td>
                                <td align="center">L/T PROD</td>
                                <td align="center">L/T DELIVERY</td>
                            }
                        </tr>
                    </thead>
                    <tbody style="font-size: 12px;">
                        @foreach (var data in Model.Data)
                        {
                        <tr>
                            @{
                                if (columns.Contains("PART_NUMBER"))
                                {
                                    <td align="center">@data.PART_NUMBER</td>
                                }
                                if (columns.Contains("PART_NAME"))
                                {
                                    <td align="center">@data.PART_NAME</td>
                                }
                                if (columns.Contains("LATEST_INTERCHANGE_CODE"))
                                {
                                    <td align="center">@data.LATEST_INTERCHANGE_CODE</td>
                                }
                                if (columns.Contains("LATEST_INTERCHANGE_PART_NO"))
                                {
                                    <td align="center">@data.LATEST_INTERCHANGE_PART_NO</td>
                                }
                                <td align="center">@data.LIST_PRICE_CURRENT_IDR</td>
                                <td align="center">@data.LIST_PRICE_CURRENT_USD</td>
                                <td align="center">@data.DEPOT_MORTALITY</td>
                                if (columns.Contains("MATRIX_RANK"))
                                {
                                    <td align="center">@data.MATRIX_RANK</td>
                                }
                                <td align="center">@data.NEW_COMMODITY_CODE</td>
                                <td align="center">@data.UNIT_WEIGHT</td>
                                <td align="center">@data.NET_WEIGHT</td>
                                <td align="center">@data.QTY_PER_MACHINE</td>
                                <td align="center">@data.SERVICE_NEWS_NUMBER</td>
                                <td align="center">@data.FOO</td>
                                <td align="center">@data.FOH</td>
                                <td align="center">@data.LT_PROD</td>
                                <td align="center">@data.LT_DELIVERY</td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
