﻿@model KMSIPartsPortal_System.Models.PdfStockInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td width="280" valign="top">
                            <img src="@Model.imgPath" width="229" alt="" />
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="20">
                            &nbsp;
                        </td>
                        <td width="280" valign="top" align="right">
                            <img src="~/Content/img/logo_kmsi.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" width="75%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 24px;">
                <b>STOCK INFORMATION</b>
            </td>
        </tr>
        <tr>
            <td style="font-size: 8px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table border="1" cellpadding="3" cellspacing="0" width="100%" style="color: #153643; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 18px;">
                    <thead style="font-size: 18px;">
                        <tr>
                            @foreach (var col in Model.Columns)
                            {
                                String ColHeader = String.Empty;
                                ColHeader = col.Equals("PART_NUMBER") ? "PN" : col.Equals("PART_NAME") ? "Name" : col.Equals("LATEST") ? "Latest PN" : col.Equals("ITC") ? "ITC" : String.Empty;
                                <td align="center" rowspan="2">@ColHeader</td>
                            }

                            @{
                                if (Model.Filter[0] != "")
                                {
                                    int colspan = Model.ColumnsQty.Length;
                                    foreach (var p in Model.Filter)
                                    {
                                        <td align="center" colspan="@colspan">@p</td>
                                    }
                                }
                                else
                                {
                                    foreach (var q in Model.ColumnsQty)
                                    {
                                        String QtyHeader = String.Empty;
                                        QtyHeader = q.Equals("EORSVDP") ? "EO Reserve Depo" : q;
                                        <td align="center" rowspan="2">@QtyHeader</td>
                                    }
                                }
                            }
                        </tr>
                        @{
                            if (Model.Filter[0] != "")
                            {
                                <tr>
                                    @foreach (var p in Model.Filter)
                                    {
                                        foreach (var q in Model.ColumnsQty)
                                        {
                                            String QtyHeader = String.Empty;
                                            QtyHeader = q.Equals("EORSVDP") ? "EO Reserve Depo" : q;
                                            <td align="center">@QtyHeader</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    </thead>
                    <tbody style="font-size: 12px;">
                        @foreach (var data in Model.Data)
                        {
                        <tr>
                            @foreach (var c in Model.Columns)
                            {
                                String Value = String.Empty;
                                Value = c.Equals("PART_NUMBER") ? data.PART_NUMBER != null ? data.PART_NUMBER.Trim() : String.Empty : c.Equals("PART_NAME") ? data.PART_NAME != null ? data.PART_NAME.Trim() : String.Empty : c.Equals("LATEST") ? data.ITC_PART_NUMBER != null ? data.ITC_PART_NUMBER.Trim() : String.Empty : c.Equals("ITC") ? data.ITC_CODE.HasValue ? data.ITC_CODE.ToString().Trim() : String.Empty : String.Empty;
                                <td align="center">@Value</td>
                            }

                            @{
                                if (Model.Filter[0] != "")
                                {
                                    foreach (var p in Model.Filter)
                                    {
                                        String Value = String.Empty;
                                        foreach (var q in Model.ColumnsQty)
                                        {
                                            if (p.Equals("JKT"))
                                            {
                                                if (q.Equals("FOH"))
                                                {
                                                    Value = data.FOH_JKT.HasValue ? data.FOH_JKT.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FOO"))
                                                {
                                                    Value = data.FOO_JKT.HasValue ? data.FOO_JKT.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FS"))
                                                {
                                                    Value = data.FS_JKT.HasValue ? data.FS_JKT.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FA"))
                                                {
                                                    Value = data.FA_JKT.HasValue ? data.FA_JKT.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("EORSVDP"))
                                                {
                                                    Value = data.EORSVDP_JKT.HasValue ? data.EORSVDP_JKT.ToString() : String.Empty;
                                                }
                                            }
                                            else if (p.Equals("BPN"))
                                            {
                                                if (q.Equals("FOH"))
                                                {
                                                    Value = data.FOH_BJM.HasValue ? data.FOH_BPN.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FOO"))
                                                {
                                                    Value = data.FOO_BPN.HasValue ? data.FOO_BPN.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FS"))
                                                {
                                                    Value = data.FS_BPN.HasValue ? data.FS_BPN.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FA"))
                                                {
                                                    Value = data.FA_BPN.HasValue ? data.FA_BPN.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("EORSVDP"))
                                                {
                                                    Value = data.EORSVDP_BPN.HasValue ? data.EORSVDP_BPN.ToString() : String.Empty;
                                                }
                                            }
                                            else if (p.Equals("BJM"))
                                            {
                                                if (q.Equals("FOH"))
                                                {
                                                    Value = data.FOH_BJM.HasValue ? data.FOH_BJM.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FOO"))
                                                {
                                                    Value = data.FOO_BJM.HasValue ? data.FOO_BJM.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FS"))
                                                {
                                                    Value = data.FS_BJM.HasValue ? data.FS_BJM.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FA"))
                                                {
                                                    Value = data.FA_BJM.HasValue ? data.FA_BJM.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("EORSVDP"))
                                                {
                                                    Value = data.EORSVDP_BJM.HasValue ? data.EORSVDP_BJM.ToString() : String.Empty;
                                                }
                                            }
                                            else if (p.Equals("PLB"))
                                            {
                                                if (q.Equals("FOH"))
                                                {
                                                    Value = data.FOH_PLB.HasValue ? data.FOH_PLB.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FOO"))
                                                {
                                                    Value = data.FOO_PLB.HasValue ? data.FOO_PLB.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FS"))
                                                {
                                                    Value = data.FS_PLB.HasValue ? data.FS_PLB.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("FA"))
                                                {
                                                    Value = data.FA_PLB.HasValue ? data.FA_PLB.ToString() : String.Empty;
                                                }
                                                else if (q.Equals("EORSVDP"))
                                                {
                                                    Value = data.EORSVDP_PLB.HasValue ? data.EORSVDP_PLB.ToString() : String.Empty;
                                                }
                                            }
                                            <td align="center">@Value</td>
                                        }
                                    }
                                }
                                else
                                {
                                    String Value = String.Empty;
                                    foreach (var q in Model.ColumnsQty)
                                    {
                                        if (q.Equals("FOH"))
                                        {
                                            Value = data.FOH_TOTAL.HasValue ? data.FOH_TOTAL.ToString() : String.Empty;
                                        }
                                        else if (q.Equals("FOO"))
                                        {
                                            Value = data.FOO_TOTAL.HasValue ? data.FOO_TOTAL.ToString() : String.Empty;
                                        }
                                        else if (q.Equals("FS"))
                                        {
                                            Value = data.FS_TOTAL.HasValue ? data.FS_TOTAL.ToString() : String.Empty;
                                        }
                                        else if (q.Equals("FA"))
                                        {
                                            Value = data.FA_TOTAL.HasValue ? data.FA_TOTAL.ToString() : String.Empty;
                                        }
                                        else if (q.Equals("EORSVDP"))
                                        {
                                            Value = data.EORSVDP_TOTAL.HasValue ? data.EORSVDP_TOTAL.ToString() : String.Empty;
                                        }
                                        <td align="center">@Value</td>
                                    }
                                }
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
