﻿@model KMSIPartsPortal_System.Models.DeliveryOrder
@{
    ViewBag.Title = "Incoming Information";
}

<div class="row">
    @if (TempData["ActionMessage"] != null)
    {
        <div class="alert alert-info alert-dismissible ActionAlert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Alert!</h4>
            @Html.Raw(TempData["ActionMessage"])
        </div>
    }
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>OUTSTANDING INCOMING LIST</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-delivery" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-delivery" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                </div>
                <br />
                <table id="delivery-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>@Html.DisplayNameFor(model => model.DONO)</th>
                            <th>@Html.DisplayNameFor(model => model.DODate)</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>COMPLETE RECEIVE LIST</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-complete" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-complete" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                </div>
                <br />
                <table id="complete-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAllComplete", false, htmlAttributes: new { @class = "form-control", @id = "select-all-complete" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>@Html.DisplayNameFor(model => model.DONO)</th>
                            <th>@Html.DisplayNameFor(model => model.DODate)</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            function turn_on_iCheck() {
                $('input[name="selectAll"], input[name="checkedID"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-delivery').removeClass('disabled');
                        $('#btn-download-pdf-delivery').removeClass('disabled');
                    } else {
                        $('#btn-download-delivery').addClass('disabled');
                        $('#btn-download-pdf-delivery').addClass('disabled');
                    }

                    if (length == $('input[name="checkedID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedID"]').iCheck('check');
                    }
                });
            }

            function turn_on_iCheckComplete() {
                $('input[name="selectAllComplete"], input[name="checkedIDComplete"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedIDComplete"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-complete').removeClass('disabled');
                        $('#btn-download-pdf-complete').removeClass('disabled');
                    } else {
                        $('#btn-download-complete').addClass('disabled');
                        $('#btn-download-pdf-complete').addClass('disabled');
                    }

                    if (length == $('input[name="checkedIDComplete"]').length) {
                        $('#select-all-complete').iCheck('check');
                    } else {
                        $('#select-all-complete').iCheck('uncheck');
                    }
                });

                $('#select-all-complete').on('ifClicked', function () {
                    if ($('#select-all-complete').is(':checked')) {
                        $('input[name="checkedIDComplete"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedIDComplete"]').iCheck('check');
                    }
                });
            }

            $('#delivery-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Delivery/List",
                    "data": { status: 0 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 6],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    },
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [3, 4, 5],
                        "className": 'text-center'
                    }
                ],
                "order": [[2, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedID" value="' + full.ID + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "DONO", "name": "DONO", "autoWidth": true },
                    { "data": "DODate", "name": "DODate", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var disabledReceive = '';

                            var disabledInput = (full.StatusName != "RECEIVE") ? "disabled" : "";
                            //var disabledReceive = (full.StatusName == "WAIT") ? "disabled" : "";
                            if (full.Delivery != 1 || full.Invoice != 1 || full.StatusName == "RECEIVE") {
                                disabledReceive = "disabled";
                            }

                            var btnAction = '';
                            var btnOpen = ' <a class="btn btn-xs btn-info btn-flat" href="/Delivery/Open?dono=' + full.DONO + '">Open</a>';
                            var btnReceive = ' <a class="' + disabledReceive + ' btn btn-xs btn-warning btn-flat receive" data-value="' + full.DONO + '">Receive</a>';
                            var btnInput = ' <a class="' + disabledInput + ' btn btn-xs btn-warning btn-flat" href="/Delivery/Edit?dono=' + full.DONO + '">Input Receipt</a>';

                            if (@ViewBag.IsView == 1) {
                                btnAction += btnOpen;
                            }

                            if (@ViewBag.IsUpdate == 1) {
                                btnAction += btnReceive;
                            }

                            if (@ViewBag.IsInput == 1) {
                                btnAction += btnInput;
                            }

                            return btnAction;
                        }
                    }
                ]
            });

            $('#delivery-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#delivery-dt tbody').on('click', 'a.receive', function (e) {
                e.preventDefault();

                var param = $(this).data('value');
                customConfirm("Are you sure to receive this Incoming List?", function () {
                    location.href = "/Delivery/doReceive?dono=" + param;
                });
            });

            $('#btn-download-delivery').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Delivery/GenerateXlsOutstandingIncoming",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Delivery/DownloadXlsOutstandingIncoming?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-delivery').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Delivery/GeneratePdfOutstandingIncoming",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Delivery/DownloadPdfOutstandingIncoming?fileName=' + data.strPdfFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });


            //===========
                $('#btn-download-complete').click(function () {
                    var ids = [];
                    $.each($('input[name="checkedIDComplete"]:checked'), function () {
                        ids.push($(this).val());
                    });

                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "/Delivery/GenerateXlsOutstandingIncoming",
                        dataType: "JSON",
                        data: {
                            ids: ids
                        },
                        success: function (data) {
                            window.location = '/Delivery/DownloadXlsOutstandingIncoming?fileGuid=' + data.FileGuid
                                + '&filename=' + data.FileName;
                        },
                        error: function (xhr, status, error) {

                        }
                    });
                });

            $('#btn-download-pdf-complete').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDComplete"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Delivery/GeneratePdfOutstandingIncoming",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Delivery/DownloadPdfOutstandingIncoming?fileName=' + data.strPdfFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#complete-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Delivery/List",
                    "data": { status: 1 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 6],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    },
                    {
                        "targets": [2 , 7],
                        "visible": false,
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [3, 4, 5],
                        "className": 'text-center'
                    }
                ],
                "order": [[7, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedIDComplete" value="' + full.ID + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "DONO", "name": "DONO", "autoWidth": true },
                    { "data": "DODate", "name": "DODate", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var btnAction = '';
                            var btnOpen = ' <a class="btn btn-xs btn-info btn-flat" href="/Delivery/Open?dono=' + full.DONO + '">Open</a>';
                            //var btnConfirm = ' <a class="btn btn-xs btn-warning btn-flat" href="/Delivery/Confirm?dono=' + full.DONO + '">Confirm</a>';

                            if (@ViewBag.IsView == 1) {
                                btnAction += btnOpen;
                            }

                            return btnAction;
                        }
                    },
                    { "data": "UpdatedAt", "name": "UpdatedAt", "autoWidth": true },
                ]
            });

            $('#complete-dt').on('draw.dt', function () {
                turn_on_iCheckComplete();
            });
        });
    </script>
}