﻿@model KMSIPartsPortal_System.Models.OutgoingPurchas
@{
    ViewBag.Title = "KMSI Purchase Order";
    Int32 RoleID = Convert.ToInt32(Session["RoleId"]);
}

@Html.Hidden("RoleID", RoleID)
<div class="row">
    @if (TempData["ActionMessage"] != null)
    {
        <div class="alert alert-info alert-dismissible ActionAlert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Alert!</h4>
            @TempData["ActionMessage"]
        </div>
    }
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>OUTSTANDING PURCHASE ORDER</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-purchase" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-purchase" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                    <div class="col-md-6" align="right">
                        @if (ViewBag.IsUpload == 1 && RoleID == 1)
                        {
                            <a id="btn-import-po" class="btn btn-sm bg-purple btn-flat"><i class="fa fa-upload"></i> UPLOAD PO DOCUMENT</a>
                        }

                        @if(RoleID == 7){
                            <a class="btn btn-sm bg-purple btn-flat popImportDo"> <i class="fa fa-upload"></i> Upload DO Document</a>
                            <a class="btn btn-sm bg-purple btn-flat popImportInv"> <i class="fa fa-upload"></i> Upload INV Document</a>
                        }

                    </div>
                </div>
                <br />
                <table id="purchase-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseDate)</th>
                            <th>@Html.DisplayNameFor(model => model.SupplierNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.SupplierName)</th>
                            <th>@Html.DisplayNameFor(model => model.PartNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                            <th>@Html.DisplayNameFor(model => model.AmountIDR)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>COMPLETE PURCHASE ORDER</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-complete" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-complete" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                </div>
                <br />
                <table id="complete-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAllComplete", false, htmlAttributes: new { @class = "form-control", @id = "select-all-complete" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseDate)</th>
                            <th>@Html.DisplayNameFor(model => model.SupplierNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.SupplierName)</th>
                            <th>@Html.DisplayNameFor(model => model.PartNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                            <th>@Html.DisplayNameFor(model => model.AmountIDR)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@using (Html.BeginForm("Upload", "OutPurchase", FormMethod.Post, new { enctype = "multipart/form-data", id = "formPO" }))
{
    <div class="modal fade" id="modal-import-po">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload Purchase Order Document</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/OutPurchase/DownloadExcel" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@using (Html.BeginForm("Upload", "Delivery", FormMethod.Post, new { enctype = "multipart/form-data", id = "formDO" }))
{
    <div class="modal fade" id="modal-import-do">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload Delivery Order Document</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/Delivery/DownloadExcel" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@using (Html.BeginForm("Upload", "OutInvoice", FormMethod.Post, new { enctype = "multipart/form-data", id = "formINV" }))
{
    <div class="modal fade" id="modal-import-inv">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload Invoice Document</h4>
                </div>
                <div class="modal-body" id="frmBulkImportPO">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/OutInvoice/DownloadExcel" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var RoleID = @Convert.ToInt32(Session["RoleId"]);
            initCustomAlert();
            centeredModalDialog();

            function turn_on_iCheck() {
                $('input[name="selectAll"], input[name="checkedID"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-purchase').removeClass('disabled');
                        $('#btn-download-pdf-purchase').removeClass('disabled');
                    } else {
                        $('#btn-download-purchase').addClass('disabled');
                        $('#btn-download-pdf-purchase').addClass('disabled');
                    }

                    if (length == $('input[name="checkedID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedID"]').iCheck('check');
                    }
                });
            }

            function turn_on_CompleteiCheck() {
                $('input[name="selectAllComplete"], input[name="checkedIDComplete"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedIDComplete"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-complete').removeClass('disabled');
                        $('#btn-download-pdf-complete').removeClass('disabled');
                    } else {
                        $('#btn-download-complete').addClass('disabled');
                        $('#btn-download-pdf-complete').addClass('disabled');
                    }

                    if (length == $('input[name="checkedIDComplete"]').length) {
                        $('#select-all-complete').iCheck('check');
                    } else {
                        $('#select-all-complete').iCheck('uncheck');
                    }
                });

                $('#select-all-complete').on('ifClicked', function () {
                    if ($('#select-all-complete').is(':checked')) {
                        $('input[name="checkedIDComplete"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedIDComplete"]').iCheck('check');
                    }
                });
            }

            $('#purchase-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Outgoing/PurchaseList",
                    "data": { status: 0 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 9],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    },
                    {
                        "targets": [2, 3, 4, 5, 6, 7],
                        "className": 'text-center'
                    },
                    {
                        "targets": [8],
                        "className": 'text-right'
                    }
                ],
                "order": [[3, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedID" value="' + full.PurchaseNumber + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber", "autoWidth": true },
                    { "data": "PurchaseDate", "name": "PurchaseDate", "autoWidth": true },
                    { "data": "SupplierCode", "name": "SupplierCode", "autoWidth": true },
                    { "data": "SupplierName", "name": "SupplierName", "autoWidth": true },
                    { "data": "PartNumber", "name": "PartNumber", "autoWidth": true },
                    { "data": "OrderQty", "name": "OrderQty", "autoWidth": true },
                    { "data": "Amount", "name": "Amount", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var btnAction = '';
                            var btnOpen = ' <a class="btn btn-xs btn-info btn-flat" href="/OutPurchase/Details?poNumber=' + full.PurchaseNumber + '&status=0">Open</a>';
                            var btnViewDO = ' <a class="btn btn-xs btn-info btn-flat" href="/Delivery/Details?poNumber=' + full.PurchaseNumber + '">View DO</a>';
                            var btnViewINV = ' <a class="btn btn-xs btn-info btn-flat" href="/OutInvoice/Details?poNumber=' + full.PurchaseNumber + '">View INV</a>';
                            var btnUpDO = ' <a class="btn btn-xs btn-info btn-flat import-do">Upload DO</a>';
                            var btnUpINV = ' <a class="btn btn-xs btn-info btn-flat import-inv">Upload INV</a>';
                            var btnDel = ' <a class="btn btn-xs btn-danger btn-flat delete" data-value="' + full.PurchaseNumber + '"><i class="fa fa-trash cdtot"></i></a>';

                            if (@ViewBag.IsView == 1) {
                                btnAction += btnOpen;
                            }

                            if (RoleID != 7) {
                                btnAction += btnViewDO;
                            }

                            if (RoleID == 1) {
                                btnAction += btnViewINV;
                            }

                            if (RoleID == 7) {
                                btnAction += btnViewDO + btnViewINV;
                            }

                            if (@ViewBag.IsDelete == 1) {
                                btnAction += btnDel;
                            }

                            if (RoleID == 6) {
                                btnAction = '';
                                btnAction = btnOpen + btnViewDO;
                            }

                            return btnAction;
                        }
                    }
                ]
            });

            $('#purchase-list-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#complete-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Outgoing/PurchaseList",
                    "data": { status: 1 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 9],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    },
                    {
                        "targets": [2, 3, 4, 5, 6, 7],
                        "className": 'text-center'
                    },
                    {
                        "targets": [8],
                        "className": 'text-right'
                    }
                ],
                "order": [[3, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedIDComplete" value="' + full.PurchaseNumber + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber", "autoWidth": true },
                    { "data": "PurchaseDate", "name": "PurchaseDate", "autoWidth": true },
                    { "data": "SupplierCode", "name": "SupplierCode", "autoWidth": true },
                    { "data": "SupplierName", "name": "SupplierName", "autoWidth": true },
                    { "data": "PartNumber", "name": "PartNumber", "autoWidth": true },
                    { "data": "OrderQty", "name": "OrderQty", "autoWidth": true },
                    { "data": "Amount", "name": "Amount", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var btnAction = '';
                            var btnOpen = ' <a class="btn btn-xs btn-info btn-flat" href="/OutPurchase/Details?poNumber=' + full.PurchaseNumber + '&status=1">Open</a>';
                            var btnViewDO = ' <a class="btn btn-xs btn-info btn-flat" href="/Delivery/Details?poNumber=' + full.PurchaseNumber + '">View DO</a>';
                            var btnViewINV = ' <a class="btn btn-xs btn-info btn-flat" href="/OutInvoice/Details?poNumber=' + full.PurchaseNumber + '">View INV</a>';

                            if (@ViewBag.IsView == 1) {
                                btnAction += btnOpen + btnViewDO;
                            }

                            if (RoleID == 1 || RoleID == 7) {
                                btnAction += btnViewINV;
                            }

                            return btnAction;
                        }
                    }
                ]
            });

            $('#complete-list-dt').on('draw.dt', function () {
                turn_on_CompleteiCheck();
            });

            $('#btn-import-po').on('click', function () {
                $('#formPO #uploadFiles').attr("accept", "application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");
                $('#modal-import-po').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#purchase-list-dt tbody').on('click', 'a.import-do', function (e) {
                e.preventDefault();

                $('#formDO #uploadFiles').attr("accept", "application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");
                $('#modal-import-do').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#purchase-list-dt tbody').on('click', 'a.import-inv', function (e) {
                e.preventDefault();

                $('#formINV #uploadFiles').attr("accept", "application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");
                $('#modal-import-inv').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('body').on('click', '.popImportDo', function (e) {
                e.preventDefault();

                $('#formDO #uploadFiles').attr("accept", "application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");
                $('#modal-import-do').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('body').on('click', '.popImportInv', function (e) {
                e.preventDefault();

                $('#formINV #uploadFiles').attr("accept", "application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");
                $('#modal-import-inv').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('#btn-download-purchase').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/OutPurchase/GenerateXls",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/OutPurchase/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-purchase').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/OutPurchase/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/OutPurchase/DownloadPdf?fileName=' + data.strPdfFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-complete').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDComplete"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/OutPurchase/GenerateXls",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/OutPurchase/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-complete').click(function () {
                var ids = [];
                $.each($('input[name="checkedIDComplete"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/OutPurchase/GeneratePdf",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/OutPurchase/DownloadPdf?fileName=' + data.strPdfFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#purchase-list-dt tbody').on('click', 'a.delete', function (e) {
                e.preventDefault();

                var param = $(this).data('value');
                customConfirm("Are you sure to delete this PO?", function () {
                    location.href = "/OutPurchase/Delete?poNumber=" + param;
                });
            });

        });
    </script>
}