﻿@model KMSIPartsPortal_System.Models.PurchaseList
@{
    ViewBag.Title = "Edit Purchase Order";
    var purchase = ViewBag.summary;
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Purchase", "Incoming")" class="btn btn-sm btn-flat bg-navy">Back</a>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PurchaseNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.PurchaseNumber, new { htmlAttributes = new { @class = "form-control", @Value = purchase.PurchaseNumber } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        <div class="input-group purchase-date date">
                                            @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @Value = (purchase.PurchaseDate != null) ? purchase.PurchaseDate.ToString("yyyy-MM-dd") : "" } })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-striped" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Part Number</th>
                                                    <th>Part Name</th>
                                                    <th>@Html.DisplayNameFor(model => model.OrderQuantity)</th>
                                                    <th>@Html.DisplayNameFor(model => model.Unit)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int i = 1;
                                                    foreach (var row in ViewBag.lists)
                                                    {
                                                        int ID = row.ID;
                                                        <tr>
                                                            @Html.HiddenFor(model => model.IDs[ID], new { @Value = row.ID })
                                                            <td class="text-center">@i</td>
                                                            <td>@Html.EditorFor(model => model.ItemCodes[ID], new { htmlAttributes = new { @class = "form-control", @Value = row.ItemCode } })</td>
                                                            <td>@Html.EditorFor(model => model.ItemNames[ID], new { htmlAttributes = new { @class = "form-control", @Value = row.ItemName } })</td>
                                                            <td>@Html.EditorFor(model => model.Quantities[ID], new { htmlAttributes = new { @class = "form-control", @Value = row.OrderQuantity } })</td>
                                                            <td>@Html.EditorFor(model => model.Units[ID], new { htmlAttributes = new { @class = "form-control", @Value = row.Unit } })</td>
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer" align="right">
                        <a href="@Url.Action("Purchase", "Incoming")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                        <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.purchase-date.date').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd"
            });
        });
    </script>
}