﻿@model KMSIPartsPortal_System.Models.PurchaseList
@{
    ViewBag.Title = "Supplier Raw Material Report";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>SUPPLIER RAW MATERIAL INFORMATION</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-purchase" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-purchase" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                </div>
                <br />
                <table id="purchase-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.PurchaseDate)</th>
                            <th>Part Number</th>
                            <th>Part Name</th>
                            <th>@Html.DisplayNameFor(model => model.OrderQuantity)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        function formatNumber(n) {
            console.log("sudah format")
            var result = "0";
            if (n != null) {
                n = n.toString();
                result = n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }
            return result;
        }

        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            function turn_on_iCheck() {
                $('input[name="selectAll"], input[name="checkedID"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-purchase').removeClass('disabled');
                        $('#btn-download-pdf-purchase').removeClass('disabled');
                    } else {
                        $('#btn-download-purchase').addClass('disabled');
                        $('#btn-download-pdf-purchase').addClass('disabled');
                    }

                    if (length == $('input[name="checkedID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedID"]').iCheck('check');
                    }
                });
            }

            $('#purchase-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Incoming/PurchaseListReport",
                    "data": { status: 2 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1],
                        "searchable": false,
                        "sortable": false,
                        "className": 'text-center'
                    },
                    {
                        "targets": [2, 3, 4, 5, 6],
                        "className": 'text-center'
                    }
                ],
                "order": [[3, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedID" value="' + full.PurchaseNumber + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "PurchaseNumber", "name": "PurchaseNumber", "autoWidth": true },
                    { "data": "PurchaseDate", "name": "PurchaseDate", "autoWidth": true },
                    { "data": "Item", "name": "Item", "autoWidth": true },
                    { "data": "ItemName", "name": "ItemName", "autoWidth": true },
                    {
                        "data": "OrderQty", "name": "OrderQty", "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            var result = "0";
                            if (data != null) {
                                result = formatNumber(data);
                            }
                            return result;
                        }
                    }
                ]
            });

            $('#purchase-list-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-download-purchase').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Incoming/GenerateXlsPurchase",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        type: "REPORT"
                    },
                    success: function (data) {
                        window.location = '/Incoming/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-purchase').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Incoming/GeneratePdfPurchase",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        type: "REPORT"
                    },
                    success: function (data) {
                        window.location = '/Incoming/DownloadPdf?fileName=' + data.strPDFFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>
}