﻿@model KMSIPartsPortal_System.Models.Module

@{
    ViewBag.Title = "Edit Module";
}

<style type="text/css">
    aside.main-sidebar {
        display: none;
    }

    div.content-wrapper {
        margin-left: 0;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            @using (Html.BeginForm())
            {
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="box-title">@ViewBag.Title</h3>
                        </div>
                    </div>
                </div>

                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                @Html.HiddenFor(model => model.ID)
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ModuleName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ModuleName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ModuleName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer" align="right">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("Index", "Modules")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                            <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>