﻿@model IEnumerable<KMSIPartsPortal_System.Models.Module>

@{
    ViewBag.Title = "Modules List";
}

<style type="text/css">
    aside.main-sidebar {
        display: none;
    }

    div.content-wrapper {
        margin-left: 0;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8 pull-left">
                        @if (Session["RoleId"] == null)
                        {
                            <a id="btn-create" href="@Url.Action("Create", "Modules")" class="btn btn-sm btn-success btn-flat">Create New</a>
                        }
                    </div>
                </div>
                <br />
                <table id="modules-dt" class="table table-bordered table-striped" style="max-width: none !important">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.ModuleName)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#modules-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "ajax": {
                    "url": "/Modules/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "columnDefs": [{
                    "targets": [1],
                    "searchable": false,
                    "sortable": false
                }],
                "columns": [
                    { "data": "ModuleName", "name": "ModuleName", "autoWidth": true },
                    {
                        "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-xs btn-warning btn-flat" href="/Modules/Edit/' + full.ID + '">Edit</a>' +
                                ' <a class="btn btn-xs btn-danger btn-flat delete" href="/Modules/Delete/' + full.ID + '"><i class="fa fa-trash cdtot"></i></a>' +
                                ' <a class="btn btn-xs btn-info btn-flat" href="/Modules/Details/' + full.ID + '">Details</a>'
                        }
                    }
                ]
            });
        });
    </script>
}