﻿@model IEnumerable<KMSIPartsPortal_System.Models.vActualSMRReport>

@{
    ViewBag.Title = "Actual SMR Report";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8 pull-left">
                        <a id="btn-download-act-smr-report" href="javascript:void(0)" class="btn btn-sm btn-success btn-flat disabled">Download</a>
                    </div>
                    <div class="col-md-3 pull-right">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="filter_date" autocomplete="off" />
                        </div>
                        <!-- /.input-group -->
                    </div>
                </div>
                <br />
                <table id="actual-smr-report-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.InvoiceDate)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitSerialNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitCode)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitModel)</th>
                            <th>@Html.DisplayNameFor(model => model.ContractCode)</th>
                            <th>@Html.DisplayNameFor(model => model.CustomerCode)</th>
                            <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
                            <th>@Html.DisplayNameFor(model => model.Site)</th>
                            <th>@Html.DisplayNameFor(model => model.SMRContract)</th>
                            <th>@Html.DisplayNameFor(model => model.USDperHours)</th>
                            <th>@Html.DisplayNameFor(model => model.ActualSMR)</th>
                            <th>@Html.DisplayNameFor(model => model.RemainingSMR)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.AmountUSD)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.AmountIDR)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            function turn_on_iCheck() {
                $('input[type="checkbox"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue",
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedActualSMRID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-act-smr-report').removeClass('disabled');
                    } else {
                        $('#btn-download-act-smr-report').addClass('disabled');
                    }

                    if (length == $('input[name="checkedActualSMRID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedActualSMRID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedActualSMRID"]').iCheck('check');
                    }
                });
            }

            drawDatatable();

            function drawDatatable(startDate = '', endDate = '') {
                var datatable = $('#actual-smr-report-dt').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "pageLength": 10,
                    "ajax": {
                        "url": "/ActualReports/List",
                        "type": "POST",
                        "dataType": "json",
                        "data": { start_date: startDate, end_date: endDate }
                    },
                    "columnDefs": [
                        {
                            "targets": [0, 1],
                            "className": 'text-center',
                            "searchable": false,
                            "sortable": false
                        },
                        {
                            "targets": [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                            "className": 'text-center'
                        },
                        {
                            "targets": [14, 15],
                            "className": 'text-right'
                        }
                    ],
                    "order": [[2, 'asc']],
                    "columns": [
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                return '<input type="checkbox" name="checkedActualSMRID" value="' + full.ID + '">';
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            "data": "InvoiceDate", "name": "InvoiceDate",
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return moment(data).format('DD/MM/YY');
                                } else {
                                    return "";
                                }
                            }
                        },
                        { "data": "UnitSerialNumber", "name": "UnitSerialNumber" },
                        { "data": "UnitCode", "name": "UnitCode" },
                        { "data": "UnitModel", "name": "UnitModel" },
                        { "data": "ContractCode", "name": "ContractCode" },
                        { "data": "CustomerCode", "name": "CustomerCode" },
                        { "data": "CustomerName", "name": "CustomerName" },
                        { "data": "Site", "name": "Site" },
                        {
                            "data": "SMRContract", "name": "SMRContract",
                            "render": $.fn.dataTable.render.number(',', '.', 0, '')
                        },
                        {
                            "data": "USDperHours", "name": "USDperHours",
                            "render": $.fn.dataTable.render.number(',', '.', 2, '$ ')
                        },
                        {
                            "data": "ActualSMR", "name": "ActualSMR",
                            "render": $.fn.dataTable.render.number(',', '.', 0, '')
                        },
                        {
                            "data": "RemainingSMR", "name": "RemainingSMR",
                            "render": $.fn.dataTable.render.number(',', '.', 0, '')
                        },
                        {
                            "data": "AmountUSD", "name": "AmountUSD",
                            "render": $.fn.dataTable.render.number(',', '.', 2, '$ ')
                        },
                        {
                            "data": "AmountIDR", "name": "AmountIDR",
                            "render": $.fn.dataTable.render.number('.', ',', 2, 'IDR ')
                        },
                    ]
                });
            }

            $('#filter_date').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });
            $('#filter_date').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YY') + ' - ' + picker.endDate.format('DD/MM/YY'));
                $('#actual-smr-report-dt').DataTable().destroy();
                var date = $('#filter_date').val().split('-');
                drawDatatable(date[0], date[1]);
            });
            $('#filter_date').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
                $('#actual-smr-report-dt').DataTable().destroy();
                drawDatatable();
            });

            $('#actual-smr-report-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-download-act-smr-report').click(function () {
                var ids = [];
                $.each($('input[name="checkedActualSMRID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/ActualReports/PostReportPartial",
                    dataType: "JSON",
                    data: {
                        ids: ids,
                        period: $('#filter_date').val()
                    },
                    success: function (response) {
                        if (response.success) {
                            window.location = '/ActualReports/DownloadPdf?fileName=' + response.strPDFFileName;
                        }
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>
}