﻿@model KMSIPartsPortal_System.Models.IncomingList
@{
    ViewBag.Title = "Input Goods Receipt";
    var incoming = ViewBag.summary;
}

<style>
    .qty-matched {
        background-color: lawngreen;
    }

    .qty-more {
        background-color: yellow;
    }

    .qty-less {
        background-color: red;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Receive", "Incoming")" class="btn btn-sm btn-flat bg-navy">Back</a>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DONO, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.DONO, new { htmlAttributes = new { @class = "form-control disabled", @Value = incoming.DONO, @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IncomingDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.IncomingDate, new { htmlAttributes = new { @class = "form-control disabled", @Value = (incoming.IncomingDate != null) ? incoming.IncomingDate.ToString("yyyy-MM-dd") : "", @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table id="confirm-table" class="table table-bordered table-striped" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>@Html.DisplayNameFor(model => model.CNO)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseNumber)</th>
                                                <th>Part Number</th>
                                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                                                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                                                <th>@Html.DisplayNameFor(model => model.ActualQty)</th>
                                                <th>@Html.DisplayNameFor(model => model.Unit)</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 1;
                                                foreach (var row in ViewBag.lists)
                                                {
                                                    int ID = row.ID;
                                                    string className = "";
                                                    if (row.ActualQty != null)
                                                    {
                                                        className = "qty-matched";
                                                        if (row.ActualQty < row.Quantity)
                                                        {
                                                            className = "qty-less";
                                                        }
                                                        else if (row.ActualQty > row.Quantity)
                                                        {
                                                            className = "qty-more";
                                                        }
                                                    }
                                                    else
                                                    {
                                                        className = "qty-less";
                                                    }
                                                    <tr>
                                                        @Html.HiddenFor(model => model.ID, new { @value = row.ID })
                                                        <td class="text-center" style="vertical-align: middle">@i</td>
                                                        <td style="vertical-align: middle">@row.CNO</td>
                                                        <td style="vertical-align: middle">@row.PurchaseNumber</td>
                                                        <td style="vertical-align: middle">@row.PartNumber</td>
                                                        <td style="vertical-align: middle">@row.Description</td>
                                                        <td class="text-center formatNumber" style="vertical-align: middle">@row.Quantity</td>
                                                        <td class="text-center formatNumber @className" style="vertical-align: middle">@row.ActualQty</td>
                                                        <td style="vertical-align: middle">@row.Unit</td>
                                                        <td class="text-center" style="vertical-align: middle">
                                                            @{
                                                                string status = "Waiting for confirmation";
                                                                if (row.IsValid == 1)
                                                                {
                                                                    status = "Confirmed";
                                                                }
                                                                else if (row.IsValid == null && row.ActualQty == null)
                                                                {
                                                                    status = "Not Submitted Yet";
                                                                }
                                                            }
                                                            @status
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer" align="right">
                    <a href="@Url.Action("Receive", "Incoming")" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                    <a id="confirm-incoming" class="btn btn-sm btn-flat bg-navy" data-value="@incoming.DONO">CONFIRM</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            $('#confirm-incoming').on('click', function (e) {
                e.preventDefault();

                var param = $(this).data('value');
                customConfirm("Are you sure to confirm this Receipt?", function () {
                    $('#overlay').show();
                    location.href = "/Receive/doConfirm?dono=" + param;
                });
            });
        });
    </script>
}