﻿@model KMSIPartsPortal_System.Models.IncomingList
@{
    ViewBag.Title = "Details Incoming List";
    var incoming = ViewBag.summary;
}

<style>
    .qty-matched {
        background-color: lawngreen;
    }

    .qty-more {
        background-color: yellow;
    }

    .qty-less {
        background-color: red;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Receive", "Incoming")" class="btn btn-sm btn-flat bg-navy">Back</a>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DONO, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.DONO, new { htmlAttributes = new { @class = "form-control disabled", @Value = incoming.DONO, @readonly = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IncomingDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.IncomingDate, new { htmlAttributes = new { @class = "form-control disabled", @Value = (incoming.IncomingDate != null) ? incoming.IncomingDate.ToString("yyyy-MM-dd") : "", @readonly = true } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-striped" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>@Html.DisplayNameFor(model => model.CNO)</th>
                                                    <th>@Html.DisplayNameFor(model => model.PurchaseNumber)</th>
                                                    <th>Part Number</th>
                                                    <th>Part Name</th>
                                                    <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                                                    <th>@Html.DisplayNameFor(model => model.ActualQty)</th>
                                                    <th>@Html.DisplayNameFor(model => model.Unit)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int i = 1;
                                                    foreach (var row in ViewBag.lists)
                                                    {
                                                        int ID = row.ID;
                                                        string className = "";
                                                        if (row.ActualQty != null)
                                                        {
                                                            className = "qty-matched";
                                                            if (row.ActualQty < row.Quantity)
                                                            {
                                                                className = "qty-less";
                                                            }
                                                            else if (row.ActualQty > row.Quantity)
                                                            {
                                                                className = "qty-more";
                                                            }
                                                        }
                                                        else
                                                        {
                                                            className = "qty-less";
                                                        }
                                                        <tr>
                                                            @Html.HiddenFor(model => model.IDs[ID], new { @value = row.ID })
                                                            <td class="text-center" style="vertical-align: middle">@i</td>
                                                            <td style="vertical-align: middle">@row.CNO</td>
                                                            <td style="vertical-align: middle">@row.PurchaseNumber</td>
                                                            <td style="vertical-align: middle">@row.PartNumber</td>
                                                            <td style="vertical-align: middle">@row.Description</td>
                                                            <td style="vertical-align: middle; text-align:center;" class="formatNumber">@row.Quantity</td>
                                                            <td style="vertical-align: middle; text-align:center;" class="formatNumber @className">@row.ActualQty</td>
                                                            <td style="vertical-align: middle">@row.Unit</td>
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function formatNumber(n) {
            console.log("sudah format")
            var result = "0";
            if (n != null) {
                n = n.toString();
                result = n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }
            return result;
        }

        $(".formatNumber").each(function (index) {
            var value = $(this).html();
            value = formatNumber(value);
            $(this).html(value);
        });

    </script>


}
