﻿@model KMSIPartsPortal_System.Models.IncomingList
@{
    ViewBag.Title = "Input Goods Receipt";
    var incoming = ViewBag.summary;
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Receive", "Incoming")" class="btn btn-sm btn-flat bg-navy">Back</a>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DONO, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.DONO, new { htmlAttributes = new { @class = "form-control disabled", @Value = incoming.DONO, @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IncomingDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.IncomingDate, new { htmlAttributes = new { @class = "form-control disabled", @Value = (incoming.IncomingDate != null) ? incoming.IncomingDate.ToString("yyyy-MM-dd") : "", @readonly = true } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table id="forward-table" class="table table-bordered table-striped" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>@Html.DisplayNameFor(model => model.CNO)</th>
                                                <th>@Html.DisplayNameFor(model => model.PurchaseNumber)</th>
                                                <th>Part Number</th>
                                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                                                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                                                <th>@Html.DisplayNameFor(model => model.Unit)</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 1;
                                                foreach (var row in ViewBag.lists)
                                                {
                                                    int ID = row.ID;
                                                    <tr>
                                                        @Html.HiddenFor(model => model.ID, new { @value = row.ID })
                                                        <td class="text-center" style="vertical-align: middle">@i</td>
                                                        <td style="vertical-align: middle">@row.CNO</td>
                                                        <td style="vertical-align: middle">@row.PurchaseNumber</td>
                                                        <td style="vertical-align: middle">@row.PartNumber</td>
                                                        <td style="vertical-align: middle">@row.Description</td>
                                                        <td class="text-center" style="vertical-align: middle">@row.Quantity</td>
                                                        <td style="vertical-align: middle">@row.Unit</td>
                                                        <td class="text-center" style="vertical-align: middle">
                                                            @{ 
                                                                string Status = String.Empty;
                                                                if (row.IsShipment == 1)
                                                                {
                                                                    Status = "Shipment";
                                                                }
                                                                else
                                                                {
                                                                    Status = "Checking";
                                                                }
                                                            }
                                                            @Status
                                                        </td>
                                                        <td class="text-center">
                                                            @{ 
                                                                string disabled = "disabled";
                                                                if (row.IsShipment != 1)
                                                                {
                                                                    disabled = "";
                                                                }
                                                            }
                                                            <a class="btn btn-md btn-warning btn-flat forward @disabled" data-value="@row.ID">Confirm Shipment</a>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            $('#forward-table tbody').on('click', 'a.forward', function (e) {
                e.preventDefault();

                var param = $(this).data('value');
                customConfirm("Are you sure to confirm & forward shipment this List?", function () {
                    $('#overlay').show();
                    location.href = "/Receive/doForward/" + param;
                });
            });
        });
    </script>
}