﻿@model KMSIPartsPortal_System.Models.IncomingList

@{
    ViewBag.Title = "Incoming Raw Material Result Report";
    int RoleID = Convert.ToInt32(Session["RoleId"]);
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="box-title"><b>INCOMING RAW MATERIAL RESULT REPORT</b></h3>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.IsDownload == 1)
                        {
                            <a id="btn-download-incoming" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                            <a id="btn-download-pdf-incoming" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                        }
                    </div>
                </div>
                <br />
                <table id="incoming-list-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>Incoming List No.</th>
                            <th>@Html.DisplayNameFor(model => model.IncomingDate)</th>
                            <th>Quantity</th>
                            <th>Actual Quantity</th>
                        </tr>
                    </thead>
                </table>
                <br>
                <h3>GGI Stock On Hand : <span class="on-hand-count">0</span></h3>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        function formatNumber(n) {
            console.log("sudah format")
            var result = "0";
            if (n != null) {
                n = n.toString();
                result = n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }
            return result;
        }

        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            var RoleID = @Convert.ToInt32(Session["RoleId"]);

            function turn_on_iCheck() {
                $('input[name="selectAll"], input[name="checkedID"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedID"]:checked').length;

                    if (length >= 1) {
                        $('#btn-download-incoming').removeClass('disabled');
                        $('#btn-download-pdf-incoming').removeClass('disabled');
                    } else {
                        $('#btn-download-incoming').addClass('disabled');
                        $('#btn-download-pdf-incoming').addClass('disabled');
                    }

                    if (length == $('input[name="checkedID"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedID"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedID"]').iCheck('check');
                    }
                });
            }

            $('#incoming-list-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "scrollX": true,
                "ajax": {
                    "url": "/Receive/List",
                    "data": { status: 1, role: 0, valid: 1 },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1],
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": false,
                        "sortable": false,
                        "className": "text-center"
                    },
                    {
                        "targets": [3, 4, 5, 6],
                        "className": "text-center"
                    }
                ],
                "order": [[4, "desc"]],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            //set total stock on hand ggi
                            $('.on-hand-count').html(meta.settings._iRecordsTotal);
                            return '<input type="checkbox" name="checkedID" value="' + full.DONO + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "DONO", "name": "DONO", "autoWidth": true },
                    { "data": "DeliveryDate", "name": "DeliveryDate", "autoWidth": true },
                    {
                        "data": "Quantity", "name": "Quantity", "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            var result = "0";
                            if (data != null) {
                                result = formatNumber(data);
                            }
                            return result;
                        }
                    },
                    {
                        "data": "ActualQty", "name": "ActualQty", "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            var result = "0";
                            if (data != null) {
                                result = formatNumber(data);
                            }
                            return result;
                        }
                    }
                ]
            });

            $('#incoming-list-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-download-incoming').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Receive/GenerateXlsResult",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Receive/DownloadXls?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });

            $('#btn-download-pdf-incoming').click(function () {
                var ids = [];
                $.each($('input[name="checkedID"]:checked'), function () {
                    ids.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Receive/GeneratePdfResult",
                    dataType: "JSON",
                    data: {
                        ids: ids
                    },
                    success: function (data) {
                        window.location = '/Receive/DownloadPdf?fileName=' + data.strPdfFileName;
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>
}