﻿@model KMSIPartsPortal_System.Models.WorkOrder

@{
    ViewBag.Title = "Work Order Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tempval = TempData["ErrorMessage"];
}
<div class="row">
    <div class="col-md-12" align="right">
        <a href="@Url.Action("Index", "WorkOrder", new { code = ViewBag.contractData.ContractCode, unit = ViewBag.contractData.UnitSerialNumber })" class="btn btn-sm btn-flat bg-navy"> Back To Work Order List</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            @using (Html.BeginForm("Create", "WorkOrder", FormMethod.Post, new { @class = "form-horizontal", id = "frmCreateWO" }))
            {
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="box-title"> @ViewBag.workOrderCode </h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="box-title" style="float: right;"> @ViewBag.today </h3>
                        </div>
                    </div>
                </div>

                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ContractCode, new { Value = ViewBag.contractData.ContractCode })
                @Html.HiddenFor(model => model.WorkOrderCode, new { Value = ViewBag.workOrderCode })
                @Html.HiddenFor(model => model.UnitSerialNumber, new { Value = ViewBag.contractData.UnitSerialNumber })
                @Html.Hidden("ContractID", (object)ViewBag.contractData.ContractId)
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitSerialNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.UnitSerialNumber, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.contractData.UnitSerialNumber, @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.UnitSerialNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerCode, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.customerData.CustomerCode, @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.CustomerCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitCode, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.UnitCode, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.contractData.UnitCode, @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.UnitCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.customerData.CustomerName, @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitModel, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.UnitModel, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.contractData.UnitModel, @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.UnitModel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RequestDeliveryDate, htmlAttributes: new { @class = "required control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    <div class="input-group req-delivery-dt date">
                                        @Html.EditorFor(model => model.RequestDeliveryDate, new { htmlAttributes = new { @class = "form-control", autocomplete="off" } })
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @*@Html.ValidationMessageFor(model => model.RequestDeliveryDate, "", new { @class = "text-danger" })*@
                                    </div>
                                    <span id="error-req-delivery-dt" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AgreementNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.AgreementNumber, new { @class = "form-control disabled", @Value = ViewBag.contractData.ContractCode, @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Site, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Site, new { htmlAttributes = new { @class = "form-control disabled", @Value = ViewBag.customerData.Site, @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Site, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PartsNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <table id="work-order-form" class="table table-bordered table-striped" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Parts Number</th>
                                                <th>Description</th>
                                                <th>Qty</th>
                                                <th>Remarks</th>
                                                <th><a id="btn-add-pn" class="btn btn-sm btn-flat btn-success"><i class="fa fa-plus"></i></a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Html.TextBox("PartsNumber[]", "", new { @class = "form-control", autocomplete = "off" })</td>
                                                <td>@Html.TextBox("Description[]", "", new { @class = "form-control", autocomplete = "off" })</td>
                                                <td>@Html.TextBox("Quantity[]", "", new { @class = "form-control", autocomplete = "off" })</td>
                                                <td>@Html.TextBox("Remark[]", "", new { @class = "form-control", autocomplete = "off" })</td>
                                                <td><a class="btn btn-sm btn-flat btn-danger btn-remove-pn"><i class="fa fa-remove"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12" align="right">
                                    <a id="btn-upload-parts" class="btn btn-sm bg-purple btn-flat">Upload Parts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @rows = "4", @style = "resize: none;" })
                                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer" align="right">
                    <a href="@Url.Action("Index", "WorkOrder", new { code = ViewBag.contractData.ContractCode, unit = ViewBag.contractData.UnitSerialNumber })" class="btn btn-sm btn-flat btn-danger">CANCEL</a>
                    <button type="submit" class="btn btn-sm btn-flat bg-navy">SUBMIT</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal Import -->
@using (Html.BeginForm("Import", "WorkOrder", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmImportParts" }))
{
    <div class="modal fade" id="modal-upload">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Import Document</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_ImportPO")
                    <span class="text-danger">*) document format must be XLS / XLSX</span>
                </div>
                <div class="modal-footer">
                    <a href="/WorkOrder/DownloadPartsFormat/" class="btn btn-flat btn-success">Download Excel Format</a>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.req-delivery-dt.date').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd"
            });

            $('#search-unit-sn').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetSearchUnit", "Unit")',
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: $('#search-unit-sn').val() },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.UnitSerialNumber, value: item.UnitSerialNumber, data: item };
                            }));
                        },
                        error: function (xhr, status, error) {
                            console.log("Error")
                        }
                    });
                },
                select: function (e, response) {
                    $('#UnitCode').val(response.item.data.UnitCode);
                    $('#UnitModel').val(response.item.data.UnitModel);
                }
            });

            $('#btn-add-pn').on('click', function () {
                var data = $("#work-order-form tr:eq(1)").clone(true).appendTo("#work-order-form");
                data.find("input").val('');
            });

            $('body').on('click', '.btn-remove-pn', function () {
                var trIndex = $(this).closest("tr").index();
                console.log(trIndex);
                if (trIndex > 0) {
                    $(this).closest("tr").remove();
                } else {
                    alert("Sorry!! Can't remove first row!");
                }
            });

            $('#btn-upload-parts').on('click', function () {
                $('#modal-upload').modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('form#frmImportParts').submit(function (e) {
                e.preventDefault();
                var file = new FormData();
                var partsFile = document.getElementById("uploadFiles").files[0];
                file.append("file", partsFile);
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    contentType: false,
                    processData: false,
                    data: file,
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            $('#modal-upload').modal('hide');
                            var table = $('#work-order-form tbody');
                            $.each(response.data, function (k, v) {
                                var row = "<tr><td><input type='text' name='PartsNumber[]' class='form-control' value='" + v.PartNumber + "' /></td>";
                                row += "<td><input type='text' name='Description[]' class='form-control' value='" + v.Description + "' /></td>";
                                row += "<td><input type='text' name='Quantity[]' class='form-control' value='" + v.Quantity + "' /></td>";
                                row += "<td><input type='text' name='Remark[]' class='form-control' value='" + v.Remark + "' /></td>";
                                row += "<td><a class='btn btn-sm btn-flat btn-danger btn-remove-pn'><i class='fa fa-remove'></i></a></td></tr>";
                                table.append(row);
                            });
                            $('#work-order-form tbody tr:first-child').remove();
                        }
                    }
                });
            });

            $('form#frmCreateWO').submit(function (e) {
                $('#overlay').show();
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (response) {
                        $('#overlay').hide();
                        if (response.success) {
                            window.location = '/WorkOrder/Index?code=' + response.code + '&unit=' + response.unit;
                        } else {
                            $('#error-req-delivery-dt').empty();
                            $('#error-req-delivery-dt').html(response.message);
                        }
                    }
                });
            });
        });
    </script>
}