﻿@model KMSIPartsPortal_System.Models.WorkOrder

@{
    ViewBag.Title = "Work Order Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <a href="@Url.Action("DownloadPdf", "WorkOrder", new { code = ViewBag.woSummaryData.WorkOrderCode })" class="btn btn-sm btn-flat btn-success"> Download Work Order</a>
        </div>
        <div class="pull-right">
            <a href="@Url.Action("Index", "WorkOrder", new { code = ViewBag.woSummaryData.ContractCode, unit = ViewBag.woSummaryData.UnitSerialNumber })" class="btn btn-sm btn-flat bg-navy"> Back To Work Order List</a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            @using (Html.BeginForm("Approval", "WorkOrder", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="box-title"> @ViewBag.woSummaryData.WorkOrderCode </h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="box-title" style="float: right;"> @ViewBag.woSummaryData.WorkOrderDate.ToString("dddd, dd MMMM yyyy") </h3>
                        </div>
                    </div>
                </div>

                @Html.AntiForgeryToken()
                @Html.Hidden("WorkOrderCode", (object)ViewBag.woSummaryData.WorkOrderCode)
                @Html.Hidden("ContractCode", (object)ViewBag.woSummaryData.ContractCode)
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitSerialNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.UnitSerialNumber, new { @class = "form-control disabled", @Value = ViewBag.woSummaryData.UnitSerialNumber, @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerCode, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.CustomerCode, new { @class = "form-control disabled", @Value = ViewBag.woSummaryData.CustomerCode, @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitCode, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.UnitCode, new { @class = "form-control disabled", @Value = ViewBag.woSummaryData.UnitCode, @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control disabled", @Value = ViewBag.woSummaryData.CustomerName, @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitModel, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.UnitModel, new { @class = "form-control disabled", @Value = ViewBag.woSummaryData.UnitModel, @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RequestDeliveryDate, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.RequestDeliveryDate, new { @class = "form-control disabled", @Value = ViewBag.woSummaryData.RequestDeliveryDate != null ? ViewBag.woSummaryData.RequestDeliveryDate.ToString("yyyy-MM-dd") : "", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AgreementNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.AgreementNumber, new { @class = "form-control disabled", @Value = ViewBag.woSummaryData.AgreementNumber, @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Site, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Site, new { @class = "form-control disabled", @Value = ViewBag.woSummaryData.Site, @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PartsNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <table id="work-order-form" class="table table-bordered table-striped" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Parts Number</th>
                                                <th>Description</th>
                                                <th>Qty</th>
                                                <th>Remarks</th>
                                            </tr>
                                        </thead>
                                        @{
                                            int counter = 1;

                                            foreach (var parts in ViewBag.pnData)
                                            {
                                                <tbody>
                                                    <tr>
                                                        <td align="center">@Html.Label("", counter.ToString(), new { @class = "control-label" })</td>
                                                        <td>@Html.TextBoxFor(model => model.PartsNumber, new { @class = "form-control disabled", @Value = parts.PartsNumber, @readonly = true })</td>
                                                        <td>@Html.TextBoxFor(model => model.Description, new { @class = "form-control disabled", @Value = parts.Description, @readonly = true })</td>
                                                        <td>@Html.TextBoxFor(model => model.Quantity, new { @class = "form-control disabled", @Value = parts.Quantity, @readonly = true })</td>
                                                        <td>@Html.TextBoxFor(model => model.Remarks, new { @class = "form-control disabled", @Value = parts.Remarks, @readonly = true })</td>
                                                    </tr>
                                                </tbody>
                                                counter++;
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    <textarea class="form-control" rows="4" style="resize: none;" readonly>@ViewBag.woSummaryData.Comments</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                if ((Session["RoleId"] == null || (int)Session["RoleId"] == 4) && ViewBag.woSummaryData.ApprovalStatus == 1)
                {
                    <div class="box-footer" align="right">
                        <button type="submit" class="btn btn-sm btn-flat bg-navy" name="mode" value="approve">APPROVE</button>
                        <button type="submit" class="btn btn-sm btn-flat btn-danger" name="mode" value="reject">REJECT</button>
                    </div>
                }
            }

        </div>
    </div>
</div>