﻿@model IEnumerable<KMSIPartsPortal_System.Models.WorkOrder>

@{
    ViewBag.Title = "Work Order";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (Session["RoleId"] == null || (int)Session["RoleId"] == 3)
                        {
                            <a id="btn-new-workorder" href="@Url.Action("Create", "WorkOrder", new { code = ViewBag.ContractCode, unit = ViewBag.UnitSerialNumber })" class="btn btn-sm btn-success btn-flat">Create new</a>
                            <a id="btn-open-workorder" href="javascript:void(0)" class="btn btn-sm bg-purple btn-flat disabled">Open</a>
                            <a id="btn-download-workorder" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled">Download CSV</a>
                        }
                        else
                        {
                            <a id="btn-open-workorder" href="javascript:void(0)" class="btn btn-sm bg-purple btn-flat disabled">Open</a>
                            <a id="btn-download-workorder" href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat disabled">Download CSV</a>
                        }
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="@Url.Action("Index", "Unit", new { code = ViewBag.ContractCode })" class="btn btn-sm btn-flat bg-navy"> Back To Unit List</a>
                    </div>
                </div>
                <br />
                @Html.Hidden("ContractCode", (object)ViewBag.ContractCode)
                @Html.Hidden("UnitSerialNumber", (object)ViewBag.UnitSerialNumber)
                <table id="work-order-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.CheckBox("selectAll", false, htmlAttributes: new { @class = "form-control", @id = "select-all" })</th>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.WorkOrderCode)</th>
                            <th>@Html.DisplayNameFor(model => model.WorkOrderDate)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitSerialNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitCode)</th>
                            <th>@Html.DisplayNameFor(model => model.UnitModel)</th>
                            <th>@Html.DisplayNameFor(model => model.AgreementNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.CustomerCode)</th>
                            <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
                            <th>@Html.DisplayNameFor(model => model.RequestDeliveryDate)</th>
                            <th>@Html.DisplayNameFor(model => model.Site)</th>
                            <th>@Html.DisplayNameFor(model => model.Comments)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            function turn_on_iCheck() {
                $('input[type="checkbox"], input[type="radio"]').iCheck({
                    checkboxClass: "icheckbox_minimal-blue",
                    radioClass: "iradio_minimal-blue"
                }).on('ifChanged', function (e) {
                    var length = $('input[name="checkedWorkOrderCode"]:checked').length;

                    if (length == 1) {
                        $('#btn-open-workorder').removeClass('disabled');
                    } else {
                        $('#btn-open-workorder').addClass('disabled');
                    }

                    if (length >= 1) {
                        $('#btn-download-workorder').removeClass('disabled');
                    } else {
                        $('#btn-download-workorder').addClass('disabled');
                    }

                    if (length == $('input[name="checkedWorkOrderCode"]').length) {
                        $('#select-all').iCheck('check');
                    } else {
                        $('#select-all').iCheck('uncheck');
                    }
                });

                $('#select-all').on('ifClicked', function () {
                    if ($('#select-all').is(':checked')) {
                        $('input[name="checkedWorkOrderCode"]').iCheck('uncheck');
                    } else {
                        $('input[name="checkedWorkOrderCode"]').iCheck('check');
                    }
                });
            }

            $('#work-order-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/WorkOrder/List",
                    "data": { ContractCode: $('#ContractCode').val(), UnitSerialNumber: $('#UnitSerialNumber').val() },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 12],
                        "className": 'text-center',
                        "searchable": false,
                        "sortable": false
                    },
                    {
                        "targets": [2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                        "className": 'text-center'
                    }
                ],
                "order": [[3, 'desc']],
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" name="checkedWorkOrderCode" value="' + full.WorkOrderCode + '">';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "WorkOrderCode", "name": "WorkOrderCode" },
                    {
                        "data": "WorkOrderDate", "name": "WorkOrderDate",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "UnitSerialNumber", "name": "UnitSerialNumber" },
                    { "data": "UnitCode", "name": "UnitCode" },
                    { "data": "UnitModel", "name": "UnitModel" },
                    { "data": "AgreementNumber", "name": "AgreementNumber" },
                    { "data": "CustomerCode", "name": "CustomerCode" },
                    { "data": "CustomerName", "name": "CustomerName" },
                    {
                        "data": "RequestDeliveryDate", "name": "RequestDeliveryDate",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "Site", "name": "Site" },
                    { "data": "Comments", "name": "Comments" },
                ]
            });

            $('#work-order-dt').on('draw.dt', function () {
                turn_on_iCheck();
            });

            $('#btn-open-workorder').click(function () {
                var code = $('input[name="checkedWorkOrderCode"]:checked').val();
                window.location.href = "/WorkOrder/Details/?code=" + code + "";
            });

            $('#btn-download-workorder').click(function () {
                var codes = [];
                $.each($('input[name="checkedWorkOrderCode"]:checked'), function () {
                    codes.push($(this).val());
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/WorkOrder/PostDownloadPartial",
                    dataType: "JSON",
                    data: {
                        codes: codes
                    },
                    success: function (resultData) {
                        if (resultData.success) {
                            window.location = '/WorkOrder/DownloadCsv?fileGuid=' + resultData.FileGuid + '&fileName=' + resultData.FileName;
                        }
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });
    </script>
}