﻿@using System.Web.Optimization
@using System.IO
@using System.Reflection
@using System.Text
@using System.Diagnostics
@using WebHelpers.Mvc5.Enum
@using WebHelpers.Mvc5
@using KMSIPartsPortal_System.Models
@{
    Layout = null;
    Int32 UserId = Convert.ToInt32(Session["UserId"]);
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title
        }
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Owned style -->
    <link rel="stylesheet" href="~/Content/css/app-style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/components/Badge/jquery.badge.css">

    <style>

        #badge-distributor .notification-badge-top {
            position: relative;
            display: inline-block;
            top: -15px;
        }
        #badge-distributor .notification-badge {
            font-size: 15px;
            line-height: 20px;
        }

        #badge-distributor-airway .notification-badge-top {
            position: relative;
            display: inline-block;
            top: -15px;
        }
        #badge-distributor-airway .notification-badge {
            font-size: 15px;
            line-height: 20px;
        }
        #customertree {
            margin: 5px;
            padding: 5px;
        }

            #customertree li {
                list-style: none;
                padding: 20px 10px;
                border-bottom: 1px solid #86AAD4;
            }

                #customertree li:last-child {
                    border: 0;
                }

            #customertree a {
                display: block;
                width: 100%;
                text-decoration: none;
                color: #333;
                font-size: 20px;
                font-weight:bold;
            }

            #customertree label {
                position: relative;
                display: block;
                width: 100%;
                cursor: pointer;
            }

            #customertree input[type=checkbox] {
                display: none; /* Hide ugly checkbox */
            }

            /* Hide/collapse by default */
            #customertree li.treecollapse ul {
                visibility: hidden;
                opacity: 0;
                max-height: 0; /* CSS bug. Cannot animate height... */
                transition: all 0.5s;
            }

            #customertree label::after {
                content: "\203A";
                position: absolute;
                top: 0;
                right: 0;
                transition: all 0.5s;
                font-size: 30px;
            }

            /* Show when checked */
            #customertree li.treecollapse input:checked ~ ul {
                visibility: visible;
                opacity: 1;
                max-height: 999px; /* Just give a big enough height for animation */
            }

            #customertree li.treecollapse input:checked ~ label::after {
                transform: rotate(90deg);
            }

            .sidenav a:first-child {
                padding: 10px;
            }

            .sidenav a b, .sidenav a i, #notif_list_container a b, #notif_list_container a i {
                height: auto;
            }
    </style>
</head>
<body style="line-height: 1;">
    <div class="intro">
        <div class="intro_bg_customer">

        </div>
    </div>
    <div id="rightSideNav" class="sidenav rightSideNav" style="right: 0;">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleRightNav()">&times;</a>
        <a href="#">
            <img src="~/Content/img/ic_user.png" class="pull-left" width=32px /><h4>@Session["FirstName"]</h4><h5>@Session["UserName"]</h5>
        </a>
        <ul id="customertree">
            @{
                foreach (var item in ViewBag.ModuleInternalLeft)
                {
                    string color = "text-success";

                    if (item.ModuleName == "Helpdesk")
                    {
                        color = "text-success";
                    }
                    else if (item.ModuleName == "Information")
                    {
                        color = "text-primary";
                    }

                    if (Session["MenuMaster"] != null)
                    {
                        var MenuMaster = (List<KMSIPartsPortal_System.Models.MenuModels>)Session["MenuMaster"];
                        var groupByMenu = MenuMaster.Where(x => x.ModuleName == item.ModuleName).GroupBy(x => x.MainMenuName).ToList();
                        var count = 0;

                        if (item.ModuleName == "Information")
                        {
                            foreach (var Main in groupByMenu)
                            {
                                foreach (var SubMenu in Main)
                                {
                                    count++;
                                }
                            }
                        }
                        <li class="treecollapse">
                            @if (count > 0)
                            {
                                <input type="checkbox" id="@item.ModuleName" />
                                <label for="@item.ModuleName"><a href="#">@item.ModuleName.ToUpper()</a></label>
                            }
                            else
                            {
                                <a href="/Dashboard/ToDashboard/@item.ID">@item.ModuleName.ToUpper()</a>
                            }

                            @if (item.ModuleName == "Information")
                            {
                                foreach (var Main in groupByMenu)
                                {
                                    <ul>
                                        @foreach (var SubMenu in Main)
                                        {
                                            <li>
                                                <a href="@Url.Action(SubMenu.ActionName, SubMenu.ControllerName)">
                                                    <i class="fa fa-circle @color"></i>
                                                    <b>@SubMenu.SubMenuName</b>
                                                </a>
                                            </li>
                                        }

                                        <li>
                                            <a id="badge-distributor" href="javascript:void(0);">
                                                <i class="fa fa-circle text-primary"></i>
                                                <b>ETA Information</b>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="badge-distributor-airway" href="javascript:void(0);">
                                                <i class="fa fa-circle text-primary"></i>
                                                <b>Airway Bill Information</b>
                                            </a>
                                        </li>
                                    </ul>
                                }
                            }
                        </li>
                    }
                }
            }
        </ul>
    </div>
    <div id="leftSidenav" class="sidenav leftSidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">
            &times;
        </a>
        <a href="#">
            <h4><i class="fa fa-envelope">&nbsp</i>Notification</h4>
        </a>
        <div id="notif_list_container">

        </div>
    </div>
    <a id="notif_list_item_template" class="notif_url notifCallList" style="cursor: pointer; display: none;">
        <span class="notif_time"></span>
        <b><span class="notif_message"></span></b>
    </a>
    <div class="intro_content padding-50 text-white" id="main">
        <div class="header_user">
            <img src="~/Content/img/logo-komatsu.jpg" class="pull-left" />
            <div class="nav_user">

                <a href="#" class="caption-pintar text-center text-white pull-right" onclick="toggleRightNav()">
                    <i class="fa fa-bars"></i>
                </a>
                <a class="caption-pintar text-center text-white pull-right" onclick="logout()">
                    <i class="fa fa-power-off"></i>
                </a>

            </div>
        </div>
        <div class="header_user" style="margin-top:10px;">
            <div class="nav_user text-center">

                <a href="#" class="caption-pintar text-center text-white">
                    S-BOM
                </a>
                <a href="#" class="caption-pintar text-center text-white">
                    PRODUCT
                </a>
                <a href="#" class="caption-pintar text-center text-white">
                    PROMOTION
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="anim-2" style="margin-left: -500px">HI, @Session["FirstName"] @Session["LastName"]</h3>
                <h1 class="text-light anim-2" style="margin-left: -500px">WELCOME TO</h1>
                <h3 class="anim-2" style="margin-left: -500px">KOMATSU PINTAR PARTS PORTAL</h3>
            </div>
        </div>

    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    <!-- jQuery 3 -->
    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/js/plugins/moment/moment.min.js"></script>
    <script src="~/Content/components/Badge/jquery.badge.js"></script>

    <script type="text/javascript">
        setTimeout(function () {
            $('.intro_bg_customer').addClass('zout');
        }, 1000);
        setTimeout(function () {
            $(".anim-1").animate({ "margin-left": "+=500px" }, "slow");
        }, 2000);
        setTimeout(function () {
            $(".anim-2").animate({ "margin-left": "+=500px" }, "slow");
        }, 2500);
        setTimeout(function () {
            $(".anim-3").animate({ "margin-left": "+=500px" }, "slow");
        }, 3000);

        // load notif
        function loadNotif() {
            console.log("loadNotif");
            var notifUrl = "@Url.Action("GetNotif", "Home")";
            request = $.ajax({
                url: notifUrl,
                type: "get",
                data: { userId: "@UserId", receiver: "@UserId" }
            });

            request.done(function (response, textStatus, jqXHR) {
                if (response) {
                    var data = JSON.parse(response);
                    if (data.hasOwnProperty("Notifications")) {
                        $("#notif_list_container").empty();
                        var now = moment(new Date());
                        if (data.Notifications.length > 0) {
                            var countUnread = 0;
                            for (var i = 0; i < data.Notifications.length; i++) {
                                var notif = data.Notifications[i];
                                if (notif.IsRead == false) {
                                    countUnread++;
                                }

                                //calc time
                                var createdTime = moment(notif.CreatedAt);
                                var duration = moment.duration(now.diff(createdTime));
                                var seconds = Math.floor(Math.abs(duration.asSeconds()));
                                var minutes = Math.floor(Math.abs(duration.asMinutes()));
                                var hours = Math.floor(Math.abs(duration.asHours()));
                                var days = Math.floor(Math.abs(duration.asDays()));

                                var timeString = "";
                                if (seconds < 60) {
                                    timeString = seconds + " seconds ago";
                                }
                                else if (minutes < 60) {
                                    if (minutes > 1)
                                        timeString = minutes + " minutes ago";
                                    else
                                        timeString = minutes + " minute ago";
                                }
                                else if (hours < 24) {
                                    if (hours > 1)
                                        timeString = hours + " hours ago";
                                    else
                                        timeString = hours + " hour ago";
                                }
                                else {
                                    if (days > 1)
                                        timeString = days + " days ago";
                                    else
                                        timeString = days + " day ago";
                                }

                                var templateClone = $("#notif_list_item_template").clone().show().removeAttr("id");
                                templateClone.attr("data-id", notif.ID);
                                templateClone.find(".notif_message").html(notif.Message);
                                templateClone.find(".notif_time").html(timeString);
                                templateClone.attr("href", notif.Url);
                                $("#notif_list_container").append(templateClone);
                            }

                            if (countUnread > 0) {
                                $(".notifUnread").removeClass("hide");
                            } else {
                                $(".notifUnread").addClass("hide");
                            }
                            if (countUnread > 99) {
                                countUnread = "99+";
                            }
                            $(".notifUnread").html(countUnread);
                        } else {
                            $("#notif_list_container").empty();
                        }
                    }
                }
            });
        }

        function setReadNotif() {
            console.log("setReadNotif");
            var ArrNotifId = [];
            $("#notif_list_container .notifCallList").each(function (index) {
                var id = $(this).attr("data-id");
                ArrNotifId.push(id);
            });

            if (ArrNotifId.length > 0) {
                ArrNotifId = JSON.stringify(ArrNotifId);

                var notifURL = "@Url.Action("SetReadNotif", "Home")";
                request = $.ajax({
                    url: notifURL,
                    type: "post",
                    data: { ArrNotifId: ArrNotifId },
                });

                request.done(function (response, textStatus, jqXHR) {
                    console.log(response);
                    $(".notifUnread").addClass("hide");
                    $(".notifUnread").html(0);
                });

                request.fail(function (jqXHR, textStatus, errorThrown) {
                    console.log("failed set read notification")
                });
            }
        }

        function goToHome() {
            window.location.href = '@Url.Action("Distributor", "Dashboard")';
        }

        function profile() {
            window.location.href = '@Url.Action("Details", "Suppliers", new { id = Convert.ToInt32(Session["SupplierId"]) })';
        }

        function logout() {
            window.location.href = '@Url.Action("Logout", "Account")';
        }

        function toggleNav() {
            if (document.getElementById("leftSidenav").style.width == "0px") {
                openNav();
                setTimeout(function () {
                    setReadNotif();
                }, 1000);
            } else {
                closeNav();
                setTimeout(function () {
                    loadNotif();
                }, 1000);
            }
        }
        function toggleRightNav() {
            if (document.getElementById("rightSideNav").style.width == "0px") {
                openRightNav();
            } else {
                closeRightNav();
            }
        }
        function openNav() {
            closeRightNav();
            $("#leftSidenav a").hide();
            document.getElementById("leftSidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            setTimeout(function () {
                $("#leftSidenav a").show();
            }, 500);
        }
        function closeNav() {
            $("#leftSidenav a").hide();
            document.getElementById("leftSidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
        function openRightNav() {
            closeNav();
            $("#rightSideNav a").hide();
            document.getElementById("rightSideNav").style.width = "400px";
            //document.getElementById("main").style.marginLeft = "-312px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            setTimeout(function () {
                $("#rightSideNav a").show();
            }, 500);
        }
        function closeRightNav() {
            $("#rightSideNav a").hide();
            document.getElementById("rightSideNav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0px";
            document.body.style.backgroundColor = "white";
        }
        function toggleSetting() {
            if ($("#myDropdown").is(":visible")) {
                $("#myDropdown").fadeOut();
                $("#myDropdown").fadeOut("slow");
                $("#myDropdown").fadeOut(3000);
            } else {
                $("#myDropdown").fadeIn();
                $("#myDropdown").fadeIn("slow");
                $("#myDropdown").fadeIn(3000);
            }
        }

        $(document).ready(function () {
            setInterval(loadNotif, 180000);
            loadNotif();

            closeNav();
            closeRightNav();

            $("#badge-distributor").badge('soon', 'top');
            $("#badge-distributor-airway").badge('soon', 'top');

            $("#customertree li.treecollapse").find("input[type=checkbox]").trigger("click");
            $("#customertree li.treecollapse label").click(function () {
                $("#customertree li.treecollapse").find("input[type=checkbox]").trigger("click");
            });
        });

        var currentZoom = screen.width / screen.width * 0.8;
        $('body').css({
            zoom: currentZoom,
            '-moz-transform': 'scale(' + currentZoom + ')'
        });
    </script>
</body>
</html>
