﻿@using System.Web.Optimization
@using System.IO
@using System.Reflection
@using System.Text
@using System.Diagnostics
@using WebHelpers.Mvc5.Enum
@using WebHelpers.Mvc5
@using KMSIPartsPortal_System.Models
@{
    Layout = null;
    Int32 UserId = Convert.ToInt32(Session["UserId"]);
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title
        }
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Owned style -->
    <link rel="stylesheet" href="~/Content/css/app-style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
</head>
<body style="line-height: 1;">
    <div class="intro">
        <div class="intro_bg_home">

        </div>
    </div>
    <div id="rightSideNav" class="sidenav rightSideNav" style="right: 0;">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleRightNav()">&times;</a>
        <a href="#">
            <h4><i class="fa fa-gear">&nbsp;</i>Setting</h4>
        </a>
        <a href="@Url.Action("Index", "Account")"><i class="fa fa-user">&nbsp</i><b>User</b></a>
        <a href="@Url.Action("Index", "Roles")"><i class="fa fa-id-badge">&nbsp</i><b>User Level</b></a>
        <a href="@Url.Action("Index", "Modules")"><i class="fa fa-list-ul">&nbsp</i><b>Module</b></a>
        <a href="@Url.Action("Index", "MainMenus")"><i class="fa fa-th">&nbsp</i><b>Main Menu</b></a>
        <a href="@Url.Action("Index", "SubMenus")"><i class="fa fa-align-justify">&nbsp</i><b>Sub Menu</b></a>
        <a href="@Url.Action("Index", "Parts")"><i class="fa fa-cubes">&nbsp</i><b>Master Parts</b></a>
        <a href="@Url.Action("Index", "Slider")"><i class="fa fa-file-image-o">&nbsp</i><b>Slider</b></a>
        <a href="@Url.Action("Index", "ApprovalRequest")"><i class="fa fa-key">&nbsp</i><b>Request Access</b></a>
    </div>
    <div id="leftSidenav" class="sidenav leftSidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">
            &times;
        </a>
        <a href="#">
            <h4><i class="fa fa-envelope">&nbsp</i>Notification</h4>
        </a>
        <div id="notif_list_container">

        </div>
    </div>
    <a id="notif_list_item_template" class="notif_url notifCallList" style="cursor: pointer; display: none;">
        <span class="notif_time"></span>
        <b><span class="notif_message"></span></b>
    </a>
    <div class="intro_content padding-50 text-white" id="main">
        <h1 class="text-light pull-right">APPLICATION LIST</h1>
        <div class="clearfix"></div>
        <div class="line-s pull-right"></div>
        <div class="spacer-20"></div>
        <div class="row">
            <div class="col-xs-6">
                <h2 class="text-light anim-1" style="margin-left: -500px">@DateTime.Now.ToString("dddd")</h2>
                <p class="text-light anim-1" style="margin-left: -500px">@DateTime.Now.ToString("yyyy-MM-dd")</p>
                <div class="spacer-200 anim-1"></div>
                <h1 class="text-light anim-2" style="margin-left: -500px">WELCOME TO</h1>
                <h3 class="anim-2" style="margin-left: -500px">KOMATSU PINTAR PORTAL PARTS</h3>
                <div class="home-shortcut anim-3" style="margin-left: -500px">

                    @* log off button *@
                    <div class="circle-icon-danger pull-left" onclick="logout()">
                        <i class="fa fa-power-off"></i>
                    </div>
                    <div class="pull-left separation-circle">|</div>

                    @* go to home button *@
                    @if (Session["RoleType"] == null || Session["RoleType"].ToString() == "Internal" || Session["RoleType"].ToString() == "Distributor")
                    {
                        <div class="circle-icon-white pull-left" onclick="goToHome()">
                            <i class="fa fa-home"></i>
                        </div>
                    }


                    @* profile button if user is supplier *@
                    @if (Convert.ToInt32(Session["SupplierId"]) != 0)
                    {
                        <div class="circle-icon-white pull-left" onclick="profile()">
                            <i class="fa fa-user"></i>
                        </div>
                    }

                    @* toggle notification button *@
                    <div class="circle-icon-white pull-left" onclick="toggleNav()">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <span class="badge-text pull-left text-center notifUnread hide">99+</span>

                    @* toggle setting button *@
                    @if (Session["RoleId"] == null || Session["RoleName"].ToString() == "KMSI PART DEV")
                    {
                        <div class="pull-left separation-circle">|</div>
                        <div class="circle-icon-white pull-left" onclick="toggleRightNav()">
                            <i class="fa fa-gear"></i>
                        </div>
                    }

                </div>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-6">
                    @{
                        foreach (var item in ViewBag.ModuleInternalLeft)
                        {
                            string icon = "fa-user-circle";
                            string color = "text-success";

                            if (item.ModuleName == "Helpdesk")
                            {
                                icon = "fa-user-circle";
                                color = "text-success";
                            }
                            else if (item.ModuleName == "Inquiry")
                            {
                                icon = "fa-clipboard";
                                color = "text-primary";
                            }

                            <a href="/Dashboard/ToDashboard/@item.ID" class="btn-block button-pintar  text-center full-width text-white">
                                <i class="fa @icon pull-left"></i>
                                @item.ModuleName
                                <i class="fa fa-circle pull-right @color"></i>
                            </a>
                            <div class="spacer-20"></div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    <!-- jQuery 3 -->
    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/js/plugins/moment/moment.min.js"></script>

    <script type="text/javascript">
        setTimeout(function () {
            $('.intro_bg_home').addClass('zout');
        }, 1000);
        setTimeout(function () {
            $(".anim-1").animate({ "margin-left": "+=500px" }, "slow");
        }, 2000);
        setTimeout(function () {
            $(".anim-2").animate({ "margin-left": "+=500px" }, "slow");
        }, 2500);
        setTimeout(function () {
            $(".anim-3").animate({ "margin-left": "+=500px" }, "slow");
        }, 3000);

        // load notif
        function loadNotif() {
            console.log("loadNotif");
            var notifUrl = "@Url.Action("GetNotif", "Home")";
            request = $.ajax({
                url: notifUrl,
                type: "get",
                data: { userId: "@UserId", receiver: "@UserId" }
            });

            request.done(function (response, textStatus, jqXHR) {
                if (response) {
                    var data = JSON.parse(response);
                    if (data.hasOwnProperty("Notifications")) {
                        $("#notif_list_container").empty();
                        var now = moment(new Date());
                        if (data.Notifications.length > 0) {
                            var countUnread = 0;
                            for (var i = 0; i < data.Notifications.length; i++) {
                                var notif = data.Notifications[i];
                                if (notif.IsRead == false) {
                                    countUnread++;
                                }

                                //calc time
                                var createdTime = moment(notif.CreatedAt);
                                var duration = moment.duration(now.diff(createdTime));
                                var seconds = Math.floor(Math.abs(duration.asSeconds()));
                                var minutes = Math.floor(Math.abs(duration.asMinutes()));
                                var hours = Math.floor(Math.abs(duration.asHours()));
                                var days = Math.floor(Math.abs(duration.asDays()));

                                var timeString = "";
                                if (seconds < 60) {
                                    timeString = seconds + " seconds ago";
                                }
                                else if (minutes < 60) {
                                    if (minutes > 1)
                                        timeString = minutes + " minutes ago";
                                    else
                                        timeString = minutes + " minute ago";
                                }
                                else if (hours < 24) {
                                    if (hours > 1)
                                        timeString = hours + " hours ago";
                                    else
                                        timeString = hours + " hour ago";
                                }
                                else {
                                    if (days > 1)
                                        timeString = days + " days ago";
                                    else
                                        timeString = days + " day ago";
                                }

                                var templateClone = $("#notif_list_item_template").clone().show().removeAttr("id");
                                templateClone.attr("data-id", notif.ID);
                                templateClone.find(".notif_message").html(notif.Message);
                                templateClone.find(".notif_time").html(timeString);
                                templateClone.attr("href", notif.Url);
                                $("#notif_list_container").append(templateClone);
                            }

                            if (countUnread > 0) {
                                $(".notifUnread").removeClass("hide");
                            } else {
                                $(".notifUnread").addClass("hide");
                            }
                            if (countUnread > 99) {
                                countUnread = "99+";
                            }
                            $(".notifUnread").html(countUnread);
                        } else {
                            $("#notif_list_container").empty();
                        }
                    }
                }
            });
        }

        function setReadNotif() {
            console.log("setReadNotif");
            var ArrNotifId = [];
            $("#notif_list_container .notifCallList").each(function (index) {
                var id = $(this).attr("data-id");
                ArrNotifId.push(id);
            });

            if (ArrNotifId.length > 0) {
                ArrNotifId = JSON.stringify(ArrNotifId);

                var notifURL = "@Url.Action("SetReadNotif", "Home")";
                request = $.ajax({
                    url: notifURL,
                    type: "post",
                    data: { ArrNotifId: ArrNotifId },
                });

                request.done(function (response, textStatus, jqXHR) {
                    console.log(response);
                    $(".notifUnread").addClass("hide");
                    $(".notifUnread").html(0);
                });

                request.fail(function (jqXHR, textStatus, errorThrown) {
                    console.log("failed set read notification")
                });
            }
        }

        function goToHome() {
            window.location.href = '@Url.Action("Distributor", "Dashboard")';
        }

        function profile() {
            window.location.href = '@Url.Action("Details", "Suppliers", new { id = Convert.ToInt32(Session["SupplierId"]) })';
        }

        function logout() {
            window.location.href = '@Url.Action("Logout", "Account")';
        }

        function toggleNav() {
            if (document.getElementById("leftSidenav").style.width == "0px") {
                openNav();
                setTimeout(function () {
                    setReadNotif();
                }, 1000);
            } else {
                closeNav();
                setTimeout(function () {
                    loadNotif();
                }, 1000);
            }
        }
        function toggleRightNav() {
            if (document.getElementById("rightSideNav").style.width == "0px") {
                openRightNav();
            } else {
                closeRightNav();
            }
        }
        function openNav() {
            closeRightNav();
            $("#leftSidenav a").hide();
            document.getElementById("leftSidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            setTimeout(function () {
                $("#leftSidenav a").show();
            }, 500);
        }
        function closeNav() {
            $("#leftSidenav a").hide();
            document.getElementById("leftSidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
        function openRightNav() {
            closeNav();
            $("#rightSideNav a").hide();
            document.getElementById("rightSideNav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "-250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            setTimeout(function () {
                $("#rightSideNav a").show();
            }, 500);
        }
        function closeRightNav() {
            $("#rightSideNav a").hide();
            document.getElementById("rightSideNav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0px";
            document.body.style.backgroundColor = "white";
        }
        function toggleSetting() {
            if ($("#myDropdown").is(":visible")) {
                $("#myDropdown").fadeOut();
                $("#myDropdown").fadeOut("slow");
                $("#myDropdown").fadeOut(3000);
            } else {
                $("#myDropdown").fadeIn();
                $("#myDropdown").fadeIn("slow");
                $("#myDropdown").fadeIn(3000);
            }
        }

        $(document).ready(function () {
            setInterval(loadNotif, 180000);
            loadNotif();

            closeNav();
            closeRightNav();
        });
    </script>
</body>
</html>
