﻿
@{
    ViewBag.Title = "Full Maintenance Contract Dashboard";
    string today = String.Format("{0:dddd, MMMM d, yyyy}", DateTime.Now);
}

<div align="right">
    @today
</div>
<div class="text-center">
    <h2>Hello, Welcome To Full Maintenance Contract System</h2>
</div>
