﻿@model KMSIPartsPortal_System.Models.Supplier

@{
    ViewBag.Title = "K-PRO System";
}

<style>
    .content-wrapper {
        background-image: url(../../Content/img/bg-dashboard.jpeg);
    }

    .dashboard-content {
        opacity: 0.8;
    }
</style>

<div class="dashboard-content">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Hello, Welcome to K-PRO System!</h3>
                </div>
                <div class="box-body">
                    <div class="col-lg-12">
                        <div class="col-md-3">
                            <img src="~/Content/img/header-2.png" width="256" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}