﻿@model KMSIPartsPortal_System.Models.TicketDocument

@{
    ViewBag.Title = "Helpdesk Dashboard";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    string today = String.Format("{0:dddd, MMMM d, yyyy}", DateTime.Now);
}

<div align="right" style="color: black;">
    <b>@today</b>
</div>
<div class="text-center">
    <h2 style="color: black;">Hello, Welcome To Helpdesk System</h2>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                @Html.Hidden("RoleId", Convert.ToInt32(Session["RoleId"]))
                <table id="ticket-dashboard-dt" class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.TicketNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.ProblemCategory)</th>
                            <th>@Html.DisplayNameFor(model => model.ProblemType)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.Notes)</th>
                            <th>@Html.DisplayNameFor(model => model.Status)</th>
                            <th>@Html.DisplayNameFor(model => model.SubmitDate)</th>
                            <th>@Html.DisplayNameFor(model => model.SubmitBy)</th>
                            <th>@Html.DisplayNameFor(model => model.PickupBy)</th>
                            <th>@Html.DisplayNameFor(model => model.AssignTo2)</th>
                            <th style="width: 120px;">@Html.DisplayNameFor(model => model.Duration)</th>
                            <th>@Html.DisplayNameFor(model => model.Feedback)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#ticket-dashboard-dt').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": false,
                "scrollX": true,
                "paging": false,
                "info": false,
                "ajax": {
                    "url": "/TicketDocuments/List",
                    "data": { RoleId: $('#RoleId').val(), Status: "" },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                        "searchable": false,
                        "sortable": false
                    }
                ],
                "order": [[10, 'desc']],
                "columns": [
                    { "data": "TicketNumber", "name": "TicketNumber" },
                    { "data": "ProblemCategory", "name": "ProblemCategory" },
                    { "data": "ProblemType", "name": "ProblemType" },
                    { "data": "Description", "name": "Description" },
                    { "data": "Notes", "name": "Notes" },
                    {
                        "data": "Status", "name": "Status",
                        "render": function (data, type, full, meta) {
                            if (data == 1) {
                                return "Submitted";
                            } else if (data == 2) {
                                return "Solving";
                            } else if (data == 3) {
                                return "Solved";
                            } else if (data == 4) {
                                return "Closed";
                            }
                        }
                    },
                    {
                        "data": "SubmitDate", "name": "SubmitDate",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                return moment(data).format('YYYY-MM-DD');
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "SubmittedBy", "name": "SubmittedBy" },
                    { "data": "PickupBy", "name": "PickupBy" },
                    { "data": "AssignTo", "name": "AssignTo" },
                    {
                        "data": "Duration", "name": "Duration",
                        "render": function (data, type, full, meta) {
                            if (data) {
                                var pad = function (num, size) { return ('000' + num).slice(size * -1); },
                                    time = parseFloat(data).toFixed(3),
                                    hours = Math.floor(time / 60 / 60),
                                    minutes = Math.floor(time / 60) % 60,
                                    seconds = Math.floor(time - minutes * 60),
                                    milliseconds = time.slice(-3);

                                return pad(hours, 2) + ':' + pad(minutes, 2) + ':' + pad(seconds, 2);
                            } else {
                                return "";
                            }
                        }
                    },
                    { "data": "Feedback", "name": "Feedback" }
                ]
            })
        })
    </script>
}