﻿@{
    ViewBag.Title = "Vendor Stock Dashboard";
    string today = String.Format("{0:dddd, MMMM d, yyyy}", DateTime.Now);
}

<div align="right">
    @today
</div>
<div class="text-center dashboard-greeting">
    <h2>Hello,</h2>
    <h2>WELCOME TO VENDOR STOCK SYSTEM</h2>
</div>
@if (Session["RoleId"] != null)
{
    if (Session["RoleId"].ToString() != "1")
    {
        <div class="title-on-hand">STOCK ON HAND INFORMATION</div>
        <div class="" style="width: 68%;margin: 0 auto;">
            <div class="info-box bg-aqua" style="width: 46%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-home"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">KMSI Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.HoseKmsiStock</span>
                    <span class="progress-description">
                        HOSE
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-aqua" style="width: 45%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-cube"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Raw Material Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.HoseGgiStock</span>
                    <span class="progress-description">
                        HOSE
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="" style="width: 68%;margin: 0 auto;">
            <div class="info-box bg-green" style="width: 46%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-home"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">KMSI Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.FittingKmsiStock</span>
                    <span class="progress-description">
                        FITTING
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-green" style="width: 45%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-cube"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Raw Material Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.FittingGgiStock</span>
                    <span class="progress-description">
                        FITTING
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="" style="width: 68%;margin: 0 auto;">
            <div class="info-box bg-yellow" style="width: 46%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-home"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">KMSI Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.SpringKmsiStock</span>
                    <span class="progress-description">
                        SPRING
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-yellow" style="width: 45%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-cube"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Raw Material Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.SpringGgiStock</span>
                    <span class="progress-description">
                        SPRING
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="" style="width: 68%;margin: 0 auto;">
            <div class="info-box bg-maroon" style="width: 46%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-home"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">KMSI Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.ConduitKmsiStock</span>
                    <span class="progress-description">
                        CONDUIT
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-maroon" style="width: 45%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-cube"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Raw Material Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.ConduitGgiStock</span>
                    <span class="progress-description">
                        CONDUIT
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="" style="width: 68%;margin: 0 auto;">
            <div class="info-box bg-navy" style="width: 46%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-home"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">KMSI Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.NylonKmsiStock</span>
                    <span class="progress-description">
                        SPIRAL TUBE (NYLON)
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-navy" style="width: 45%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-cube"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Raw Material Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.NylonGgiStock</span>
                    <span class="progress-description">
                        SPIRAL TUBE (NYLON)
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="" style="width: 68%;margin: 0 auto;">
            <div class="info-box bg-orange" style="width: 46%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-home"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">KMSI Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.SpiralKmsiStock</span>
                    <span class="progress-description">
                        SPIRAL TUBE
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-orange" style="width: 45%;margin:15px;display:inline-block;">
                <span class="info-box-icon"><i class="fa fa-cube"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Raw Material Stock On Hand Information</span>
                    <span class="info-box-number formatNumber" style="font-size:32px;">@ViewBag.SpiralGgiStock</span>
                    <span class="progress-description">
                        SPIRAL TUBE
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    }
}

@section Scripts
{    
    <script type="text/javascript">
        function formatNumber(n) {
            // format number 1000000 to 1,234,567
            var result = n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            return result;
        }
        $(".formatNumber").each(function (index) {
            var value = $(this).html();
            value = formatNumber(value);
            $(this).html(value);
        });
    </script>
}

