﻿@model KMSIPartsPortal_System.Models.Supplier

@{
    ViewBag.Title = "Supplier Dashboard Page";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Hello, Welcome to K-PRO System!</h3>
            </div>
            <div class="box-body">
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <img src="~/Content/img/icon.png" width="256" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupplierName, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                            @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Locat, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Locat, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                            @Html.LabelFor(model => model.BankCity, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.BankCity, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Addr, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Addr, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                            @Html.LabelFor(model => model.BankCountry, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.BankCountry, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                            @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                            @Html.LabelFor(model => model.BranchAddr, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.BranchAddr, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.eMail, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.eMail, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                            @Html.LabelFor(model => model.BranchPhone, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.BranchPhone, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RelationToKMSI, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.RelationToKMSI, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                            @Html.LabelFor(model => model.Forwarder, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Forwarder, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupplierType, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.SupplierType, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TransactionType, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.TransactionType, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                            @Html.LabelFor(model => model.RegistDate, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.RegistDate, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Usance, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Usance, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                            @Html.LabelFor(model => model.LastUpdTime, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.LastUpdTime, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TaxID, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.TaxID, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                            @Html.LabelFor(model => model.LastUser, htmlAttributes: new { @class = "control-label col-md-3", @style = "text-align: left;" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.LastUser, new { htmlAttributes = new { @class = "form-control disabled", @readonly = true } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
    </script>
}