﻿
@{
    ViewBag.Title = "K-PRO Dashboard";
    string today = String.Format("{0:dddd, MMMM d, yyyy}", DateTime.Now);
}

<div align="right">
    @today
</div>
<div class="text-center">
    <h2>Hello, Welcome To K-Procurement System</h2>
</div>


<div class="title-on-hand">OUTSTANDING INFORMATION</div>
<br>
<div class="" style="width: 68%;margin: 0 auto;">
    <div class="info-box bg-purple" style="width: 58%;margin:15px;display:inline-block;">
        <span class="info-box-icon"><i class="fa fa-shopping-cart"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Outstanding Purchase Order</span>
            <span class="info-box-number" style="font-size:32px;">@ViewBag.Ospo</span>

        </div>
        <!-- /.info-box-content -->
    </div>
    <div class="info-box bg-red" style="width: 58%;margin:15px;display:inline-block;">
        <span class="info-box-icon"><i class="fa fa-file-text"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Outstanding Upload Ori Inv & Tax</span>
            <span class="info-box-number" style="font-size:32px;">@ViewBag.OsInv</span>

        </div>
        <!-- /.info-box-content -->
    </div>
    <br />
    <div class="info-box bg-green" style="width: auto;margin:15px;display:inline-block;">
        <span class="info-box-icon"><a id="resync" href="javascript:void(0);"><i class="fa fa-refresh"></i></a></span>
        <!-- /.info-box-content -->
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initCustomAlert();
            centeredModalDialog();

            $('#resync').click(function (e) {
                e.preventDefault();
                $('#overlay').show();

                $.ajax({
                    url: "/PurchaseOrder/ReSync",
                    type: "POST",
                    success: function (result) {
                        console.log(result);
                        $('#overlay').hide();
                        customAlert(result.Message);
                    },
                    error: function (jqXHR, error, errorThrown) {
                        if (jqXHR.status) {
                            $('#overlay').hide();
                        } else {
                            $('#overlay').show();
                        }
                    }
                });
            });
        });
    </script>
}