﻿@{
    ViewBag.Title = "G-Stock Dashboard";
    string today = String.Format("{0:dddd, MMMM d, yyyy}", DateTime.Now);
}

<div align="right">
    @today
</div>
<h2>Hello,</h2>
<div class="text-center">
    <h2>Welcome to G-Stock System</h2>
</div>
