﻿@font-face {
    font-family: NexaLight;
    src: url("../fonts/nexa-light.otf") format("opentype");
}

@font-face {
    font-family: NexaBold;
    src: url("../fonts/nexa-bold.otf") format("opentype");
}

@font-face {
    font-family: HeiTASCLight;
    src: url("../fonts/heitasc-light.ttf") format('truetype');
}

@font-face {
    font-family: HeiTASCBold;
    src: url("../fonts/heitasc-bold.ttf") format('truetype');
}

body {
    font-family: HeiTASCLight;
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: HeiTASCBold;
}

.h4, h4 {
    font-size: 20px;
}

.h5, h5 {
    font-size: 17px;
}

a {
    color: black;
}

    a:hover,
    a:active,
    a:focus {
        outline: none;
        text-decoration: none;
        color: #8A8A8A;
    }

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.intro {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.intro_bg {
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-login-2.png);
    background-color: #5B5E69;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: all 1s ease-in;
    background-position:center;
}

.intro_bg_home {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/bg-dashboard-2.jpg);
    background-position: center center;
    background-size: cover;
    transform: scale(1);
    transition: all 1s ease-in;
}

.intro_bg_customer {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/bg-dashboard-2.jpg);
    background-position: center center;
    background-size: cover;
    transform: scale(1);
    transition: all 1s ease-in;
}

    .intro_bg_home.zout {
        transform: scale(1.2); /* <--- change the scale of zoom out as appropriate */
    }

.intro_bg.zout {
    transform: scale(1.2); /* <--- change the scale of zoom out as appropriate */
}

.intro_bg_customer.zout {
    transform: scale(1.2); /* <--- change the scale of zoom out as appropriate */
}

.intro_content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.login-form {
    position: absolute;
    width: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.footer-widget {
    text-align: center;
    position: absolute;
    bottom: 13%;
    width: 500px;
    left: 52%;
    transform: translate(-50%, -100%);
    vertical-align: middle;
}

.text-pintar {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    box-shadow: none;
    text-align: center;
    font-size: 18px;
    padding: 5px !important;
    color: white;
    font-family: HeiTASCLight;
}

    .text-pintar::placeholder {
        color: white;
    }

    .text-pintar:focus {
        box-shadow: none;
    }

.button-pintar {
    background: none;
    border-radius: 100px;
    border: 2px solid white;
    padding: 10px 15px 10px 15px;
    font-family: HeiTASCBold;
    cursor: pointer;
    transition: all .4s ease-in;
    text-decoration: none;
    font-size: medium;
}


.button-pintar-icon {
    width: 100%;
    position: absolute;
    display: block;
}

.button-pintar:hover {
    background: white;
    color: black;
    text-decoration: none;
}

.button-pintar-white {
    background: white;
    color: black;
    border-radius: 100px;
    border: 1px solid white;
    padding: 10px;
    font-family: HeiTASCBold;
    font-size: 16px;
    cursor: pointer;
    transition: all .4s ease-in;
    font-size:medium;
}

    .button-pintar-white:hover {
        background: none;
        color: white;
    }

.full-width {
    width: 100%;
}

.padding-50 {
    padding: 50px;
}

.spacer-10 {
    width: 100%;
    height: 10px;
    clear: both;
}

.spacer-20 {
    width: 100%;
    height: 20px;
    clear: both;
}

.spacer-50 {
    width: 100%;
    height: 50px;
    clear: both;
}

.spacer-200 {
    width: 100%;
    height: 200px;
    clear: both;
}

.width-200 {
    min-width: 200px;
    max-width: 200px;
}

.separation {
    width: 20px;
    margin: 0px 10px;
    color: white;
    font-size: 30px;
}

.separation-circle {
    width: 20px;
    margin: 5px 0px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.badge-text {
    border: 1px solid #B4151C;
    background: #B4151C;
    border-radius: 100px;
    padding: 3px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    color: white;
    margin-left: -20px;
    font-family: HeiTASCLight;
    transition: all .4s ease-in;
    cursor: pointer;
}

.circle-tex
.circle-text {
    border: 1px solid white;
    background: none;
    border-radius: 100px;
    padding: 3px;
    width: 25px;
    height: 25px;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    font-family: HeiTASCLight;
    transition: all .4s ease-in;
    cursor: pointer;
}

.circle-text:hover {
    background: white;
    color: black;
}

.circle-icon-white {
    border: 1px solid white;
    background: white;
    border-radius: 100px;
    padding: 10px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    color: #343a40;
    font-family: HeiTASCLight;
    transition: all .4s ease-in;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}

    .circle-icon-white:hover {
        background: none;
        color: white;
    }

.circle-icon-danger {
    border: 1px solid #D3623A;
    background: #D3623A;
    border-radius: 100px;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    color: #343a40;
    font-family: white;
    transition: all .4s ease-in;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}

    .circle-icon-danger:hover {
        background: none;
        color: #D3623A;
    }

.line-s {
    height: 2px;
    background-color: white;
    width: 100px;
}

.text-white {
    color: white;
}

.text-wisteria {
    color: #8E44AD;
}

.text-light {
    font-family: HeiTASCLight;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    overflow-y: scroll;
}

.leftSidenav {
    left: 0;
}

.rightSidenav {
    right: 0;
}
/* The navigation menu links */
.sidenav a, #notif_list_container a {
    padding: 5px 10px 5px 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 9px;
    font-family: HeiTASCLight;
    /*color: #092A72;*/
    color: black;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    border-bottom: 1px solid #092A72;
}

    .sidenav a:first-child {
        border: none;
        padding: 0px;
        margin: 0px;
    }

    .sidenav a:nth-child(2), #notif_list_container a:nth-child(2) {
        cursor: auto;
    }

    .sidenav a span:hover, #notif_list_container a span:hover {
        text-decoration: none;
    }

    .sidenav a b, .sidenav a i, #notif_list_container a b, #notif_list_container a i {
        float: left;
        font-size: 15px;
        /*height: 60px;*/
    }

    .sidenav a i, #notif_list_container a i {
        margin-top: 2px;
        margin-right: 5px;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a b :hover, .sidenav a:hover, #notif_list_container a b :hover, #notif_list_container a:hover {
        font-family: HeiTASCBold
    }

.sidenav h4, .sidenav h5 {
    margin:0px;
}

    .sidenav img{
        margin-right:10px;
    }
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: -5px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a, #notif_list_container a {
            font-size: 18px;
        }
}

/*.header_user{

}*/

    .header_user img {
        height: 40px;
    }

.header_user .button-pintar{
    margin-left:10px;
}

.navbar_user {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -175%);
    z-index:9999;
}

.navbar_user ul{
    padding:0px;
}

.navbar_user ul li {
    
    list-style-type: none;
    float:left;
    display:block;
        
}



.navbar_user ul li a {
    color: white;
    background: none;
    border-radius: 100px;
    border: 2px solid white;
    padding: 8px 15px 5px 15px;
    font-family: HeiTASCLight;
    cursor: pointer;
    transition: all .4s ease-in;
    text-decoration: none;
    margin:10px;
}

.navbar_user ul li a:hover { 
    background:white;
    color:black;
}

.navbar_user ul .active a {
    background: white;
    color: black;
}

.input-group .input-group-addon {
    background:none;
}

.input-group-addon {
    background: none;
    border: none;
    color: white;
}

input[type="checkbox"] i {
    margin-left:10px;
}

.filter-column {
   /* background: rgba(0,0,0,0.7);*/
    border-radius: 10px;
    padding: 0px 10px;
}

.caption-pintar {
    background: none;
    padding: 13px 15px 10px 15px;
    font-family: HeiTASCLight;
    cursor: pointer;
    font-weight:bold;
    font-size:20px;
    transition: all .4s ease-in;
    text-decoration: none;
}

.caption-pintar:hover {
    text-decoration:none;
    color:white;
}

.top-menu-pintar {
    background: none;
    padding: 0px 15px 0px 15px;
    font-family: HeiTASCLight;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: all .4s ease-in;
}

.active-top-menu-pintar {
    border-radius: 5px;
    color: black;
    background-color: #E6E6E6;
    padding: 5px 6px 6px 7px;
}
.customer-content-wrapper {
    background-color: #F3F3F3 !important;
}

    .customer-tree-menu{
    padding:10px;
}

.customer-nav-container h4, .customer-nav-container h5 {
    color: white;
}

.customer-tree-menu > .sidebar-menu > li.header {
        
    margin:0px;
    padding:0px;
}

.customer-tree-menu a {
    color: white;
}

.customer-tree-menu .treeview a {
    margin-top: 10px;
    
}

.detail-box-title {
    font-size: 20px;
    background: white;
    display: inline;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 20px;
    font-weight: bold;
    /*color: #8A8A8A;*/
    color: black;
    border: 2px solid #CBCBCB;
}

    .detail-box-title i {
        margin-right:10px;
    }

    .detail-box {
        background-color: white;
        /*color: #8A8A8A;*/
        color: black;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 35px;
    }

.button-pintar-blue {
    background: none;
    border-radius: 100px;
    border: 2px solid #0E1271;
    padding: 10px 15px 10px 15px;
    font-family: HeiTASCBold;
    cursor: pointer;
    color:#0E1271;
    transition: all .4s ease-in;
    text-decoration: none;
    font-size: medium;
}

div.dataTables_wrapper div.dataTables_info{
    font-weight:bold;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
    margin: 0 0 0 0;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
    margin: 0 0 0 0;
}

.navbar-nav > .messages-menu > .dropdown-menu > li #notif_list_container > li > a {
    padding: 5px 10px 5px 10px;
    white-space: normal;
}

.navbar-nav > .messages-menu > .dropdown-menu > li #notif_list_container > li > a > h4 > small > i {
    margin-top: 0px;
}

.clear-space{
    margin:0px;
    padding:0px;
}

.caret-icon{
    font-size:30px !important;
    margin-top:-7px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width:100%;
    border-radius:15px;
    padding:15px 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight:bold;
    text-align:center;
}