﻿/*border style*/
/*table.table-bordered.dataTable.BoldBorder tbody th,
table.table-bordered.dataTable.BoldBorder tbody td {
    border-bottom-width: 2px !important;
}*/

body{
    font-weight:bold;
}

table.table-bordered.dataTable.BoldBorder th,
table.table-bordered.dataTable.BoldBorder td {
    border-left-width: 2px !important;
}

/*.table.BoldBorder > caption + thead > tr:first-child > td,
.table.BoldBorder > caption + thead > tr:first-child > th,
.table.BoldBorder > colgroup + thead > tr:first-child > td,
.table.BoldBorder > colgroup + thead > tr:first-child > th,
.table.BoldBorder > thead:first-child > tr:first-child > td,
.table.BoldBorder > thead:first-child > tr:first-child > th {
    border-top: 3px solid #bda9a9 !important;
}*/

.table-bordered.BoldBorder > thead > tr > th,
.table-bordered.BoldBorder > tbody > tr > th,
.table-bordered.BoldBorder > tfoot > tr > th,
.table-bordered.BoldBorder > thead > tr > td,
.table-bordered.BoldBorder > tbody > tr > td,
.table-bordered.BoldBorder > tfoot > tr > td {
    /*border: 2px solid #bda9a9 !important;*/
    border-top: 0px solid #bda9a9 !important;
    border-bottom: 1px solid #bda9a9 !important;
    border-left: 1px solid #bda9a9 !important;
    border-right: 1px solid #bda9a9 !important;
}

.table.BoldBorder > caption + thead > tr:first-child > td,
.table.BoldBorder > caption + thead > tr:first-child > th,
.table.BoldBorder > colgroup + thead > tr:first-child > td,
.table.BoldBorder > colgroup + thead > tr:first-child > th,
.table.BoldBorder > thead:first-child > tr:first-child > td,
.table.BoldBorder > thead:first-child > tr:first-child > th {
    border-top: 1px solid #bda9a9 !important;
}

/*.table-bordered.BoldBorder > thead > tr > th,
.table-bordered.BoldBorder > tbody > tr > th,
.table-bordered.BoldBorder > tfoot > tr > th {
    border: 2px solid #bda9a9 !important;
}*/



/*
 * Skin: Default
 * ----------
 */
.skin-default .main-header .navbar {
    background-color: #0e1271;
}

.ActionAlert{
    margin:5px 15px;
}

.blockDetailPO dt {
    padding: 5px;
}

.blockDetailPO dd {
    padding: 5px;
}

.btm-txt-lg {
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
}

.global-title {
    font-size: 23px;
    padding-bottom: 10px;
    text-transform:uppercase;
    color:white;
    font-family:HeiTASCBold;
}

.skin-default .main-header .navbar .nav > li > a {
    color: #ffffff;
    font-family:HeiTASCBold;
}

.navbar-custom-menu > .navbar-nav > li{
    font-size: 20px;
}

.close-login {
    position: absolute;
    right: 18px;
    top: 13px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.footer-btmLg {
    height: 45px;
    background: #0e1271;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.login-box-body {
    padding: 40px 150px 40px 150px;
}

.login-box{
    width:600px;
}

.title-on-hand {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.img-btm-logo {
    height: 20px;
    margin-top: 5px;
    margin-left: 10px;
}

.blockDetailPO .btn a{
    color:#fff !important;
}

.btm-logo-text {
    font-size: 10px;
    color: #ffffff;
    margin-left: 10px;
}

.custom-lg.login-box-body,
.custom-lg.register-box-body {
    background: rgba(158, 158, 158, 0.67);
}

.wrap-smal-logo{
    text-align:center;
    width:100%;
}

.login-text-logo {
    font-size: 32px;
    color: #ffffff;
    padding: 8px 2px 2px 10px;
}

.header-topLg {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0px;
    z-index: 1;
    background: rgb(14,18,113);
    background: linear-gradient(192deg, rgba(14,18,113,1) 0%, rgba(9,43,121,1) 35%, rgba(0,121,255,1) 100%);
}

.fg-pass {
    margin-bottom: 10px;
}

.wrap-form-forgot-pass {
    width: 500px;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -110px;
    margin-left: -250px;
}

.skin-default .main-header .navbar .nav > li > a:hover,
.skin-default .main-header .navbar .nav > li > a:active,
.skin-default .main-header .navbar .nav > li > a:focus,
.skin-default .main-header .navbar .nav .open > a,
.skin-default .main-header .navbar .nav .open > a:hover,
.skin-default .main-header .navbar .nav .open > a:focus,
.skin-default .main-header .navbar .nav > .active > a {
    background: rgba(14, 49, 142, 0.9);
    color: #f6f6f6;
}

.skin-default .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}

.skin-default .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}

.skin-default .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-default .main-header .navbar .sidebar-toggle:hover {
    background-color: #0e1271;
}

@media (max-width: 767px) {
.skin-default .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
}

.skin-default .main-header .navbar .dropdown-menu li a {
    color: #fff;
}

.skin-default .main-header .navbar .dropdown-menu li a:hover {
    background: #0e1271;
}
}

.skin-default .main-header .logo {
    background-color: #0e1271;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-default .main-header li.user-header {
    background-color: #0e1271;
}

.skin-default .content-header {
    background: transparent;
}

.skin-default .wrapper,
.skin-default .main-sidebar,
.skin-default .left-side {
    background-color: #262626;
}

.skin-default .user-panel > .info,
.skin-default .user-panel > .info > a {
    color: #fff;
}

.skin-default .sidebar-menu > li.header {
    color:white;
    background: #262626;
    font-family:HeiTASCBold;
    font-size:18px;
    border-bottom:2px solid white;
    margin:10px;
}

.skin-default .sidebar-menu > li > a {
    border:0px;
    font-family:HeiTASCBold;
    font-size:14px;
}

.skin-default .sidebar-menu > li:hover > a,
.skin-default .sidebar-menu > li.active > a,
.skin-default .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    background: #262626;
}

.skin-default .sidebar-menu > li.active > a {
    border-left-color: #0e1271;
}

.skin-default .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #262626;
}

.skin-default .sidebar a {
    color: #b8c7ce;
}

.skin-default .sidebar a:hover {
    text-decoration: none;
}

.skin-default .sidebar-menu .treeview-menu > li > a {
    color: white;
    border:2px solid white;
    margin:10px;
    border-radius:100px;
    padding:10px 20px;
}

.skin-default .sidebar-menu .treeview-menu > li.active > a,
.skin-default .sidebar-menu .treeview-menu > li > a:hover {
    color: black;
    background-color:white;
}

.skin-default .sidebar-form {
    border-radius: 3px;
    border: 2px solid #374850;
    margin: 10px 10px;
}

.skin-default .sidebar-form input[type="text"],
.skin-default .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}

.skin-default .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}

.skin-default .sidebar-form input[type="text"]:focus,
.skin-default .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}

.skin-default .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}

.skin-default .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}

.skin-default.layout-top-nav .main-header > .logo {
    background-color: #0e1271;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-default.layout-top-nav .main-header > .logo:hover {
    background-color: #3b8ab8;
}

thead, th {
    text-align: center;
}

.content-wrapper {
    margin-left: 300px;
    /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),url(../img/bg-login.jpeg);
    background-position: center center;
    background-size: cover;*/
    background-color:white;
}

.content-black-text{
    font-color:black;
}

.required:after {
    content: "*";
    font-weight: bold;
    color: #dc3545;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.grid-menu-dashboard{
    background-color:transparent;
}
.item-internal .small-box-footer {
    padding: 8px;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 20px;
}
.icon-module i {
    font-size: 70px;
}
.icon-module{
    text-align:center;
    padding:10px;
}
.item-internal .small-box {
    border: 1px solid transparent;
    padding: 0px;
    border-radius: 20px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6) url(../components/datatables.net-bs/img/giphy.gif) no-repeat fixed center;
    background-size: 5%;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: none;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.lds-spinner {
    position: relative;
}

    .lds-spinner div {
        left: 94px;
        top: 48px;
        position: absolute;
        -webkit-animation: lds-spinner linear 1s infinite;
        animation: lds-spinner linear 1s infinite;
        background: #5b83e1;
        width: 12px;
        height: 24px;
        border-radius: 40%;
        -webkit-transform-origin: 6px 52px;
        transform-origin: 6px 52px;
    }

        .lds-spinner div:nth-child(1) {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-animation-delay: -0.916666666666667s;
            animation-delay: -0.916666666666667s;
        }

        .lds-spinner div:nth-child(2) {
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            -webkit-animation-delay: -0.833333333333333s;
            animation-delay: -0.833333333333333s;
        }

        .lds-spinner div:nth-child(3) {
            -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
            -webkit-animation-delay: -0.75s;
            animation-delay: -0.75s;
        }

        .lds-spinner div:nth-child(4) {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-animation-delay: -0.666666666666667s;
            animation-delay: -0.666666666666667s;
        }

        .lds-spinner div:nth-child(5) {
            -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
            -webkit-animation-delay: -0.583333333333333s;
            animation-delay: -0.583333333333333s;
        }

        .lds-spinner div:nth-child(6) {
            -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
        }

        .lds-spinner div:nth-child(7) {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-animation-delay: -0.416666666666667s;
            animation-delay: -0.416666666666667s;
        }

        .lds-spinner div:nth-child(8) {
            -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
            -webkit-animation-delay: -0.333333333333333s;
            animation-delay: -0.333333333333333s;
        }

        .lds-spinner div:nth-child(9) {
            -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
            -webkit-animation-delay: -0.25s;
            animation-delay: -0.25s;
        }

        .lds-spinner div:nth-child(10) {
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            -webkit-animation-delay: -0.166666666666667s;
            animation-delay: -0.166666666666667s;
        }

        .lds-spinner div:nth-child(11) {
            -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
            -webkit-animation-delay: -0.083333333333333s;
            animation-delay: -0.083333333333333s;
        }

        .lds-spinner div:nth-child(12) {
            -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

.lds-spinner {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.lds-css {
    position: fixed;
    top: 25%;
    left: 50%;
    z-index: 9999;
    margin-left: -100px;
}

.btn-pop-login {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    border: 1px solid #fff;
    background: rgba(0, 20, 255, 0.619);
}

    .btn-pop-login:hover {
        border: 1px solid #fff;
        background: rgba(0, 20, 255, 0.619);
    }

#breathing-button {
    -webkit-animation: breathing 4s ease-out infinite normal;
    animation: breathing 4s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}


@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}


.carousel-inner > .item > img {
    margin:108px auto;
    /*width: 1100px;*/
    /*height: 600px;*/
}

.devideApp {
    margin-top: 10px;
    margin-bottom: 16px;
    background-color: rgba(158, 158, 158, 0.63);
    text-align: center;
    font-size: 18px;
    padding: 3px;
}

.head-top-logo{
    color:#fff;
    font-size:20px;
    font-family:HeiTASCBold;
}

.headDashboard{
    color:#fff;
}

.carousel-inner > .item {
    /*width: 1100px;
    height: 900px;*/
    /*background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    background: none;
}

.item .carousel-caption {
    display: none;
}

.item.active .carousel-caption{
    display:block;
}


@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 0px;
        left: 0px;
        padding-bottom: 30px;
        width: 100%;
        bottom: 30;
        background-image: linear-gradient(rgba(173, 162, 162, 0.71), rgba(20, 18, 18, 0.9));
    }
}

.box-contact {
    position: absolute;
    top: 60px;
    width: 250px;
    right: 0;
    background:#262626;
    color:white;
    font-size:12px;
    border-top:0px !important;
}

.box-contact > .box-header > .box-title{
    color:white;
    font-size:14px;
    padding:10px;
    border-bottom:0px;
}

.tbl-contact td{
    padding:10px;
}



.center-con {
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -150px;
}



.round {
    position: absolute;
    border: 2px solid #2196F3;
    cursor: pointer;
    width: 300px;
    height: 54px;
    border-radius: 17px;
    background-color: rgba(33, 150, 243, 0.59);
}

#cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

#cta .arrow {
    left: 30%;
}

.arrow {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    width: 36px;
    height: 36px;
    background-size: contain;
    top: 20px;
}

.move-text {
    font-size: 29px;
    color: #ffffff;
    margin-top: 5px;
}

.segunda {
    margin-left: 15px;
}

.next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round .arrow.primera {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*.content-wrapper{
   background-color:#fff;
}*/


.Fmc-dsh.skin-default .main-header .navbar {
    background-color: #00c0ef !important;
}
.Fmc-dsh.skin-default .main-header .logo {
    background-color: #00c0ef !important;
}

.Fmc-dsh.skin-default .sidebar-menu .treeview-menu > li.active > a,
.Fmc-dsh.skin-default .sidebar-menu .treeview-menu > li > a:hover {
    color: #000;
    background-color: #00c0ef;
}

.Fmc-dsh .sidebar {
    border: 1px solid transparent;
}

.Purchasing-dsh.skin-default .main-header .navbar {
    background-color: #f39c12 !important;
}

.Purchasing-dsh.skin-default .main-header .logo {
    background-color: #f39c12 !important;
}

.Purchasing-dsh.skin-default .sidebar-menu .treeview-menu > li.active > a,
.Purchasing-dsh.skin-default .sidebar-menu .treeview-menu > li > a:hover {
    color: #000;
    background-color: #f39c12;
}

.Purchasing-dsh .sidebar {
    border: 1px solid transparent;
}



.KmsiHelpdesk-dsh.skin-default .main-header .navbar {
    background-color: #00a65a !important;
}

.KmsiHelpdesk-dsh.skin-default .main-header .logo {
    background-color: #00a65a !important;
}

.KmsiHelpdesk-dsh.skin-default .sidebar-menu .treeview-menu > li.active > a,
.KmsiHelpdesk-dsh.skin-default .sidebar-menu .treeview-menu > li > a:hover {
    color: #000;
    background-color: #00a65a;
}

.KmsiHelpdesk-dsh .sidebar {
    border: 1px solid transparent;
}



.KmsiGstock-dsh.skin-default .main-header .navbar {
    background-color: #dd4b39 !important;
}

.KmsiGstock-dsh.skin-default .main-header .logo {
    background-color: #dd4b39 !important;
}

.KmsiGstock-dsh.skin-default .sidebar-menu .treeview-menu > li.active > a,
.KmsiGstock-dsh.skin-default .sidebar-menu .treeview-menu > li > a:hover {
    color: #000;
    background-color: #dd4b39;
}

.KmsiGstock-dsh .sidebar {
    border: 1px solid transparent;
}

.KmsiGstock-dsh .bg-red, .callout.callout-danger,
.KmsiGstock-dsh .alert-danger,
.KmsiGstock-dsh .alert-error,
.KmsiGstock-dsh .label-danger,
.KmsiGstock-dsh .modal-danger .modal-body {
    background-color: #3F51B5 !important;
}

@media screen and (max-width: 1600px) {
    .container.boxIconDashboard {
        transform: scale(0.8) !important;
    }
}



/*styling beaty menu side*/
/*.skin-default .wrapper, .skin-default .main-sidebar, .skin-default .left-side {
    background-color: #fff;
}
.sidebar {
    height: auto;
    border-radius: 10px;
    margin-left: 7px;
    margin-top: 13px;
    padding: 10px;
    min-height: 500px;
    background-color: rgba(158, 158, 158, 0.13);
}

.skin-default .sidebar a {
    color: #000;
}

.skin-default .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #fff;
    color: #000;
}

.skin-default .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #f2f2f2;
    color: #000;
}

.skin-default .sidebar-menu .treeview-menu > li > a {
    color: #000;
}

.skin-default .sidebar-menu > li:hover > a, .skin-default .sidebar-menu > li.active > a, .skin-default .sidebar-menu > li.menu-open > a {
    color: #000;
    background: #f2f2f2;
}

.skin-default .sidebar-menu > li.header {
    color: #fff;
    background: #9E9E9E;
}*/
/*styleing beauty menu aside end*/


/*styling font-face size tambah 1 atau 2 START*/

/*.btn{
    font-size:15px;
}
body{
    font-size:15px;
}

.input-sm{
    font-size:14px;
}

.dataTableOverflow {
    overflow: auto;
}

.treeview-menu > li > a{
    font-size:15px;
}

.sidebar-menu li.header{
    font-size:15px;
}

.dropdown-menu{
    font-size:15px;
}

.form-control{
    font-size:15px;
}*/

/*styling font-face size tambah 1 atau 2 END*/

.dataTables_scroll {
    background-color: rgba(0,0,0,0.7);
    /*margin-top: 20px;*/
    margin-bottom: 20px;
    color: white;
}

table.dataTable{
    margin-top:0px !important;
    border:none;
}

.odd{
    color:white;
    background:rgba(255,255,255,0.3) !important;
}

.box-header {
    background: none !important;
    color: white;
}

.box-title{
    text-align:left;
    padding:10px 0px;
    border-bottom:2px solid white;
    width:100%;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th{
    border:0px;
}

div.dataTables_wrapper div.dataTables_filter input{
    background:white;
    border-radius:100px;
    margin-left:10px;
    color:black;
}

.btn.btn-flat{
    border-radius:100px;
    padding:5px 10px;
    border:none;    
}

.pagination > li > a {
    background: none;
    color: black;
    font-family: HeiTASCBold;
}

.pagination > li > a:hover {
    color:black;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover{
    background:none;
}

.pagination > li:first-child > a, .pagination > li:first-child > span{
    border-top-left-radius:100px;
    border-bottom-left-radius:100px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: #FAFAFA;
    color: black;
    border: 1px solid #777;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

div.dataTables_wrapper div.dataTables_length {
    position: relative;
}

div.dataTables_wrapper div.dataTables_length select {
    background: none;
    color: white;
    border-radius: 100px;
}

/* style the items (options), including the selected item: */
div.dataTables_wrapper div.dataTables_length select option{
    color: black;
    font-family:HeiTASCLight;
    cursor: pointer;
}



.modal-content{
    background-color:rgba(255,255,255,0.9);
    color:black;
    border-radius:10px;
}

.modal-header{
    border:none;
    text-align:center;
}

.modal-footer{
    border:none;
    text-align:center;
}

.btn, .btn.btn-flat {
    border-radius: 100px;
    padding: 3px 10px;
}

.modal-body .form-control {
    border-radius: 100px;
    border: none;
    padding: 10px 20px;
    height: 40px;
}

a.btn.disabled, fieldset[disabled] a.btn {
    cursor: not-allowed;
}

span{
    font-weight:bold;
}

div.dataTables_wrapper div.dataTables_processing {
    z-index:9999;
}

.skin-default .main-header .navbar .nav .open > a {
    background: rgb(51 122 183);
}